<div class="splash content">
	<div class="img-container">
		<div *ngIf="imageUrl" class="img" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
		<div *ngIf="logoUrl" class="logo" [ngStyle]="{'background-image': 'url(' + logoUrl + ')'}"></div>
	</div>
	<h1>{{lesson}}</h1>
	<a *ngIf="videoUrl" (click)="PlayerService.SetScormStatus('completed')" class="btn btn-secondary">{{ 'SPLASH.PLAY_VIDEO' | translate }}</a>
	<a (click)="PlayerService.SplashPage=null" class="btn btn-primary">{{ 'SPLASH.START' | translate }}</a>
</div>