.splash {
    text-align: center;
}

h1 {
    font-size: 58px;
    font-weight: bold;
    color: #425563;
}

h6 {
    font-size:18px;
    font-weight: normal;
    padding-bottom: 30px;
}

.img-container {
    height: 496px;
    background-color: #eceff0;
}

.img {
    height: 100%;
    background-size: contain;
    background-position: center center;
    box-shadow: inset 0 18px 18px -18px #696868, inset 0 0 0 0 #696868;
}