<main id="main" role="main" class="container">
  <div class="success-block container" *ngIf="DiplomaLink() || ShowBadgeDownload()">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-block">
          <span class="ico-holder"><i class="material-icons">check</i></span>
          <strong class="title">{{"ELEARNING.CONGRATULATIONS" | translate}}
            {{PortalService.UserData.User.FirstName}}!</strong>
          <p [translate]="'ELEARNING.COURSE_COMPLETE'"></p>
        </div>
        <a *ngIf="DiplomaLink()" href="{{DiplomaLink()}}" target="_blank" class="btn btn-primary"
          [translate]="'ELEARNING.DOWNLOAD_DIPLOMA'"></a>
        <a *ngIf="ShowBadgeDownload()" class="btn btn-primary" [translate]="'ELEARNING.DOWNLOAD_BADGE'"
          data-toggle="modal" data-target="#badge-download" href="javascript:void(0)">Get my badge</a>
      </div>
    </div>
  </div>
  <section class="row">
    <div [ngClass]="{'col-md-8': hasAttachmentsOrContacts(), 'col-md-12': !hasAttachmentsOrContacts()}">
      <section class="container lessons-block">
        <div class="row">
          <div class="col-md-12 pb-4">
            <h2 style="margin-bottom: 12px;" [translate]="'CLASSROOM.WHEN_TITLE'"></h2> 
            <ul class="lessons-list list-unstyled" style="font-weight: normal;" *ngIf="!Activity.HideActivityDates && Activity.ActivityPeriods && Activity.ActivityPeriods.length>0">
              <li class="row mb-1 align-items-center w-100" style="padding-left: 0px; border: none;">
                  <div class="w-100 pb-2 md-margin" [hidden]="Activity.HideActivityDates" *ngFor="let period of Activity.ActivityPeriods">
                    <!-- <i class="material-icons">insert_invitation</i> -->
                    <time class="w-100 col-sm-10">
                       {{period.Start | localizedDate:'EEEE d MMM' | titlecase  }} {{"GLOBAL.CLOCK_SHORT" | translate}} {{period.Start
                      | localizedDate:'shortTime'}} - 
                      <span
                        *ngIf="period.End.split('T')[0] != period.Start.split('T')[0]">{{period.End | localizedDate:'EEEE d
                        MMM'| titlecase  }} </span>
                        {{"GLOBAL.CLOCK_SHORT" | translate}} {{period.End | localizedDate:'shortTime'}}</time>
                  </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row"  *ngIf="GetResourceByType(2).length > 0">
          <div class="col-md-12 pb-4">
            <h2 style="margin-bottom: 12px;" [translate]="'CLASSROOM.WHERE_TITLE'"></h2> 
            <ul class="lessons-list list-unstyled" style="font-weight: normal;" *ngIf="GetResourceByType(2).length > 0">
              <li class="row mb-1 align-items-center w-100" style="padding-left: 0px; border: none;">
                <div class="w-100 pb-2 md-margin">
                  <!-- <i class="material-icons">place</i>  -->
                  <time class="col-sm-10">
                    {{GetResourceByType(2)[0].Name}}
                  </time>                  
                </div>
                <div *ngIf="GetResourceByType(2)[0].Addresses.length>0 && GetResourceByType(2)[0].Addresses[0].StreetAddress" class="w-100 pb-2 md-margin">
                  <time class="col-sm-10" class="col-sm-10">{{GetResourceByType(2)[0].Addresses[0].StreetAddress}}</time>
                </div>
                <div *ngIf="GetResourceByType(2)[0].Addresses.length>0 && GetResourceByType(2)[0].Addresses[0].StreetAddress2" class="w-100 pb-2 md-margin">
                  <time class="col-sm-10" class="col-sm-10">{{GetResourceByType(2)[0].Addresses[0].StreetAddress2}}</time>
                </div>
                <div *ngIf="GetResourceByType(2)[0].Addresses.length>0 &&  (GetResourceByType(2)[0].Addresses[0].ZipCode || GetResourceByType(2)[0].Addresses[0].City)"  class="w-100 pb-2 md-margin">
                  <time class="col-sm-10" class="col-sm-10">{{GetResourceByType(2)[0].Addresses[0].ZipCode}} {{GetResourceByType(2)[0].Addresses[0].City}}</time>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="row" *ngIf="GetResourceByType(2).length > 0">
          <div class="col-md-12 pb-4">
            <h2 [translate]="'CLASSROOM.MAP_TITLE'"></h2> 
            <ul class="lessons-list list-unstyled" style="font-weight: normal;" *ngIf="GetResourceByType(2).length > 0">
              <li class="row mb-1 align-items-center w-100">
                <div class="w-100 pb-2 md-margin">
                  <div class="map-holder container-fluid" *ngIf="GetResourceByType(2).length > 0">
                    <div class="map-wrap"></div>
                    <span class="overlay"></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div> -->
      </section>
      
    </div>
    <section *ngIf="hasAttachmentsOrContacts()"  class="col-md-4 mt-5">
      <elearning-attachments [Attachments]="Activity.Attachments" [Activity]="Activity"></elearning-attachments>
      <elearning-contactperson [ContactPersons]="getCourseContactPersons()" [Activity]="Activity"
        [Distributor]="Distributor"></elearning-contactperson>
    </section>
  </section>
</main>
