﻿#pri-nav .achievements, #pri-nav .catalog, #pri-nav .reports{
    display:none;
}
#container-merits{
    display:none;
}
#hDiplomaLink{
    display:none;
}
#progress-container {
    margin: 25px 0 30px 30px;
    width: 910px; 
}
.programpoints{
    display:none;
}