﻿#container-merits, .footer .cookies{
    display:none;
}
#wrapper-metamenu{
    background:#022261;
}
#wrapper-metamenu .logo{
    position: absolute;
    top: 50px;
    height: 50px;
    width: 400px;
    background: url(img/logo.png) no-repeat;
}
#wrapper-metamenu .settings{
    display:none;
}
#wrapper-globalmenu{
    padding-top:0;
    height:inherit;    
}
#wrapper-globalmenu ul {
    position:relative;
    top:-30px;
}
#wrapper-globalmenu .active a{
    background-color:transparent;
    border-bottom:0;
}
#wrapper-introduction{
    margin: 70px auto 20px auto;
}
#wrapper-introduction h1{
    margin: 25px 0 30px 0;
}
#wrapper-introduction h1, #wrapper-introduction h3 {    
    color: #022261;
}
.wrapper-miniprogramboxes h1{
    color: #022261;
    font-size:18px;
    margin-top: 45px;
    margin-bottom: 5px;
}    
body{
    background:url(img/background-gradient.png) top repeat-x #d9edf7;
}


.ui-widget-content {
    background: #f5f8f9;
}

.programpanel, .filepanel, a.button-endtest, a.button-diploma, .largelessonslist {
    background-color:#f5f8f9;
}

.largelessonslist, .achievementslist{
    border: 1px solid #d0d6dc;
    border-radius: 9px;
    padding: 15px 0 15px 0;    
}
.achievementslist {
    background-color: white;
}
.largelessonslist h1{
    padding:0px 0 0 0;
    margin: 0px 0 10px 20px;
}
.achievementspanel .panelfooter{
    display:none;
}
.achievementspanel {
    padding-bottom: 35px;
}
.achievementspanel .poeng {
    display:none;
}
/*
    .nav li#user-welcome{
    display:block;
    color:white;
    position:absolute;
    right: 25px;
    top: 8px;
    font-size: 15px;
    font-weight:bold;

}

.wrapper{
    background:url(img/header.jpg) top center no-repeat;
}
#wrapper-metamenu{
    padding-top:124px;    
}
#metamenu{
    position:relative;
}
#metamenu li{
    padding-left:0;
    position:absolute;
    top:-18px;  
}
#metamenu li a, #metamenu li a:hover {
    color:transparent;
}
#metamenu li.settings{
    left:890px;
}
#metamenu li.logout{
    left:830px;
}


#metamenu .logo{
    position:absolute;
    width:30px;
    height:30px;
    top: -38px;
    left: 780px;
}
    */
/*
#metamenu .logo, #metamenu .logo:hover{
    float:right;
    color:white;    
}
a.logo::before {
    content: "Overview";
}
*/
/*
.nav .logout a{
text-indent: -9999px;
  line-height: 0;
}
.nav .logout a:after {
  content: "New text";
  text-indent: 0;
  display: block;
  line-height: initial;
}
*/