﻿@using System.Linq;
@using jlib.functions;
PdfPageSize:Letter
PdfPageOrientation:Landscape
FitToWidth:false
<html>
<head>
    <style>
    body, .background{
         width:1060px;
        font-family:times;
        margin:0;
        font-size:125%;
     }
     .content{
        text-align:center;
        padding:40px 200px 0 200px;
        position:relative;
    }
        h1{
            font-size:45px;
        margin:15px 0;
        }
        h2,h3{
        font-weight:normal;
        }
        h2{
        margin-top:0;
        }
        .background{
        position:absolute;
        }
    </style>

</head>

<body>
    @if(Model.CompletedDate==null){
        <div>Diploma not available. Course is not set as completed.</div>
    }
    else if (convert.cInt(Model.FinalTestScore) < 80)
    {
        <div>Diploma not available. You did not get 80% or more on the Exam.</div>
    }
    else
    {
        <img class="background" src="https://mymetier.net/learningportal/customizations/distributor/10000/img/Diploma.png" />
        <div class="content">
            <h1>RPS Offshore Protected Species Observer Training</h1>
            <h3>This is to verify that</h3>
            <h1>@(Model.User.FirstName + " " + Model.User.LastName)</h1>
            <h3>
                Has successfully completed a course of instruction in<br />
                Training for Mitigation Under BOEM and NMFS standards in the Biological Opinion<br />
                on the Federally Regulated Oil and Gas Survey Activities in the Gulf of Mexico<br />
                <br />
                This certificate of Completion awarded
            </h3>

            <h2>This @String.Format(new System.Globalization.CultureInfo("en-US"), Model.CompletedDate.Day + convert.GetDayNumberSuffix(Model.CompletedDate) + " day of {0:MMMM} {0:yyyy}", Model.CompletedDate)</h2>
        </div>
    }    
</body>
</html>
