table.tab_container
{
	border: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	
	
	font: menu;
	cursor: default;
}
table.tab_container TD
{
	font: menu;
	cursor: default;
}

table.tab_container INPUT.radio, table.tab_container INPUT.checkbox, table.tab_container .checkbox INPUT, table.tab_container .radio INPUT
{
	border: #666666 0px solid;
	font: menu;
	color: black;
	left: -3px;
	top: -3px;
	position: relative;
}

table.tab_page
{
	border:1px solid silver;
	width:100%;
}

table.tab_container TD.tab_active
{
	background-color: #F7F7F7;
	border-top: solid 2px #FFC73C;
	border-left: solid 1px #919B9C;
	border-right: solid 1px #919B9C;
	height: 20px;
	text-align: center;
	font-weight: bold;
	cursor: hand;
}
table.tab_container TD.tab_notactive
{
	background-color: #F7F7F7;
	border-top: solid 2px #919B9C;
	border-left: solid 1px #919B9C;
	border-right: solid 1px #919B9C;
	border-bottom: solid 1px #919B9C;
	height: 20px;
	text-align: center;
	font-weight: bold;
	cursor: hand;
}
table.tab_container TD.tab_empty
{
	border-left:solid 1px black;
	border-bottom: solid 1px #919B9C;
	height: 20px;
}

table.tab_container TD.tab_content
{
	background-color: #F7F7F7;
	border-bottom: solid 1px #919B9C;
	border-left: solid 1px #919B9C;
	border-right: solid 1px #919B9C;
	
}
table.tab_container TD.highlight, table.tab_container TD.nested_highlight, table.tab_container TD.nested_highlight TD, table.tab_container TD.tab_content TD
{
	background-color: #F7F7F7;
}
