<%@ Control Language="c#" AutoEventWireup="false" Codebehind="tab.ascx.cs" Inherits="jlib.controls.tabs.tab" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<td class="tab_notactive" runat="server" id="tdTab"><asp:literal runat="server" id="ltrCaption" /></td>
<td width="2" class="tab_empty"><img src="http://adp.vsidevelopment.com/intellicms/library/dialogs/properties/media/blank.gif" width="2" height="2"></td>
