<div id="exam2">
    <div class="body exam">
        <div id="page-container">
            <div class="content clearfix">
                <div class="header">
                    <div class="row">
                        <div class="col-xs-12">
                            <div>
                                <a (click)="Router.navigateByUrl('/portal/mockexam/' + ActivityId)"><i
                                        class="fal fa-times fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main">
                    <div class="course-heading">
                        <h1 [translate]="'EXAM2.ATTEMPTS_HEADING'">Finished</h1>
                        <div class="sub-heading dimmed">Special Test</div>
                    </div>
                    <div class="list">
                        <div class="row">

                            <div class="col-xs-3" (click)="SetSort('date')" style="cursor:pointer;"><span
                                    [translate]="'EXAM2.DATE'">Date</span> <span
                                    *ngIf="SortField=='date'">&nbsp;&nbsp;<i class="far"
                                        [ngClass]="{'fa-arrow-up': SortAscending, 'fa-arrow-down': !SortAscending}"></i></span>
                            </div>
                            <div class="col-xs-3 text-right dimmed" (click)="SetSort('timeremaining')"
                                style="cursor:pointer;"><span [translate]="'EXAM2.TIME_REMAINING'">Time Remaining</span>
                                <span *ngIf="SortField=='timeremaining'">&nbsp;&nbsp;<i class="far"
                                        [ngClass]="{'fa-arrow-up': SortAscending, 'fa-arrow-down': !SortAscending}"></i></span>
                            </div>
                            <div class="col-xs-2 text-right dimmed" (click)="SetSort('score')" style="cursor:pointer;">
                                <span [translate]="'EXAM2.SCORE'">Score</span> <span
                                    *ngIf="SortField=='score'">&nbsp;&nbsp;<i class="far"
                                        [ngClass]="{'fa-arrow-up': SortAscending, 'fa-arrow-down': !SortAscending}"></i></span>
                            </div>
                            <div class="col-xs-4"><span [translate]="'EXAM2.ACTIONS'">Actions</span></div>
                        </div>
                        <div class="divider"></div>

                        <div *ngFor="let attempt of GetAttempts(SortField, SortAscending); let i = index"
                            class="row attempt">

                            <div class="col-xs-3">{{attempt.Exam.Status.ModifiedDate | localizedDate:'shortDate'}}</div>

                            <div class="col-xs-3 text-right"
                                [ngClass]="{'text-alert': ((attempt.Exam.Status.TimeRemainingInSeconds / attempt.Exam.Status.AllotedTimeInSeconds) < 0.2)}">
                                {{attempt.Exam.Status.TimeRemainingInSeconds | hourMinuteSeconds}}</div>
                            <div class="col-xs-2 text-right" *ngIf="attempt.Result != null">
                                {{attempt.Result.ScorePercentage * attempt.Exam.Questions.length }}/{{
                                attempt.Exam.Questions.length }}</div>
                            <div class="col-xs-2" *ngIf="attempt.Result == null"></div>

                            <div class="col-xs-4">
                                <a class="btn btn-primary"
                                    (click)="Router.navigateByUrl('/portal/mockexam/' + ActivityId + '/play/questions/' + attempt.Exam.Id)"><i
                                        class="fal fa-play"></i> &nbsp;<span
                                        [translate]="'EXAM2.RESUME'">Resume</span></a>
                                <a class="btn btn-primary" *ngIf="attempt.Result != null"
                                    (click)="Router.navigateByUrl('/portal/mockexam/' + ActivityId + '/play/review/' + attempt.Exam.Id)"><i
                                        class="fal fa-book"></i> &nbsp;<span
                                        [translate]="'EXAM2.ANSWERS'">Answers</span></a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <footer class="footer button-line">
                <div class="buttons">
                    <button class="btn btn-secondary mr-1" type="button"
                        (click)="Router.navigateByUrl('/portal/mockexam/' + ActivityId)"
                        [translate]="'EXAM2.GO_BACK'">Go Back</button>
                    <button class="btn btn-primary" type="button" *ngIf="HasMoreAttempts()" (click)="StartNewAttempt()"
                        [translate]="'EXAM2.RETRY_TEST'">Start New Attempt</button>
                </div>
                <div class="bottom"></div>
            </footer>
        </div>
    </div>
</div>