<div class="page" *ngFor="let currentPage of PlayerService.GetPagesToRender()" [ngStyle]="{'page-break-after': 'always' }" [ngClass]="'page-' + currentPage.AuxField1 + (PlayerService.PrintRequest ? ' print':'') + ' lesson-' + PlayerService.Lesson.AuxField1" [attr.id]="'page-' + currentPage.ObjectID">
  <div class="loading-overlay" *ngIf="PlayerService.Shared.IsSpinning() && !PlayerService.PrintRequest"><div class="spinner"></div></div>
  <div class="player-header">
    <div class="global">
      <div class="logo"></div>
      <div class="slash"> / </div>
      <div class="title dropdown">

        <a class="drop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{PlayerService.Lesson.Name}} <i class="material-icons">arrow_drop_down</i></a>        
        <i class="material-icons dropdown-menu-up">arrow_drop_up</i>
        <div class="dropdown-menu" aria-labelledby="dLabel">
          <ul>          
            <li *ngFor="let lesson of PlayerService.Lessons" [ngClass]="(lesson.ObjectID==PlayerService.LessonId ? 'current' : 'status-' + (lesson.ScormLesson || {}).Status)" (click)="PlayerService.GotoLesson(lesson.ObjectID, true)">{{lesson.Name}}</li>  
          </ul>        
        </div>

      </div>
      
      <div class="link right"></div>
      <div *ngFor="let dialog of PlayerService.Dialogs" class="dialogs list">
        <div class="link" data-toggle="modal" data-target="#dialog" (click)="DialogContent=dialog">{{dialog.Name}}</div>
        <div class="pipe">|</div>      
      </div>
      <div class="contact list">
        <div class="link" data-toggle="modal" data-target="#contact-us" (click)="MessageSent=false;ContactMessage='';" [translate]="'NAV.CONTACT_US'"></div>
        <div class="pipe">|</div>
      </div>
      <div class="link" data-toggle="modal" data-target="#downloads" id="download-link" (click)="DownloadResult=null;" [translate]="'NAV.DOWNLOADS'"></div>
    
      <div class="end" (click)="SaveAndClose()" [translate]="'NAV.SAVE_AND_CLOSE'"></div>
    </div>

    <div class="nav">  
      <player-navigation [page]="page" *ngFor="let page of PlayerService.Pages" [ngClass]={visited:Visited(page)}></player-navigation>  
    </div>
  </div>
 
  <div id="arrow-left" *ngIf="PrevPage(currentPage) && !PlayerService.SplashPage" (click)="PlayerService.GotoPage(PrevPage(currentPage).ObjectID)"><i class="material-icons">chevron_left</i></div>
  <div id="arrow-right" *ngIf="NextPage(currentPage) && !PlayerService.SplashPage" (click)="PlayerService.GotoPage(NextPage(currentPage).ObjectID)"><i class="material-icons">chevron_right</i></div>
  
  <splash-content [content]="PlayerService.SplashPage" *ngIf="PlayerService.SplashPage"></splash-content>

  <div class="content" *ngIf="PlayerService.Lesson.AuxField1 !='finaltest' && !PlayerService.SplashPage">    
    <div class="player-banner" [ngClass]="currentPage.AuxField1 + '-banner'"></div>
    <div *ngFor="let content of currentPage.Content" [ngStyle]="{'page-break-before':content.PageBreakBefore ? 'always' : 'auto' }">
      <goals-content [content]="content" *ngIf="content.AuxField1=='goals'"></goals-content>
      <theory-content [content]="content" *ngIf="content.AuxField1=='theory' || content.AuxField1=='intro' || content.AuxField1=='examples'"></theory-content>
      <reflection-content [content]="content" *ngIf="content.AuxField1=='reflection'"></reflection-content>
      <pitfalls-content [content]="content" *ngIf="content.AuxField1=='pitfalls'"></pitfalls-content>
      <checklist-content [content]="content" *ngIf="content.AuxField1=='checklist'"></checklist-content>
      <case-content [content]="content" *ngIf="content.AuxField1=='case'"></case-content>
      <quiz-content [content]="content" *ngIf="content.AuxField1=='quiz'"></quiz-content>
      <complete-content [content]="content" *ngIf="content.AuxField1=='complete'"></complete-content>
    </div>
    <pedagogical-tools *ngIf="PlayerService.PrintRequest == null && (currentPage.AuxField1=='theory' || currentPage.AuxField1=='examples' || currentPage.AuxField1=='intro')"></pedagogical-tools>    
  </div>
  <div class="content" *ngIf="PlayerService.Lesson.AuxField1 =='finaltest'">
    <finaltest-content></finaltest-content>
  </div>
</div>

<!-- Modal #downloads -->
<div class="modal fade" id="downloads" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content download">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{ 'MODAL.DOWNLOAD' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">        
        <div *ngIf="DownloadResult">          
          <a [href]="DownloadResult.Url" target="_blank">{{DownloadResult.Message}}</a>
        </div>
        <div *ngIf="!DownloadResult">
          <span>{{ 'MODAL.PLEASE_SELECT' | translate }}</span>
          
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [ngModel]="DownloadOptions[0].checked" (change)="DownloadOptions[0].checked=!DownloadOptions[0].checked" id="myNotes">
              <label class="form-check-label" for="myNotes">{{ 'PRINT.INCLUDE_MY_NOTES' | translate }}</label>   
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" [ngModel]="DownloadOptions[1].checked" (change)="DownloadOptions[1].checked=!DownloadOptions[1].checked" id="myHiglights">
              <label class="form-check-label" for="myHiglights" >{{ 'PRINT.INCLUDE_MY_HIGHLIGHTS' | translate }}</label>   
            </div>

          <div class="radiolist">
          	<div class="radio" (click)="DownloadFormat='Download'">
          		<i class="material-icons" *ngIf="DownloadFormat=='Download'">radio_button_checked</i>
          		<i class="material-icons" *ngIf="DownloadFormat!='Download'">radio_button_unchecked</i>
          		<span>{{ 'MODAL.DOWNLOAD' | translate }}</span>
          	</div>
          	<div class="radio" (click)="DownloadFormat='Email'">
          		<i class="material-icons" *ngIf="DownloadFormat=='Email'">radio_button_checked</i>
          		<i class="material-icons" *ngIf="DownloadFormat!='Email'">radio_button_unchecked</i>
          		<span>{{ 'MODAL.SEND_AS_EMAIL' | translate }}</span>
          	</div>
          </div>
  		          
          <div class="download">
  	        <a (click)="DownloadLesson()">{{ 'MODAL.DOWNLOAD_LESSON' | translate }}</a>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="contact-us" tabindex="-1" role="dialog" aria-labelledby="contact-us">
  <div class="modal-dialog" role="document">
    <div class="modal-content download">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'MODAL.CONTACT_US' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">        
        <div>{{ 'MODAL.YOU_WILL_SOON_HEAR' | translate }}</div>
        <div [hidden]="!MessageSent">{{ 'MODAL.COMMENT_SENT' | translate }}<br /></div>

        <textarea [hidden]="MessageSent" [(ngModel)]="ContactMessage" placeholder="{{ 'TYPE_HERE' | translate }}"></textarea>        
        <div class="">          
          <button type="button" class="btn btn-primary" *ngIf="!MessageSent" [disabled]="!ContactMessage" (click)="SubmitMessage(); MessageSent=true">{{ 'MODAL.SEND' | translate }}</button>
          <button type="button" class="btn btn-secondary" *ngIf="!MessageSent" data-dismiss="modal">{{ 'MODAL.CANCEL' | translate }}</button>
          <button type="button" class="btn btn-primary" *ngIf="MessageSent" data-dismiss="modal">{{ 'MODAL.CLOSE' | translate }}</button>
        </div>
      </div>
      
    </div>
  </div>
</div>

<!-- Modal - #Dialog -->
<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content download">
      <div class="modal-header">
        <h4 class="modal-title">{{DialogContent.Name}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">     
        <div *ngFor="let content of DialogContent.Content || []">      
          <theory-content [content]="content"></theory-content>
        </div>        
      </div>      
    </div>
  </div>
</div>