<section class="container download-block"
  *ngIf="(UserActivityDetails.CanSwitchFoundation || UserActivityDetails.CanSwitchPractitioner) && (ParticipantAvailability == null || ParticipantAvailability.IsAvailable !== false)">
  <div class="row" *ngIf="UserActivityDetails.CanSwitchFoundation">
    <div class="col-xs-12 holder">
      <h2 [translate]="'ACTIVITY.EXAM_SWITCH_FOUNDATION_HEADING'"></h2>
      <div *ngIf="!IsChangingFoundationExam && UserActivityDetails.FoundationExamActivitysetId">

        <h4 [translate]="'ACTIVITY.EXAM_SWITCH_ALREADY_BOOKED'"
          [translateParams]="{name: UserActivityDetails.FoundationExamActivitysetName}"></h4>
        <div>
          <span [translate]="'ACTIVITY.EXAM_SWITCH_ALREADY_INSTRUCTIONS'"></span> <a
            (click)="IsChangingFoundationExam=true" [translate]="'ACTIVITY.EXAM_SWITCH_CONFIRM_CHANGE'"></a>
        </div>
      </div>

      <div *ngIf="!UserActivityDetails.FoundationExamActivitysetId">
        <h4 [translate]="'ACTIVITY.EXAM_SWITCH_INFO'"></h4>
        <div [translate]="'ACTIVITY.EXAM_SWITCH_INFO1'"></div>
      </div>


      <div [hidden]="!IsChangingFoundationExam && UserActivityDetails.FoundationExamActivitysetId" class="row">

        <div class="col-xs-10">
          <select id="foundationExam" [(ngModel)]="UserActivityDetails.NewFoundationExamActivitysetId"
            name="foundationExam">
            <option *ngFor="let d of UserActivityDetails.P2FoundationExamDates" [value]="d.Key">{{d.Value}}</option>
          </select>
        </div>
        <div class="col-xs-2"><button type="button" class="btn btn-success" (click)="Save('F')"
            [translate]="'ACTIVITY.EXAM_SWITCH_CONFIRM'"></button></div>
      </div>
      <div [translate]="'ACTIVITY.EXAM_SWITCH_TAKE_HOME'"></div>
    </div>
  </div>
  <br />
  <div class="row" *ngIf="UserActivityDetails.CanSwitchPractitioner">
    <div class="col-xs-12 holder">
      <h2 [translate]="'ACTIVITY.EXAM_SWITCH_PRACTITIONER_HEADING'"></h2>
      <div *ngIf="!IsChangingPractitionerExam && UserActivityDetails.PractitionerExamActivitysetId">
        <h4 [translate]="'ACTIVITY.EXAM_SWITCH_ALREADY_BOOKED'"
          [translateParams]="{name: UserActivityDetails.PractitionerExamActivitysetName}"></h4>

        <div>
          <span [translate]="'ACTIVITY.EXAM_SWITCH_ALREADY_INSTRUCTIONS'"></span> <a
            (click)="IsChangingPractitionerExam=false" [translate]="'ACTIVITY.EXAM_SWITCH_CONFIRM_CHANGE'"></a>
        </div>
      </div>

      <div *ngIf="!UserActivityDetails.PractitionerExamActivitysetId">
        <h4 [translate]="'ACTIVITY.EXAM_SWITCH_INFO'"></h4>
        <div [translate]="'ACTIVITY.EXAM_SWITCH_INFO1'"></div>
      </div>

      <div [hidden]="!IsChangingPractitionerExam && UserActivityDetails.PractitionerExamActivitysetId" class="row">

        <div class="col-xs-10">
          <select id="practitionerExam" [(ngModel)]="UserActivityDetails.NewPractitionerExamActivitysetId"
            name="practitionerExam">
            <option *ngFor="let d of UserActivityDetails.P2PractitionerExamDates" [value]="d.Key">{{d.Value}}</option>
          </select>
        </div>
        <div class="col-xs-2"><button type="button" class="btn btn-success" (click)="Save('P')"
            [translate]="'ACTIVITY.EXAM_SWITCH_CONFIRM'"></button></div>
      </div>
      <div [translate]="'ACTIVITY.EXAM_SWITCH_TAKE_HOME'"></div>
    </div>
  </div>
</section>

<section class="container lessons-block description" *ngIf="UserActivityDetails.PageContent">
  <div class="row">
    <div class="col-xs-12" [innerHTML]="UserActivityDetails.PageContent">
    </div>
  </div>
</section>

<div class="modal fade" id="badge-download" tabindex="-1" role="dialog" aria-labelledby="badge-download">
  <div class="modal-dialog" role="document" style="width:90% !important">
    <div class="modal-content download">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">close</button>
        <h4 class="modal-title" [innerHTML]="'BADGE.MODAL_TITLE' | translate"></h4>
      </div>
      <div class="modal-body">
        <div [innerHTML]="'BADGE.INSTRUCTIONS' | translate  : {email: PortalService.UserData.Email}"></div>
        <br /><br />
        <div class="">
          <button (click)="IssueBadge()" target="_blank" class="btn btn-primary" [translate]="'BADGE.MODAL_PROCEED'">Get
            my badge</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'MODAL.CLOSE' | translate }}</button>
        </div>
      </div>

    </div>
  </div>
</div>