<div class="theory container" attr.data-id="{{Content.ObjectID }}" [attr.id]="'content-' + Content.ObjectID">
	<div *ngIf="PlayerService.PrintRequest && Content.AuxField1=='intro'" id="print-header">
		<h1 *ngIf="PlayerService.CourseData">{{PlayerService.CourseData.Name}}</h1>	
		<h2 *ngIf="PlayerService.Lesson" [attr.data-toc-item]="PlayerService.PrintRequest.PageTypes.indexOf('toc')>-1">{{Content.LessonName || PlayerService.Lesson.Name}}</h2>	
	</div>	
<h1 [innerHTML]="GetTitle()"></h1>
<div [innerHTML]="html | safe"></div>
</div>