<div
  id="wrapper"
  class="{{PageClass}} metierplus"
>
  <div class="loading-overlay" [hidden]="!PortalService.Shared.IsSpinning()">
    <div class="spinner"></div>
  </div>
  <div id="outdated" [hidden]="!PortalService.GetBrowserWarning().OldBrowser">
    <h6 [translate]="'GLOBAL.BROWSER_UNSUPPORTED'"></h6>
    <p>
      <span [translate]="'GLOBAL.BROWSER_UNSUPPORTED_MESSAGE'"></span>
      <a
        *ngIf="PortalService.GetBrowserWarning().Os=='Android'"
        id="buttonUpdateBrowser"
        href="https://play.google.com/store/apps/details?id=com.android.chrome"
        [translate]="'GLOBAL.BROWSER_UNSUPPORTED_ANDROID'"
      ></a>
      <span
        *ngIf="PortalService.GetBrowserWarning().Os=='iOS'"
        [translate]="'GLOBAL.BROWSER_UNSUPPORTED_IOS'"
      ></span>
      <a
        *ngIf="PortalService.GetBrowserWarning().Os!='Android' && PortalService.GetBrowserWarning().Os!='iOS'"
        id="buttonUpdateBrowser"
        href="http://outdatedbrowser.com/"
        [translate]="'GLOBAL.BROWSER_UNSUPPORTED_COMPUTER'"
      ></a>
    </p>

    <p class="last">
      <a
        (click)="PortalService.DismissOldBrowserWarning()"
        title="{{'MODAL.CLOSE' | translate}}"
        >×</a
      >
    </p>
  </div>
  <div
    id="contentIframeContainer"
    *ngIf="PortalService.IsIFrameVisible()"
    [ngStyle]="PortalService.GetBrowserWarning().Os!='iOS' && {'position': 'fixed'}"
    style="
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: auto;
      -webkit-overflow-scrolling: touch !important;
    "
  >
    <iframe
      id="contentIframe"
      frameborder="0"
      style="width: 100%; height: 100%"
    ></iframe>
  </div>
  <div id="contentWrapper" [hidden]="PortalService.IsIFrameVisible()">
    <header id="header" [hidden]="PortalService.IsWrapperHidden()">
      <nav class="navbar navbar-expand-md navbar-dark container">
        <a class="mr-5 navbar-brand logo" [routerLink]="shouldShowHeaderElements() ? '/portal/home': '/portal/login'" title="MyMetier"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="shouldShowHeaderElements()">
          <ul class="navbar-nav">
            <li class="nav-item px-1" routerLinkActive="active">
              <a class="nav-link" routerLink='/portal/home' [translate]="'GLOBAL.HOME'"></a>
            </li>
            <li *ngIf="PortalService.ShowCourseCalendar()" class="nav-item px-1" routerLinkActive="active">
              <a class="nav-link" routerLink='/portal/catalog' [translate]="'GLOBAL.CATALOG'"></a>
            </li>
            <li *ngIf="!PortalService.hideDiploma()" class="nav-item px-1" routerLinkActive="active">
              <a class="nav-link" routerLink='/portal/completed' [translate]="'GLOBAL.MYDIPLOMAS'"></a> 
            </li>
            <li *ngIf="!PortalService.hideUserDiplomas()" class="nav-item px-1" routerLinkActive="active">
              <a class="nav-link" routerLink='/portal/userdiplomas' [translate]="'GLOBAL.USERDIPLOMAS'"></a> 
            </li>
            <li *ngIf="displayAdminBehindLink()" class="nav-item px-1" routerLinkActive="active">
              <a class="nav-link" href="./../behind/index.aspx">Behind</a>
            </li>
            <li *ngIf="displayAdminCmsLink()" class="nav-item px-1" routerLinkActive="active">
              <a class="nav-link" href="./../cms/index.aspx">CMS</a>
            </li>
            <li *ngIf="PortalService.UserData.Roles && PortalService.UserData.Roles.indexOf('LearningPortalSuperUser')>-1" class="nav-item px-1" routerLinkActive="active">
              <a  class="nav-link" routerLink='/portal/reports' [translate]="'GLOBAL.REPORTS'"></a>
            </li>
            <li *ngIf="PortalService.IsMetierPlus()" class="nav-item px-1" routerLinkActive="active">
              <a  class="nav-link" (click)="goToMymetierPlus()">myMetier+</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto dropdown nav-profile" *ngIf="shouldShowHeaderElements()">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" [ngClass]="{'competency-missing':PortalService.NagUserForExamCompetence()}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons face" *ngIf="!PortalService.NagUserForExamCompetence()">face</i>
              <i class="material-icons error" *ngIf="PortalService.NagUserForExamCompetence()">error</i>
              {{PortalService.UserData.User.FirstName}}
          </a>
          <li class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"
              routerLink='/portal/profile'
              [translate]="'DROPDOWN.USERPROFILE'"
              [ngStyle]="{'color':PortalService.NagUserForExamCompetence()?'red':''}"
            ></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
              (click)="PortalService.Logout(false)"
              [translate]="'DROPDOWN.LOGOUT'"
            ></a>
          </li>
          </ul>

        </div>
      </nav>
    </header>
    
    <router-outlet></router-outlet>
    <footer
      id="footer"
      [hidden]="PortalService.IsWrapperHidden() || PortalService.shouldHideFooter()"
    >
      <div class="row">
        <nav class="col-md-12 footer-nav">
          <ul class="list-unstyled">
            <li>
              <a
                href="javascript:void(0)"
                [translate]="'FOOTER.CONTACT_US'"
                data-toggle="modal"
                data-target="#contact-us"
                (click)="MessageSent=false;ContactMessage='';"
              ></a>
            </li>
            <li>
              <a
                href="javascript:void(0)"
                [translate]="'FOOTER.COOKIES'"
                data-toggle="modal"
                data-target="#cookie-policy"
              ></a>
            </li>
          </ul>
          <ul class="list-unstyled">
            <li>
              <small>&copy;{{ currentYear }}, Metier</small>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </div>
</div>

<div
  class="modal fade"
  id="contact-us"
  tabindex="-1"
  role="dialog"
  aria-labelledby="contact-us"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content download">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          close
        </button>
        <h4 class="modal-title">{{ 'MODAL.CONTACT_US' | translate }}</h4>
      </div>
      <div class="modal-body">
        <form>
          <div>{{ 'MODAL.YOU_WILL_SOON_HEAR' | translate }}</div>
          <div [hidden]="!MessageSent">
            {{ 'MODAL.COMMENT_SENT' | translate }}<br />
          </div>

          <input
            name="userEmail"
            [(ngModel)]="FromEmail"
            #userEmail="ngModel"
            required
            email
            placeholder="{{ 'PROFILE.EMAIL' | translate }}"
            [ngClass]="{'form-error': userEmail.touched && userEmail.invalid}"
            [hidden]="MessageSent || (PortalService.UserData.Email && !PortalService.IsDemo)"
          />

          <textarea
            id="ContactMessage"
            name="ContactMessage"
            [hidden]="MessageSent"
            [(ngModel)]="ContactMessage"
            placeholder="{{ 'TYPE_HERE' | translate }}"
          ></textarea>
          <div class="">
            <button
              type="button"
              class="btn btn-primary"
              *ngIf="!MessageSent"
              [disabled]="!ContactMessage || (!userEmail.valid && (!PortalService.UserData.Email || PortalService.IsDemo))"
              (click)="SubmitMessage(); MessageSent=true"
            >
              {{ 'MODAL.SEND' | translate }}
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              *ngIf="!MessageSent"
              data-dismiss="modal"
            >
              {{ 'MODAL.CANCEL' | translate }}
            </button>
            <button
              type="button"
              class="btn btn-primary"
              *ngIf="MessageSent"
              data-dismiss="modal"
            >
              {{ 'MODAL.CLOSE' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="missing-competency"
  tabindex="-1"
  role="dialog"
  aria-labelledby="missing-competency"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content download">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          close
        </button>
        <h4
          class="modal-title"
          [innerHTML]="'MODAL.COMPETENCY_HEADING' | translate"
        ></h4>
      </div>
      <div class="modal-body">
        <div [innerHTML]="'MODAL.COMPETENCY_BODY' | translate"></div>
        <br /><br />
        <div class="">
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            routerLink='/portal/profile'
          >
            {{ 'MODAL.COMPETENCY_GO' | translate }}
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ 'MODAL.COMPETENCY_CANCEL' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="cookie-policy"
  tabindex="-1"
  role="dialog"
  aria-labelledby="cookie-policy"
>
  <div class="modal-dialog" role="document" style="width: 90% !important">
    <div class="modal-content download">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          close
        </button>
        <h4 class="modal-title" [innerHTML]="'FOOTER.COOKIES' | translate"></h4>
      </div>
      <div class="modal-body">
        <div [innerHTML]="'GLOBAL.COOKIE_POLICY' | translate"></div>
        <br /><br />
        <div class="">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ 'MODAL.CLOSE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
