<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="index.ascx.cs" Inherits="jlib.controls.ajaxpanel.index" %>
<common:hidden runat="Server" id="ctrUrl" />
<div runat="server" id="ctrContainer" />