﻿#pri-nav .achievements, #pri-nav .catalog, #pri-nav .reports{
    display:none;
}
#container-merits{
    display:none;
}
#hDiplomaLink{
    display:none;
}
/*
#progress-container {
    margin: 25px 0 30px 30px;
    width: 910px; 
}
    */
.programpoints{
    display:none;
}

#metamenu {
    min-height: 48px;
}
a.logo:before {
    content: "Powered by";
    color: white;
    position: relative;
    top: -17px;
    font-size: 12px;
}
#metamenu a.logo{
    margin: 20px 0 0 10px;
}