/*#content {
	display: inline-block;
	padding-top: 16px;
	min-width:100%;
	/*width:100%;*/
}
*/
span.notification {
	padding-bottom: 3px;
}

iframe {
	border: none;
}

#footer {
	margin-bottom: -20px;
}

#header_buttons a img {
	margin-top: 0;
	margin-right: 6px;
}

#login .content-box {
	width: 300px;
	margin: 0 auto;
	text-align: left;
}

a {
	outline: 0;
}

h2 {
	font-weight: normal;
}

input[type="submit"], input[type="button"] {
	border: none !important;
}

form span.notification {
	padding: 5px 10px 5px 30px;
	top: -3px;
}