﻿/*
._editing ._mode-hide
{
    background-color:rgba(0, 0, 0, 0.6);
}
    */

._editing ._mode-popup
{
    display:block;
}

._editing ._content
{
    border:2px solid #ccc;
    position:relative;
}
._content._hover
{
    background-color:rgba(0, 0, 0, 0.2);
    border:2px solid black;
}
._content._cmsediting
{
    background-color:rgba(255, 0, 0, 0.1);
    border:2px solid red;
}
._cms-controls
{
    display:none;
    position:absolute;
    right:0;
    top:0;    
    width:100%;
}
._hover ._cms-controls
{
    display:block;
}
    ._cms-controls a
    {
        background-color: rgba(0,0,0,.6);        
        width:128px;
        height:128px;
        display:block;
        float:right;
    }
        ._cms-controls a.move
        {
            float:left;
        }
        
._cms-controls .edit{
    background-position: 0 -92px;
}
._cms-controls .delete{
    background-position: 0 -368px;
}


    ._cms-controls .icon{
        display:block;
        opacity:0.8;
        margin:16px 0 0 16px;
        width:92px;
        height:92px;
        border-spacing:8px;
        border-color:gray;
        background-image: url(icons-edit.png);
    }
    ._cms-controls .toggle{        
    background-position: 0 -184px;    
    }
._cms-controls .toggle.min
{
    background-position: 0 -277px;
}
._cms-controls span.move
        {
            
        }
.title-minimized
{
    height:200px;
}

._editing #quicknav-right, ._editing #quicknav-left
{
    width:0;
    border:0;
}
.title-minimized h1
{
    font-size:50px;
}