﻿#path, #modified, #deleted
{
    display:none;
}
.cke_combopanel
{
    width: 350px !important;
}
.tab-window fieldset
{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: solid 1px silver;
    padding:8px;
    margin-bottom:20px;
}
#tab-window-case textarea
{
    height:150px;
    margin-bottom:10px;
}
#tab-window-pitfalls textarea, #tab-window-checklist textarea, #tab-window-quiz textarea
{
    height:40px; 
    width:90%;
}
    #tab-window-quiz .container
    {
        display:none;
    }
    #tab-window-quiz .container.show
    {
        display:block;
    }
#tab-window-quiz .text
{
    width:500px;    
    float:left;
}
#tab-window-quiz .q-group
{
    width:50px;    
    float:left;
}
#tab-window-quiz .mc-container .text{
    width:450px;    
}
#tab-window-quiz div.text, #tab-window-quiz div.q-group{
font-weight:bold;
}
#tab-window-quiz .options-dd .text,
#tab-window-quiz .options-cb .text
{
    width:250px;
}
#tab-window-quiz .options-dd .target
{
    width:30px;
}
#tab-window-quiz .options-cb .target
{
    width:60px;
}
#tab-window-quiz .options-target .text,
#tab-window-quiz .options-cb-target .text
{
    width:190px;
}
#tab-window-quiz .options-mc > div, #tab-window-quiz .options-dd > div, 
#tab-window-quiz .options-target > div,
#tab-window-quiz .options-cb > div,
#tab-window-quiz .options-cb-target > div
{
    border:1px solid silver;
    margin:2px;
    padding:2px;    
}
#tab-window-quiz div.text
{
    padding-left:19px;
}
#tab-window-quiz .template
{
    display:none;
}
/* Commenting styles */

.cms-comments
{
    border: 1px solid #ffe764;
    position:absolute;
    z-index:500;
    left:400px;
    top:100px;
    width:300px;
    background-color:#fff;
    cursor:move;
}
.cms-comments:hover
{
    background: #fcfac6!important;
    border-color: #ffe572!important;
}
.inner-comments
{
    padding:10px 0 0 10px;
}
.cms-comments .delete
{
    padding-left:10px;
}
.cms-comments button
{
    float:right;
}
.cms-comments textarea, .cms-comments .textarea
{
    width:250px;
    border:1px solid silver;
    min-height:50px;
    display:block;
}
.cms-comments .textarea
{
    background-color:#eee;
}
.cms-comments .close
{
    width:22px;
    height:13px;
    background:url(../../player/gfx/icon-close.png);
    cursor:pointer;
    float:right;
}
.cms-comments .close:hover
{
      background:url(../../player/gfx/icon-close-hover.png);
}
.tab-window .ui-icon-arrowthick-2-n-s
{
    float:left;
}
.tab-window .icon
{
    border:1px solid transparent;
}
.tab-window a.icon img
{
    position:relative;
    top:3px;
}
.tab-window .icon:hover
{
background-color:#eee;    
position:relative;
left:1px;
top:1px;
border:1px solid #ebed46;
}
    .instant-preview
    {
        border:3px dashed silver;
    }

iframe.preview {
    -moz-transform: scale(0.25, 0.25); 
    -webkit-transform: scale(0.25, 0.25); 
    -o-transform: scale(0.25, 0.25);
    -ms-transform: scale(0.25, 0.25);
    transform: scale(0.25, 0.25); 
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    border: solid #ccc 10px;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}