<main id="main" role="main" class="container">

  <section class="row">
    <div class="col-12">
      <div class="success-block" *ngIf="DiplomaLink() || ShowBadgeDownload()">
        <div class="text-block">
          <span class="ico-holder"><i class="material-icons">check</i></span>
          <strong class="title">{{"ELEARNING.CONGRATULATIONS" | translate}}
            {{PortalService.UserData.User.FirstName}}!</strong>
          <p [translate]="'ELEARNING.COURSE_COMPLETE'"></p>
        </div>
        <a *ngIf="DiplomaLink()" href="{{DiplomaLink()}}" target="_blank" class="btn btn-primary"
          [translate]="'ELEARNING.DOWNLOAD_DIPLOMA'"></a>
        <a *ngIf="ShowBadgeDownload()" target="_blank" class="btn btn-primary" [translate]="'ELEARNING.DOWNLOAD_BADGE'"
          data-toggle="modal" data-target="#badge-download" href="javascript:void(0)">Get my badge</a>
      </div>
      <div class="info-block" *ngIf="!Activity.HideActivityDates && ParticipantAvailability.IsAvailable===false">
        <dl>
          <dt>
            <i class="material-icons">info</i> {{"ELEARNING.NOT_AVAILABLE" | translate}}
          </dt>
          <dd>
            {{"ELEARNING.AVAILABILITY_PERIOD" | translate}}
            <ul>
              <li><time>{{ParticipantAvailability.AvailabilityStart | localizedDate:'shortDate'}}
                  <span *ngIf="ParticipantAvailability.AvailabilityEnd">- {{ParticipantAvailability.AvailabilityEnd
                    |
                    localizedDate:'shortDate'}}</span></time></li>
            </ul>
            <div *ngIf="!!Activity.EnrolledUserActivityExpiredInformation"
              [innerHTML]="Activity.EnrolledUserActivityExpiredInformation"></div>
          </dd>
        </dl>
      </div>
    </div>
  </section>

  <section class="row">
    <div 
    [ngClass]="{'col-md-8': hasAttachmentsOrContacts(), 'col-md-12': !hasAttachmentsOrContacts()}">
      <activity-details [Activity]="Activity" [ParticipantAvailability]="ParticipantAvailability"></activity-details>
      <section class="container lessons-block">
        <div class="row">
          <div class="col-md-12">
            <h2 [translate]="'ELEARNING.LESSONS'"></h2>
            <div *ngIf="ValidationError" class="alert alert-danger" role="alert">
              <a class="close" (click)="ValidationError=null">×</a>
              <p *ngFor="let message of (''+ValidationError).split('\n')" [innerHTML]="message"></p>
            </div>
            <ul class="lessons-list list-unstyled">
              <li
                class="row mb-1 align-items-center w-100"
                [ngClass]="{'done': GetLesson(lesson.Id).Status == 'C', 'test': lesson.IsFinalTest, 'playable': IsPlayable(lesson) }"
                *ngFor="let lesson of Lessons" (click)="PlayLesson(lesson)">
                  <span class="col-sm-1 icon"><i class="material-icons">done</i></span>
                  <span class="lessons-title" [ngClass]="{'col-sm-10': lesson.IsFinalTest, 'col-sm-6': !lesson.IsFinalTest }">{{lesson.Name}}</span>
  
                  <time *ngIf="!lesson.IsFinalTest" class="col-sm-2 time">{{GetLesson(lesson.Id).CompletedDate | localizedDate:'shortDate' }}</time>
                  
                  <span *ngIf="!lesson.IsFinalTest" class="col-sm-2 text" style="text-overflow: clip !important;">
                    <span *ngIf="GetLesson(lesson.Id).Status=='C'" [translate]="'ELEARNING.STATUS_COMPLETED'"></span>
                    <span *ngIf="GetLesson(lesson.Id).Status=='I'" [translate]="'ELEARNING.STATUS_IN_PROGRESS'"></span>
                    <span *ngIf="GetLesson(lesson.Id).Status=='' || GetLesson(lesson.Id).Status=='N'" [translate]="'ELEARNING.NOT_ATTEMPTED'"></span>
                  </span>
                  
                  <span class="col-sm-2 text-center">
                      <button class="btn btn-secondary" (click)="PlayLesson(lesson)" *ngIf="!(!Activity.HideActivityDates && ParticipantAvailability.IsAvailable===false)">
                        <span style="overflow: inherit;">{{"ELEARNING.START" | translate}}</span>
                      </button>
                      <button class="btn btn-secondary" disabled *ngIf="(!Activity.HideActivityDates && ParticipantAvailability.IsAvailable===false)">
                        <span style="overflow: inherit;">{{"ELEARNING.START" | translate}}</span>
                      </button>
                  </span>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <section *ngIf="hasAttachmentsOrContacts()"  class="col-md-4 mt-5">
      <elearning-attachments [Attachments]="Activity.Attachments" [Activity]="Activity"></elearning-attachments>
      <elearning-contactperson [ContactPersons]="getCourseContactPersons()" [Activity]="Activity"
        [Distributor]="Distributor"></elearning-contactperson>
    </section>
  </section>
</main>