// .center-btn {
//     margin: 0 auto;
// }
// button {
//     color: #ffff; 
// 	  border: none;
//     background: #70a095;
//     border-radius: 10rem;
//     font-weight: 300;
//     padding: .4rem 1rem;
//     margin: 0.5rem 0rem;
//     text-align: center;
// }
button {
    color: #ffff;
    border: none;
    background: #70a095;
    border-radius: 10rem;
    font-weight: 300;
    padding: .4rem 1rem;
    margin: 0.5rem 0rem;
}

button:hover {
    color: #ffff;
    background: darken(#70a095, 7);
}