<div class="checklist" [attr.id]="'content-' + Content.ObjectID">
	<div class="container">
		<h1>{{GetTitle()}}</h1>
		<p [innerHTML]="Intro"></p>
	</div>
	<div class="dark outer">
		<div class="container">
			<div *ngFor="let check of Checklist" class="item clearfix">
				<div class="box" [ngClass]="{'checked':check.checked}" (click)="check.checked=!check.checked">
					<i class="material-icons">check</i>
				</div>
				
				<div *ngIf="check.locked" class="text" [innerHTML]="GetTextForLockedCheck(check)"></div>		
				<div *ngIf="!check.locked" class="text"><textarea rows=1 autosize placeholder="{{ 'TYPE_HERE' | translate }}" [(ngModel)]="check.text" (ngModelChange)="ChecklistChange($event)"></textarea></div>		
				<div *ngIf="check.locked" class="lock"><i class="material-icons">lock</i></div>
				<div *ngIf="!check.locked && check.text" class="delete" (click)="ChecklistDelete(check)"><i class="material-icons">delete</i></div>
			</div>
		</div>
	</div>
</div>