p{
    margin:15px 0 50px 0; 
}

.dark.outer {
    padding:28px 0;
}

.item {
    background-color: white;
    margin-bottom: 2px;
    border-radius: 4px;
    padding: 15px;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.checklist.tight .item {
    padding: 2px 0;
}

.checklist.tight .item .text {
    margin: 0 0 0 10px;
}

.item textarea {
    background-color: transparent;
    border:0;
    width: 100%;            
    resize:none;
    padding: 0;
}

.item textarea:focus {
    outline:0;
}

.item .box {
    width: 18px;
    height: 18px;    
    line-height: 16px;
    border-radius: 2px;
    border: 2px solid #425563; 
    cursor: pointer;
}

.item .box i {
    display: none;
}

.item .box.checked {
    background-color: #425563;
}

.item .box.checked i {
    display: inline-block;
}

.box .material-icons {
    color:white;
    font-size: 14px;
    font-weight: bold;
}

.text {
    width:100%;
    margin: -2px 20px 0 20px;
}

.lock {
     color: #cfccd2;
}

.delete {
    color:#71004b;
    cursor: pointer;
}