.popup{ 
    background-image: url(/courseplayer/inc/library/controls/popup/media/overlay.png); 
    position:absolute;
    left:0px;
    top:0px;
    z-index:999;
    border:1px solid black;
}

* html .popup{
	background-color: #000;
	back\ground-color: transparent;	
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/inc/library/controls/popup/media/overlay.png", sizingMethod="scale");
}