.logo a{
    width: 150px !important;
    margin-top: -15px !important;    
    display: block;
    height: 50px;    
    background-size: contain;    
    background-image: url(10493-logo.png) !important;
}