<div id="exam2">
    <div class="body exam">
        <div id="page-container">
            <div class="content clearfix">
                <div class="header">
                    <div class="row">
                        <div class="col-xs-12">
                            <div>
                                <a onclick="window.history.back()"><i class="fal fa-times fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main">
                    <div class="course-heading">
                        <h1 [translate]="'EXAM2.SUMMARY'">Summary</h1>
                        <div class="sub-heading dimmed">

                            <div class="show dropdown" style="display:inline;" id="questionFilterDropdown">

                                <a class="" href="#" role="button" id="questionFilter" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" data-offset="0,10">
                                    <span *ngIf="!QuestionFilter"
                                        [innerHTML]="'EXAM2.FILTER_ALL_QUESTIONS' | translate">All Questions</span>
                                    <span *ngIf="QuestionFilter==1"
                                        [innerHTML]="'EXAM2.FILTER_NOT_ANSWERED' | translate">Not Answered</span>
                                    <span *ngIf="QuestionFilter==2"
                                        [innerHTML]="'EXAM2.FILTER_CHECK_LATER' | translate">Check Later</span>
                                    &nbsp;<i class="fal fa-angle-down fa-2x"></i></a>

                                <div class="dropdown-menu" aria-labelledby="questionFilter">

                                    <a class="dropdown-item" [ngClass]="{'active' : !QuestionFilter}"
                                        (click)="QuestionFilter=null"><i class="fal fa-check"></i> <span
                                            [translate]="'EXAM2.FILTER_ALL_QUESTIONS'">All Questions</span></a>

                                    <a class="dropdown-item" [ngClass]="{'active' : QuestionFilter==1}"
                                        (click)="QuestionFilter=1"><i class="fal fa-check" style="visibility: none"></i>
                                        <div class="bullet red"></div> <span
                                            [translate]="'EXAM2.FILTER_NOT_ANSWERED'">Not Answered</span>
                                        ({{GetQuestions().length - CountQuestionsAnswered()}})
                                    </a>

                                    <a class="dropdown-item" [ngClass]="{'active' : QuestionFilter==2}"
                                        (click)="QuestionFilter=2"><i class="fal fa-check" style="visibility: none"></i>
                                        <div class="bullet orange"></div> <span
                                            [translate]="'EXAM2.FILTER_CHECK_LATER'">Check Later</span>
                                        ({{CountQuestionsMarkedForReview()}})
                                    </a>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="list">
                        <div class="divider"></div>
                        <div *ngFor="let question of GetQuestions(); let i = index" (click)="GotoQuestion(i)"
                            class="clickable">
                            <div class="row"
                                *ngIf="QuestionFilter == null || (QuestionFilter == 1 && !GetAnswerAtIndex(i).SingleChoiceAnswer) || (QuestionFilter == 2 && GetAnswerAtIndex(i).IsMarkedForReview)">
                                <div class="col-xs-1">{{i+1}}.</div>
                                <div class="col-xs-10" [innerHTML]="question.Text"
                                    style="line-clamp: 3; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;">
                                </div>
                                <div class="col-xs-1 padding-0">
                                    <div class="bullet orange" *ngIf="GetAnswerAtIndex(i).IsMarkedForReview"></div>
                                    <div class="bullet red" *ngIf="!GetAnswerAtIndex(i).SingleChoiceAnswer"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <footer class="footer">
                <div class="bottom"></div>
            </footer>
        </div>
    </div>
</div>