﻿
<!DOCTYPE html>
<html>
<head>
	<title>{{ErrorMessage}}</title>
	<meta name="viewport" content="width=device-width" />
	<style>
		body {
			font-family: "Verdana";
			font-weight: normal;
			font-size: .7em;
			color: black;
		}

		p {
			font-family: "Verdana";
			font-weight: normal;
			color: black;
			margin-top: -5px;
		}

		b {
			font-family: "Verdana";
			font-weight: bold;
			color: black;
			margin-top: -5px;
		}

		H1 {
			font-family: "Verdana";
			font-weight: normal;
			font-size: 18pt;
			color: red;
		}

		H2 {
			font-family: "Verdana";
			font-weight: normal;
			font-size: 14pt;
			color: maroon;
		}

		pre {
			font-family: "Consolas","Lucida Console",Monospace;
			font-size: 11pt;
			margin: 0;
			padding: 0.5em;
			line-height: 14pt;
		}

		.marker {
			font-weight: bold;
			color: black;
			text-decoration: none;
		}

		.version {
			color: gray;
		}

		.error {
			margin-bottom: 10px;
		}

		.expandable {
			text-decoration: underline;
			font-weight: bold;
			color: navy;
			cursor: hand;
		}

		@media screen and (max-width: 639px) {
			pre {
				width: 440px;
				overflow: auto;
				white-space: pre-wrap;
				word-wrap: break-word;
			}
		}

		@media screen and (max-width: 479px) {
			pre {
				width: 280px;
			}
		}
	</style>
</head>

<body bgcolor="white">

	<div>
		<h1>{{ErrorMessage}}</h1>
		<hr width=100% size=1 color=silver>
	</div>

	<font face="Arial, Helvetica, Geneva, SunSans-Regular, sans-serif ">

		<b> Description: </b>{{ErrorType}}
		<br><br>

		<b>Url: </b>{{RequestUrl}}<br><br>

		<b>Request:</b> <br><br>

		<table width=100% bgcolor="#ffffcc">
			<tr>
				<td>
					<code>
						<pre>
{{RequestRaw}}
						</pre>
					</code>

				</td>
			</tr>
		</table>
		<br>

		<b> Source File: </b> {{ErrorSource}}
		<br><br>

		<b>Stack Trace:</b> <br><br>

		<table width=100% bgcolor="#ffffcc">
			<tr>
				<td>
					<code>
						<pre>
{{ErrorMessage}}
{{StackTrace}}
						</pre>
					</code>

				</td>
			</tr>
		</table>

		<br>


		<b>Response:</b> <br><br>

		<table width=100% bgcolor="#ffffcc">
			<tr>
				<td>
					<code>
						<pre>
{{ResponseRaw}}
						</pre>
					</code>

				</td>
			</tr>
		</table>
		<br>

		<hr width=100% size=1 color=silver>
		<br><br>

		<b>Server Variables:</b> <br><br>

		<table width=100% bgcolor="#ffffcc">
			<tr>
				<td>
					<code>
						<pre>
{{ServerVariables}}
						</pre>
					</code>

				</td>
			</tr>
		</table>

		<br>

	</font>

</body>
</html>