<div id="exam2">
    <div class="exam body overview">
        <div id="page-container">
            <div class="content clearfix">

                <div class="main">
                    <div class="course-heading">
                        <h2 [translate]="'EXAM2.RESULT_OVERVIEW'">Overview</h2>
                        <span [translate]="'EXAM2.RESULT_INFO'">Umami taiyaki DIY typewriter. Viral roof party tousled
                            paleo shaman everyday carry. Tacos hella gochujang portland roof party swag, selvage street
                            art slow-carb subway tile.</span>

                        <div class="info-row">
                            <div class="alert-good">
                                {{ GetTimeRemainingInSeconds() | hourMinuteSeconds }}
                                <label [translate]="'EXAM2.TIME_USED'">Time used</label>
                            </div>
                            <div class="alert-bad">
                                {{ GetScore() }}
                                <label [translate]="'EXAM2.SCORE'">Score</label>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <footer class="footer button-line">
                <div class="buttons">
                    <button class="btn btn-secondary mr-1" type="button"
                        (click)="Router.navigateByUrl('/portal/mockexam/' + ActivityId)"
                        [translate]="'EXAM2.GO_HOME'">Go to Home</button>
                    <button class="btn btn-primary" type="button"
                        (click)="Router.navigateByUrl('/portal/mockexam/' + ActivityId + '/play/attempts/' + ExamId)"
                        [translate]="'EXAM2.RETRY_TEST'">Retry Test</button>
                </div>
                <div class="bottom"></div>
            </footer>
        </div>
    </div>
</div>