<main id="main" role="main" class="container">
  <ul class="btn-list list-unstyled">
    <li [ngClass]="{'active':!ActivitySetFilter.Completed}"><a (click)="ActivitySetFilter={Completed:false}"
        class="btn btn-secondary" [translate]="'HOME.CURRENT_COURSES'"></a></li>
    <li [ngClass]="{'active':ActivitySetFilter.Completed}"><a (click)="ActivitySetFilter={Completed:true}"
        class="btn btn-secondary" [translate]="'HOME.PAST_COURSES'"></a></li>
  </ul>
  <section class="accordion-block" *ngIf="participationData">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">

      <div class="panel panel-default" style="border-bottom: 1px solid silver;"
        *ngIf="(participationData | objectfilter:ActivitySetFilter).length==0">
        <div class="panel-heading center-block" style="padding: 40px 0;">
          <h2><i class="material-icons">view_module</i>
            <span *ngIf="!ActivitySetFilter.Completed" [translate]="'HOME.NO_CURRENT_COURSES'"></span>
            <span *ngIf="ActivitySetFilter.Completed" [translate]="'HOME.NO_COMPLETED_COURSES'"></span>
          </h2>
        </div>
      </div>

      <div class="panel panel-default"
        *ngFor="let activitySet of participationData | objectfilter:ActivitySetFilter; let activitySetIndex = index;">
        <div class="panel-heading center-block" role="tab" id="heading_{{activitySet.ActivitySetId}}">
          <a role="button" data-toggle="collapse" [ngClass]="{'collapsed':activitySetIndex!=0}" data-parent="#accordion"
            href="#collapse_{{activitySet.ActivitySetId}}"
            [attr.aria-expanded]="(activitySetIndex == 0 ? 'true' : 'false')"
            [attr.aria-controls]="'collapse_' + activitySet.ActivitySetId">
            <h2><i class="material-icons">view_module</i> {{activitySet.Activities[0].ActivitySetName}}</h2>
            <span
              class="step-holder">{{GetCompletedActivities(activitySet.Activities).length}}/{{activitySet.Activities.length}}
              <span [translate]="'HOME.COMPLETED'"></span></span>
          </a>
          <i class="material-icons ico-arrow">keyboard_arrow_down</i>
        </div>
        <div id="collapse_{{activitySet.ActivitySetId}}" class="panel-collapse collapse"
          [ngClass]="{'in':activitySetIndex == 0}" role="tabpanel"
          [attr.aria-labelledby]="'heading_' + activitySet.ActivitySetId">
          <div class="panel-body container">

            <div class="row flex-row">
              <article class="col-xs-12 col-sm-4 course-widget" *ngFor="let activity of activitySet.Activities">

                <a (click)="Router.navigateByUrl('/portal/elearning/' + activity.ActivityId)"
                  *ngIf="activity.ArticleType == 'E-Learning'">
                  <div class="visual">
                    <span class="bg" style="background-image: url(assets/portal/images/img05.jpg)"></span>

                    <div class="ico-progress" *ngIf="GetElearningProgress(activity)<100">
                      <div class="percentage">{{GetElearningProgress(activity)}}%</div>
                      <round-progress [current]="GetElearningProgress(activity)" [max]="100" [color]="'#70a095'"
                        [background]="'#cecece'" [radius]="29" [stroke]="5"></round-progress>
                    </div>
                    <div class="ico-progress" *ngIf="GetElearningProgress(activity)==100">
                      <img src="assets/portal/images/ico02.png" alt="100%">
                    </div>
                  </div>
                  <div class="title-bar color-green">
                    <h3><i class="material-icons">school</i> <span [translate]="'TYPE.ELEARNING'"></span></h3>
                    <span class="language-tag">{{GetActivityLanguage(activity).PhoenixIdentifier}}</span>
                  </div>
                  <div class="text-detail">
                    <p>{{activity.CustomerArticleTitle}}</p>
                  </div>
                  <i class="material-icons ico-more-elearning">arrow_forward</i>
                </a>

                <a (click)="Router.navigateByUrl('/portal/classroom/' + activity.ActivityId)"
                  *ngIf="activity.ArticleType == 'Classroom'">
                  <div class="visual">
                    <span class="bg" style="background-image: url(assets/portal/images/img06.jpg)"></span>
                    <span class="ico-progress" *ngIf="activity.ParticipantStatusCodeValue=='COMPLETED'"><img
                        src="assets/portal/images/ico02.png" alt="100%"></span>
                  </div>
                  <div class="title-bar color-orange">
                    <h3><i class="material-icons">group</i> <span [translate]="'TYPE.CLASSROOM'"></span></h3>
                  </div>
                  <div class="text-detail">
                    <p>{{activity.CustomerArticleTitle}}</p>
                    <time *ngIf="!activity.HideActivityDates">{{activity.ActivityStart | localizedDate:'shortDate' }} -
                      {{activity.ActivityEnd | localizedDate:'shortDate' }}</time>
                  </div>
                  <i class="material-icons ico-more-classroom">arrow_forward</i>
                </a>

                <a (click)="Router.navigateByUrl('/portal/seminar/' + activity.ActivityId)"
                  *ngIf="activity.ArticleType == 'Seminar'">
                  <div class="visual">
                    <span class="bg" style="background-image: url(assets/portal/images/img06.jpg)"></span>
                    <span class="ico-progress" *ngIf="activity.ParticipantStatusCodeValue=='COMPLETED'"><img
                        src="assets/portal/images/ico02.png" alt="100%"></span>
                  </div>
                  <div class="title-bar color-orange">
                    <h3><i class="material-icons">group</i> <span [translate]="'TYPE.SEMINAR'"></span></h3>
                  </div>
                  <div class="text-detail">
                    <p>{{activity.CustomerArticleTitle}}</p>
                    <time *ngIf="!activity.HideActivityDates">{{activity.ActivityStart | localizedDate:'shortDate' }} -
                      {{activity.ActivityEnd | localizedDate:'shortDate' }}</time>
                  </div>
                  <i class="material-icons ico-more">arrow_forward</i>
                </a>

                <a (click)="Router.navigateByUrl('/portal/webinar/' + activity.ActivityId)"
                  *ngIf="activity.ArticleType == 'Webinar'">
                  <div class="visual">
                    <span class="bg" style="background-image: url(assets/portal/images/img06.jpg)"></span>
                    <span class="ico-progress" *ngIf="activity.ParticipantStatusCodeValue=='COMPLETED'"><img
                        src="assets/portal/images/ico02.png" alt="100%"></span>
                  </div>
                  <div class="title-bar color-orange">
                    <h3><i class="material-icons">group</i> <span [translate]="'TYPE.WEBINAR'"></span></h3>
                  </div>
                  <div class="text-detail">
                    <p>{{activity.CustomerArticleTitle}}</p>
                    <time *ngIf="!activity.HideActivityDates">{{activity.ActivityStart | localizedDate:'shortDate' }} -
                      {{activity.ActivityEnd | localizedDate:'shortDate' }}</time>
                  </div>
                  <i class="material-icons ico-more">arrow_forward</i>
                </a>

                <a (click)="Router.navigateByUrl('/portal/mockexam/' + activity.ActivityId)"
                  *ngIf="activity.ArticleType == 'Mockexam'">
                  <div class="visual">
                    <span class="bg" style="background-image: url(assets/portal/images/img09.jpg)"></span>
                  </div>
                  <div class="title-bar">
                    <h3><i class="material-icons">cached</i> <span [translate]="'TYPE.MOCKEXAM'"></span></h3>
                  </div>
                  <div class="text-detail">
                    <p>{{activity.CustomerArticleTitle}}</p>
                  </div>
                  <i class="material-icons ico-more-exam">arrow_forward</i>
                </a>

                <a (click)="Router.navigateByUrl('/portal/exam/' + activity.ActivityId)"
                  *ngIf="activity.ArticleType == 'Multiple Choice' || activity.ArticleType == 'Case Exam' || activity.ArticleType == 'Project Assignment' || activity.ArticleType == 'Internal Certification' || activity.ArticleType == 'External Certification'">
                  <div class="visual">
                    <span class="bg" style="background-image: url(assets/portal/images/img10.jpg)"></span>
                  </div>
                  <div class="title-bar color-purpel">
                    <h3><i class="material-icons">assignment</i> <span [translate]="'HOME.EXAM'"></span></h3>
                  </div>
                  <div class="text-detail">
                    <p>{{activity.CustomerArticleTitle}}</p>
                  </div>
                  <i class="material-icons ico-more-exam">arrow_forward</i>
                </a>

              </article>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="course-block" style="background-image: url(assets/portal/images/img14.jpg)"
    *ngIf="CoursesOfInterestToYou.length>0">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="content-holder">
            <h2><span class="heighlite">{{PortalService.UserData.User.FirstName}},</span> {{
              "HOME.COURSE_MIGHT_INTEREST_YOU" | translate }}</h2>
            <div class="courses-holder">

              <article class="related-course" *ngFor="let course of CoursesOfInterestToYou">
                <a href="{{course.Url}}">
                  <div class="visual">
                    <div class="bg" [style.background-image]="'url(' + course.Image + ')'"></div>
                  </div>
                  <div class="text-holder">
                    <h3>{{course.Name}}</h3>
                    <p>{{course.Description}}</p>
                    <span class="ico-holder"><i class="material-icons">school</i></span>
                    <i class="material-icons ico-more">arrow_forward</i>
                  </div>
                </a>
              </article>
            </div>
            <div class="footer" *ngIf="LoadMoreCoursesProsjektledelse()">
              <p><i class="material-icons">search</i> {{"HOME.FIND_MORE_COURSES_ON" | translate}} <a
                  href="https://www.prosjektledelse.no">prosjektledelse.no</a> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="gallery-block container" *ngIf="PortalService.GetBlogStories().length>0">
    <div class="row">
      <header class="col-xs-12 header">
        <h2><span class="heighlite" [translate]="'HOME.LAST_POSTS'"></span> {{"HOME.FROM_THE_PROJECTBLOG" | translate}}
        </h2>
      </header>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="cycle-gallery">
          <div class="mask">
            <div class="slideset">


              <div class="slide" *ngFor="let story of PortalService.GetBlogStories()">
                <div class="content-holder">
                  <div class="visual">
                    <div *ngIf="story.image" class="bg" [style.background-image]="story.image"></div>
                  </div>
                  <div class="text-holder">
                    <h3 [innerHTML]="story.title | safe"></h3>
                    <p [innerHTML]="story.body | safe"></p>
                    <a target="_blank" href="{{story.url}}" class="more">Les mer</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="btn-prev" href="#"><i class="material-icons">keyboard_arrow_left</i></a>
          <a class="btn-next" href="#"><i class="material-icons">keyboard_arrow_right</i></a>
          <div class="indicators">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<a *ngIf="PortalService.ShowCourseCalendar()" (click)="Router.navigateByUrl('/portal/catalog')" class="load-more"><i
  class="material-icons">more_vert</i> {{ "HOME.LOAD_MORE_COURSES" | translate }}</a>

<a *ngIf="LoadMoreCoursesProsjektledelse()" href="https://www.prosjektledelse.no" target="_blank"
class="load-more"><i class="material-icons">more_vert</i> <span
  [innerHTML]="'HOME.LOAD_MORE_COURSES_PROSJEKTLEDELSE' | translate"></span></a>