/* custom select styles */
.jcf-select {
  display: block;
  position: relative;
  border: 1px solid $clr9;
  background: $clr9;
  margin: 0;
  min-width: 150px;
  @include size(100%, 43px);
  border-radius: 4px;
  &.jcf-drop-active{
    border-radius: 4px 4px 0 0;
    &.jcf-drop-flipped{
      border-radius: 0 0 4px 4px;
    }
  }
  select {
    z-index: 1;
    left: 0;
    top: 0;
  }
  .jcf-select-text {
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
    display: block;
    @include font(16, 21, 400);
    padding: 10px 35px 10px 12px;
    letter-spacing: 1px;
    color: $gray-base;
  }
  .jcf-select-opener {
    position: absolute;
    text-align: center;
    width: 30px;
    bottom: 0;
    right: 0;
    top: 0;
    @include pseudo-element(before, 50%, auto, auto, 2px);
    &:before{
      @include triangle(15px 8px, $clr2, down);
      transform: translate(0, -50%);
    }
  }
  .jcf-select-drop {
    position: absolute;
    margin-top: 0px;
    z-index: 9999;
    top: 100%;
    left: -1px;
    right: -1px;
  }
  .jcf-drop-flipped {
    bottom: 100%;
    top: auto;
  }
}
body > .jcf-select-drop {
  position: absolute;
  margin: -1px 0 0;
  z-index: 9999;
  &.jcf-drop-flipped{
    margin: 1px 0 0;
  }
}
.jcf-select-drop {
  &.jcf-drop-flipped{
    .jcf-select-drop-content {
      border-radius: 4px 4px 0 0;
    }
  }
  .jcf-select-drop-content {
    border: 1px solid $clr4;
    border-radius: 0 0 4px 4px;
  }
}
/* multiple select styles */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}
/* select options styles */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 16px;
  font-size: 14px;
  width: 100%;
  letter-spacing: 1px;
  border-radius: 0 0 4px 4px;
  .jcf-drop-flipped &{
    border-radius: 4px 4px 0 0;
    ul{
      li{
        &:first-child{
          .jcf-option{
            border-radius: 4px 4px 0 0;
          }
        }
        &:last-child{
          .jcf-option{
            border-radius: 0;
          }
        }
      }
    }
  }
  .jcf-list-content {
    vertical-align: top;
    display: inline-block;
    overflow: auto;
    width: 100%;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      overflow: hidden;
      display: block;
      &:last-child{
        .jcf-option{
          border-radius: 0 0 4px 4px;
        }
      }
    }
  }
  .jcf-overflow {
    overflow: auto;
  }
  .jcf-option {
    white-space: normal;
    overflow: hidden;
    cursor: default;
    display: block;
    padding: 6px 12px;
    color: #656565;
    height: 1%;
  }
  .jcf-disabled {
    background: #fff !important;
    color: #aaa !important;
  }
}
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  font-weight: bold;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}