<main id="main" role="main" class="container">
  <section class="container lessons-block">
    <div class="row">
      <div class="col-xs-12">
        <h2 [translate]="'ELEARNING.LESSONS'"></h2>
        <h3 *ngIf="DemoInfo"><i>{{DemoInfo}}</i></h3>
        <div *ngIf="ValidationError" class="alert alert-danger" role="alert" id="ValidationError">
          <a class="close" (click)="ValidationError=null">×</a>
          <p *ngFor="let message of (''+ValidationError).split('\n')" [innerHTML]="message"></p>
        </div>
        <ul class="lessons-list list-unstyled">
          <li
            [ngClass]="{'done': GetLesson(lesson.Id).Status == 'C', 'test': lesson.IsFinalTest, 'playable': IsPlayable(lesson) }"
            *ngFor="let lesson of Lessons" (click)="PlayLesson(lesson)">
            <span class="icon"><i class="material-icons">done</i></span>
            <span class="lessons-title">{{lesson.Name}}</span>

            <time *ngIf="!lesson.IsFinalTest" class="time">{{GetLesson(lesson.Id).CompletedDate |
              localizedDate:'shortDate' }}</time>
            <span class="text" *ngIf="!lesson.IsFinalTest">
              <span *ngIf="GetLesson(lesson.Id).Status=='completed'" [translate]="'ELEARNING.STATUS_COMPLETED'"></span>
              <span *ngIf="GetLesson(lesson.Id).Status=='incomplete'"
                [translate]="'ELEARNING.STATUS_IN_PROGRESS'"></span>
              <span *ngIf="GetLesson(lesson.Id).Status=='' || GetLesson(lesson.Id).Status=='N'"
                [translate]="'ELEARNING.NOT_ATTEMPTED'"></span>
            </span>
            <span class="status"
              *ngIf="!lesson.IsFinalTest && (GetLesson(lesson.Id).Status!='' && GetLesson(lesson.Id).Status!='N')">{{GetLesson(lesson.Id).Score}}%</span>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <attachment [Attachments]="Activity.Attachments" [Activity]="Activity"></attachment>

  <ecoach [Ecoaches]="GetResourceByType(3)" [Activity]="Activity" [Distributor]="Distributor"></ecoach>

  <instructor [Instructors]="GetResourceByType(1)" [Activity]="Activity" [Distributor]="Distributor"></instructor>
</main>