<div class="container mt-5">
    <section>
        <header>
            <h1>{{ 'GLOBAL.MYDIPLOMAS' | translate}}</h1>
        </header>
    </section>
    <section>
        <ul *ngIf="!pmCompletedActivitySets.length && !completedActivitySets.length"  class="list-group list-group-flush align-middle">
            <li class="list-group-item">
                <div class="row mb-1 align-items-center">
                    <div class="col-sm-6">
                        <h4>{{ 'COMPLETED_COURSES.NONE_COMPLETED' | translate}}</h4>
                    </div>                
                    <div class="col-sm-6">
                        <button class="btn btn-secondary" (click)="navigateHome()" title="To my current courses">{{ 'COMPLETED_COURSES.REDIRECT_CURRENT_COURSES' | translate}}</button>
                    </div>
                </div>
            </li>
        </ul>

        <ul *ngIf="pmCompletedActivitySets.length || completedActivitySets.length" class="list-group list-group-flush align-middle">
            <li class="list-group-item" *ngFor="let activitySet of pmCompletedActivitySets; let activitySetIndex = index;">
                <div class="row mb-1 align-items-center">
                    <div class="col-sm-9">
                        <h4>{{activitySet.Activities[0].ActivitySetName}}</h4>
                        <small *ngIf="pmCompletedActivitySets.length"> {{ 'COMPLETED_COURSES.PM_INFO_MESSAGE' | translate}} <a href="https://peoplecert.org" title="Redirect to PeopleCert" target="_blank">PeopleCert.org</a> {{ 'COMPLETED_COURSES.LINK' | translate}}.</small>
                    </div>                
                    <div class="col text-center">
                        <button class="btn btn-secondary" (click)="generateDiplomaUrl(activitySet, true)" title="Download letter of course attendance" target="_blank">{{ downloadButtonLabel | translate}}</button>
                    </div>
                </div>
            </li>
            <li class="list-group-item" *ngFor="let activitySet of completedActivitySets; let activitySetIndex = index;">
                <div class="row mb-1 align-items-center">
                    <div class="col-sm-9">
                        <h4>{{activitySet.Activities[0].ActivitySetName}}</h4>
                    </div>                
                    <div class="col text-center">
                        <button class="btn btn-secondary" (click)="generateDiplomaUrl(activitySet, false)" title="Download diploma">{{ downloadButtonLabel | translate}}</button>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>