h3 {
    font-size: 24px;
}

a {
    color: black; 
    border-bottom: 2px solid #70a095;
    transition: outline 0.1s linear;
}

a:hover {
    color: black;
    border-bottom: 4px solid #70a095;
}

button {
    color: #ffff;
    border: none;
    background: #70a095;
    border-radius: 10rem;
    font-weight: 300;
    padding: .4rem 1rem;
    margin: 0.5rem 0rem;
}

button:hover {
    color: #ffff;
    background: darken(#70a095, 7);
}
