  <div *ngIf="ContactPersons.length">
  <div *ngFor="let instructor of ContactPersons" class="holder shadow-sm box-container mx-3 p-3">
    <div class="row justify-content-center" >
      <div class="col-4">
        <img *ngIf="!instructor.Attachments.length" src="assets/portal/images/img15.png" alt="E-coach"
          class="img-fluid">
        <img *ngIf="instructor.Attachments.length" [src]="getFileUrl(instructor.Attachments[0])"
          alt="{{instructor.Attachments[0].Title}}" class="img-fluid">
      </div>
      <div class="col-8">
        <h5>{{instructor.Name}}</h5>
        <p *ngIf="instructor.ResourceTypeId == 1">
          <strong [translate]="'ELEARNING.INSTRUCTOR'"></strong>
        </p>
        <p *ngIf="instructor.ResourceTypeId == 3">
          <strong [translate]="'ELEARNING.ECOACH'"></strong>
        </p>
      </div>
      <div class="center-btn">
        <button *ngIf="Distributor.ContactEmail" class="btn btn-secondary"
          (click)="openMailClient(Distributor.ContactEmail)">
          <i class="material-icons">mail_outline</i>
          <span>{{"ELEARNING.SEND_REQUEST" | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>  
