<section class="team-blcok container" *ngIf="Instructors.length > 0">
  <div class="row flex-row" *ngFor="let instructor of Instructors">
    <div class="col-xs-12 col">
      <div class="teacher-box">
        <div class="visual">
          <img *ngIf="instructor.Attachments.length == 0" src="assets/portal/images/img15.png" alt="Instructor">
          <img *ngIf="instructor.Attachments.length > 0" src="{{PortalService.GetFileUrl(instructor.Attachments[0])}}"
            alt="{{instructor.Attachments[0].Title}}">
        </div>
        <div class="text-details">
          <div class="head">
            <h3>{{instructor.Name}}</h3>
            <p><strong [translate]="'ELEARNING.INSTRUCTOR'"></strong></p>
          </div>
          <ul class="meta-list list-unstyled">
            <li *ngIf="Distributor.ContactEmail"><a href="mailto:{{Distributor.ContactEmail}}"><i
                  class="material-icons">mail_outline</i> {{"ELEARNING.SEND_REQUEST" | translate}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>