<div class="item" [ngClass]="{'active':page.ObjectID == PlayerService.PageId}" (click)="GotoPage(page.ObjectID)" (mouseenter)="hover=true" (mouseleave)="hover=false" [title]="page.ObjectID">
<div class="icon" [ngStyle]="{'background-image': 'url(' + GetIconUrl(page.ObjectID == PlayerService.PageId) + ')'}"></div>
{{page.Name}}
</div>