<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="index.ascx.cs" Inherits="jlib.controls.ajaxpane.index" %>
<common:label runat="server" id="ContentContainer" tag="span" RenderClientID="true" />