<div id="exam2">
    <div class="body exam-question">

        <div id="page-container">
            <div class="content clearfix">
                <div class="header">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right" id="header-icons">
                                <i id="addToCheckLater" class="far fa-history fa-2x"
                                    [ngClass]="{'active' : GetCurrentAnswer().IsMarkedForReview}"
                                    (click)="ToggleMarkedForReview()"></i>

                                <div class="dropdown" style="display:inline;">

                                    <a class="" href="#" role="button" id="profileDropdown" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" data-offset="10,0"><i
                                            class="fal fa-ellipsis-v fa-3x"></i></a>

                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                                        <a class="dropdown-item"
                                            (click)="Router.navigateByUrl('/portal/mockexam/' + ActivityId + '/play/scenario/' + ExamId)"
                                            *ngIf="Activity.CustomerArticle && Activity.CustomerArticle.ArticleCopy && Activity.CustomerArticle.ArticleCopy.ExamScenario"><i
                                                class="far fa-book"></i> <span [translate]="'EXAM2.EXAM_SCENARIO'">Exam
                                                Scenario</span></a>

                                        <a class="dropdown-item"
                                            (click)="Router.navigateByUrl('/portal/mockexam/' + ActivityId + '/play/summary/' + ExamId)"><i
                                                class="far fa-check-circle"></i> <span
                                                [translate]="'EXAM2.SUMMARY'">Summary</span></a>

                                        <a class="dropdown-item"
                                            (click)="Router.navigateByUrl('/portal/mockexam/' + ActivityId + '/play/confirm/' + ExamId)"><i
                                                class="far fa-paper-plane"></i> <span
                                                [translate]="'EXAM2.FINISH_TEST'">Finish Test</span></a>

                                        <div class="divider" *ngIf="!ReviewMode"></div>
                                        <a *ngIf="!ReviewMode" class="dropdown-item" (click)="PauseExam()"><i
                                                class="far fa-pause-circle"></i> <span
                                                [translate]="'EXAM2.PAUSE'">Pause</span></a>
                                    </div>
                                </div>


                            </div>
                            <div class="clock">{{TimeRemaining | hourMinuteSeconds }}</div>
                        </div>
                    </div>
                </div>
                <div class="main" *ngIf="GetCurrentQuestion() != null" [ngClass]="{'reviewMode' : ReviewMode}">
                    <div class="course-heading">
                        <h2 id="question" [innerHTML]="GetCurrentQuestion().Text"></h2>
                    </div>
                    <div class="list">
                        <div class="row" *ngFor="let option of GetCurrentQuestion().Options">
                            <div class="col-xs-12 option"
                                [ngClass]="{'disabled' : ReviewMode, 'answered': GetCurrentAnswer().SingleChoiceAnswer == option.Id, 'correct': ReviewMode && option.IsCorrect === true, 'incorrect': ReviewMode && option.IsCorrect === false && GetCurrentAnswer().SingleChoiceAnswer == option.Id }">
                                <input type="radio" [disabled]="ReviewMode" id="alt-{{option.Id}}" name="choice"
                                    [(ngModel)]="GetCurrentAnswer().SingleChoiceAnswer" [value]="option.Id"
                                    *ngIf="!(ReviewMode && option.IsCorrect === true && GetCurrentAnswer().SingleChoiceAnswer != option.Id)">
                                <input type="radio" id="alt-{{option.Id}}" name="choice1" checked="checked"
                                    disabled="disabled"
                                    *ngIf="ReviewMode && option.IsCorrect === true && GetCurrentAnswer().SingleChoiceAnswer != option.Id">
                                <label for="alt-{{option.Id}}" [innerHtml]="option.Text"></label>
                                <div class="rationale" *ngIf="ReviewMode && option.Rationale">
                                    <div><b [translate]="'EXAM2.RATIONALE'"
                                            style="text-transform:uppercase">RATIONALE</b></div>
                                    <br>
                                    <div [innerHTML]="option.Rationale"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rationale" *ngIf="ReviewMode && GetCurrentQuestion().Rationale">
                        <div><b [translate]="'EXAM2.RATIONALE'" style="text-transform:uppercase">RATIONALE</b></div>
                        <br>
                        <div [innerHTML]="GetCurrentQuestion().Rationale"></div>
                    </div>

                </div>
            </div>
            <footer class="footer single-line">
                <div class="row">
                    <div class="col-xs-3"><a [ngClass]="{'disabled' : !HasPrev()}" (click)="Prev()"
                            [translate]="'EXAM2.PREVIOUS'">Prev</a></div>
                    <div class="col-xs-6 text-center">

                        <div class="dropup" id="questionNav" style="display:inline;">

                            <a class="" href="#" role="button" id="questionDropdown" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"
                                data-offset="0,0">{{QuestionIndex+1}}/{{GetQuestions().length}} &nbsp;<i
                                    class="fal fa-angle-down fa-2x"></i></a>

                            <div class="dropdown-menu" aria-labelledby="questionDropdown">
                                <a class="dropdown-item" (click)="QuestionIndex=i"
                                    *ngFor="let question of GetQuestions(); let i = index">
                                    <div class="nav-label">{{i+1}}</div>
                                    <div class="bullet orange" *ngIf="GetAnswerAtIndex(i).IsMarkedForReview"></div>
                                    <div class="bullet red" *ngIf="!GetAnswerAtIndex(i).SingleChoiceAnswer"></div>
                                </a>

                            </div>
                        </div>


                    </div>
                    <div class="col-xs-3 text-right">
                        <a *ngIf="HasNext()" (click)="Next()" [translate]="'EXAM2.NEXT'">Next</a>
                        <a *ngIf="!HasNext()"
                            (click)="Router.navigateByUrl('/portal/mockexam/' + ActivityId + '/play/confirm/' + ExamId)"
                            [translate]="'EXAM2.FINISH'">Finish</a>
                    </div>
                </div>

                <div class="bottom"></div>
            </footer>
        </div>
        <div id="backdrop"></div>
    </div>
</div>