<div id="exam2">
    <div class="body exam-finish">
        <div id="page-container">
            <div class="content clearfix">
                <div class="header">
                    <div class="row">
                        <div class="col-xs-12">

                            <div>
                                <a
                                    (click)="Router.navigateByUrl('/portal/mockexam/' + ActivityId + '/play/questions/' + ExamId)">
                                    <i class="far fa-arrow-left" style="font-size:22px"></i>
                                </a>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="main">
                    <div class="course-heading">
                        <h2 [translate]="'EXAM2.FINISH_TEST'">Finish Test</h2>
                    </div>

                    <div class="course-details">
                        <div
                            *ngIf="CountQuestionsMarkedForReview() > 0 || (GetQuestions().length - CountQuestionsAnswered() > 0)">

                            <p
                                [innerHTML]="'EXAM2.FINISH_STATUS' | translate:{questionsAnswered:CountQuestionsAnswered(), questionsTotal: GetQuestions().length}">
                                You have answered <b>{{CountQuestionsAnswered()}} of {{GetQuestions().length}}</b>
                                questions.</p>
                            <ul>
                                <li *ngIf="CountQuestionsMarkedForReview() > 0"
                                    [innerHTML]="'EXAM2.FINISH_STATUS_CHECK_LATER' | translate:{questionsMarkedForReview:CountQuestionsMarkedForReview()}">
                                    {{CountQuestionsMarkedForReview()}} questions marked for “check later”</li>
                                <li *ngIf="GetQuestions().length - CountQuestionsAnswered() > 0"
                                    [innerHTML]="'EXAM2.FINISH_STATUS_NOT_ANSWERED' | translate:{questionsUnanswered: GetQuestions().length - CountQuestionsAnswered()}">
                                    {{GetQuestions().length - CountQuestionsAnswered()}} questions haven’t yet been
                                    answered</li>
                            </ul>
                            <p [translate]="'EXAM2.FINISH_TEST_RECOMMEND_GO_TO_SUMMARY'">
                                We recommend that you go to your summary before you complete the test.
                            </p>

                        </div>
                        <div
                            *ngIf="CountQuestionsMarkedForReview() == 0 && (GetQuestions().length - CountQuestionsAnswered() == 0)">
                            <p
                                [innerHTML]="'EXAM2.FINISH_STATUS_NO_CHECK_LATER' | translate:{questionsAnswered:CountQuestionsAnswered(), questionsTotal: GetQuestions().length}">
                                You have answered <b>{{CountQuestionsAnswered()}} of {{GetQuestions().length}}</b>
                                questions and haven't marked any questions for "check later".</p>
                            <p [translate]="'EXAM2.FINISH_CLICK_CONFIRM_IF_SURE'">If you are sure that you want to
                                finish the test, click confirm.</p>
                        </div>
                        <br />
                        <p>
                            <a (click)="Router.navigateByUrl('/portal/mockexam/' + ActivityId + '/play/summary/' + ExamId)"
                                class="link"><span [translate]="'EXAM2.GO_TO_SUMMARY'">Go to Summary</span> <i
                                    class="far fa-arrow-right"></i></a>
                        </p>
                    </div>

                </div>
            </div>
            <footer class="footer button-line">
                <div class="buttons">
                    <button class="btn btn-secondary mr-1"
                        (click)="Router.navigateByUrl('/portal/mockexam/' + ActivityId + '/play/questions/' + ExamId)"
                        [translate]="'EXAM2.GO_BACK'">Go Back</button>
                    <button class="btn btn-primary" (click)="SubmitExam()"
                        [translate]="'EXAM2.CONFIRM'">Confirm</button>
                </div>
                <div class="bottom"></div>
            </footer>
        </div>
    </div>
</div>