<main id="main" role="main" class="container catalog">
  <ul class="btn-list list-unstyled center-block">
    <li *ngFor="let program of CoursePrograms; let programIndex = index;"
      [ngClass]="{'active':programIndex == CourseProgramIndex}">
      <a (click)="SetActiveCourseProgram(programIndex)" class="btn btn-secondary">{{program.Name}}</a>
    </li>
  </ul>

  <section class="catalog-details">
    <div class="center-block">
      <div class="row">
        <div class="col-md-6" style="padding: 10px 30px 30px 10px;">

          <div *ngFor="let step of ActiveCourseProgramSteps">
            <h3>{{step.Name}}</h3>
            <div class="panel step-module" *ngFor="let exam of step.Exams" (click)="SetActiveCourseModule(exam)"
              [ngClass]="{'active':exam==ActiveCourseModule}">
              {{exam.Name || exam.Description}}
            </div>
            <div class="panel step-module" *ngFor="let module of step.Modules" (click)="SetActiveCourseModule(module)"
              [ngClass]="{'active':module==ActiveCourseModule}">
              {{module.Name || module.Description}}
            </div>
          </div>

        </div>
        <div class="col-md-6" style="padding:30px">
          <div *ngIf="ActiveCourseModule==null">
            <h2 [translate]="'CATALOG.SELECT_A_MODULE'"></h2>
          </div>
          <div *ngIf="ActiveCourseModule!=null">

            <article class="course-widget">
              <a>
                <div class="visual" style="height:150px">
                  <span class="bg" style="background-image: url(assets/portal/images/img05.jpg)"></span>
                </div>
                <div class="title-bar">
                  <h3>{{ActiveCourseModule.Name || ActiveCourseModule.Description}}</h3>
                </div>
                <div class="text-detail">
                  <p [innerHTML]="GetActiveCourseModuleDescription()"></p>
                </div>
              </a>
            </article>

            <div *ngFor="let activitySet of ActiveCourseModule.ActivitySets">
              <article class="course-widget" (click)="ShowEnrollDialog(activitySet)" data-toggle="modal"
                data-target="#enroll-window">
                <a>
                  <div class="title-bar color-orange">
                    <h3>{{activitySet.Name}}</h3>
                    <div style="margin-left: auto;">
                      <span
                        class="language-tag">{{GetActivityLanguage(activitySet.Activities[0]).PhoenixIdentifier}}</span>
                    </div>
                  </div>
                  <div class="text-detail">
                    <div *ngFor="let activity of activitySet.Activities" style="padding-bottom:5px;">
                      <h3 *ngIf="activity.CustomerArticle.ArticleTypeId==1" class="color-green" style="display: inline">
                        <i class="material-icons">school</i> {{'TYPE.ELEARNING' | translate }}:
                      </h3>
                      <h3 *ngIf="activity.CustomerArticle.ArticleTypeId==2" class="color-orange"
                        style="display: inline"><i class="material-icons">group</i> {{'TYPE.CLASSROOM' | translate }}:
                      </h3>
                      <h3 *ngIf="activity.CustomerArticle.ArticleTypeId==8" class="" style="display: inline"><i
                          class="material-icons">cached</i> {{'TYPE.MOCKEXAM' | translate }}: </h3>
                      <h3
                        *ngIf="activity.CustomerArticle.ArticleTypeId==3 || activity.CustomerArticle.ArticleTypeId==4 || activity.CustomerArticle.ArticleTypeId==5|| activity.CustomerArticle.ArticleTypeId==6|| activity.CustomerArticle.ArticleTypeId==9"
                        class="color-purple" style="display: inline"><i
                          class="material-icons color-purple">assignment</i> {{'TYPE.EXAM' | translate }}: </h3>
                      {{activity.CustomerArticle.Title}}
                      <address class="address" *ngIf="GetResourceByType(activity, 2).length>0">
                        {{GetResourceByType(activity, 2)[0].Name}}
                        <div *ngIf="GetResourceByType(activity, 2)[0].Addresses.length>0">
                          <div>{{GetResourceByType(activity, 2)[0].Addresses[0].StreetAddress}}</div>
                          <div>{{GetResourceByType(activity, 2)[0].Addresses[0].StreetAddress2}}</div>
                          <div>{{GetResourceByType(activity, 2)[0].Addresses[0].ZipCode}} {{GetResourceByType(activity,
                            2)[0].Addresses[0].City}}</div>
                        </div>
                      </address>
                    </div>
                  </div>
                  <i class="material-icons ico-more">arrow_forward</i>
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<div class="modal fade" id="enroll-window" tabindex="-1" role="dialog" aria-labelledby="enroll-window">
  <div class="modal-dialog" role="document" *ngIf="ActivitySetToEnroll">
    <div class="modal-content download">
      <div class="modal-header">
        <h4 class="modal-title" [translate]="'CATALOG.ENROLLMENT_FORM'"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style=" max-height: calc(100vh - 200px);overflow-y: auto;">

        <h2>{{ActivitySetToEnroll.Name}}</h2>
        <div *ngIf="ActivitySetIsFull" [translate]="'CATALOG.COURSE_FULL'"></div>
        <div *ngIf="ActivitySetOutsideEnrollmentPeriod" [translate]="'CATALOG.OUTSIDE_ENROLLMENT_PERIOD'"></div>
        <div *ngIf="EnrollmentSuccess" [translate]="'CATALOG.ENROLLMENT_SUCCESSFUL'"></div>

        <div *ngIf="!ActivitySetIsFull && !ActivitySetOutsideEnrollmentPeriod && !EnrollmentSuccess">
          <div *ngIf="Price">{{'CATALOG.PRICE' | translate}}: {{Price}}</div>
          <h6 [translate]="'CATALOG.ENROLLMENT_INSTRUCTIONS'"></h6>
          <portal-profile-inner HidePasswordSection="true" HideLanguageSection="true"></portal-profile-inner>
          <div *ngIf="Terms">
            <label [translate]="'CATALOG.TERMS'"></label>
            <div style="max-height: 150px;overflow-y: scroll;background-color: #f2f2f2;padding: 15px 15px 0 15px;"
              [innerHTML]="Terms"></div>
            <div [ngClass]="{'form-error':TermsAcceptanceValidationError}">
              <input type="checkbox" id="termsAgree" [(ngModel)]="IsTermsAccepted"> <label for="termsAgree"
                style="display: inline;" [translate]="'CATALOG.AGREE_TO_TERMS'"></label>
            </div>
          </div>
        </div>
        <br /><br />
        <div class="">
          <button type="button" class="btn btn-primary"
            *ngIf="!ActivitySetIsFull && !ActivitySetOutsideEnrollmentPeriod && !EnrollmentSuccess"
            (click)="PerformEnrollment()">{{ 'CATALOG.ENROLL_BUTTON' | translate }}</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" style="text-transform: capitalize">{{
            'MODAL.CLOSE' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>