<main id="main" role="main" class="container">
  <div class="profile-form container">
    <div class="row">
      <div class="col-xs-12">
        <h1 [translate]="'REPORTS.PROGRESS_REPORT'"></h1>


        <div class="form-group">
          <label for="report" [translate]="'REPORTS.SELECT_PRODUCT'"></label>
          <select name="product" class="form-control" id="product" [(ngModel)]="ProductId">
            <option [value]="''" [translate]="'REPORTS.ALL'"></option>
            <option *ngFor="let c of ProductCodes" [value]="c.Id">{{c.Name}}</option>
          </select>
        </div>

        <div class="btn-wrap">
          <button type="submit" class="btn btn-success" (click)="GenerateReport()"
            [translate]="'REPORTS.GENERATE'"></button>
        </div>
      </div>
    </div>
  </div>
</main>