.cCombo{
    width:160px;
    display:inline;    
}

.cCombo div.data_container
{	
	background-color:White; 
	border-left: 1px solid #8396c3;
	border-top: 1px solid #8396c3;
	border-bottom: 1px solid #8396c3;		
	vertical-align:middle;
	cursor:text;	
	min-height: 20px;
	padding: 0px 0px 3px 3px;
	width: 100%;  
	font-size: 11px;
	/*_position:relative;
	_top:2px;*/

}

/* IE can't understand this */
html>body .cCombo div.data_container 
{
	padding: 0px 0px 0px 3px;
} 
.cCombo .button
{
	padding:0; 
	margin:0;
	position:relative; 
	left:-3px;		
	
	
}



.cCombo div.data_container_locked {
  background: #f4f4f4;
}

.cCombo div.data_container input
{
	border:0px;
	height:14px;	
	margin:0;	
	max-width: 450px;
	overflow: hidden;
	padding: 0;
	position:relative;
	top:-0px;
	left:-3px;
}

.cCombo div.data_container input,
.cCombo div.data_container .item {
  float: left;
  margin-right: 3px;
  margin-top: 3px;  
}

.cCombo div.data_container a, .cCombo div.data_container a:hover
{
	text-decoration:none;
}

.cCombo div.list{
    z-index:1000;
    position:absolute;
    background-color:White;
    width:100%;          
    border-left:2px solid silver;      
    border-right:1px solid silver;
    border-bottom:2px solid silver;
}

.cCombo div.list div.row{
    width:100%;
}

.cCombo div.list div.row.selected{
    /*border:1px solid red;*/
    background-color:yellow;
}


.cCombo div.list div.row{
    padding-left:4px;    
    font-size:11px;
    cursor:pointer;
}
/*
.cCombo div.list table td.hover{
    background-color:yellow;
}
*/
.cCombo td.delete div
{
	width: 17px;
	height: 17px;
	position: relative;
	line-height:17px;
	top: 0px;
	text-align: center;
	margin-right: 1px;	
	padding: 2px;
	
	border: solid 0px #4B4B6F;
	margin-left:4px;
}

div.cCombo div.list div.row
{
	height:auto;
}

/*
.cCombo td.delete div.hover
{
	border: solid 1px #4B4B6F;
	background-color: #FFE5B3;
	padding: 1px;		
	filter: dropShadow(Color=#949694,offX=2,offY=2,positive=true);
}
*/    

/*body { behavior: url("/inc/css/csshover2.htc"); }*/



.cCombo div.data_container input,
.tokenizer_input_shadow {
  border: 0px solid black;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  padding: 0px 5px;
  white-space: pre;
}
.tokenizer_input_shadow {
  display: inline;
  left: -10000px;
  position: absolute;
  top: -10000px;
}
.tokenizer .tokenizer_input_shadow {
  height: 0px;
  display: block;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
}

/* the items */
.cCombo div.data_container .item {
  background-image: url('/inc/library/components/webcombo/media/item.gif');
  background-repeat: no-repeat;
  color: black;
  white-space: nowrap;
}

.cCombo div.data_container .item span {
  background-image: url('/inc/library/components/webcombo/media/item.gif');
  background-position: top right;
  background-repeat: no-repeat;
  display: block;
}

.cCombo div.data_container .item span span {
  background-position: bottom right;
}

.cCombo div.data_container .item span span span {
  background-position: bottom left;
}

.cCombo div.data_container .item span span span span {
  background-image: none;
  padding: 2px 3px 2px 5px;
}

.cCombo div.data_container.tokenizer_locked .item span span span span {
  padding-right: 5px;
}

html .cCombo div.data_container_locked .item:hover,
html .cCombo div.data_container_locked .item:hover span {
  background-image: url('/inc/library/components/webcombo/media/item.gif');
}

.cCombo div.data_container .item:hover,
.cCombo div.data_container .item:hover span {
  background-image: url('/inc/library/components/webcombo/media/item_hover.gif');
  text-decoration: none;
}

.cCombo div.data_container .item_selected,
.cCombo div.data_container .item_selected span,
.cCombo div.data_container .item_selected:hover,
.cCombo div.data_container .item_selected:hover span {
  background-image: url('/inc/library/components/webcombo/media/item_selected.gif');
  color: white;
  text-decoration: none;
}

.cCombo div.data_container .item span.x,
.cCombo div.data_container .item span.x_hover,
.cCombo div.data_container .item:hover span.x,
.cCombo div.data_container .item:hover span.x_hover {
  background-image: url('/inc/library/components/webcombo/media/item_x.gif');
  background-position: 4px 2px;
  cursor: pointer;
  display: inline;
  padding: 0px 6px 0px 5px;
}

.cCombo div.data_container.tokenizer_locked .item span.x,
.cCombo div.data_container.tokenizer_locked .item span.x_hover {
  display: none;
}