.heading {
    padding:45px 0 27px 0;
}
 
.heading div { 
    font-size: 24px;
}

.mc .item,
.quiz-dd-drag {
    background-color: white;
    margin-bottom: 2px;
    border-radius: 4px;
    padding: 15px;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.quiz-dd-drag {
    padding: 5px 15px;
}

.quiz-dd-drag.dragging {
    opacity: 0.6;
}

.dark.outer {
    padding:28px 0;
}

.mc .box {
    width: 18px;
    height: 18px;    
    line-height: 16px;
    border-radius: 2px;
    border: 2px solid #425563; 
    cursor: pointer;
}

.mc .box i {
    display: none;
}

.mc .box.checked {
    background-color: #425563;
}

.mc .box.checked i {
    display: inline-block;
}

.mc .material-icons {
    color:white;
    font-size: 14px;
    font-weight: bold;
}

.mc .text {
    width:100%;
    margin: -2px 20px 0 20px;
}

.heading .number,
.heading .title,
.heading .title-container {
    display: table-cell;
}

.heading .number>div { 
    color: white; 
    font-weight: bold;
    background-color: #cfccd2;
    border-radius: 24px;
    width: 47px;
    height: 47px;
    text-align: center; 
    padding-top: 5px;
}

.heading .title-container {
    padding-left: 20px;
    padding-top: 6px;
    font-weight: 100;
}

.heading .intro {
    font-size: 18px;
    padding-top: 5px;
}

.heading .intro a {
    color:#509e2f;
}
  
.buttons {
    padding: 38px 0 38px 0;
}

.mc .item {
    cursor: pointer;
}

.mc .item.correct, .dd .quiz-dd-drag.correct {
    background-color: rgba(80, 158, 47, 0.32);
}

.dd .quiz-dd-drag.incorrect {
    background-color: rgba(206, 126, 126, 0.32);
    opacity: 0.3;
    text-decoration: line-through;
}

.dd {
    display: flex;
}

.dd>div {
    flex: 1 0 0px;
}

.dd .drags {
    margin-right: 10px;
}

.dd .drops {
    margin-left: 10px;
}

.quiz-dd-drag {
    cursor: move;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.08);
}

.quiz-dd-drag .text {
    width:340px;
}

.submitted .quiz-dd-drag, .submitted.quiz .mc .box {
    cursor:default;
}

.dd .drop {
    background-color: #e1e5e7;
    border-radius: 4px;
    padding: 2px 10px 10px 10px;
    margin-bottom: 2px;
}

.dd .drop .drop-zone {
    background-color: #edeff1;
    min-height: 12px;
    border-radius: 4px;
}

.dd .drop > .text {
    text-transform: uppercase;
    text-align: center; 
}

.rubber {
    height: 6px;
    border-top: 2px solid #cfccd2;
    border-bottom: 2px solid #cfccd2;
    width: 16px;
    margin-right: 17px;
}

.buttons .links {
    padding-top: 10px;
}

.buttons .links a {
    padding-left: 10px;
    text-decoration: none;
}

.score {
    color:#425563;
    font-size: 24px;
    font-weight: 100;
    padding: 5px 0 0 30px; 
}