<div class="quiz" [ngClass]="{finaltest:IsFinalTest,submitted:IsSubmitted}" [attr.id]="'content-' + Content.ObjectID">
	<h1 class="container" [innerHTML]="GetTitle()" *ngIf="PlayerService.PrintRequest"></h1>
	<div *ngFor="let question of Questions; let i = index;" class="problem" [hidden]="CurrentQuestion > -1 && i != CurrentQuestion">
		<div class="container heading">
			<div class="number"><div>{{i+1}}</div></div>
			<div class="title-container">
				<div class="title" [innerHTML]="GetQuestionText(question)"></div>
				<div class="intro" [innerHTML]="GetIntroText(question)"></div>
			</div>
		</div>		
		<div class="dark outer">		
			<div class="container" (click)="question.showanswers=false;" (mousedown)="question.showanswers=false;" >
				<div *ngIf="question['@type']=='draganddrop'" class="dd" >
					<div class="drags app apps-container" [id]="'quiz-dd-' + i" [uiSortable]="sortableOptions" [(ngModel)]="question.UnusedOptions" ngDefaultControl>
						<div class="quiz-dd-drag" *ngFor="let index of DDGetUnusedOptions(question)" [ngClass]="{'incorrect':IsDDCorrect(question,index,'')==-1 && ShowAnswers(question), 'correct':IsDDCorrect(question,index,'')==1 && ShowAnswers(question)}">
							<div class="rubber"></div><div class="text">{{DDGetDragText(question, index)}}</div>
						</div>
					</div>
					<div class="drops" >
						<div class="drop" *ngFor="let target of question.targets.target" >
							<div class="text">{{target['#text']}}</div>
							<div class="app apps-container" [id]="'quiz-dd-' + i" [uiSortable]="sortableOptions" [(ngModel)]="question.Answer[target['@id']]" ngDefaultControl>								
								<div class="quiz-dd-drag" *ngFor="let index of DDGetTargetOptions(question, target['@id'])" [ngClass]="{'incorrect':IsDDCorrect(question,index,target['@id'])==-1 && ShowAnswers(question), 'correct':IsDDCorrect(question,index,target['@id'])==1 && ShowAnswers(question) }">
									<div class="rubber"></div><div class="text">{{DDGetDragText(question, index)}}</div>
								</div>	
							<div class="drop-zone"></div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="question['@type']=='multiplechoice'" class="mc">
					<div *ngFor="let option of question.answers.answer" class="item clearfix" (click)="ToggleOption(question,option)" [ngClass]="{'correct':IsOptionCorrect(question,option) && ShowAnswers(question)}">
						<div class="box" [ngClass]="{'checked':IsOptionChecked(question,option)}"><i class="material-icons">check</i></div>
						<div class="text">{{option['#text']}}</div>
					</div>			
				</div>
				<div class="buttons" *ngIf="!IsFinalTest || IsSubmitted">					
					<button *ngIf="!IsFinalTest" (click)="QuizCheckAnswer(question)" class="btn btn-primary pull-left">{{ 'QUIZ.CHECK_ANSWER' | translate }}</button>
					<div class="score pull-left" *ngIf="(!IsFinalTest && question.Answer.Score!=null) || IsSubmitted">{{question.Answer.Score || 0}}{{ 'QUIZ.CORRECT' | translate }}</div>
					<div class="pull-right links" *ngIf="!IsFinalTest">
						<a *ngIf="question.Answer.Score!=null" (click)="QuizShowAnswers(question, $event)">
							<span *ngIf="!ShowAnswers(question)">{{ 'QUIZ.SHOW_ANSWERS' | translate }}</span>
							<span *ngIf="ShowAnswers(question)">{{ 'QUIZ.HIDE_ANSWERS' | translate }}</span>
						</a>
						<a (click)="QuizRestart(question)">{{ 'QUIZ.RESTART' | translate }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>