﻿<%@ Page Title="Metier Oracle Backup and Restore" Language="C#" MasterPageFile="~/inc/master/default.master" AutoEventWireup="true" Inherits="inc_pages_error_page" Codebehind="error_page.aspx.cs" %>
<asp:Content ContentPlaceHolderID="c1" Runat="Server" Navigation="">
<span class="register">
<div align="center">

</div>
<br>
<br>
<br>
<div style="float:right; border:2px solid silver; padding:4px">
    <img src="../inc/images/error.jpg" />
    <br><i>I'm on it!</i>
</div>
<h1>An error has occured</h1>

Our IT staff has been notified, and will attempt to correct it as soon as possible.

<br clear="all" />
<br />
</span>
</asp:Content>