/*
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
*/


/* General */

#exam2 * {
    background-repeat: no-repeat;
}

#exam2 a {
    color: #333;
}

#exam2 a:hover {
    text-decoration: none;
    color: #333;
}

#exam2 .body {
    background-color: #fff;
    /*background-color: #000;*/
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

#exam2 #page-container {
    position: relative;
    min-height: 100vh;
}

#exam2 h1 {
    font-size: 30px;
    font-weight: bold;
}

#exam2 h2 {
	font-size: 20px;
	line-height: 1.5;
    font-weight: bold;
}

#exam2 h4 {
    font-size: 17px;
    font-weight: bold;
}

#exam2 h6 {
    font-size: 12px;
    font-weight: bold;
}

#exam2 .padding-0 {
    padding: 0 !important;
}

#exam2 .content {
    padding: 44px 24px 10px;
    padding-bottom: 7rem;
    /* Footer height */
    /* min-height: 100vh; */
}

#exam2 .exam.body.overview .content{
	padding-top: 0;	
}

#exam2 .link {
    color: #853764;
}

#exam2 footer {
    position: absolute;
    bottom: 0;
    height: 1.5rem;
    /* Footer height */
    width: 100%;
}

#exam2 footer>div.bottom {
    height: 5px;
    background-color: black;
    width: 134px;
    margin: 0 auto;
    border-radius: 10px;
    display: block;
}

#exam2 footer.single-line {
    height: 3.5rem;
    /* Footer height */
}

#exam2 footer.button-line {
    height: 5.5rem;
    /* Footer height */
}

#exam2 footer.button-line .buttons {
    text-align: right;
    margin-right: 24px;
    margin-bottom: 29px;
}

#exam2 footer .row {
    padding: 0 24px 30px;
}

#exam2 footer a, #exam2 footer a:hover {
    color: #71004b;
}

#exam2 .dropdown .fa-angle-down,
#exam2 .dropup .fa-angle-down {
    position: absolute;
    top: -3px;
}

#exam2 .dimmed {
    color: #777777;
}

#exam2 .text-alert {
    color: #d02e33;
}

#exam2 .list .row {
    padding: 10px 0;
}

#exam2 .list .divider {
    margin-bottom: 10px;
}

#exam2 .icon.small {
    height: 10px;
    position: relative;
    top: -2px;
}


/* Header */

#exam2 .header .date {
    color: #777777;
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 5px;
}

#exam2 .header .profile {
    font-size: 16px;
    font-weight: bold;
    border-radius: 16px;
    background-color: #333333;
    padding: 8 10px;
}

#exam2 .header .profile #profileDropdown {
    color: white !important;
}

#exam2 .header .profile #profileDropdown.active::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 100;
    width: 13px;
    height: 13px;
    border: solid 1.9px #ffffff;
    background-color: #61d41e;
    border-radius: 10px;
    top: 22px;
    left: 19px;
}

#exam2 .dropdown-menu {
    border-radius: 8px;
    box-shadow: 0 8px 24px 0 rgba(152, 158, 189, 0.16);
    background-color: #ffffff;
    border: 0;
}

#exam2 .dropdown-item {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 14px;
    display: block;
}

#exam2 .dropdown-item img,
.dropdown-item i {
    position: relative;
    top: -2px;
    padding-right: 15px;
}

#exam2 .dropdown-item i {
    font-size: 16px;
    top: 1px;
}

#exam2 .header .banner {
    border-radius: 16px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    margin: 20px 0 0 0;
}

#exam2 .header .banner .banner-text {
    padding: 20px 24px 24px 24px !important;
    float: left;
    width: 100%;
}

#exam2 .header .banner .banner-image {
    /*margin:0 -10px 0 -10;*/
    background-size: cover;
    background-position: center;
	/* height: 140px; */
	height: 180px;
    border-radius: 16px;
    float: left;
    width: 100%;
    /* background-repeat: no-repeat; */
}

#exam2 #header-icons i {
    position: relative;
    /* font-size: 16px; */
    /* top: 0px; */
}

#exam2 #header-icons .fa-history {
    padding-right: 20px;
    top: -10px;
}

#exam2 #header-icons .fa-ellipsis-v {
    top: -5px;
}


/* Main content elements */

#exam2 .main {
    margin-top: 30px !important;
}

#exam2 .main .course-container {
    margin: 0px;
    padding-top: 10px;
}

#exam2 .main .course {
    border-radius: 16px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 20px 24px 24px 24px;
    cursor: pointer;
}

#exam2 .main .course .sub-heading {
    font-size: 13px;
    font-weight: 600;
    color: #777777;
    padding-bottom: 12px;
}

#exam2 .progress-circle {
    border: 3px solid #eeeeee;
    padding: 8px;
    border-radius: 20px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color: #777777;
}

#exam2 .info-row {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
}

#exam2 .info-row>div {
    flex-grow: 1;
    /* border-left: 8px solid transparent; */
    /* border-right: 8px solid transparent; */
    background-clip: padding-box;
    /* text-align: center; */
    flex-basis: 0;
    margin: 0 8px;
    padding-top: 5px;
    height: 64px;
    border-radius: 8px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#exam2 .info-row label {
    display: block;
}

#exam2 .alert-good {
    background-color: rgba(0, 177, 143, 0.16) !important;
}

#exam2 .alert-bad {
    background-color: rgba(208, 46, 51, 0.16) !important;
}

#exam2 .button-row {}

#exam2 .btn.btn-primary,
#exam2 .btn.btn-primary:active,
#exam2 .btn.btn-primary:hover {
    border-radius: 4px;
    background-color: #71004b !important;
    -webkit-font-smoothing: none;
}

#exam2 .btn.btn-secondary,
#exam2 .btn.btn-secondary:active,
#exam2 .btn.btn-secondary:hover {
    background-color: transparent !important;
    color: #777777 !important;
}

#exam2 .btn {
    font-size: 13px;
    /* font-weight:bold; */
    border: 0 !important;
    font-weight: 700;
    padding: 13px 20px;
}

#exam2 .divider {
    height: 1px;
	background-color: #eeeeee;
	clear: both;
}

#exam2 a.disabled {
    cursor: default;
    color: #eeeeee;
}

#exam2 a.disabled:hover {
    color: #eeeeee;
}

#exam2 .clickable{cursor: pointer;}

/* PAGE SPECIFIC */

#exam2 .body.welcome {
    background-color: #fcfcfc;
}

#exam2 .body.welcome .banner-image {
    background-image: url('../images/banners/welcome.png');
}

#exam2 .body.welcome #showIntro {
    display: none;
}

#exam2 .body.exam .banner-image {
    background-image: url('../images/banners/test.png');
}

#exam2 .course-heading {
	padding-bottom: 14px;
}
#exam2 .body.exam .course-heading {
    padding-bottom: 24px;
}

#exam2 .body.exam .course-details {
    padding-top: 24px;
    line-height: 1.69;
}

#exam2 .body.exam .info-row {
    padding-top: 24px;
}

#exam2 .body.exam .button-row {
    padding-top: 38px;
}

#exam2 .body.exam .header {}
#exam2 .body.exam .attempt
{
	clear: both;
}
#exam2 .body.exam .attempt .btn
{
	color: #fff;
    font-weight: normal;
    padding: 4px 10px;
    margin-right: 10px;
    position: relative;
	top: -7px;
	font-size: 12px;
}

#exam2 .body.exam-question .main {
    margin-top: 0 !important;
}

#exam2 .body.exam-question .course-heading {
    padding-bottom: 20px;
}

#exam2 .body.exam-question .list label {
    display: inline-flex;
}

#exam2 .body.exam-question .rationale {
	padding: 20px;
	border-radius: 8px;
	background-color: rgba(0, 177, 143, 0.16) !important;
}

/** SECTION 1 **/


/* Hide the OS/Browser checkboxes/radio buttons */

#exam2 input[type=checkbox],
#exam2 input[type=radio] {
    visibility: hidden!important;
    margin: 0!important;
	width: 0!important;
	display: block;
}


/* Set Font Awesome font, size, & positioning for the checkboxes/radio buttons plus the cursor on hover */

#exam2 input[type=checkbox]+label:before,
#exam2 input[type=checkbox]+span:before,
#exam2 input[type=radio]+label:before {
    visibility: visible;
	font-family: "Font Awesome 5 Pro" !important;
	/*font-family: "FontAwesome"!important;*/
    font-size: 25px;
    position: relative;
    top: -8px;
    padding-right: 12px;
}

#exam2 .option:not(.disabled) input[type=checkbox]+label:hover,
#exam2 .option:not(.disabled) input[type=checkbox]+span:hover,
#exam2 .option:not(.disabled) input[type=radio]+label:hover {
    cursor: pointer;
}


/** SECTION 2 **/


/* Set checkbox to FA icons: normal, hover, checked, & checked hover */

#exam2 input[type=checkbox]+label:before,
#exam2 input[type=checkbox]+span:before {
    content: '\f096'!important;
}

#exam2 input[type=checkbox]+label:hover:before,
#exam2 input[type=checkbox]+span:before {
    content: '\f046';
    filter: alpha(opacity=20);
    opacity: 0.2;
}

#exam2 input[type=checkbox]:checked+label:before,
#exam2 input[type=checkbox]:checked+span:before {
    content: '\f046'!important;
}

#exam2 input[type=checkbox]:checked+label:hover:before,
#exam2 input[type=checkbox]:checked+span:hover:before,
input[type=checkbox]:checked+label:before,
#exam2 input[type=checkbox]:checked+span:before {
    filter: alpha(opacity=100);
    opacity: 1;
}


/* Set radio buttons FA icons: normal, hover, checked, & checked hover */
#exam2 .option.disabled
{
	opacity: 0.7;
}
#exam2 input[type=radio]+label:before {
    content: '\f111'!important;
    font-weight: 100;
    color: #71004C;
    /* font-family: "Font Awesome 5 Strong"; */
    font-family: "Font Awesome 5 Pro";
}
#exam2 .reviewMode .correct input[type=radio]+label:before {
	/*color: #0ea10e;*/
	color: rgba(0, 177, 143, 1) !important;
}

#exam2 .reviewMode .incorrect input[type=radio]:checked+label:before {    
	color: #00004b !important;
	opacity: 0.6;
    /* font-weight: bold; */
}
/* X that appears on top of incorrect answer given by user */
#exam2 .reviewMode .incorrect input[type=radio]:checked+label:after {
    content: '\f00d'!important;
    position: absolute;
    font-size: 35px;
    font-family: "Font Awesome 5 Pro";
	top: -3px;
    opacity: 0.5;
    font-weight: 100;
    left: 15px;
}
/*
#exam2 .option:not(.disabled) input[type=radio]+label:hover:before {
    content: '\f192'!important;
    filter: alpha(opacity=20);
    opacity: 0.2;
}
*/
#exam2 input[type=radio]:checked+label:before {
	/*content: '\f192'!important;*/
	font-weight: 900;
    color: #71004b;
    /* font-weight: bold; */
}

#exam2 input[type=radio]:checked+label:hover:before {
    filter: alpha(opacity=100);
    opacity: 1;
}

#exam2 #addToCheckLater.active::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 100;
    width: 13px;
    height: 13px;
    border: solid 2.9px #ffffff;
    background-color: #5470ff;
    border-radius: 10px;
    top: 16px;
    left: 14px;
}

#exam2 #hoverMessage {
    position: absolute;
    height: 18px;
    top: 0;
    width: calc(100% - 40px);
    padding: 14px;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    min-height: 48px;
    border-radius: 4px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.06);
    background-color: #5470ff;
    margin: 90px 20px;
    z-index: 100;
}

#exam2 #questionNav .dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    min-width: 85px;
}

#exam2 #questionNav .dropdown-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}

#exam2 #questionNav .dropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 31px;
    background-color: #333333;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .75);
}

#exam2 #questionNav .nav-label,
#exam2 #questionNav .bullet {
    float: left;
    /* display: inline-block; */
}

#exam2 #questionNav .nav-label {
    width: 25px;
    left: -5px;
}

#exam2 .bullet {
    width: 6px;
    height: 6px;
    margin: 6px 2px;
    border-radius: 6px;
}

#exam2 .bullet.orange {
	background-color: #5470ff;
	/*background-color: #e87722;*/
}

#exam2 .bullet.red {
	/*background-color: #d02e33;*/
	background-color: red;
}

#exam2 .dropdown .bullet {
    position: relative;
    top: 4px;
    margin-right: 7px;
    display: inline-block;
}

#exam2 #questionFilterDropdown .dropdown-item:not(.active) .fa-check {
    display: none;
}

#exam2 #questionFilterDropdown .dropdown-item:not(.active) {
    padding-left: 45px;
}

#exam2 #backdrop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: #00000024;
}

#exam2 .dropdown-item.active {
    background-color: unset;
    color: #00b18f;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    #exam2 .body {
        color: #1e2650;
        font-family: 'CircularStd', sans-serif;
        font-size: 14px;
        font-weight: 100;
    }
    #exam2 .body.welcome .banner-image {
        background-image: url(../images/banners/welcome-desktop.png);
    }
    #exam2 .body.welcome .header .banner .banner-image {
        background-size: contain;
        border-radius: 0;
        width: 339px;
        height: 227px;
        /* height: unset; */
        float: right;
        margin-right: calc((100vw - 1154px)/2);
    }
    #exam2 .header .banner .banner-image {
        width: 33%;
    }
    #exam2 .header .banner .banner-text {
        width: 66%;
    }
    #exam2 .body.welcome .header .banner h4 {
        font-size: 48px;
    }
    #exam2 .body.welcome .header .banner-text {
        font-size: 18px;
        max-width: 800px;
    }
    #exam2 .body.welcome #showIntro {
        display: block;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 400;
    }
    #exam2 footer>div.bottom {
        display: none;
    }
    #exam2 .header .banner {
        border-radius: 20px;
        box-shadow: 0 8px 24px 0 rgba(152, 158, 189, 0.16);
        padding: 80px 20px;
    }
    #exam2 .btn.btn-primary,
    #exam2 .btn.btn-primary:active,
    #exam2 .btn.btn-primary:hover {
        background-color: #ae318f !important;
        border-radius: 23px;
    }
}

#exam2 .clock, #header-icons, #header-icons a, #header-icons a:hover{
	color: #71004C;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}