#cStatus, .cStatus{
border: 1px solid #FFE2AF;
position:absolute;
padding: 4px;
text-align: center;
font-weight: bold;
background-color: rgb(255, 249, 215);
width: 400px;
}

table.account-settings {
border-collapse: collapse;
width: 100%;	
}

table.account-settings th,
table.account-settings td {
text-align: left;	
border: 1px solid #e5e5e5;	
padding: 5px 10px;
}
table.account-settings th { width: 25%; }
table.account-settings td { width: 75%; }

table.account-options td {
font-size: 12px;
width: 33%;
padding: 5px 10px;
vertical-align: top;
}

table.account-options td a {
font-weight: bold;
font-size: 13px;
}



table.listing {
width: 100%;
margin-bottom: 25px;
border: 1px solid #ccc;
border-right: none;
border-bottom: none;
border-collapse:collapse;
}

table.listing table.no-pad,
table.listing table.no-pad td { border: 0; margin: 0; padding: 0; }

table.listing td {
padding: 8px 0 8px 10px;
border: 1px solid #ccc;
border-top: none;
border-left: none;
border-bottom: none;
font-size: 11px;
}	
table.listing label {
font-weight: bold;
display: block;
}		
table.listing .approval-info label {
display: inline;
}		
table.listing textarea,
.raGroup textarea {
margin-top: 5px;
width: 150px;
height: 70px;
display: block;
padding: 3px;
margin-bottom: 5px;
border:2px solid #DDDDDD;
}
table.listing textarea:hover,
table.listing textarea:focus,
.raGroup textarea:hover,
.raGroup textarea:focus  {
	border-color:#BBBBBB;
}
table.listing tr.even {}
table.listing tr.odd td { background-color: #eee; }

table.listing  ul {
margin: 0; padding: 0;
list-style: none;
}
table.listing  ul li {
margin: 0 0 0 15px;
padding: 0;
}			
table.listing tr.new td,
table.listing tr.update td {
vertical-align: top;
background-color: #F1FFE6;
border-bottom: 1px solid #ffe2af;
}
table.listing td.customer { font-weight: bold; }
table.listing tr.new td.customer, 
table.listing tr.update td.customer { font-weight: normal; padding-right: 0; }	

table.listing tr.new td td, 
table.listing tr.update td td { vertical-align: top; border: 0; }

table.listing td.remove div {
width: 23px;
}
td.remove a { 
width: 23px;
display: block;
padding: 0; background-color: transparent;
}

table.listing .date,
table.listing .manufacturer,									
table.listing .model,
table.listing .serial-number,						
table.listing .submitter,
table.listing .location,
table.listing .contact,
table.listing .contract { 
white-space: nowrap; 
border-left: none;
}
table.listing tr.actions {
background: #EBEBEB url(../../images/icons/bg-th.gif)  repeat-x scroll 0pt 100%;
color: #222;
text-align: left;
height: 24px;
vertical-align: middle;
white-space: nowrap;
}
table.listing tr.actions td { border-top: 1px solid #ccc; }
table.listing tr.actions td td { border: none; padding-right: 15px; background: transparent; background-image: none; }
table.listing tr.actions td table { }
table.listing tr.actions td.export { text-align: right; padding-right: 10px; }

table.listing tr.actions table { width: 100%; }
table.listing tr.actions td { white-space: nowrap; }
table.listing tr.actions td.paging {
text-align: right; 
width: 100%;
padding-right: 0;
}

table.listing button { font-size: 11px; }

table.listing th, table.listing tr.header td {
text-transform: uppercase;
white-space: nowrap;
font-weight:bold;
font-size: 1em;
background:#08AE29;
color:#fff;
padding: 8px 5px 8px 10px;
text-align:left;}

table.assets th{ 
border-top: 1px solid #fff; 
border-bottom: 1px solid #fff;
background-color: #444; 
font-size: 11px; 
padding: 2px 0; 
}
table.assets .details th { 
color: #fff; 
padding: 7px 11px;				
}
table.assets th a { 
display: block; 
color: #ccc;
padding: 5px 11px;
text-decoration: none;	
}
table.assets th a:hover,table.assets th a.active.up:hover {
color: #fff;
background: transparent url('../../images/icons/sort-down-white.gif') 95% 50% no-repeat;
}
table.assets th a.active.down:hover 
{
background: #666 url('../../images/icons/sort-up-white.gif') 95% 50% no-repeat;				
}
table.assets th a.active { 
color: #fff; 
border-top: 1px solid #333; 
border-left: 1px solid #333;
border-right: 1px solid #999;
border-bottom: 1px solid #999;		
background-color: #666;
padding: 4px 10px;
}

table.assets th a.active.down {
background: #666 url('../../images/icons/sort-down-white.gif') 95% 50% no-repeat;				
}
table.assets th a.active.up {
background: #666 url('../../images/icons/sort-up-white.gif') 95% 50% no-repeat;				
}
table.assets th a.active.down:hover {
color: #fff;
background-color: #555;
}	

table.listing select { margin-bottom: 0; }

table.listing tr .text { width: 50px; }
table.listing tr .text.daterangepicker { width: 80px; }
table.listing tr.editing .text{ width: 70px; }

table.listing tr.add td.manufacturer br { display: block; margin-bottom: 5px; }

table.assets tr.editing td.manufacturer br { display: block; margin-bottom: 3px; }

table.listing tr.add td.manufacturer-model br { display: none; }
table.listing tr.add td.manufacturer-model select { display: block; margin-bottom: 3px; }

table.listing tr.filter td.manufacturer select { width: 110px; }
table.listing td.manufacturer .text { width: 100px; }
table.listing .jgrid-row td{color:Black;}

table.listing.assets tr.add td { background-color: #444; }
table.assets tr.filter td.manufacturer * { display: block; }
table.assets tr.filter td.manufacturer select { margin-bottom: 3px; }

table.assets tr.add td.functions a:hover,
table.assets tr.filter td.functions a:hover,
table.assets tr.filter td.device-info a:hover { color: #fff; background-color: #ff0000; }
table.listing tr.filter input.button { margin: 0; padding-left: 2px; padding-right: 2px;}
table.listing tr.filter td.location { padding-left: 10px; }
table.listing tr.filter td td { border: none; padding: 0; }
table.listing tr.filter td, table.listing tr.add td { 
	border: none; 
	border-bottom: 1px solid #999; 
	background-color: #e5e5e5; 
	vertical-align: top; 
}

table.listing tr.filter td.functions { border-right: 1px solid #ccc; text-align: right; }
table.listing tr.filter:hover td { background-color: #e5e5e5; }
table.listing tr.filter td.device-info { border-right: 1px solid #ccc;}

table.listing td.status-icon,
table.listing td.contract-icon { padding-right: 0; border-right: none;}
table.listing td.status,
table.listing td.contract	 { padding-left: 5px; }

table.listing tbody tr:hover td {
background-color: #F1FFE6;
cursor: arrow;
}

table.listing tbody tr:hover td .jgrid {
background-color: #fff;
cursor:auto;
}
.jgrid
{
    background-color:White;
}

table.listing tbody tr:hover td td,

table.listing td, table.listing th { padding-right: 10px; }
table.listing td a { white-space: nowrap; }
table.listing td.functions {
	font-size: 11px;
	text-align: right;
	width: 100%;
	padding-right: 10px;
	white-space: nowrap;
}
table.assets td.functions{ width: auto; }
table.assets td.functions table{ float: right; }
table.listing td.functions a { color: #ff0000; }
table.listing td.functions a:hover { color: #fff; background-color: #ff0000;} 

table.assets td.functions a:hover,
table.assets td.contract a:hover { background: none; }

table.listing img.loading { vertical-align: middle; }

table.listing caption {
font-size: 14px;
text-align: left;
padding: 8px 10px;
background-color: #1E9F36;
color: #fff;
font-weight: bold;
}

table.listing td.left { font-weight: bold; }
table.listing tr.new td.left, 
table.listing tr.update td.left { font-weight: normal; padding-right: 0; }	

table.listing tr.new td td, 
table.listing tr.update td td { vertical-align: middle; border: 0; }

table.listing a.cancel{ padding-top:5px }
table.listing span.all { text-transform: uppercase; }
table.listing span.additional { font-size: 10px; }

table.listing td.manufacturer-model { padding-right: 23px; }
table.listing td.manufacturer-model a { white-space: nowrap; }
span.manufacturer { font-weight: bold; }			
table.listing td.right {
font-size: 11px;
text-align: right;				
padding-right: 10px;
white-space: nowrap;
}
table.listing td.right a { color: #ff0000; }
table.listing td.right a:hover { color: #fff; background-color: #ff0000;} 



table.listing tr.odd.details td,
table.listing tr.even.details td {
	border: none;
	border-top: 1px solid #444;	
	white-space: nowrap;
}

table.listing tr.details td.functions,
table.listing tr.details.detail td { border-right: 1px solid #ccc; }

table.listing tr.details td.checkbox {
	border-right: 1px solid #444;
}
table.listing tr.detail td.checkbox { border-right: none !important; }
table.listing tr.odd.details td.checkbox,
table.listing tr.even.details td.checkbox {	
	border-bottom: none;
}
tr.detail td {padding: 8px 0 8px 0; background-color: #f5f5f5; border-bottom: 1px solid #c4c7c3; border-top: 1px solid #989997;}
tr.detail h3 { font-size: 9px; font-weight: bold; text-transform: uppercase; }
table.listing tbody tr.detail:hover td { background-color: #f5f5f5; }

table.assets tr.details.odd.selected td,
table.assets tr.details.even.selected td {
	background-color: #161714;
}

table.assets tr.details.editing td {
	vertical-align: top !important;
}
table.assets tr td { cursor: pointer; }
table.assets thead td,
table.assets tr.details td,
table.assets tr.add td,
table.assets tr.filter td {
	cursor: default;
}
table.listing tr.details td.functions a,
table.listing tr.details td.functions a:hover {
	color: #ccc;
}
table.assets tr.editing td.functions a:hover { background-color: #666 !important; color: #fff !important; }
		
table.listing tr.details.detail h3 {
	font-size: 13px;
	margin-bottom: 3px;
}
table.listing tr.details.detail p {
	margin-bottom: 15px;
}
table.listing tr.details.detail td { padding: 10px; }
table.listing tr.details.detail table {
	margin-bottom: 10px;
	border-left: 1px solid #ccc;
}
table.listing tr.details.detail table td {
	padding: 8px 10px;
	border-color: #ccc;
}
table.listing tr.decline td, table.listing tr td.decline{
background-color: #f1caca;
}
table.assets tr.odd.selected td,
table.assets tr.even.selected td,
table.assets tr.selected td
table.assets tr.selected td:hover {
	background-color: #ccffc7;
}
#tableTopRow h2 { margin-bottom: 0; }
#tableTopRow .paging a:hover { background-color: #111; }


tr.grid-heading th
{
    padding:7px 10px;
}

/************************\
   	INFOBAR
\************************/
.infobar{
	left:				-15px;	
	top:				-10px;
	margin-right:       -30px;
	position:			relative;	
	z-index:			9997;
}
.admin .infobar{
	left:				0;	
	top:				0;
	margin-right:       0;	
}

.infobar-bar{
	border-bottom:		1px solid #696969;
}
.infobar-bar div{
	background:			InfoBackground url("../../images/icons/shield-help.png") no-repeat fixed 5px 3px;
	border-bottom:		1px solid #a0a0a0;
	color:				InfoText;
	cursor:				default;
	display:			block;
	font:				message-box;
	padding:			4px 25px 4px 25px;
}
.infobar-bar.exclamation div{
	background-image:	url("../../images/icons/shield-exclamation.png");
}
.infobar-bar.error div{
	background-image:	url("../../images/icons/shield-error.png");
}
.infobar-bar.help div{
	background-image:	url("../../images/icons/shield-help.png");
}
.infobar-bar.ok div{
	background-image:	url("../../images/icons/shield-ok.png");
}
.infobar-bar.warning div{
	background-image:	url("../../images/icons/shield-warning.png");
}
.infobar-bar div.hover, .infobar-bar div:hover {
	background-color:	Highlight;
	color:				HighlightText;
}
.infobar-bar input {
	background:			none;
	border:				none 0;
	color:				InfoText;
	font:				bold 15px "OCR A Std";
	height:				26px;
	margin:				0;
	padding:			0 0 1px 0;
	position:			absolute;
	right:				0;
	top:				0;
	width:				24px;
}
.infobar-bar.hover input, .infobar-bar:hover input {
	color:				HighlightText;
}

.infobar-menu{
	background:			#f5f5f5;
	border:				1px solid #979797;
	color:				InfoText;
	cursor:				default;
	font:				message-box;
	left:				100px;
	margin:				0;
	padding:			2px;
	position:			absolute;
	top:				100px;
	width:				auto;
	white-space:		nowrap;
	z-index:			9998;
}
.infobar-menu th, 
.infobar-menu td{
	background:			#f1f1f1;
	height:				24px;
	margin:				0;
	padding:			0 5px;
	text-align:			left;
}
.infobar-menu th{
	width:				20px;
}
.infobar-menu img{
	height:				16px;
	width:				16px;
}
.infobar-menu .dividerH{
	background-color:	white;
	border-left:		1px solid #e0e0e0;
	font-size:			0;
	line-height:		0;
	padding:			0;
	width:				1px;
}
.infobar-menu .dividerV th, .infobar-menu .dividerV td {
	font-size:			0;
	height:				0;
	line-height:		0;
}
.infobar-menu .dividerV td {
	border-bottom:		1px solid white;
	border-top:			1px solid #e0e0e0;
}
.infobar-menu .dividerV td div{
	height:				0;
}

.infobar-menu tr.hover th, .infobar-menu tr:hover th {
	background:			#f1f1f1 url("/images/menu-bg-hover-left.jpg") no-repeat center left;
}
.infobar-menu tr.hover td, .infobar-menu tr:hover td {
	background:			#f1f1f1 url("/images/menu-bg-hover-right.jpg") no-repeat center right;
	color:				InfoText;
}
.infobar-menu tr.hover td.dividerH, .infobar-menu tr:hover td.dividerH {
	background:			white url("/images/menu-bg-hover-mid.jpg") repeat-x center center;
}
.infobar-menu tr.hover.dividerV th, .infobar-menu tr.hover.dividerV td, .infobar-menu tr.dividerV:hover th, .infobar-menu tr.dividerV:hover td{
	background-image:	none;
}