
    <link *ngIf="IsNotPrintView()"
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet"
    />
  <link *ngIf="IsNotPrintView()"
    href="https://fonts.googleapis.com/css?family=Open+Sans"
    rel="stylesheet"
  />

  <script *ngIf="IsNotPrintView()"
    type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbOEAFHa_G_F0SpNfWkVEYdGsBHX2CvAY"
    defer
  ></script>
  <script src="https://backpack.openbadges.org/issuer.js"></script>

  <script type="text/javascript" *ngIf="IsNotPrintView()">
    window.onbeforeunloadPrompt = false;
    window.onbeforeunload = function (e) {
      if (!window.onbeforeunloadPrompt) return undefined;
      var dialogText =
        "You have an open course player window. Navigating away from this window will prevent your answers from being saved. Are you sure you want to continue?";
      e.returnValue = dialogText;
      return dialogText;
    };
  </script>

  <!-- Google Tag Manager -->
  <script *ngIf="IsNotPrintView()">
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        "gtm.start": new Date().getTime(),
        event: "gtm.js",
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-KN7S678");
  </script>
  <!-- End Google Tag Manager -->

  <router-outlet></router-outlet>