<div class="container reflection" [attr.id]="'content-' + Content.ObjectID">
<h1 [innerHTML]="GetTitle()"></h1>
<p [innerHTML]="intro"></p>
<div class="illustration"></div>
<div *ngFor="let reflection of reflections" class="reflection-item">
<div class="question"><b [innerHTML]="reflection.text"></b></div>
<div class="answer"><textarea attr.data-target="{{reflection.id}}" [(ngModel)]="ScormData.Reflections[reflection.id]" autosize placeholder="{{ 'TYPE_HERE' | translate }}"></textarea></div>
</div>
</div>