.illustration {
    float:right;
    background-image:url('../../../assets/player/img/reflection-woman.jpg');       
    height:243px;
    width:210px;
}

.question {
    color: white;
    background-color: #425563;
    width: 440px;
    font-style: italic;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    position: relative;
    margin-left: 10px;
}

.question:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #425563;
    display: block;
    width: 0;
    z-index: 1;
    left: -10px;
    top: 15px;
}

.answer {
  background-color: #eceff0;
  width: 450px;    
  padding: 10px 10px 10px 20px;
  border-radius: 8px;
  margin: 18px 0 40px 37px;
  position: relative;
}

.answer:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent #eceff0;
    display: block;
    width: 0;
    z-index: 1;
    right: -10px;
    top: 15px;
}

.answer textarea {
    background-color: transparent;
    border:0;
    width: 100%;      
    resize:none;      
}

.answer textarea:focus {
    outline:0;
}
  
.reflection-item, .quiz .problem {
    page-break-inside:avoid;
}