<div class="complete text-center" [attr.id]="'content-' + Content.ObjectID">
	<div class="container incomplete" [hidden]="PlayerService.GetScormStatus()=='completed'">
		<h1>{{ 'COMPLETE.COMPLETE_LESSON' | translate }}</h1>
		<div [innerHTML]="'COMPLETE.INSTRUCTIONS' | translate"></div>
			<a (click)="PlayerService.SetScormStatus('completed')" class="btn btn-primary">{{ 'COMPLETE.COMPLETE_BUTTON' | translate }}</a>
	</div>

	<div class="container" [hidden]="PlayerService.GetScormStatus()!='completed'">
		<h1>{{ 'COMPLETE.LESSON_HAS_BEEN_COMPLETED' | translate }}</h1>
		<div class="details" [translate]="'COMPLETE.PROGRESS'" [translateParams]="{completed: PlayerService.CompletedLessons, total: PlayerService.TotalLessons, score: PlayerService.CourseScore, maxscore: PlayerService.CourseTotalScore}">
		</div>
		<div>{{ 'COMPLETE.RETURN_LATER' | translate }}</div>
		<div class="rate">{{ 'COMPLETE.RATING_INSTRUCTIONS' | translate }}</div>
		<div class="stars">
			<label *ngFor="let value of [5,4,3,2,1]" [ngClass]="{'selected':value==ScormData.Rating}" [attr.data-value]="value">
				<input type="radio" (click)="SubmitFeedback();" name="star" [value]="value" title="{{value}} stars" [(ngModel)]="ScormData.Rating"> {{value}}
			</label>
			  
		</div>
		<a (click)="CommentClicked=true" [hidden]="CommentClicked" class="comment">{{ 'COMPLETE.COMMENT_LESSON' | translate }}</a>
		<div class="form-group" [hidden]="!(CommentClicked && !CommentSent)">
			<label>{{ 'COMPLETE.COMMENT_APPRECIATION' | translate }}</label>			
			<textarea autosize [minHeight]="60" class="form-control" [(ngModel)]="Comment" placeholder="{{ 'COMPLETE.PROMPT_LESSON_COMMENT' | translate }}"></textarea>			
			<br />
			<button (click)="SubmitFeedback(); CommentSent=true" class="btn btn-primary" [disabled]="!Comment">{{ 'COMPLETE.SEND' | translate }}</button>
		</div>
		<div [hidden]="!CommentSent">{{ 'COMPLETE.COMMENT_SENT' | translate }}</div>
		
	</div>	
	<div class="next" [hidden]="PlayerService.GetScormStatus()!='completed'">
		<a (click)="SaveAndClose()"	class="btn btn-secondary">{{ 'COMPLETE.COURSE_OVERVIEW' | translate }}</a>
		<a (click)="PlayerService.GotoLesson(PlayerService.GetNextLesson().ObjectID)" class="btn btn-primary" *ngIf="PlayerService.GetNextLesson()">{{ 'COMPLETE.NEXT_LESSON' | translate }} {{PlayerService.GetNextLesson().Name}}</a>
	</div>
	<div class="container text-left" [hidden]="PlayerService.GetScormStatus()!='completed'">
		<a (click)="PlayerService.SetScormStatus('incomplete')" class="reset">{{ 'COMPLETE.SET_INPROGRESS' | translate }}</a>
	</div>
</div>
