h1 {
 padding-top:15px;
}

.details{
    color: #425563;
    padding-bottom: 26px;
    text-transform: uppercase;
}

.rate {
    color: #425563;
    text-transform: uppercase;
    border-top: 1px solid #dadfe2;
    padding-top: 38px;
    margin-top: 36px;
}

.stars {
    padding-top:18px;
    padding-bottom:34px;
}

.stars {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 100%;
}

.stars input {
    position: absolute;
    left: -999999px;
}

.stars label {
    display: inline-block;
    font-size: 0;
}

.stars > label:before {
    position: relative;
    display: block;
    content: "\f005";
    color: #ccc; 
    background-image: url('../../../assets/player/img/google_material_icons/ic_star_border_black_24px.svg');
    width:35px;
    height:35px;
}

 .stars > label:hover:before,
 .stars > label:hover ~ label:before,
 .stars > label.selected:before,
 .stars > label.selected ~ label:before {
    color: #f0ad4e;
    background-image: url('../../../assets/player/img/google_material_icons/ic_star_black_24px.svg');
}

.comment,  a.reset {
    color:#425563;font-size:16px;
}

.next {
    background-color:#eceff0;
    padding:78px 0;
    margin:37px 0 23px 0;
}

a.reset {
  padding-bottom: 40px;
}

.incomplete .btn {
    margin:45px 0;
}