﻿<%@ Page Title="Metier Behind" Language="C#" MasterPageFile="~/inc/master/default.master" AutoEventWireup="true" Inherits="Phoenix.LearningPortal.Behind.Index" Codebehind="Index.aspx.cs" %>
<asp:Content ContentPlaceHolderID="c1" Runat="Server" Navigation="test">

<h2 class="page-title"><img src="../inc/images/icons/tools_32.png" alt="Backup and Restore Data" />Welcome to Behind</h2>
</asp:Content>