<iframe style="height: 800px;display:none" id="metierPlusIFrame" allow="fullscreen"></iframe>
<div id="metierPlusLoader" style="display: flex; align-items: center; justify-content: center; height: 1140px;">
	<div class="fa-3x">
		<i class="fas fa-plus fa-spin" style="
		color: #046472;
		display: block;
	"></i>
	</div>
	<div>
		<div class="fa-3x">
			<div style="padding-left:30px">Loading myMetier+</div>
		</div>
	</div><br>
</div>