.resize-active{
  *,
  *:before,
  *:after{
    transition: none !important;
    animation: none !important;
  }
}
body{
  -ms-overflow-style: scrollbar;
  min-width: 320px;
  @include media('>=tablet'){
    font-size: 16px;
    line-height: (19/16);
  }
}
.visual{
  img{
    @include img-styles();
  }
}
iframe{
  display: block;
  width: 100%;
}
a{
  text-decoration: none;
  transition: all 0.3s ease;
  &:before{
    transition: all 0.3s ease;
  }
  &:hover,
  &:focus,
  &:active{
    outline: none;
    text-decoration: none;

  }
}
.form-control{
  -webkit-appearance: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  display: block;
  text-overflow: ellipsis;
  outline: none;
  @include font(18, 21, 400);
  padding: 10px 12px;
  letter-spacing: 1px;
  &:focus{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-color: rgba($clr9, 0.2);
  }
}
.btn{
  transition: all 0.3s ease;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  border-radius: 6px;
  padding: 10px 12px;
  @include media('>=tablet'){
    font-size: 18px;
  }
  &.drop-link {
    background: rgba($white, 0.11);
    color: $white;
    border-color: transparent;
    position: relative;
    padding: 10px 35px 10px 40px;
    min-width: 145px;
    letter-spacing: 1px;
    text-align: left;
    outline: none;
    @include media('>=tablet'){
      padding: 12px 44px;
      min-width: 162px;
    }
    @include pseudo-element(after, 50%, 12px, auto, auto);
    &:after{
      @include triangle(10px, $white, down);
      transform: translateY(-50%);
    }
    .material-icons{
      font-size: 26px;
      position: absolute;
      top: 50%;
      left: 9px;
      display: block;
      transform: translateY(-50%);
      line-height: 1;
      color: $clr1;
      z-index: 1;
      margin: 0;
      @include pseudo-element(before, 0.1em, 0.13em, 0.1em, 0.1em);
      &:before{
        overflow: hidden;
        background: $clr9;
        border-radius: 100%;
        z-index: -1;
      }
    }
    &:hover{
      background: rgba($white, 0.22);
    }
    &:active{
      color: $white;
    }
  }
  &:hover,
  &:active,
  &:active:focus,
  &:focus,
  &:focus:active{
    outline: none;
    box-shadow: none;
  }
  .material-icons{
    @include vertical();
    margin: 1px 2px 0 0;
  }
}
.bg-stretch{
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#wrapper {
  position: relative;
  //height: 1000000px;
  overflow: hidden;
}
#main{
  position: relative;
  @extend %clearfix;
}
h1{
  color: $clr1;
  margin: 0 0 15px;
  @include font(28, 32, 700);
  @include media('>=phone'){
    @include fontsize(38, 42);
  }
  @include media('>=tablet'){
    @include fontsize(58, 58);
  }
  .heighlite{
    @include vertical();
    color: $clr2;
  }
}
.banner{
  background-repeat: no-repeat;
  background-size: auto 100%;
  box-shadow: 2px 3.464px 10px rgba(0, 0, 0, 0.36);
  background-color: $clr9;
  position: relative;
  min-height: 180px;
  @include media('>=tablet'){
    min-height: 222px;
  }
  .home &{
    background-color: $white;
    display: flex;
    flex-flow: row wrap;
    .container{
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: static;
      padding: 59px 14px 30px;
      min-height: inherit;
      @include media('>=tablet'){
        padding: 39px 14px;
      }
      @include media('<tablet'){
        width: 100%;
      }
    }
    h1{
      color: $gray-light;
      @include fontsize(40, 40);
      margin: 0;
      @include media('>=phone'){
        @include fontsize(60, 60);
      }
      @include media('>=tablet'){
        margin: 0 0 3px;
        @include fontsize(80, 80);
      }
    }
  }
  .btn-back{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.39);
    background: $white;
    border-color: transparent;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: $gray-dark;
    padding: 10px;
    letter-spacing: 1px;
    position: absolute;
    top: 10px;
    left: 14px;
    @include media('>=tablet'){
      top: 15px;
      font-size: 18px;
      line-height: 22px;
      padding: 15px 16px;
    }
    @include media('>=widescreen'){
      top: 28px;
      left: 28px;
    }
    span{
      @include vertical();
      color: $clr2;
    }
    .material-icons{
      @include media('<tablet'){
        line-height: 1;
        font-size: 18px;
      }
    }
    &:hover{
      background: rgba($white, 0.8);
      color: $clr2;
    }
  }
  .container{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    @include media('>=tablet'){
      padding: 45px 90px;
    }
    @include media('>=widescreen'){
      padding: 55px 14px 39px 14px;
    }
    &.color-green{
      .icon{
        color: $brand-success;
      }
      .title{
        color: $brand-success;
        text-transform: uppercase;
      }
    }
  }
  .icon{
    @include size(60px);
    background: $white;
    border-radius: 100%;
    display: block;
    font-size: 38px;
    line-height: 1;
    margin: 0 0 10px;
    color: $clr3;
    position: relative;
    @include media('>=tablet'){
      @include size(74px);
      position: absolute;
      top: 28px;
      left: 2px;
      font-size: 46px;
    }
    @include media('>=widescreen'){
      left: -99px;
      @include size(84px);
      font-size: 56px;
    }
    .material-icons{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: inherit;
      line-height: 1;
    }
  }
  h1{
    margin: 0;
  }
  .title{
    @include font(18, 18, 700);
    display: block;
    margin: 0;
    color: $clr3;
    @include media('>=phone'){
      font-size: 20px;
    }
    @include media('>=tablet'){
      font-size: 24px;
    }
    a{
      color: inherit;
      &:hover{
        color: $clr1;
      }
    }
  }
}
.info-block{
  position: relative;
  @include bg-color(before, $clr3);
  padding-top: 28px;
  padding-bottom: 28px;
  @include media('>=tablet'){
    padding-top: 42px;
    padding-bottom: 42px;
  }
  dl{
    background: $white;
    border-radius: 6px;
    @include font(16, 18, 700);
    margin: 0;
    padding: 20px 15px;
    @include media('>=tablet'){
      @include fontsize(18, 20);
      padding: 36px 39px;
    }
    dt{
      display: block;
      color: $clr3;
      font-size: 20px;
      position: relative;
      padding: 0 0 0 32px;
      margin: 0 0 5px;
      @include media('>=tablet'){
        font-size: 24px;
        padding: 0 0 0 36px;
        margin: 0 0 13px;
      }
      .material-icons{
        position: absolute;
        display: block;
        width: 24px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
    dd{
      display: block;
      margin: 0 0 15px;
      @include media('>=tablet'){
        margin: 0 0 28px;
      }
      &:last-child{
        margin: 0;
      }
    }
    address{
      margin: 0;
      line-height: inherit;

    }
  }
}
.map-holder{
  height:300px;
  position: relative;
  overflow: hidden;
  .map-wrap, .overlay{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:$clr1;
  }

  .overlay{
    background:$white url(../images/loader.gif) no-repeat 50% 50%;
    display:none;
  }
}
.map{
  position: relative;
  min-height: 200px;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  box-shadow: inset -2px -2px 20px rgba(0, 0, 0, 0.26);
  @include media('>=tablet'){
    min-height: 250px;
  }
  @include media('>=tablet-md'){
    min-height: 325px;
  }
  img{
    display: block;
    width: 100%;
  }
  .location{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 0 0 51px;
    color: $gray-dark;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    @include media('>=tablet'){
      margin: -26px 0 0 7px;
    }
    .material-icons{
      position: absolute;
      color: $clr3;
      font-size: 46px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 0 0 7px;
    }
  }
}
.team-blcok{
  position: relative;
  @include bg-color(before, $clr10);
  display: flex;
  flex-flow: row wrap;
  min-height: 200px;
  @include media('>=tablet'){
    min-height: 308px;
  }
  .flex-row{
    min-height: inherit;
    display: flex;
    flex-flow: row wrap;
    width: calc(100% + 28px);
    &:after,
    &:before{
      display: block;
    }
  }
  .col{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 20px;
  }
}
.teacher-box{
  width: 100%;
  position: relative;
  color: $gray-dark;
  @include media('>=phone'){
    font-size: 16px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    line-height: 18px;
  }
  @include media('>=tablet'){
    font-size: 18px;
    line-height: 20px;
  }
  .visual{
    @include size(100px);
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto 10px;
    @include media('>=phone'){
      margin: 0;
    }
    @include media('>=tablet'){
      @include size(140px);
    }
    img{
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }
  .text-details{
    @include media('>=phone'){
      width: calc(100% - 100px);
      padding: 5px 0 0 30px;
    }
    @include media('>=tablet'){
      width: calc(100% - 140px);
    }
    .head{
      @include vertical();
      padding: 0 0 10px;
      margin: 0 0 10px;
      border-bottom: 1px solid $clr11;
      @include media('>=phone'){
        padding: 0 0 15px;
        margin: 0 0 11px;
      }
    }
    p{
      margin: 0;
    }
  }
  h3{
    color: $clr2;
    margin: 0 0 5px;
    @include font(20, 22, 700);
    @include media('>=tablet'){
      @include fontsize(24, 26);
    }
    a{
      color: inherit;
      &:hover{
        color: $clr1;
      }
    }
  }
  .meta-list{
    margin: 0;
    li{
      margin: 0 0 7px;
    }
    a{
      @include vertical();
      color: $gray-dark;
      .material-icons{
        color: $clr2;
        @include vertical();
        margin: 0 8px 0 0;
      }
      &:hover{
        color: $clr2;
      }
    }
  }
}
.Rounded_Rectangle_2_copy {
  border-width: 3px;
  border-color: rgb(92, 38, 123);
  border-style: solid;
  border-radius: 8px;
  position: absolute;
  left: 537px;
  top: 325px;
  width: 174px;
  height: 52px;
  z-index: 456;
}

.center-block{
  max-width: 1278px;
  padding-left: 14px;
  padding-right: 14px;
}
.btn-list{
  margin-bottom: 0;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  @include bg-color(before, $clr5);
  @include media('>=tablet'){
    padding-top: 28px;
    padding-bottom: 28px;
  }
  li{
    margin: 5px 10px 5px 0;
    @include media('>=tablet'){
      margin: 0 22px 0 0;
    }
    &.active{
      .btn{
        background: $clr2;
        color: $white;
      }
    }
  }
  .btn{
    background: none;
    border: 3px solid $clr2;
    color: $clr2;
    letter-spacing: 1px;
    padding: 8px;
    min-width: 120px;
    @include media('>=tablet'){
      padding: 13px 15px;
      border-radius: 8px;
      min-width: 180px;
    }
    &:hover{
      background: $clr2;
      color: $white;
    }
  }
}

.accordion-block{
  position: relative;
  .panel-group{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.39);
    position: relative;
    margin-bottom: 0;
  }
  .load-more{
    display: block;
    text-align: center;
    letter-spacing: 1px;
    color: $white;
    background: $clr2;
    @include font(16, 20, 700);
    padding: 14px;
    @include media('>=tablet'){
      padding: 30px 14px;
      @include fontsize(18, 24);
    }
    .material-icons{
      @include vertical();
    }
    &:hover{
      color: $white;
      background: rgba($clr3, 0.4);
    }
  }
  .panel{
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: none;
    + .panel{
      margin-top: -1px;
    }
    .panel-heading{
      padding: 0;
      border: none;
      background: none;
      position: relative;
      > a{
        display: block;
        z-index: 2;
        position: relative;
        padding: 20px 50px 20px 14px;
        letter-spacing: 1px;
        color: $gray-dark;
        @include media('>=phone'){
          display: flex;
          flex-flow: row wrap;
          align-items: center;
        }
        @include media('>=tablet'){
          padding: 28px 82px 28px 0;
        }
        @include pseudo-element(before, 0, -9999px, 0, -9999px);
        &:before{
          background: $white;
          z-index: -1;
          border: solid $clr4;
          border-width: 1px 0;
        }
        &[aria-expanded="true"]{
          &:before{
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.39);
          }
          + .ico-arrow{
            transform: translateY(-50%) rotate(180deg);
          }
        }
        &:hover{
          &:before{
            background: rgba($clr2, 0.1);
          }
        }
      }
      .step-holder{
        color: $gray-light;
        @include font(16, 18, 400);
        width: 30%;
        text-align: right;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @include media('>=tablet'){
          @include fontsize(18, 20);
        }
      }
      .ico-arrow{
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 3;
        transform: translateY(-50%);
        pointer-events: none;
        transition: all 0.3s ease;
        color: $clr2;
        font-size: 40px;
        @include media('>=tablet'){
          font-size: 62px;
        }
      }
    }
    .panel-collapse{
      position: relative;
      background: none;
      background: $clr7;
    }
    .panel-body{
      border: none !important;
      position: relative;
      background: none;
      padding: 27px 15px;
      .flex-row{
        display: flex;
        flex-flow: row wrap;
        width: calc(100% + 28px);
        &:before,
        &:after{
          display: block;
        }
      }
    }
    h2{
      @include font(16, 20, 400);
      margin: 0;
      color: $gray-dark;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      @include media('>=phone'){
        @include fontsize(20, 26);
        width: 70%;
      }
      @include media('>=tablet'){
        @include fontsize(24, 30);
        padding: 0 0 0 13px;
        letter-spacing: 1.2px;
      }
      &:only-child{
        width: 100%;
      }
      .material-icons{
        @include vertical();
        margin: -2px  0 0 -3px;
        font-size: 24px;
        @include media('>=phone'){
          margin: -2px 5px 0 -3px;
          font-size: 30px;
        }
        @include media('>=tablet'){
          font-size: 34px;
        }
      }
    }
  }
}

.course-widget{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 17px;
  @include media('>=tablet'){
    min-height: 300px;
  }
  @include media('>=tablet-md'){
    min-height: 343px;
  }
  > a{
    width: 100%;
    flex-grow: 1;
    display: block;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.39);
    background: $white;
    color: $gray-dark;
    padding: 0 0 50px;
    &:hover{
      .visual{
        .bg{
          transform: scale(1.05);
        }
      }
      .ico-more{
        color: $clr2;
      }
    }
  }
  .visual{
    position: relative;
    overflow: hidden;
    border-radius: 6px 6px 0 0;
    .bg{
      display: block;
      padding-top: 58.7%;
      background-size: cover;
      background-position: 50% 50%;
      transition: all 0.5s ease;
      @include media('>=tablet'){
        padding-top: 60%;
      }
      @include media('>=tablet-md'){
        padding-top: 58.7%;
      }
    }
    .ico-progress{
      position: absolute;
      top: 15px;
      left: 14px;
      z-index: 1;
      width: 40px;
      @include media('>=tablet-md'){
        width: 56px;
      }
      img{
        @include img-styles();
      }
    }
  }
  .title-bar{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    border-bottom: 1px solid rgba($clr13, 0.21);
    @include media('>=tablet-md'){
      padding: 9px 12px;
    }
    &.color-green{
      h3{
        color: $brand-success;
      }
    }
    &.color-orange{
      h3{
        color: $clr3;
      }
    }
    &.color-purpel{
      h3{
        color: $clr2;
      }
    }
    &.color-blue{
      h3{
        color: $clr1;
      }
    }
    .language-tag{
      @include vertical();
      background: $clr12;
      border-radius: 4px;
      color: $white;
      text-align: center;
      @include size(32px, 22px);
      @include font(14, 18, 700);
      padding: 2px;
      text-transform: uppercase;
    }
  }
  h3{
    @include font(14, 24, 700);
    text-transform: uppercase;
    margin: 0;
    color: $gray-dark;
    @include media('>=tablet'){
      @include fontsize(18, 23);
    }
    .material-icons{
      @include vertical();
    }
  }
  .text-detail{
    @include font(16, 18, 400);
    letter-spacing: 0.8px;
    padding: 9px;
    @include media('>=tablet'){
      @include fontsize(18, 20);
    }
    @include media('>=tablet-md'){
      padding: 11px 13px;
    }
    p{
      margin: 0 0 7px;
    }
    time{
      display: block;
      color: $gray-dark;
      @include font(14, 16, 700);
      @include media('>=tablet'){
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
  .ico-more{
    position: absolute;
    right: 10px;
    bottom: 13px;
    color: $clr4;
    transition: all 0.5s ease;
  }
}
.course-block{
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: inset 0 8px 9px rgba(0, 0, 0, 0.35);
  padding-top: 30px;
  padding-bottom: 30px;
  @include media('>=tablet'){
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include media('>=tablet-md'){
    padding-top: 87px;
    padding-bottom: 84px;
  }
  .content-holder{
    background: $white;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.39);
    padding: 20px 20px 0;
    overflow: hidden;
    @include media('>=tablet'){
      padding: 30px 20px 0;
    }
    @include media('>=tablet-md'){
      padding: 39px 42px 0;
    }
  }
  h2{
    @include font(18, 20, 400);
    margin: 0 0 20px;
    text-align: center;
    letter-spacing: 1.2px;
    @include media('>=phone'){
      @include fontsize(22, 24);
    }
    @include media('>=tablet'){
      @include fontsize(24, 26);
      margin: 0 0 24px;
    }
    .heighlite{
      @include vertical();
      color: $clr2;
      font-weight: 700;
    }
  }
  .courses-holder{
    margin: 0 0 20px;
    @include media('>=640px'){
      display: flex;
      flex-flow: row wrap;
      margin: 0 0 28px;
    }
  }
  .footer{
    letter-spacing: 0.9px;
    text-align: center;
    border-radius: 0 0 4px 4px;
    margin: 0 -20px;
    padding: 14px;
    color: $clr2;
    background: $clr8;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    @include font(14, 24, 700);
    @include media('>=tablet'){
      font-size: 16px;
      padding: 16px 38px 16px 14px;
    }
    @include media('>=tablet-md'){
      margin: 0 -42px;
    }
    p{
      margin: 0;
    }
    a{
      color: inherit;
      &:hover{
        color: $brand-success;
      }
    }
    .material-icons{
      @include vertical();
    }
  }
}

.related-course{
  margin: 0 0 10px;
  @include media('>=640px'){
    width: 50%;
    margin: 0;
    padding: 5px;
  }
  @include media('>=tablet'){
    padding: 7px;
  }
  @include media('>=tablet-md'){
    padding: 14px;
  }
  > a{
    display: block;
    border-radius: 6px;
    border: 2px solid $clr9;
    color: $gray-dark;
    position: relative;
    @include media('>=tablet'){
      padding: 20px 10px;
      border-radius: 10px;
      display: flex;
      border-width: 3px;
      flex-flow: row wrap;
      align-items: center;
    }
    @include media('>=tablet-md'){
      padding: 20px 26px;
    }
    &:hover{
      border-color: $clr4;
      .ico-more{
        color: $clr2;
      }
    }
  }
  .visual{
    position: relative;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    margin: 0;
    @include media('>=tablet'){
      border-radius: 100%;
      @include size(85px);
    }
    .bg{
      padding-top: 55%;
      background-size: cover;
      background-position: 50% 50%;
      @include media('>=phone'){
        padding-top: 45%;
      }
      @include media('>=640px'){
        padding-top: 55%;
      }
      @include media('>=tablet'){
        position: absolute;
        padding-top: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 100%;
      }
    }
  }
  .ico-holder{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    z-index: 1;
    background: $brand-success;
    color: $white;
    border-radius: 0 0 0 4px;
    @include media('>=tablet'){
      top: 18px;
      bottom: auto;
      @include size(36px);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.39);
      left: 10px;
      border-radius: 100%;
      background: $white;
      color: $brand-success;
    }
    @include media('>=tablet-md'){
      top: 26px;
      left: 25px;
    }
    .material-icons{
      position: absolute;
      font-size: 26px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include media('>=tablet'){
        font-size: 20px;
      }
    }
  }
  .text-holder{
    position: relative;
    padding: 10px 35px 10px 60px;
    @include media('>=tablet'){
      width: calc(100% - 85px);
      padding: 0 0 0 15px;
      letter-spacing: 0.7px;
      position: static;
    }
    @include media('>=tablet-md'){
      padding: 0 0 0 28px;
    }
    p{
      margin: 0;
      @include media('>=tablet'){
        margin: 0 0 4px;
      }
    }
  }
  h3{
    @include font(16, 18, 700);
    color: $gray-dark;
    margin: 0 0 2px;
    @include media('>=tablet'){
      @include fontsize(18, 20);
      letter-spacing: 1px;
      margin: 0 0 7px;
    }
  }
  .ico-more{
    @include vertical();
    color: $clr4;
    position: absolute;
    transition: all 0.3s ease;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    @include media('>=tablet'){
      right: 8px;
      bottom: 8px;
      top: auto;
      transform: translateY(0);
    }
  }
}

.gallery-block{
  position: relative;
  .header{
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    z-index: 2;
    @include media('>=tablet'){
      padding-top: 49px;
      padding-bottom: 29px;
    }
    @include pseudo-element(before, 0, -9999px, 0, -9999px);
    &:before{
      background: $white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.39);
      z-index: -1;
    }
  }
  h2{
    @include font(20, 24, 400);
    margin: 0;
    color: $gray-dark;
    @include media('>=phone'){
      letter-spacing: 1px;
      @include fontsize(28, 30);
    }
    @include media('>=tablet'){
      @include fontsize(34, 36);
      letter-spacing: 1.8px;
      padding: 0 0 0 30px;
    }
    @include media('>=tablet-md'){
      @include fontsize(36, 38);
    }
    .heighlite{
      font-weight: 700;
      @include vertical();
      color: $clr2;
    }
  }
}
.cycle-gallery {
  position: relative;
  padding: 15px 20px;
  @include bg-color(before, $clr6);
  @include media('>=phone'){
    padding: 34px 40px;
  }
  .mask {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 732px;
    margin: 0 auto 10px;
    @include media('>=phone'){
      margin: 0 auto 18px;
    }
    @include media('>=tablet'){
      margin: 0 auto 23px;
    }
  }
  .slideset {
    width: 99999px;
    float: left;
  }
  .slide {
    width: 100%;
    float: left;
    padding: 10px;
    &.active {
      z-index: 1;
    }
  }
  .btn-prev,
  .btn-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $clr2;
    font-size: 48px;
    display: block;
    margin: -17px 0 0 0;
    @include media('>=phone'){
      font-size: 66px;
    }
    .material-icons{
      font-size: inherit;
      display: block;
    }
    &:hover{
      color: $brand-success;
    }
  }
  .btn-prev{
    left: -18px;
    @include media('>=phone'){
      left: -22px;
    }
  }
  .btn-next{
    right: -18px;
    @include media('>=phone'){
      right: -24px;
    }
  }
  .content-holder{
    position: relative;
    background: $white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.39);
    border-radius: 4px;
    @include media('>=phone'){
      display: flex;
      flex-flow: row wrap;
      border-radius: 0 6px 0 0;
    }
    .visual{
      overflow: hidden;
      position: relative;
      border-radius: 4px 4px 0 0;
      @include media('>=phone'){
        width: 40%;
        border-radius: 0;
      }
      @include media('>=tablet'){
        width: 37.6%;
      }
      .bg{
        padding-top: 55%;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        @include media('>=phone'){
          padding-top: 0;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
        }
      }
    }
    .text-holder{
      letter-spacing: 0.8px;
      padding: 15px 10px;
      @include media('>=phone'){
        padding: 15px 10px;
        width: calc(100% - 40%);
      }
      @include media('>=tablet'){
        padding: 15px 30px;
        width: calc(100% - 37.6%);
      }
      @include media('>=tablet-md'){
        padding: 23px 56px 18px;
      }
    }
    p{
      margin: 0 0 10px;
      @include media('>=phone'){
        margin: 0 0 10px;
      }
      @include media('>=tablet'){
        margin: 0 0 25px;
      }
    }
    .more{
      @include vertical();
      @include font(14, 16, 700);
      color: $clr2;
      @include media('>=tablet'){
        font-size: 16px;
      }
      &:hover{
        color: $clr3;
      }
    }
  }
  h3{
    @include font(14, 18, 700);
    margin: 0 0 6px;
    color: $gray-dark;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    @include media('>=phone'){
      @include fontsize(16, 20);
    }
    @include media('>=tablet'){
      @include fontsize(18, 22);
      margin: 0 0 14px;
    }
  }
  .indicators{
    position: relative;
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      li{
        padding: 0 8px;
        @include media('>=tablet'){
          padding: 0 12px;
        }
        &.active{
          a{
            background: $clr2;
          }
        }
      }
      a{
        display: block;
        @include hide-text();
        @include size(14px);
        background: $white;
        border: 3px solid $clr2;
        border-radius: 100%;
        &:hover{
          background: $clr2;
        }
      }
    }
  }
}
.login-block{
  min-height: calc(100vh - 142px);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row wrap;
  @include media('>=phone'){
    min-height: calc(100vh - 144px);
  }
  @include media('>=tablet'){
    min-height: calc(100vh - 167px);
  }
  .container{
    display: flex;
    flex-flow: column nowrap;
    min-height: inherit;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    @include media('>=tablet'){
      padding-top: 30px;
      padding-bottom: 50px; 
    }
    @include media('<tablet'){
      width: 100%;
    }
  }
}
.login-form{
  width: 100%;
  max-width: 463px;
  background: $white;
  border-radius: 6px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.39);
  padding: 20px 15px;
  @include media('>=tablet'){
    padding: 25px 40px;
  }
  @include media('>=tablet-md'){
    padding: 36px 57px 42px;
  }
  label{
    @include vertical();
    text-transform: uppercase;
    color: $clr2;
    @include font(16, 18, 700);
    margin: 0 0 9px;
    letter-spacing: 1px;
    @include media('>=tablet'){
      @include fontsize(20, 24);
    }
  }
  .form-group{
    margin-bottom: 21px;
  }
  .btn{
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 115px;
    min-width: 100px;
    @include media('>=tablet'){
      max-width: 200px;
      line-height: 22px;
      padding: 16px 10px;
      border-radius: 8px;
      min-width: 140px;
    }
    &.btn-success{
      text-transform: uppercase;
    }
  }
  .footer-row{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0;
    @include media('>=tablet'){
      padding: 7px 0 0 4px;
    }
    a{
      color: $gray-dark;
      @include font(16, 18, 400);
      text-decoration: underline;
      max-width: 140px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      letter-spacing: 0.9px;
      @include media('>=tablet'){
        @include fontsize(18, 20);
        max-width: 150px;
      }
      &:hover{
        color: $brand-success;
        text-decoration: none;
      }
    }
  }
}
.profile-form{
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  @include media('>=tablet'){
    padding-top: 50px;
    padding-bottom: 40px;
  }
  @include media('>=tablet-md'){
    padding-top: 64px;
  }
  h1{
    margin: 0 0 20px;
    letter-spacing: 1px;
    @include media('>=tablet'){
      letter-spacing: 2.6px;
      margin: 0 0 40px;
    }
    @include media('>=tablet-md'){
      margin: 0 0 69px;
    }
  }
  h2{
    @include font(16, 23, 700);
    margin: 0 0 15px;
    color: $clr2;
    text-transform: uppercase;
    border-bottom: 1px solid $clr2;
    padding: 0 0 6px;
    letter-spacing: 0.9px;
    @include media('>=tablet'){
      font-size: 20px;
      padding: 0 0 10px;
      margin: 0 0 36px;
    }
    .material-icons{
      @include vertical();
    }
    a{
       color: inherit;
       &:hover{
        color: $brand-success;
       }
    }
  }
  label{
    @include vertical();
    color: $gray-dark;
    margin: 0 0 7px;
    @include font(16, 20, 700);
    letter-spacing: 0.9px;
    @include media('>=tablet'){
      font-size: 18px;
      margin: 0 0 11px;
    }
  }
  .form-group{
    max-width: 440px;
    @include media('>=tablet'){
      margin-bottom: 24px;
    }
    &:last-child{
      margin-bottom: 0;
      @include media('>=tablet'){
        margin-bottom: 0;
      }
    }
  }
  .category-box{
    position: relative;
    margin: 0 0 35px;
    @include media('>=tablet'){
      margin: 0 0 45px;
    }
    @include media('>=tablet-md'){
      margin: 0 0 65px;
    }
  }
  .btn{
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    min-width: 140px;
    @include media('>=tablet'){
      line-height: 22px;
      padding: 16px 10px;
      border-radius: 8px;
      min-width: 179px;
    }
  }
}
.success-block{
  position: relative;
  @include bg-color(before, $clr9);
  padding-top: 20px;
  padding-bottom: 20px;
  color: $gray-dark;
  @include media('>=tablet'){
    padding-top: 49px;
    padding-bottom: 52px;
    font-size: 18px;
  }
  .text-block{
    position: relative;
    min-height: 40px;
    padding: 0 0 0 56px;
    margin: 0 0 25px;
    @include media('>=tablet'){
      min-height: 56px;
      padding: 0 0 0 83px;
      margin: 0 0 40px;
    }
    p{
      margin: 0;
    }
  }
  .btn{
    @include media('>=tablet'){
      line-height: 22px;
      padding: 16px 10px;
      border-radius: 8px;
      min-width: 157px;
    }
  }
  .ico-holder{
    @include size(40px);
    border-radius: 100%;
    border: 3px solid $brand-success;
    background: $white;
    color: $brand-success;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 28px;
    overflow: hidden;
    @include media('>=tablet'){
      @include size(56px);
      border-width: 5px;
      font-size: 36px;
    }
    .material-icons{
      @include vertical();
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: inherit;
    }
  }
  .title{
    display: block;
    @include font(16, 18, 700);
    margin: 0 0 10px;
    @include media('>=tablet'){
      font-size: 18px;
      margin: 0 0 12px;
    }
  }
}
.lessons-block{
  position: relative;
  padding-top: 15px;
  padding-bottom: 20px;
  @include media('>=tablet'){
    padding-top: 46px;
    padding-bottom: 46px;
  }
  @include media('>=tablet-md'){
    padding-bottom: 85px;
  }
  h2{
    @include font(24, 26, 700);
    margin: 0 0 14px;
    color: $clr1;
    @include media('>=phone'){
      @include fontsize(32, 34);
      margin: 0 0 18px;
    }
    @include media('>=tablet'){
      @include fontsize(44, 46);
      margin: 0 0 24px;
    }
  }
}
.lessons-list{
  position: relative;
  margin: 0;
  counter-reset: item;
  @include font(14, 16, 700);
  color: $gray-dark;
  @include media('>=phone'){
    @include fontsize(16, 18);
  }
  @include media('>=tablet'){
    @include fontsize(18, 20);
  }
  li{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 12px 0 12px 20px;
    border: solid $clr7;
    border-width: 0 0 1px;
    position: relative;
    @include media('>=phone'){
      padding: 15px 10px 15px 30px;
    }
    @include media('>=tablet'){
      padding: 17px 20px 17px 46px;
    }
    &:first-child{
      border-width: 1px 0;
    }
    &.done{
      .icon{
        opacity: 1;
        visibility: visible;
      }
      .text,
      .status{
        color: $brand-success;
      }
    }
    &.test{
      .icon{
        color: $clr2;
        opacity: 1;
        visibility: visible;
      }
      .lessons-title{
        text-transform: uppercase;
        width: 100%;
        color: $clr2;
        &:before{
          display: none;
        }
      }
    }
    span{
      @include vertical();
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .icon{
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    font-size: 20px;
    color: $brand-success;
    opacity: 0;
    visibility: hidden;
    @include media('>=phone'){
      left: 5px;
    }
    @include media('>=tablet'){
      left: 10px;
      font-size: 24px;
    }
    .material-icons{
      @include vertical();
      font-size: inherit;
    }
  }
  .lessons-title{
    padding: 0 1% 0 0;
    width: 55%;
    @include media('>=phone'){
      width: 50%;
    }
    @include media('>=tablet'){
      width: 44%;
    }
    &:before{
      content: counters(item, ".", decimal) ".";
      counter-increment: item;
      @include vertical();
      margin: 0 2px 0 0;
      @include media('>=tablet'){
        margin: 0 4px 0 0;
      }
    }
  }
  .time{
    @include vertical();
    font-weight: 400;
    color: $gray-light;
    width: 30%;
    @include media('>=phone'){
      width: 23%;
    }
    @include media('>=tablet'){
      width: 34.7%;
      font-size: 16px;
    }
  }
  .text{
    display: none;
    @include media('>=phone'){
      width: 18%;
      display: block;
    }
    @include media('>=tablet'){
      width: 13.7%;
    }
  }
  .status{
    width: 15%;
    @include media('>=phone'){
      width: 9%;
    }
    @include media('>=tablet'){
      width: 7.6%;
    }
  }
}
.download-block{
  position: relative;
  @include bg-color(before, $brand-success);
  padding-top: 20px;
  padding-bottom: 20px;
  @include media('>=phone'){
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include media('>=tablet'){
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .holder{
    background: $white;
    padding: 12px;
    border-radius: 4px;
    @include media('>=phone'){
      border-radius: 6px;
      padding: 20px 15px;
    }
    @include media('>=tablet'){
      padding: 35px 41px;
    }
  }
  h3{
    @include font(18, 20, 700);
    color: $clr1;
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid $clr7;
    @include media('>=phone'){
      @include fontsize(22, 24);
    }
    @include media('>=tablet'){
      @include fontsize(24, 26);
      padding: 0 0 22px;
      margin: 0 0 20px;
    }
  }
}
.download-list{
  margin: 0;
  @include font(16, 24, 400);
  @include media('>=tablet'){
    font-size: 18px;
  }
  li{
    margin: 0 0 15px;
    @include media('>=tablet'){
      margin: 0 0 21px;
    }
  }
  a{
    @include vertical();
    color: $gray-dark;
    &:hover{
      color: $brand-success;
    }
    .material-icons{
      @include vertical();
      color: $brand-success;
      margin: 2px 4px -2px -4px;
      @include media('>=tablet'){
        margin: 4px 5px -4px -5px;
      }
    }
  }
}