#footer{
  position: relative;
  @include bg-color(before, $clr1);
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 20px;
  @include media('>=tablet'){
    padding-top: 24px;
    padding-bottom: 26px;
  }
  &:before{
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.27);
  }
}
.footer-nav{
  position: relative;
  @include font(14, 18, 400);
  @include media('>=phone'){
    font-size: 16px;
    line-height: 20px;
  }
  @include media('>=tablet'){
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    @include media('>=tablet'){
      padding: 0 0 0 7px;
    }
    li{
      padding: 0 20px;
      position: relative;
      padding: 0 8px;
      @include media('>=phone'){
        padding: 0 18px;
      }
      @include media('>=tablet'){
        padding: 0 26px;
      }
      @include pseudo-element(before, 0, auto, auto, 0);
      &:before{
        @include size(1px, 18px);
        background: rgba($white, 0.5);
        @include media('>=phone'){
          height: 22px;
        }
        @include media('>=tablet'){
          height: 25px;
        }
      }
      &:first-child{
        &:before{
          display: none;
        }
      }
    }
    a{
      color: $white;
      &:hover{
        color: $brand-success;
      }
    }
  }
}