#header{
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.27);
  background: $clr1;
  padding-top: 11px;
  padding-bottom: 14px;
  z-index: 10;
  position: relative;
  .row{
    display: flex;
    flex-flow: row wrap;
    width: calc(100% + 28px);
    align-items: center;
    &:before,
    &:after{
      display: block;
    }
  }
  .dropdown{
    @include vertical();
    .dropdown-menu{
      left: 0;
      right: 0;
      min-width: 1px;
      background: $clr9;
      font-size: 16px;
      border-radius: 0 0 4px 4px;
      box-shadow: none;
      margin: 0;
      padding: 0;
      border: 0;
      list-style: none;
      li{
        border-top: 1px solid $clr4;
        &:first-child{
          border: none;
        }
        &:last-child{
          > a{
            border-radius: 0 0 4px 4px;
          }
        }
        > a{
          color: $clr1;
          padding: 9px 15px;
          @include media('>=tablet'){
            padding: 9px 26px;
          }
          &:hover,
          &:focus{
            background: $clr4;
            color: $clr3;
          }
        }
      }
    }
  }
}
.logo{
  margin: 0;
  padding: 5px 0 0;
  @include media('>=tablet'){
    padding: 7px 0 0 13px;
  }
  img{
    @include img-styles();
  }
}