﻿<%@ Page Title="Metier Enrollment Processor" Language="C#" MasterPageFile="~/inc/master/default.master" AutoEventWireup="True" Inherits="Phoenix.LearningPortal.Tools.EzHandler" Codebehind="ez_handler.aspx.cs" %>
<asp:Content ContentPlaceHolderID="c1" Runat="Server">

</asp:Content>