<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
Library Unlock
</title><link type="text/css" rel="stylesheet" href="css/metier-lms.css" /><link type="text/css" rel="stylesheet" href="css/metier-common.css?4" />
<script src="../inc/js/jquery.js?3" type="text/javascript"></script>
<script src="../inc/js/functions.js?14" type="text/javascript"></script>
<script type="text/javascript" src="../inc/css/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="../inc/css/jquery-ui-1.11.4.custom/jquery-ui.min.css" /></head>

<body class="login">


                
				
<script>
document.write('You can now go to <a href="http://library.mymetier.net/">http://library.mymetier.net/</a>				');
$.cookie("ilearning_user", 1,{path:'/',domain:'.mymetier.net', expires: 1});
</script>
</body>
</html>