﻿<%@ Page Title="Proxy" Language="C#" AutoEventWireup="true" Inherits="Phoenix.LearningPortal.Tools.Proxy" MasterPageFile="~/inc/master/default.master"  Codebehind="proxy.aspx.cs" %>
<asp:Content ContentPlaceHolderID="c1" Runat="Server">

</asp:Content>