﻿<%@ Page Title="Metier Enrollment Processor" Language="C#" MasterPageFile="~/inc/master/default.master" AutoEventWireup="true" Inherits="Phoenix.LearningPortal.Tools.Terminal" Codebehind="terminal.aspx.cs" %>
<asp:Content ContentPlaceHolderID="c1" Runat="Server">

</asp:Content>