<main id="main" role="main" class="container">
  <section class="map-block">
    <div
      class="map-area"
      rel="assets/portal/inc/map-style.json"
      [ngClass]="{ hasmap: GetResourceByType(2).length > 0 }"
    >
      <div class="info-block container">
            <dl>
              <dt
                *ngIf="
                  !Activity.HideActivityDates &&
                  Activity.ActivityPeriods &&
                  Activity.ActivityPeriods.length > 0
                "
              >
                <i class="material-icons">insert_invitation</i>
                {{ "CLASSROOM.WHEN" | translate }}
              </dt>
              <dd
                [hidden]="Activity.HideActivityDates"
                *ngFor="let period of Activity.ActivityPeriods"
              >
                <time
                  >{{ period.Start | localizedDate: "shortDate" }}
                  {{ "GLOBAL.CLOCK_SHORT" | translate }}
                  {{ period.Start | localizedDate: "shortTime" }}
                  <span *ngIf="period.End"
                    >- {{ period.End | localizedDate: "shortDate" }}
                    {{ "GLOBAL.CLOCK_SHORT" | translate }}
                    {{ period.End | localizedDate: "shortTime" }}</span
                  ></time
                >
              </dd>
              <dt *ngIf="GetResourceByType(2).length > 0">
                <i class="material-icons">place</i>
                {{ "CLASSROOM.LOCATION" | translate }}
              </dt>
              <dd *ngIf="GetResourceByType(2).length > 0">
                <address class="address">
                  {{ GetResourceByType(2)[0].Name }}
                  <div *ngIf="GetResourceByType(2)[0].Addresses.length > 0">
                    <div>
                      {{ GetResourceByType(2)[0].Addresses[0].StreetAddress }}
                    </div>
                    <div>
                      {{ GetResourceByType(2)[0].Addresses[0].StreetAddress2 }}
                    </div>
                    <div>
                      {{ GetResourceByType(2)[0].Addresses[0].ZipCode }}
                      {{ GetResourceByType(2)[0].Addresses[0].City }}
                    </div>
                  </div>
                </address>
              </dd>
              <dd *ngIf="totalActivityDurationExpression">
                {{ "EXAM.HEADING_TIME" | translate }}
                {{ totalActivityDurationExpression }}
              </dd>
              <dd *ngIf="additionalActivityDurationExpression">
                {{ "EXAM.HEADING_ADDITIONAL_TIME" | translate }}
                {{ additionalActivityDurationExpression }}
              </dd>
              <dd
                *ngIf="IsMPCExam()"
                [translate]="'EXAM.HEADING_LOCATION'"
                [translateParams]="{ location: 'ONLINE' }"
              >
                /dd>
              </dd>

              <dd *ngIf="IsCaseExam()">
                <span
                  [translate]="'EXAM.CASE_INFO'"
                  [translateParams]="{ days: AvailabilityDays() }"
                ></span
                ><br /><br />
                <span [innerHTML]="'EXAM.CASE_INFO1' | translate"></span>
              </dd>
              <dd *ngIf="IsProjectAssignment()">
                <span [translate]="'EXAM.ASSIGNMENT_INFO'"></span><br /><br />
                <span [translate]="'EXAM.ASSIGNMENT_INFO1'"></span>
              </dd>
            </dl>
      </div>
      <div
        class="map-holder container-fluid"
        *ngIf="GetResourceByType(2).length > 0"
      >
        <div class="map-wrap"></div>
        <span class="overlay"></span>
      </div>
    </div>
  </section>

  <div *ngIf="GetResourceByType(2).length == 0"><br /><br /></div>

  <section class="container lessons-block" *ngIf="IsExamCompetenceMissing()">
    <div class="row">
      <div class="col-xs-12">
        <h2 [translate]="'EXAM.COMPETENCY_FORM_MISSING_HEADING'"></h2>
        <div class="alert alert-danger" role="alert">
          <p>
            <span [translate]="'EXAM.COMPETENCY_FORM_MISSING_INFO'"></span>
            <a
              (click)="
                Router.navigateByUrl('/portal/profile?scroll=competency')
              "
              [translate]="'EXAM.COMPETENCY_FORM_LINK'"
            ></a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="container lessons-block"
    *ngIf="IsMPCExam() && !IsExamCompetenceMissing()"
  >
    <div class="row">
      <div class="col-xs-12">
        <h2 [translate]="'EXAM.HEADING'"></h2>

        <div
          *ngIf="
            Activity.ActivityPeriods &&
            Activity.ActivityPeriods.length > 0 &&
            !Activity.ActivityPeriods[0].End
          "
        >
          <div
            [translate]="'EXAM.MPC_INFO'"
            [translateParams]="{
              questionCount: Activity.NumberOfQuestions,
              minutes: Activity.Duration / 60000
            }"
          ></div>
          <div
            [translate]="'EXAM.MPC_INFO_NO_END'"
            [translateParams]="{
              startTime:
                Activity.ActivityPeriods[0].Start | localizedDate: 'shortTime'
            }"
          ></div>
        </div>

        <div
          *ngIf="
            Activity.ActivityPeriods &&
            Activity.ActivityPeriods.length > 0 &&
            Activity.ActivityPeriods[0].End
          "
        >
          <div
            [translate]="'EXAM.MPC_INFO'"
            [translateParams]="{
              questionCount: Activity.NumberOfQuestions,
              minutes: Activity.Duration / 60000
            }"
          ></div>
          <div
            [translate]="'EXAM.MPC_INFO_END_DEFINED'"
            [translateParams]="{
              startDate:
                Activity.ActivityPeriods[0].Start | localizedDate: 'shortDate',
              startTime:
                Activity.ActivityPeriods[0].Start | localizedDate: 'shortTime',
              endDate:
                Activity.ActivityPeriods[0].End | localizedDate: 'shortDate',
              endTime:
                Activity.ActivityPeriods[0].End | localizedDate: 'shortTime',
              minutes: Activity.Duration / 60000
            }"
          ></div>
        </div>

        <br />
        <p *ngIf="CanPlayMPCExam()">
          <a
            href="./../../portal/#/exam?activityId={{ ActivityId }}"
            class="btn btn-success"
            [translate]="'EXAM.BUTTON_START'"
          ></a>
        </p>
        <p
          *ngIf="!CanPlayMPCExam()"
          [translate]="'EXAM.BUTTON_START'"
          [translate]="'EXAM.MPC_NOT_AVAILABLE'"
        ></p>
      </div>
    </div>
  </section>

  <activity-details [Activity]="Activity" *ngIf="Activity"></activity-details>
  <instructor
    [Instructors]="GetResourceByType(1)"
    [Activity]="Activity"
    [Distributor]="Distributor"
  ></instructor>

  <section
    class="container download-block"
    *ngIf="
      (IsCaseExam() || IsProjectAssignment()) && !IsExamCompetenceMissing()
    "
  >
    <div class="row">
      <div class="col-xs-12">
        <div class="holder">
          <h3 [translate]="'EXAM.HEADING_UPLOADS'"></h3>
          <div *ngIf="ParticipantAvailability.IsAvailable === false">
            <span
              *ngIf="Activity.ActivityPeriods.length > 0"
              [translate]="'EXAM.UPLOAD_AVAILABILITY'"
              [translateParams]="{
                startDate:
                  Activity.ActivityPeriods[0].Start
                  | localizedDate: 'shortDate',
                startTime:
                  Activity.ActivityPeriods[0].Start
                  | localizedDate: 'shortTime',
                endDate:
                  Activity.ActivityPeriods[0].End | localizedDate: 'shortDate',
                endTime:
                  Activity.ActivityPeriods[0].End | localizedDate: 'shortTime'
              }"
            ></span>
          </div>
          <div *ngIf="ParticipantAvailability.IsAvailable">
            <div [translate]="'EXAM.UPLOAD_DESCRIPTION'"></div>
            <br />

            <div class="row">
              <div class="col-xs-5">
                <input
                  class="form-control"
                  placeholder="Filbeskrivelse"
                  type="text"
                  [(ngModel)]="CaseFileTitle"
                />
              </div>
              <div class="col-xs-5">
                <input
                  class="form-control"
                  type="file"
                  (change)="CaseFileSelected($event)"
                />
              </div>
              <div class="col-xs-2">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="UploadCaseExam($event)"
                  [disabled]="!FileToUpload"
                  [translate]="'EXAM.UPLOAD_BUTTON'"
                ></button>
              </div>
            </div>
            <div
              progress=""
              max="100"
              class="progress"
              *ngIf="FileUploadProgress > 0 && FileUploadProgress < 100"
            >
              <div
                aria-valuemin="0"
                class="progress-bar progress-bar-info"
                role="progressbar"
                style="min-width: 0px; width: {{ FileUploadProgress }}%;"
              >
                <b>{{ FileUploadProgress }}%</b>
              </div>
            </div>
            <div
              *ngIf="FileUploadProgress == 100"
              [translate]="'GLOBAL.UPLOAD_SUCCESSFUL'"
            ></div>
          </div>

          <br />
          <br />
          <h4 [translate]="'EXAM.HEADING_FILES_UPLOADED'"></h4>
          <div
            *ngIf="GetParticipation().Attachments.length == 0"
            [translate]="'NO_FILES_UPLOADED'"
          ></div>
          <ul class="download-list list-unstyled">
            <li *ngFor="let attachment of GetParticipation().Attachments">
              <a href="{{ GetFileUrl(attachment) }}" target="_blank"
                ><i class="material-icons">file_download</i>
                {{ attachment.Title }}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="Activity.CaseAttachment">
      <br />
      <div class="col-xs-12">
        <div class="holder">
          <h3 [translate]="'EXAM.DOWNLOAD'"></h3>
          <div *ngIf="ParticipantAvailability.IsAvailable === false">
            <span
              *ngIf="Activity.ActivityPeriods.length > 0"
              [translate]="'EXAM.DOWNLOAD_AVAILABILITY'"
              [translateParams]="{
                startDate:
                  Activity.ActivityPeriods[0].Start
                  | localizedDate: 'shortDate',
                startTime:
                  Activity.ActivityPeriods[0].Start
                  | localizedDate: 'shortTime',
                endDate:
                  Activity.ActivityPeriods[0].End | localizedDate: 'shortDate',
                endTime:
                  Activity.ActivityPeriods[0].End | localizedDate: 'shortTime'
              }"
            ></span>
          </div>
          <ul
            class="download-list list-unstyled"
            *ngIf="
              Activity.CaseAttachment && ParticipantAvailability.IsAvailable
            "
          >
            <li>
              <a
                href="{{ GetFileUrl(Activity.CaseAttachment) }}"
                (click)="SetCourseStatus('INPROGRESS')"
                target="_blank"
                ><i class="material-icons">file_download</i>
                {{ Activity.CaseAttachment.Title }}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <attachment
    [Attachments]="Activity.Attachments"
    [Activity]="Activity"
  ></attachment>
  <ecoach
    [Ecoaches]="GetResourceByType(3)"
    [Activity]="Activity"
    [Distributor]="Distributor"
  ></ecoach>
</main>
