﻿/* LMS specific styles */

/* General settings */
body {
	background: url(../gfx/bg-default.png) top repeat-x #FFF;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #475d70;
	margin: 0;
}
/* Override-styles for pages embedded inside ILearning frame */
body.no-bg-image
{
    background:none;
    background-color:#f0f0f0;
    padding:0;    
    margin:0;
}
body.no-bg-image #wrapper-introduction h1.standalone {
    color: black;
    font-size:24px;
    margin-top:10px;
}
body.no-bg-image div.settingsform td.headercolumn
{
    width:170px;
}
 
body.no-bg-image #wrapper-introduction, body.no-bg-image #wrapper-settings {
	margin: 0 0 0 10px;
	width: auto;
}

/* End overrides */

p, img, table, td, body, h1, h2, h3, h4, h5, h6 {
	border: 0;
	margin: 0;
	padding: 0;
	empty-cells:hide;
}
h1 {
	color: #000;
	font-size: 1.5em;
	margin-bottom: 25px;
}

ul {
	border: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	color: #1d73cc;
	text-decoration: none;
}
a:hover {
	color: #39F;
}
.clear {
	clear: both;
}
.container-default {
	margin: 0 auto;
	width: 1161px;
}

#wrapper-introduction {
	margin: 0 auto 20px auto ;
	width: 930px;
    position: relative;
}
#user-welcome{
    display:none;
}

#wrapper-supplemental {
	margin: 0 auto;
	width: 990px;
	margin-bottom: 25px;
}

#wrapper-supplemental h1 {
	margin: 10px 0 15px 0;
}

#wrapper-supplemental .left {
	float: left;
	width: 450px;
	margin-bottom: 25px;
	margin-left: 30px;
}
#wrapper-supplemental .right {
	float: right;
	width: 450px;
	margin-bottom: 25px;
}

.support h3 {
	font-weight: normal;
	font-size: 1.0em;
}
.support .infotext {
	color: #aab8c4;
}
.avatar {
	border: 1px solid #a6afb7;
}

.coursedetails {
	padding-top:44px;
	color: #000;
	font-size: 3.5em;
	text-shadow: 1px 1px 1px #FFF;
	margin-bottom: 0px;
}

/* end */

.content{
    margin: 0 auto;
	width: 960px;
}

/* The global menu and meta menu */
#wrapper-globalmenu {	
	height: 50px;
	padding-top: 10px;
}
#wrapper-globalmenu ul {
	margin-left: -11px;
}
#wrapper-globalmenu li
{
    float: left;
    position:relative;
}
#wrapper-globalmenu li a {
	
	color: #FFF;
	display: block;
	padding: 4px 8px 3px 8px;
	margin: 0 4px 0 4px;
}
#wrapper-globalmenu li a:hover {
	text-decoration: underline;
}
#wrapper-globalmenu .active a {
	background-color: #000;
	padding: 4px 12px 3px 12px;
	border-bottom: 1px solid #9daec6;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
#wrapper-globalmenu .active a:hover {
	text-decoration: none;
	background-color: #122239;
}
#ie-nav-active
{
    border-collapse:collapse;
    height:24px;
    margin: 0px 8px;
}
#ie-nav-active .left
{
    width:11px;height:24px;background:url(../gfx/nav-button-left.png) top left no-repeat;
}
#ie-nav-active .right
{
    width:11px;height:24px;background:url(../gfx/nav-button-right.png) top left no-repeat;
}
#ie-nav-active .middle
{
    height:24px;background:url(../gfx/nav-button-middle.png) top left repeat-x;    
    padding:0 0px;
}

#ie-nav-active tr td a
{
    padding:0;
}
#ie-nav-active tr td a:hover
{
    text-decoration:none;
}
#ie-nav-active.hover .left
{
    background:url(../gfx/nav-button-left-hover.png) top left no-repeat;  
}
#ie-nav-active.hover .middle
{
    background:url(../gfx/nav-button-middle-hover.png) top left repeat-x;  
}
#ie-nav-active.hover .right
{
    background:url(../gfx/nav-button-right-hover.png) top left no-repeat;  
}

/* meta menu */
#wrapper-metamenu {
	margin: 0 auto;
	background: url(../gfx/bg-globalmenu.png) top repeat-x #374b59;
}
#metamenu {
	margin: 0 auto;
	width: 980px;
	min-height: 38px;
}
#metamenu ul {
	float: right;
	padding: 10px 10px 0 0;
}
#metamenu li {
	float: left;
	padding-left: 15px;
	color: #bfc7cd;
}
#metamenu li a {
	color: #FFF;
}
#metamenu li a:hover {
	text-decoration: underline;
}
#metamenu .logo {
	float: left;
	width: 120px;
	height: 20px;
	margin: 10px 0 0 10px;
	background: url(../gfx/logo-mymetier-01.png) no-repeat;
}
/* end */




/* PAGE :: Login */
body.login {
	background: url(../gfx/bg-login.jpg) top center repeat-x;	
}
body.login .logo {
	float: left;
	width: 120px;
	height: 20px;
	margin: 20px 0 0 30px;
	background: url(../gfx/logo-mymetier-01.png) no-repeat;
}
.choose-language {
	float: right;
	padding: 20px 30px 0 0;
}
.choose-language a {
	color: #FFF;
}
.choose-language a:hover {
	color: #8bc0f4;
}
#wrapper-loginbox {
	margin: 0 auto;
	width: 450px;
	margin-top: 180px;
	font-size: 0.9em;
	position:relative;
}
#wrapper-loginbox h1 {
	color: #000;
	margin-bottom: 10px;
}
#wrapper-loginbox .top
{
    position:absolute;
    top:0;
    left:0;
    height:9px;
    width:450px;
    background:url(../gfx/login-box-top.png) top left no-repeat;
    z-index:2;
}
.reflection-loginbox {
	margin: 0 auto;
	width: 450px;
	min-height: 172px;
	background: url(../gfx/reflection-loginbox.png) no-repeat;
}
.container-login {
	margin: 0 auto;
	background: #FFF;
	border-radius: 9px 9px 0px 0px;
	padding: 20px 30px;
}
.container-loginbutton {
	background: url(../gfx/gradient-loginbox.png) no-repeat;
	padding: 20px 0;
	text-align: center;
	border-top: 1px solid #c8d4dc;	
	border-radius: 0px 0px 9px 9px;	
}
.formfield-login {
	width: 370px;
	padding: 5px 10px 5px 10px;
	border: 1px solid #92a4b4;
	border-radius: 6px;
	margin: 5px 0 10px 0;
	font-size: 1.2em;
}
.passwordreclaim {
	float: right;
}
body.login #footer {
	margin: 0 auto;
	padding: 0 40px 20px 40px;
	position: fixed;
	bottom: 20px;
	color: #435a6d;
	font-size: 0.8em;
}
/* end */

/* PAGE :: Index */

.wrapper-miniprogramboxes {
	margin: 0 auto;
	width: 1000px;
	margin-bottom: 25px;
}

.wrapper-miniprogramboxes h1 {	
	margin:0 0 25px 15px;
}


#wrapper-introduction h1.standalone {
	margin:25px 0 40px 0;
	color: #000;
	text-shadow: 1px 1px 1px #FFF;
	font-size: 2.0em;
	padding-left:0;
}

#wrapper-introduction h1 {
	margin:25px 0 20px 0;
	color: #000;
	text-shadow: 1px 1px 1px #FFF;
	font-size: 2.0em;
	padding-left:0;
}

#wrapper-introduction h3 {
	font-weight: 200;
	font-size: 1.3em;
}

#wrapper-introduction .course-description h3
{
    margin-top:15px;
}

/* The merits container */
#container-merits {
	float: right;
	text-align: center;
	background: #FFF;
	border-radius: 9px;
	width: 250px;
	margin-left: 60px;
	border: 1px solid #d0d6dc;
}
#container-merits> div.lt
{    
    background: url(../gfx/merits-lt.png) top center no-repeat;
}
#container-merits> div.rt
{    
    background: url(../gfx/merits-rt.png) top center no-repeat;
}
ul.merits-mini {
	margin-left: 35px;
	margin-top: 10px;
}
.merits-mini li {
	float: left;
	display: block;
	padding: 60px 0 10px 0;
	width: 60px;
	font-size: 1.5em;
	font-weight: 200;
}
.merits-mini .gold {
	background: url(../gfx/medal-gold-small.png) top center no-repeat;
}
.merits-mini .silver {
	background: url(../gfx/medal-silver-small.png) top center no-repeat;
}
.merits-mini .bronze {
	background: url(../gfx/medal-bronze-small.png) top center no-repeat;
}
#container-merits .goto a {
	border-top: 1px solid #d0d6dc;
	display: block;
	padding: 7px 0 8px 0;
	width: 100%;
	border-radius: 0 0 9px 9px;
}
#container-merits .goto a:hover {
	background: #f0f3f6;
}
/* The miniprogrambox on the index page */
.miniprogrambox td {
	width: 265px;
	height: 255px;
	border: 1px solid #d0d6dc;
	border-radius: 9px;
	padding: 20px 20px 20px 20px;
	vertical-align: top;	
}

.miniprogrambox .completed{
    width:22px;height:22px;background:url('../gfx/course-completed.png') no-repeat;position:absolute;left:260px;bottom:19px;
}
.miniprogrambox .noshow{
    width:22px;height:22px;background:url('../gfx/course-noshow.png') no-repeat;position:absolute;left:260px;bottom:19px;
}
.miniprogrambox div.main
{
     padding-bottom:80px;
     display:block;
     cursor:pointer;     
}
.miniprogrambox .actionbutton, .miniprogrambox .ie-actionbutton
{
    position:absolute;
    left:20px;
    bottom:0;
    right:20px;        
}

/*.miniprogrambox td.nine-rounded, .miniprogrambox td.empty{
display:block;
}*/
.miniprogrambox .empty {
	width: 258px;
	border: 2px dashed #d0d6dc;
	text-align: center;	
	position:relative;	
}
.miniprogrambox .empty h3 
{
    padding-top:80px;
}
.miniprogrambox .divider {
	width: 20px;
	height: 20px;
	padding: 0;
	border: none;
}
.miniprogrambox h2 {
	font-size: 1.2em;
	color: #000;
	width: 260px;
}
.miniprogrambox h3 {
	font-size: 1.2em;
	font-weight: normal;
	padding: 0 30px;
}
.miniprogrambox .programthumb {
	padding: 8px;
	margin-bottom: 3px;
	width: 240px;
	height: 120px;
	border: 1px solid #d0d6dc;
}
.miniprogrambox .actionbutton, .miniprogrambox .ie-actionbutton {
	border-top: 1px solid #d0d6dc;
	padding: 20px 0 20px 0;
	margin: 15px -20px 0 -20px;
	text-align: center;
}
/*
.miniprogrambox .empty .actionbutton {
	border-top: none;
}
*/
.miniprogrambox .symbol-exam {
	background: url(../gfx/icon-examen-untaken.png) no-repeat;
	position: relative;
	top: 111px;
	left: 101px;
	margin-top: -80px;
	width: 60px;
	height: 80px;
	border-color: #FFF;
}
.miniprogrambox .symbol-classroom {
	background: url(../gfx/icon-classroom.png) no-repeat;
	position: relative;
	top: 101px;
	left: 101px;
	margin-top: -80px;
	width: 60px;
	height: 80px;
	border-color: #FFF;
}
.symbol-classroom .month {
	width: 60px;
	text-align: center;
	padding: 13px 0 2px 0;
	font-family: "Hevetica Neue", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform:uppercase;
	color: #FFF;
	position:absolute;
}
.symbol-classroom .date {
	width: 60px;
	text-align: center;
	font-family: "Hevetica Neue", Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #aab8c4;
	position:absolute;
	top:30px;
}
.miniprogrambox .progressbar {
	position: relative;
	top: 120px;
	left: 47px;
	margin-top: -18px;
	width: 170px;
	height: 18px;
	border-color: #FFF;
}
/* end */



/* PAGE :: The program page */

#container-programpicture {
	float: right;
	margin-left: 60px;
}

#wrapper-programpage-introduction h1 {
	padding-top:44px;
	color: #000;
	font-size: 3.5em;
	text-shadow: 1px 1px 1px #FFF;
	margin-bottom: 0px;
}
/* The program panel */
.programpanel, .filepanel {
	margin: 0 auto 15px auto;
	width: 990px;
	background: #FFF;
	border: 1px solid #d0d6dc;
	border-radius: 9px;
}
.filepanel input{
    width:400px;
}

#progress-container {
	margin: 15px 0 0 30px;
	width:610px;
	border:0;
	border-collapse:collapse;
	border-spacing:0;
}
.programpanel .enroll p {
	margin-top:15px;
	line-height:30px;
	text-align:center;
}
.programpanel .enroll p .actionbutton
{
    float:none;
}
.programpoints {
	float: left;
	font-size: 1.8em;
	font-weight: 200;
	padding: 0 10px 0 0;
	width: auto;
}

.programpanel .actionbutton {
	float:right;
	margin-top: 6px;
}

.statusmessage {
	border-top: 1px solid #d0d6dc;
	margin: 10px 0 0 0;
	padding-top: 10px;
	font-size: 0.9em;
}

.programdownloads table {
	width:450px;
	border:0;
	border-collapse:collapse;
	border-spacing:0;
}

.programstudents .top3 {	
	border: 1px solid #a6afb7;
	border-radius: 9px;
	text-align: center;
}
.programstudents .top3 td
{
    cursor:pointer;
    vertical-align:top;
	padding: 10px;
	width: 129px;
	border-right: 1px solid #a6afb7;
}
.programstudents .top3 .student1 
{    	
	border-radius: 9px 0 0 9px;	
}
.programstudents .top3 .student2 {	
	width: 128px;			
}
.programstudents .top3 .student3 {		
	border-radius: 0 9px 9px 0;
	border-right:none;
}
.programstudents td.hover {
	background-color: #f0f3f6;	
}

.programstudents .top3 .avatar {
	margin-top: -11px;
}
.programstudents .top3 .surname {
	color: #475d70;
	font-size: 1.1em;
	font-weight: bold;
}
.programstudents .top3 .familyname {
	color: #475d70;
	font-size: 1.0em;
}
.programstudents .top3 .number {
	color: #aab8c4;
	font-size: 0.9em;
	padding-top: 3px;
}
.programstudents .top3 .ranknumber {
	position: relative;
	top: 10px;
	left: 1px;
	margin-top: -10px;
	width: 16px;
	height: 16px;
	
	/*border-radius: 16px; -webkit-border-radius: 16px; -moz-border-radius: 16px;*/
	background: url(../gfx/icon-ranking.png) no-repeat 1px 50%;
	/*background-color: #72c028;*/
	color: #FFF;
	font-weight: bold;
	padding: 8px 8px 8px 8px;
}
/* end */


/* PAGE :: Catalog details */

#container-catalogdetailspagepicture {
	float: right;
	margin-left: 60px;
}

/* Catalog details panel */


.cataloglessons h1 {
	margin-left:30px!important;
}

/* end */

/* PAGE :: Achievements */
.achievementspanel.nine-rounded> div.lt
{
    background: url(../gfx/merits-page-lt.png) top center no-repeat;
}
.achievementspanel.nine-rounded> div.rt
{
    background: url(../gfx/merits-page-rt.png) top center no-repeat;
}
.achievementspanel {
	margin: 20px auto 15px auto;
	width: 990px;
	background: #FFF;
	border: 1px solid #d0d6dc;
	border-radius: 9px;
}

.panelleft {
	width:645px;
	padding:37px 0 0 45px;
	float:left;
}

.panelleft h2 {
	margin-top:20px;
	font-size:2.2em;
	font-weight:bold;
}

.panelleft p.poeng {
	margin-top:20px;
	font-size:1.8em;
}

.panelleft img {
	padding:4px;
	float:left;
	border: 1px solid #d0d6dc;
	margin-right:25px;
}
		
.panelright {
	width:279px;
	float:left;
	padding:20px 10px 10px 10px;
	border-left: 1px solid #d0d6dc;
}

.achievementspanel ul.ranking {
	list-style:none;
}

.achievementspanel ul.ranking li {
	clear:left;
	float:left;
	padding:2px 0 2px 0;
	width:280px;
	display:block;
}

.achievementspanel ul.ranking li img {
	float:left;
	height:40px;
	width:40px;
	padding:2px;
	border:1px solid #d0d6dc;
	margin:3px 15px 0 15px;
	display:block;
}

.achievementspanel ul.ranking li span.rank {
	line-height:50px;
	height:50px;
	width:30px;
	text-align:center;
	background: url(../gfx/icon-ranking.png) 0 50% no-repeat;
	color:#fff;
	display:block;
	float:left;
	font-weight:bold;
	font-size:16px;
	display:block;
}

.achievementspanel ul.ranking li span.text {
	font-size:12px;
	line-height:18px;
	padding:6px 0 0 0;
	float:left;
}

.achievementspanel ul.ranking li.last {
	border-top:1px solid #d0d6dc;
	margin-top:6px;
	padding-top:6px;
	display:block;
}

.achievementspanel .panelfooter {
	border-top:1px solid #d0d6dc;
	height:90px;
}

.achievementspanel .panelfooter div.medalcontainer-3 {
	margin:0 auto;
	display:block;
	margin-top:20px;
	width:360px;
}

.achievementspanel .panelfooter div.medalcontainer-2 {
	margin:0 auto;
	display:block;
	margin-top:20px;
	width:220px;
}

.achievementspanel .panelfooter div.medalcontainer-1 {
	margin:0 auto;
	display:block;
	margin-top:20px;
	width:110px;
}
	

.achievementspanel .panelfooter div.medalbox {
	display:inline;
	width:100px;
	padding:0 10px;
	float:left;
}

.achievementspanel .panelfooter div.medal {
	display:block;
	width:50px;
	height:50px;
	float:left;
}

.achievementspanel .panelfooter div.gold {
	background: url(../gfx/medal-gold-small.png) 0 0 no-repeat;
}

.achievementspanel .panelfooter div.silver{
	background: url(../gfx/medal-silver-small.png) 0 0 no-repeat;
}

.achievementspanel .panelfooter div.bronze {
	background: url(../gfx/medal-bronze-small.png) 0 0 no-repeat;
}

.achievementspanel .panelfooter div.multiply {
	background: url(../gfx/achievements-multiply.gif) center center no-repeat;
	display:block;
	width:30px;
	height:50px;
	float:left;
}

.achievementspanel .panelfooter div.count {
	display:block;
	width:20px;
	height:50px;
	float:left;
	font-size:25px;
	font-weight:bold;
	line-height:50px;
}


/* end */


/* PAGE :: Course catalog */
#wrapper-settings {
	margin: 0 auto 0 auto ;
	width: 930px;
}

.featuredcourseswrapper {
	width:885px;
	margin:0 auto 25px auto;
}

.featuredcourseswrapper .coursebox {
	width:237px;
	float:left;
	display:block;
	margin-left:87px;

}

.featuredcourseswrapper .first {
	margin-left:0px;
}

.featuredcourseswrapper .coursebox img {
	padding:8px 7px;
	border:1px solid #d0d6dc;
	background:#fff;
}

.featuredcourseswrapper .coursebox h1 {
	border-bottom:1px solid #d0d6dc;
	padding:5px 0;
	font-size:1.3em;
	margin:0;
}

.featuredcourseswrapper .coursebox p {
	padding:5px 0;
}

.featuredcourseswrapper .coursebox div.details, .featuredcourseswrapper .coursebox div.enroll {
	width:237px;
	display:block;
	padding:5px 0;
}

.featuredcourseswrapper .coursebox a.courseinfo {
	font-weight:bold;
}

.featuredcourseswrapper .coursebox div.details
 {
	border-bottom:1px solid #d0d6dc;
}

.featuredcourseswrapper .coursebox span.textleft {
	float:left;
	display:block;
}

.featuredcourseswrapper .coursebox span.textright {
	float:right;
	display:block;
	text-align:right;
}

input.file {
	position: relative;		
	-moz-opacity:0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	height:30px;
	cursor:pointer;
	top:10px;
}
.fileupload .button-container
{
    position:relative;
    top:-15px;
}
.fileupload
{
    z-index:3;    
}
.form_error{
border:3px solid red;
background-color:White;
width:95%;
display:block;
/*margin:10px;*/
padding:15px 30px;
color:red;
}
.pagination a
{
    font-weight:bold;
    color:#748592;
    padding:0px 5px;    
    border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	font-size:14px;
	
}
.pagination a.prev, .pagination a.next
{
    background-color:#cad1d8;
    color:#425564;
    margin:0 2px;
}
.pagination a.active
{
    color:White;
    background-color:#e2782a;
    margin:0 4px;
}
.course-info ul
{
    list-style-type:disc;
    margin-left:20px;
}
.course-info li
{
    padding-left:10px;
    line-height:1.4;
}


/************************\
   	INFOBAR
\************************/
.infobar{
	/*left:				-15px;	
	top:				-10px;
	margin-right:       -30px;*/
	position:			relative;	
	z-index:			9997;
}
.admin .infobar{
	left:				0;	
	top:				0;
	margin-right:       0;	
}

.infobar-bar{
	border-bottom:		1px solid #696969;
}
.infobar-bar div{
	background:			InfoBackground url("../inc/images/icons/shield-help.png") no-repeat fixed 5px 3px;
	border-bottom:		1px solid #a0a0a0;
	color:				InfoText;
	cursor:				default;
	display:			block;
	font:				message-box;
	padding:			4px 25px 4px 25px;
}
.infobar-bar.exclamation div{
	background-image:	url("../inc/images/icons/shield-exclamation.png");
}
.infobar-bar.error div{
	background-image:	url("../inc/images/icons/shield-error.png");
}
.infobar-bar.help div{
	background-image:	url("../inc/images/icons/shield-help.png");
}
.infobar-bar.ok div{
	background-image:	url("../inc/images/icons/shield-ok.png");
}
.infobar-bar.warning div{
	background-image:	url("../inc/images/icons/shield-warning.png");
}
.infobar-bar div.hover, .infobar-bar div:hover {
	background-color:	Highlight;
	color:				HighlightText;
}
.infobar-bar input {
	background:			none;
	border:				none 0;
	color:				InfoText;
	font:				bold 15px "OCR A Std";
	height:				26px;
	margin:				0;
	padding:			0 0 1px 0;
	position:			absolute;
	right:				0;
	top:				0;
	width:				24px;
}
.infobar-bar.hover input, .infobar-bar:hover input {
	color:				HighlightText;
}

.infobar-menu{
	background:			#f5f5f5;
	border:				1px solid #979797;
	color:				InfoText;
	cursor:				default;
	font:				message-box;
	left:				100px;
	margin:				0;
	padding:			2px;
	position:			absolute;
	top:				100px;
	width:				auto;
	white-space:		nowrap;
	z-index:			9998;
}
.infobar-menu th, 
.infobar-menu td{
	background:			#f1f1f1;
	height:				24px;
	margin:				0;
	padding:			0 5px;
	text-align:			left;
}
.infobar-menu th{
	width:				20px;
}
.infobar-menu img{
	height:				16px;
	width:				16px;
}
.infobar-menu .dividerH{
	background-color:	white;
	border-left:		1px solid #e0e0e0;
	font-size:			0;
	line-height:		0;
	padding:			0;
	width:				1px;
}
.infobar-menu .dividerV th, .infobar-menu .dividerV td {
	font-size:			0;
	height:				0;
	line-height:		0;
}
.infobar-menu .dividerV td {
	border-bottom:		1px solid white;
	border-top:			1px solid #e0e0e0;
}
.infobar-menu .dividerV td div{
	height:				0;
}

.infobar-menu tr.hover th, .infobar-menu tr:hover th {
	background:			#f1f1f1 url("../inc/images/menu-bg-hover-left.jpg") no-repeat center left;
}
.infobar-menu tr.hover td, .infobar-menu tr:hover td {
	background:			#f1f1f1 url("../inc/images/menu-bg-hover-right.jpg") no-repeat center right;
	color:				InfoText;
}
.infobar-menu tr.hover td.dividerH, .infobar-menu tr:hover td.dividerH {
	background:			white url("../inc/images/menu-bg-hover-mid.jpg") repeat-x center center;
}
.infobar-menu tr.hover.dividerV th, .infobar-menu tr.hover.dividerV td, .infobar-menu tr.dividerV:hover th, .infobar-menu tr.dividerV:hover td{
	background-image:	none;
}

/* END INFOBAR */
#class-info ul
{
    list-style-type: disc; margin:10px;padding-left:10px
}
#class-info ul li a
{
    text-decoration:underline;
}
.course-elearn-expired
{padding-top:30px; 
 /*font-weight:bold; */
 /*color:red*/
}
.course-elearn-expired td
{
    padding-right:10px;
    /*color:Red;
    text-decoration:underline;*/
}

/* The small students list */

.smallstudentslist td {
	background: #FFF;
	padding: 8px 10px 8px 10px;
}
.smallstudentslist .divider {
	padding: 0;
	margin: 0;
	height: 5px;
	background: #FFF;
}
.smallstudentslist td.first    {
	border-radius: 16px 0 0 16px;	
	-webkit-border-radius: 16px 0 0 16px; -moz-border-radius: 16px 0 0 16px;
	clear: both;
}
.smallstudentslist td.last    {
	border-radius: 0 99px 99px 0 ;
	-webkit-border-radius: 0 16px 16px 0; -moz-border-radius: 0 16px 16px 0;
	clear: both;
}
.smallstudentslist .ranknumber {
	float: left;
	text-align: center;
	min-width: 16px;
	border-radius: 16px;
	/*-webkit-border-radius: 16px; -moz-border-radius: 16px;
	background-color: #72c028;*/
	background: url(../gfx/icon-ranking.png) no-repeat 1px 50%;
	color: #FFF;
	font-weight: bold;
	padding: 8px;
	margin: -8px -10px -8px -10px;
}
.smallstudentslist .name  {
	float: left;
	padding: 0 20px 0 0;
	background: url(../gfx/arrow01.png) right 3px no-repeat;
	color: #475d70;
}
.hover td, .hover .name, .hover .date {
	background-color: #72c028;
	color: #FFF;
}
.smallstudentslist .unavailable td, .smallstudentslist .unavailable .name {
	background-color: #aab8c4;
	background-image: none;
	color: #FFF;
}
/* end */

/* Progressbar for the small students list */
.smallstudentslist .progressbar {
	float: right;
	width: 120px;
	height: 15px;
	border: 1px solid #aab8c4;
	font-size: 0.7em;
}
.smallstudentslist .progressbar.complete {
	background:#72c028;
}
.hover .smallstudentslist .progressbar.complete {
	background:#FFF;
}
.smallstudentslist .hover .progressbar {
	background:#bef390;
	border-color: #bef390;
}
.smallstudentslist .taken {
	background: #cad1d8;
	height: 100%;
	border-radius: 99px 0 0 99px;
}
.smallstudentslist .hover .taken {
	background: #FFF;
}
/* end */


/* The large lessons list */
.largelessonslist  {
	margin: 0 auto;
    background-color: white;
	width: 990px;
	padding: 25px 0 25px 0;
	border:0;
	border-collapse:collapse;
	border-spacing:0;
}
.largelessonslist .info{
    width:127px;
    text-align:center;
    font-style: italic;
    color: rgb(139, 156, 170);
    font-size: 11px;    
    position: relative;
    top: 15px;
}
.largelessonslist td{
	padding: 8px 10px 8px 10px;
}
.largelessonslist h1{
	margin: 0 0 0 20px;
	padding: 0 0 26px 0;
}
.largelessonslist .divider {
	padding: 0;
	margin: 0;
	height: 5px;
}

.largelessonslist td.first    {
	border-radius: 99px 0 0 99px;
	clear: both;
}
.largelessonslist td.last    {
	border-radius: 0 99px 99px 0 ;
	clear: both;
}
.largelessonslist .name  {
	float: left;
	padding: 0 20px 0 20px;
	background: url(../gfx/arrow01.png) right 3px no-repeat;
	color: #475d70;
}
.largelessonslist .date {
	width: 130px;
	color: #aab8c4;
}
.hover td, .hover .name, .hover .date {
	background-color: #72c028;
	color: #FFF;
}
.largelessonslist .unavailable td, .largelessonslist .unavailable .name {
	background-color: #aab8c4;
	background-image: none;
	color: #FFF;
}
/* end */

/* Progressbar for the large lessons list */
.largelessonslist .progressbar {
	float: right;
	width: 120px;
	height: 15px;
	border: 1px solid #aab8c4;
	font-size: 0.7em;
}
.largelessonslist .progressbar.complete {
	background:#72c028;
}
.hover .largelessonslist .progressbar.complete {
	background:#FFF;
}
.largelessonslist .hover .progressbar {
	background:#bef390;
	border-color: #bef390;
}
.largelessonslist .taken {
	background: #cad1d8;
	height: 100%;
	border-radius: 99px 0 0 99px;
}
.largelessonslist .hover .taken {
	background: #FFF;
}
/* end */





/* The supertable */

.supertable {
	width:990px;
	margin:0 auto;
}

.supertable .header {
	background: #FFF;
	border: 1px solid #d0d6dc;
	border-radius: 9px;
	padding: 17px 25px 20px 25px;
}

.supertable .header h1 {
	width:730px;
	float:left;
	margin:0;
	padding:0;
}

.supertable .header .search {
	width:200px;
	float:left;
}

.supertable form.search_form {
	margin-top:5px;
	width:200px;
}

.supertable input.search_input {
	width:184px;
	background: #fff url(../gfx/supertable-searchform.gif) 0 0 no-repeat;
	padding: 0 8px 0 25px;
	border:0;
	height:25px;
	line-height:25px;
	color:#475d70;
}

.supertableleft {
	float:left;
	width:200px;
}

.supertableleft .status {
	padding:17px 0 35px 0;
	text-align:center;
}

.supertable .sorter {
	border: 1px solid #d0d6dc;
	border-radius: 9px;
	padding: 12px 0 12px 0;
}

.supertable .sorter p, .supertable .sorter ul li, .supertable .sorter h3 {
	margin: 0 25px 12px 25px;
}

.supertable .sorter ul {
	border-top: 1px solid #d0d6dc;
	padding:15px 0 0 0;
}

.supertable .sorter ul.filter-remove li a {
	background: url(../gfx/icon-filter-remove.gif) 0 1px no-repeat;
	padding:0 0 2px 20px;
}

.supertable table  {
	float:left;
	margin:0 0 25px 25px;
	width: 760px;
	border:0;
	border-collapse:collapse;
	border-spacing:0;
}

.supertable table  th{
	padding:17px 10px 35px 10px;
	font-weight:normal;
	text-align:left;
}

.supertable table  th a.sort {
	height:9px;
	width:8px;
	display:inline;
	margin-left:10px;
}

.supertable table td{
	background: #FFF;
	padding: 8px 10px 8px 10px;
}

.supertable table .divider {
	padding: 0;
	margin: 0;
	height: 5px;
}

.supertable table td.first    {
	border-radius: 99px 0 0 99px;
	clear: both;
	padding-left:16px;
}
.supertable table td.last    {
	border-radius: 0 99px 99px 0 ;
	clear: both;
}
.supertable table .hover td, .supertable table .hover td a {
	color: #FFF;
}
.supertable table .hover td {
	background: #4f96db;
}

.supertable table .hover td.last {
	background: #3f6fb5;
	color: #FFF;
}
.supertable .highlight td.first, .supertable .highlight td.last
{
    position:relative;
}

.supertable .highlight div.lt,.supertable .highlight div.rt,.supertable .highlight div.lb,.supertable .highlight div.rb
{
    position:absolute;    
    width:18px;height:16px;
    z-index:1;        
}
.supertable .hover div.lt
{        
    left:0;top:0;    
    background: url(../gfx/bar-blue-lt.png) top center no-repeat;
}
.supertable .hover div.rt
{        
    right:0;top:0;    
    background: url(../gfx/bar-dark-blue-rt.png) top center no-repeat;
}
.supertable .hover div.lb
{       
    left:0;bottom:0;    
    background: url(../gfx/bar-blue-lb.png) top center no-repeat;
}
.supertable .hover div.rb
{        
    right:0;bottom:0;    
    background: url(../gfx/bar-dark-blue-rb.png) top center no-repeat;
}

/* end */


/* Settings form */

div.settingsform {
	width: 990px;
	border:0;
	border-collapse:collapse;
	border-spacing:0;
	padding:0 0 50px 0;
}

div.settingsform td.largetext {
	color:#435a6d;
	font-size:1.4em;
	vertical-align: top;
}

div.settingsform td.headercolumn {
	font-size:1.2em;
	color:#1d2a33;
	width:250px;
	font-weight:bold;
	vertical-align: top;
}

div.settingsform td.dividersmall {
	height:10px;
}

div.settingsform td.dividerlarge {
	height:50px;
}

div.settingsform td.dividermedium {
	height:30px;
}

div.settingsform td.fieldcolumn {
	padding:0 3px;
}

div.settingsform td.avatarcell {
	padding:0;
}

div.settingsform td.helptextcolumn {
	
}

label.textlabel {
	display:block;
	padding:0 0 5px 0;
}

input.textinput, input.textinput-zip, input.textinput-city {
   	border: 1px solid #aaa;
    border-radius: 6px;
}
input.textinput {
	display:block;
	width:350px;	
	padding: 0 10px 0 10px;
	height:28px;
	line-height:28px;
	color:#475d70;
}

div.settingsform div.left {
	width:133px;
	display:block;
	float:left;
}

div.settingsform div.right {
	width:220px;
	display:block;
	float:left;
	margin-left:17px;
}

input.textinput-zip {
	display:block;
	width:113px;
	padding: 0 10px 0 10px;
	height:28px;
	line-height:28px;
	color:#475d70;
}

input.textinput-city {
	display:block;
	width:200px;
	padding: 0 10px 0 10px;
	height:28px;
	line-height:28px;
	color:#475d70;
}

div.settingsform div.avatarupload {
	display:block;
	width:374px;
	background-color: white;
    border: 1px solid #aaa;
    border-radius: 6px;
    box-shadow: 2px 2px 10px #888888;
	height:156px;
}


div.settingsform div.avatarupload .avatarleft {
	width:130px;
	padding:16px 0 0 20px;
	float:left;
}

div.settingsform div.avatarupload .avatarright {
	width:200px;
	padding:0 10px 0 10px;
	float:left;
}

div.settingsform div.avatarupload img {
	padding:11px;
	border:1px solid #92a5b5;
}

div.settingsform div.avatarupload .actionbutton {
	margin:25px 0 0px 0;
	text-align:center;
}

div.settingsform div.avatarupload .checkbox {
	float:left;
	width:20px;
}

div.settingsform div.avatarupload .chechboxtext {
	float:left;
}

div.settingsform label.selectlabel {
	width:175px;
	height:28px;
	line-height:25px;
	display:block;
	float:left;
}

div.settingsform select {
	width:193px;
	border: 1px solid #aaa;
    border-radius: 6px;
	padding: 0px 0 0 10px;	
	height:25px;
	line-height:25px;
	color:#475d70;	
}

/* Achievements list */
.achievementslist  {
	margin: 0 auto;
	width: 990px;
	padding: 0px 0 25px 0;
	border:0;	
	border-spacing:0;
}
.achievementslist table{
    width:100%;
    border-collapse:collapse;
}
.achievementslist td{	
	padding: 8px 10px 8px 10px;
	position:relative;
}
.achievementslist h1{
	margin: 0 0 0 20px;
	padding: 0 0 10px 0;
}
.achievementslist .divider {
	padding: 0;
	margin: 0;
	height: 5px;
}

.achievementslist td.first    {
	border-radius: 99px 0 0 99px;
	clear: both;
}
.achievementslist td.last    {
	border-radius: 0 99px 99px 0 ;
	clear: both;
	width:150px;
}
.achievementslist .name  {
	float: left;
	padding: 0 20px 0 20px;
	color: #475d70;
}
.achievementslist .nonav{
    cursor:default;
}
.achievementslist .date {
	width: 130px;
	color: #aab8c4;
}
.hover td, .hover .name, .hover .date {
	background-color: #72c028;
	color: #FFF;
}
.achievementslist .hover .pdu, .achievementslist .hover .diploma {	
	color: #FFF;
}

.achievementslist .hover .pdu, .achievementslist .hover .last.diploma {
	background:#0066cc;
}

.achievementslist .unavailable td, .achievementslist .unavailable .name {
	background-color: #aab8c4;
	background-image: none;
	color: #FFF;
}
/* end */

.competency .textinput{
    width:300px;
}
.competency ol{
    padding:10px 0 10px 25px;
}        
.competency ol.empty{
    padding:10px 0 10px 0px;
    list-style: none;
}
#wrapper-introduction .exam-competency-missing h3{
    color:red;
    font-size:16px;
    font-weight:bold;
}
.exam-switch-info, select{
    margin-bottom:10px;
}
.prince2-exam-switcher select{
            
}

/* Accordion on index.aspx */
.wrapper-miniprogramboxes .ui-accordion .ui-accordion-header {    
    font-size: 105%;
    font-weight: bold;
}
.wrapper-miniprogramboxes .ui-accordion-header-active{
font-weight:bold;
}
.wrapper-miniprogramboxes .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    background-color: #509E2F;
    border-radius: 8px;
	padding-right: 1px;	
}
.wrapper-miniprogramboxes .ui-state-hover .ui-icon, 
.wrapper-miniprogramboxes .ui-state-focus .ui-icon, 
.wrapper-miniprogramboxes .ui-state-default .ui-icon, 
.wrapper-miniprogramboxes .ui-state-active .ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.png");
    padding-bottom: 1px;
}
.wrapper-miniprogramboxes .ui-state-active .ui-icon {
    padding-bottom: 0;
}

    /*
        	closed:
	padding-bottom: 1px;
    */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
          border: 1px solid #d3d3d3;
          background: #e6e6e6 url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
          font-weight: normal;
          color: #555555;
        }

        .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #999999;
  background: #dadada url("images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;
  font-weight: normal;
  color: #212121;
}
               .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa;
  background: #ffffff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
  font-weight: normal;
  color: #212121;
}

               .ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
  color: #222222;
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
  background-image: url("images/ui-icons_454545_256x240.png");
}
               .activityset{                   

               }
               .accordion{
                  /* width:800px;*/
               }
               .lCourseCatalog{
                    background:url('../inc/images/icons/bullet_go.png') no-repeat 0 0;
                    padding-left: 17px;
                    padding-top: 1px;
                    margin-top:20px
               }
               .ui-accordion .ui-accordion-content {
padding: 1.7em 1.4em;
}

/* END Accordion on index.aspx */
