/* Styles shared between LMS and course player */

.button-diploma {
	float: right;
	display: block;
	width: 120px;
	height: 50px;
	border-left: 1px solid #d0d6dc;
	background: url(../gfx/icon-diploma-unavailable.png) center 10px no-repeat #FFF;
	padding: 80px 10px 0 10px;
	border-radius: 0 9px 9px 0;
	text-align: center;
	font-size: 11px;
	color: #8b9caa;
    cursor:default;
}
.drop-menu .button-diploma
{
    border-radius:0;
}

.button-diploma.active
{
    background: url(../gfx/icon-diploma.png) center 10px no-repeat #FFF;
    cursor:pointer;
}
.button-endtest {
	float: right;
	display: block;
	width: 120px;
	height: 50px;
	border-left: 1px solid #d0d6dc;
	background: url(../gfx/icon-endtest-unavailable.png) center 10px no-repeat #FFF;
	padding: 80px 10px 0 10px;
	text-align: center;
	font-size: 11px;
	color: #8b9caa;
    cursor:default;
}

.button-endtest.active
{
    background: url(../gfx/icon-endtest.png) center 10px no-repeat #FFF;
    cursor:pointer;
}
.button-endtest.completed
{
    background: url(../gfx/icon-endtest-completed.png) center 10px no-repeat #FFF;
    cursor:pointer;
}

a.button-classroom {
	float: right;
	display: block;
	width: 120px;
	height: 115px;
	border-left: 1px solid #d0d6dc;
	background: url(../gfx/icon-classroom2.png) center 5px no-repeat #FFF;
	padding: 15px 10px 0 10px;
	border-radius: 0;
	text-align: center;
	font-size: 0.75em;
	color: #8b9caa;
}
a.button-classroom.active
{
    background: url(../gfx/icon-classroom.png) center 5px no-repeat #FFF;
}
a.button-classroom .month {
	width: 60px;
	text-align: center;
	padding: 2px 0 2px 31px;
	font-family: "Hevetica Neue", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform:uppercase;
	color: #FFF;
}
a.button-classroom .date {
	width: 60px;
	text-align: center;
	padding: 0 0 13px 31px;
	font-family: "Hevetica Neue", Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #aab8c4;
}
.button-diploma:hover, .button-endtest:hover, a.button-classroom:hover {
	background-color: #f0f3f6;
}
.button-diploma h3, .button-endtest h3, .button-classroom h3 {
	font-size: 1.3em;
	font-weight: normal;
	color: #435a6d;
}
.information-button
{
    text-align:center;vertical-align:middle;padding:20px 30px;border-left:1px solid #d0d6dc; font-family:Arial; cursor:pointer; 
}
.information-button.hover
{
    background-color:#f0f3f6;
}

/* The progress bar */
.progressbar {
	background: #aab8c4;
	border: 1px solid #aab8c4;
	border-radius: 8px;
	-webkit-border-radius: 8px; -moz-border-radius: 8px;
	color: #FFF;
	font-size: 0.8em;
	font-weight: bold;
	position:relative;
}
.progressbar .number
{
    position:absolute;
    z-index:1;
    top:2px;
    left:3px;
}
.progressbar .taken {
	background: #60a5df;
	position:absolute;
	height: 100%;
	border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px; -moz-border-radius: 8px 8px 8px 8px;
}
.progressbar .number-taken {
	float: left;
	margin: 1px 0 0 8px;
}
.progressbar .percentage-taken{
    width:100%;text-align:center; position:absolute;z-index:1000;
    margin-top:1px;
}
.progressbar.large .percentage-taken{
    margin-top:4px;
}
.progressbar .number-total {
	float: right;
	margin: 1px 8px 0 0;
	right:0;
	z-index:1;
	position:absolute;
}


.progressbar.large> .lt
{
    background: url(../gfx/progress-bar-large-left.png) top left no-repeat;
    height:25px;
    width:12px;
    top:0;    
}
.progressbar.large> .lb
{
    display:none;
}
.progressbar.large> .rt
{
    background: url(../gfx/progress-bar-large-right.png) top right no-repeat;
    height:25px;
    width:12px;
    top:0;    
}
.progressbar.large> .rb
{
    display:none;
}

.progressbar.large {
	float: left;
	width: 220px;
	height: 25px;
	border: 1px solid #FFF;
	border-radius: 99px;
	background:#aab8c4;
	margin-top: 2px;
	/*box-shadow: inset 1px 2px 3px 0 #000;*/
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	position:relative;
}
.progressbar.large .progresscolor-taken {
	background: url(../gfx/bg-progressbar-taken.png) center center repeat-x #60a5df;
	height: 100%;
	border-radius: 99px 0 0 99px;
	position:absolute;
	left:0;
}
.progressbar.large .progressnumber-taken {
	position: absolute;
	left: 15px;
	top: 5px;
}
.progressbar.large .progressnumber-total {
	float: right;
	text-align: right;
	padding: 5px 15px 0 0;
	right:0;
	position:absolute;
	z-index:1;
}

.progressbar> .lt
{
    position:absolute;
    left:-1px;
    top:-1px;
    width:7px;
    height:17px;
    z-index:1;
    background: url(../gfx/progress-bar-left.png) top left no-repeat;
}
.progressbar.tiny> .lt
{
    background: url(../gfx/progress-bar-tiny-left.png) top left no-repeat;
    width:5px;
    height:10px;
}
.progressbar> .rt
{
    position:absolute;
    right:-1px;
    top:-1px;
    width:7px;
    height:17px;
    z-index:1;
    background: url(../gfx/progress-bar-right.png) top left no-repeat;
}
.progressbar.tiny> .rt
{
    background: url(../gfx/progress-bar-tiny-right.png) top left no-repeat;
    width:5px;
    height:10px;
}
.hover .progressbar> .lt
{
    background: url(../gfx/progress-bar-left-hover.png) top left no-repeat;
}
.hover .progressbar.tiny> .lt{
   background: url(../gfx/progress-bar-tiny-left-hover.png) top left no-repeat;
}
.hover .progressbar> .rt
{
    background: url(../gfx/progress-bar-right-hover.png) top left no-repeat;
}
.hover .progressbar.tiny> .rt{
   background: url(../gfx/progress-bar-tiny-right-hover.png) top left no-repeat;
}

.miniprogrambox .progressbar> .lt
{
    background: url(../gfx/progress-bar-home-left.png) top left no-repeat;
    height:18px;
    top:0;
}
.miniprogrambox .progressbar> .lb
{
    display:none;
}
.miniprogrambox .progressbar> .rt
{
    background: url(../gfx/progress-bar-home-right.png) top left no-repeat;
    height:18px;
    top:0;
}
.miniprogrambox .progressbar> .rb
{
    display:none;
}


/* end */


/* The small lessons list */
table.smalllessonslist, table.tinylessonslist  {
	margin: 0 auto;
	width: 450px;
	padding: 25px 0 25px 0;
	border:0;
	border-collapse:collapse;
	border-spacing:0;
}
table.tinylessonslist  
{
 width:auto;   
}
table.tinylessonslist tr
{
    cursor:pointer;
}
.smalllessonslist td, .tinylessonslist td{
	background: #FFF;
	padding: 8px 10px 8px 10px;
	position:relative;
}
.tinylessonslist td{	
	padding: 2px 8px 2px 9px;	
	vertical-align:middle;
}
.tinylessonslist td.last
{
    padding-right: 4px;	
}
.smalllessonslist h1{
	margin: 0 0 0 20px;
	padding: 0 0 10px 0;
}
.smalllessonslist .divider {
	padding: 0;
	margin: 0;
	height: 5px;
	background: #FFF;
}
.tinylessonslist .divider {
	padding: 0;
	margin: 0;
	height: 5px;
	background: #FFF;
}
.smalllessonslist td.first, .tinylessonslist td.first    {
	border-radius: 99px 0 0 99px;
	clear: both;
}
.smalllessonslist td.last, .tinylessonslist td.last{
	border-radius: 0 99px 99px 0 ;
	clear: both;
}

.left-rounded, .right-rounded
{
    position:relative;
}

#rounded-lt, #rounded-lb,#rounded-rt, #rounded-rb
{
    position:absolute;    
    width:18px;
    height:16px;
}
.tiny #rounded-lt, .tiny #rounded-lb,.tiny #rounded-rt, .tiny #rounded-rb
{    
    width:9px;
    height:9px;
}
.hover #rounded-lt
{        
    left:0;top:0;    
    background: url(../gfx/bar-green-lt.png) top left no-repeat;
}
.hover #rounded-lb
{        
    left:0;bottom:0;    
    background: url(../gfx/bar-green-lb.png) top right no-repeat;
}
.hover #rounded-rt
{        
    right:0;top:0;    
    background: url(../gfx/bar-green-rt.png) top left no-repeat;
}
.hover #rounded-rb
{        
    right:0;bottom:0;    
    background: url(../gfx/bar-green-rb.png) top right no-repeat;
}

.tiny .hover #rounded-lt
{        
    left:0;top:0;    
    background: url(../gfx/bar-green-tiny-lt.png) top left no-repeat;
}
.tiny .hover #rounded-lb
{        
    left:0;bottom:0;    
    background: url(../gfx/bar-green-tiny-lb.png) top right no-repeat;
}
.tiny .hover #rounded-rt
{        
    right:0;top:0;    
    background: url(../gfx/bar-green-tiny-rt.png) top left no-repeat;
}
.tiny .hover #rounded-rb
{            
    background: url(../gfx/bar-green-tiny-rb.png) top right no-repeat;
}

.hover .blue #rounded-lt
{            
    background: url(../gfx/bar-blue-lt.png) top left no-repeat;
}
.hover .blue #rounded-lb
{            
    background: url(../gfx/bar-blue-lb.png) top right no-repeat;
}
.hover .blue #rounded-rt
{            
    background: url(../gfx/bar-blue-rt.png) top left no-repeat;
}
.hover .blue #rounded-rb
{            
    background: url(../gfx/bar-blue-rb.png) top right no-repeat;
}
.hover .dark-blue #rounded-lt
{            
    background: url(../gfx/bar-dark-blue-lt.png) top left no-repeat;
}
.hover .dark-blue #rounded-lb
{            
    background: url(../gfx/bar-dark-blue-lb.png) top right no-repeat;
}
.hover .dark-blue #rounded-rt
{            
    background: url(../gfx/bar-dark-blue-rt.png) top left no-repeat;
}
.hover .dark-blue #rounded-rb
{            
    background: url(../gfx/bar-dark-blue-rb.png) top right no-repeat;
}

.smalllessonslist .name  {
	float: left;
	padding: 0 20px 0 20px;
	background: url(../gfx/arrow01.png) right 3px no-repeat;
	color: #475d70;
}

.hover td, .hover .name, .hover .date {
	background-color: #72c028;
	color: #FFF;
}
.smalllessonslist .unavailable td, .smalllessonslist .unavailable .name {
	background-color: #aab8c4;
	background-image: none;
	color: #FFF;
}
/* end */

/* Progressbar for the small lessons list */
.progressbar.small, .progressbar.tiny {
	float: right;
	width: 120px;
	height: 15px;
	border: 1px solid #aab8c4;
	font-size: 0.7em;
}
.progressbar.tiny {
	height: 8px;	
	width:60px;
}

.progressbar.small.complete, .progressbar.tiny.complete {
	background:#72c028;
}
.hover .progressbar.small.complete, .hover .progressbar.tiny.complete {
	background:#FFF;
}
.hover .progressbar.small, .hover .progressbar.tiny {
	background:#bef390;
	border-color: #bef390;
}

.smalllessonslist .taken, .tinylessonslist .taken {
	background: #cad1d8;
	height: 100%;
	border-radius: 99px 0 0 99px;
}
.smalllessonslist .hover .taken, .tinylessonslist .hover .taken {
	background: #FFF;
}
/* end */

.nine-rounded, .nine-rounded-dark
{
    position:relative;
}
.nine-rounded>div.lt,.nine-rounded>div.rt,.nine-rounded>div.lb,.nine-rounded>div.rb,
.nine-rounded-dark>div.lt,.nine-rounded-dark>div.rt,.nine-rounded-dark>div.lb,.nine-rounded-dark>div.rb
{
    position:absolute;    
    width:8px;height:8px;
    z-index:1;    
}
.nine-rounded> div.lt
{    
    left:-1px;top:-1px;    
    background: url(../gfx/box-gray-lt.png) top center no-repeat;
}
.nine-rounded> div.rt
{    
    right:-1px;top:-1px;    
    background: url(../gfx/box-gray-rt.png) top center no-repeat;
}
.nine-rounded> div.lb
{    
    left:-1px;bottom:-1px;    
    background: url(../gfx/box-gray-lb.png) top center no-repeat;
}
.nine-rounded> div.rb
{    
    right:-1px;bottom:-1px;    
    background: url(../gfx/box-gray-rb.png) top center no-repeat;
}
.nine-rounded-dark> div.lt
{    
    left:-1px;top:-1px;    
    background: url(../gfx/box-dark-gray-lt.png) top center no-repeat;
}
.nine-rounded-dark> div.rt
{    
    right:-1px;top:-1px;    
    background: url(../gfx/box-dark-gray-rt.png) top center no-repeat;
}
.nine-rounded-dark> div.lb
{    
    left:-1px;bottom:-1px;    
    background: url(../gfx/box-dark-gray-lb.png) top center no-repeat;
}
.nine-rounded-dark> div.rb
{    
    right:-1px;bottom:-1px;    
    background: url(../gfx/box-dark-gray-rb.png) top center no-repeat;
}

.button-text-shadow, .button-text-shadow
{
    -moz-text-shadow: 1px 1px 2px #7da3c1;
    -webkit-text-shadow: 1px 1px 2px #7da3c1;
    text-shadow: 1px 1px 2px #7da3c1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#7da3c1')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#7da3c1');
}
.hover .button-text-shadow, .manual-hover .button-text-shadow
{
    -text-shadow: 3px 3px 4px #ccc;
    -webkit-text-shadow: 3px 3px 4px #ccc;
    text-shadow: 3px 3px 4px #ccc;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#7da3c1')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#7da3c1');
}


/* The action button */
.ui-widget-content .actionbutton a,
.actionbutton a 
{
    white-space:nowrap;
	padding: 3px 12px 4px 12px;
	background: url(../gfx/button-blue.png) center repeat-x #39C;
	border: 1px solid #355c91;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color: #FFF;
	font-size: 1.0em;
	font-weight:bold;
	text-shadow: 0 -1px 1px #000f4d;
	-moz-box-shadow: inset 0 1px 0 0 #afd9ed;
	-webkit-box-shadow: inset 0 1px 0 0 #afd9ed;
	box-shadow: inset 0 1px 0 0 #afd9ed;
	cursor:pointer;
}
.actionbutton a:hover {
	background: url(../gfx/button-blue-hover.png) center repeat-x #39C;
}
.ie-actionbutton a
{
    cursor:pointer;
}
/* end */

.player-button
{
    cursor:pointer;padding:5px 5px 0 5px;margin:3px 20px 0 20px;  font-size:12px; font-family:arial; float:left;
    background-image:url('../gfx/round-button-bg.png'); 
    background-repeat:repeat-x; height:19px; position:relative;
}
.player-button.disabled
{
    background-image:url('../gfx/round-button-disabled-bg.png');
    cursor:default;                        
}
.player-button .left
{
    position:absolute;left:-1px;top:0;background-image:url('../gfx/round-button-left.png'); 
    height:24px; width:11px; background-repeat:no-repeat
}
.player-button.disabled .left{background-image:url('../gfx/round-button-disabled-left.png');}
.player-button .right
{
    position:absolute;right:-1px;top:0;background-image:url('../gfx/round-button-right.png'); 
    height:24px; width:11px; background-repeat:no-repeat;
}
.player-button.disabled .right{background-image:url('../gfx/round-button-disabled-right.png');}
.player-button .text{color:White;padding:0 15px}
.player-button.disabled .text{color:#ccc;}

a.downloads {
	padding: 10px 10px 10px 60px;
	background: url(../gfx/symbol-download.png) 5px 5px no-repeat #FFF;
	display: block;
	border: 1px solid #FFF;
	border-radius: 9px;
	margin-bottom: 3px;
	color: #435a6d;
}
a.downloads.small {
	padding: 5px 5px 5px 40px;
	background: url(../gfx/symbol-download-small.png) 2px 2px no-repeat #FFF;
	border-radius: 9px;
	margin-bottom: 0px;
	color: #435a6d;
}
a.downloads h3 {
	font-weight: normal;
	font-size: 1.0em;
}
a.downloads .infotext {
	font-size: 0.8em;
	color: #aab8c4;
}
/*a.downloads:hover, */
a.downloads.hover {
	background-color: #f0f3f6;
	border-color: #a6afb7;
}


.actionbutton.small a {
	padding: 3px 12px 4px 12px;
	background: url(../gfx/button-blue.png) center repeat-x #39C;
	border: 1px solid #355c91;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color: #FFF;
	font-size: 0.8em;
	font-weight:bold;
	text-shadow: 0 -1px 1px #000f4d;
	-moz-box-shadow: inset 0 1px 0 0 #afd9ed;
	-webkit-box-shadow: inset 0 1px 0 0 #afd9ed;
	box-shadow: inset 0 1px 0 0 #afd9ed;
}
.actionbutton.small a:hover {
	background: url(../gfx/button-blue-hover.png) center repeat-x #39C;
}

.grayscale {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

#ie-blue-button td
{
    padding:0;
    width:auto;
    border:0;
    vertical-align:middle;
}
#ie-blue-button
{
    border-collapse:collapse;
    height:24px;
    line-height:normal;
}
.enroll #ie-blue-button, .container-loginbutton #ie-blue-button, .miniprogrambox #ie-blue-button
{
    margin:0 auto;
}

#ie-blue-button .left
{
    width:5px;height:24px;background:url(../gfx/blue-button-left.png) top left no-repeat;
}
#ie-blue-button .right
{
    width:5px;height:24px;background:url(../gfx/blue-button-right.png) top left no-repeat;
}
#ie-blue-button .middle
{
    height:24px;background:url(../gfx/blue-button-middle.png) top left repeat-x;    
    padding:0 5px;
}
#ie-blue-button a
{
    color: #FFF;
	font-size: 0.85em;
	font-weight:bold;
	text-shadow: 0 -1px 1px #000f4d;
}
#progress-container #ie-blue-button a, .miniprogrambox #ie-blue-button a, .enrollment #ie-blue-button a
{
    font-size: 1em;
}
.container-loginbutton #ie-blue-button a
{
        font-size: 1.1em;
}
#ie-blue-button.hover .left
{
    background:url(../gfx/blue-button-left-hover.png) top left no-repeat;  
}
#ie-blue-button.hover .middle
{
    background:url(../gfx/blue-button-middle-hover.png) top left repeat-x;  
}
#ie-blue-button.hover .right
{
    background:url(../gfx/blue-button-right-hover.png) top left no-repeat;  
}

#metier-msg
{
    position:absolute;
    z-index:100;    
    top:-200px; 
}
#metier-msg .top{
height:373px;
position:relative;
}
#metier-msg .top .left, #metier-msg .top .right
{
background-image: url(../gfx/dialog-top-l.png);
height:373px;
position:absolute;
top:0;
}
#metier-msg .top .left{
left:-243px;
width:473px;
}
#metier-msg .top .right
{
background-image: url(../gfx/dialog-top-r.png);
right:-241px;
width:471px;
}
#metier-msg .top .mid {
background-image: url(../gfx/dialog-top-m.png);
background-repeat: repeat-x;
height: 373px;
margin: 0 230px;
}
#metier-msg .body{
    position:relative;
}
#metier-msg .body .left, #metier-msg .body .right
{
background-image: url(../gfx/dialog-fill-l.png);
background-repeat:repeat-y;
position:absolute;
bottom:0;
top:0;
}
#metier-msg .body .left {
width:252px;
left:-252px;
}
#metier-msg .body .right
{
background-image: url(../gfx/dialog-fill-r.png);
width:262px;
right:-251px;
}
#metier-msg .body{
    background-color:white;
}
div#metier-msg td {
    padding: 10px;
}
/*
#metier-msg .top
{
background-image: url(../gfx/dialog-top.png);
width:965px;
height:389px;
position:relative;
}*/
#metier-msg .top .close
{
    position:absolute;
    bottom:0;
    left: 150px;
    cursor:pointer;
    background-image: url(../gfx/dialog-close.png);
    width:34px;
    height:22px;
}
#metier-msg .top .close:hover
{
    background-image: url(../gfx/dialog-close-hover.png);
}
#metier-msg .bottom
{
position:relative;
}
#metier-msg .bottom>.left, #metier-msg .bottom>.right
{
background-image: url(../gfx/dialog-bottom-l.png);
height:452px;
position:absolute;
top:0;
width:481px;
}

#metier-msg .bottom>.left{
left:-252px;
}
#metier-msg .bottom>.right
{
background-image: url(../gfx/dialog-bottom-r.png);
right:-251px;
}
#metier-msg .bottom>.mid {
background-image: url(../gfx/dialog-bottom-m.png);
background-repeat: repeat-x;
height: 452px;
margin: 0 230px 0 229px;
}

#metier-msg .text {
    padding: 10px 20px 10px 50px;
    max-height: 400px;
    min-height: 100px;
    margin-right: 20px;
    overflow-y: auto;
}
/*
#metier-msg .fill
{
background-image: url(../gfx/dialog-fill.png);
background-repeat:repeat-y;
width:965px;
}
#metier-msg .text
{    
    margin:0 auto;
    padding:10px 0 30px 0;
}
 */
#metier-msg .buttons
{
    width:100%;    
    padding:30px 50px;
    position: absolute;    
    top: 0;
    z-index:1000;
}

#metier-msg .buttons .left
{
    float:left;
}
#metier-msg .buttons .middle
{
    text-align: center;
}

#metier-msg .buttons .right
{
    float:right;
}

#metier-msg .cancelbutton a
{
 border-radius: 12px;   
 background-color:#435a6d;
 color:#a2aeb8;
 font-weight:bold;
 font-size:14px;
 padding:4px 10px;
}
#metier-msg .cancelbutton a:hover
{
    background-color:#5b7183;
}

#metier-msg li{
    padding:2px 0 2px 0;
}
   
td.missing, label.missing, td.missingCompetency, label.missingCompetency{
    color:red;
}
.clickable{
    cursor:pointer;
}
.disabled{
    cursor:not-allowed;
    opacity:0.5;
}    



/* Metier BAR */

.metierbar
{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 26px;  
  padding: 10px 0;
  text-align: center;  
  color: #fff;
  background-color: #EB593C;
  box-shadow: 0px 0px 10px 0 #888888;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;  
  z-index: 99999;
}
 

.metierbar div
{  
  margin-top: 3px;
  font-weight: 600;
}
 
.metierbar a
{
  border-radius: 3px;
  background: #000;    
  color: #fff;
  padding: 4px 15px;
  margin-left:20px;
  text-decoration: none;
}

.metierbar a:hover
{  
  background: #222;
}
   
.metierbar.animated {
    animation-duration: 1s;
    -o-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s
}
.metierbar.animateIn {
    animation-name: bounceInDown;
    -o-animation-name: bounceInDown;
    -ms-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -webkit-animation-name: bounceInDown
}
.metierbar.animateOut {
    animation-name: bounceOutUp;
    -o-animation-name: bounceOutUp;
    -ms-animation-name: bounceOutUp;
    -moz-animation-name: bounceOutUp;
    -webkit-animation-name: bounceOutUp
}

@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -ms-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    }
    0% {
        transform: translate3d(0, -3000px, 0);
        -o-transform: translate3d(0, -3000px, 0);
        -ms-transform: translate3d(0, -3000px, 0);
        -moz-transform: translate3d(0, -3000px, 0);
        -webkit-transform: translate3d(0, -3000px, 0)
    }
    60% {
        transform: translate3d(0, 0px, 0);
        -o-transform: translate3d(0, 0px, 0);
        -ms-transform: translate3d(0, 0px, 0);
        -moz-transform: translate3d(0, 0px, 0);
        -webkit-transform: translate3d(0, 0px, 0)
    }
    75% {
        transform: translate3d(0, -20px, 0);
        -o-transform: translate3d(0, -20px, 0);
        -ms-transform: translate3d(0, -20px, 0);
        -moz-transform: translate3d(0, -20px, 0);
        -webkit-transform: translate3d(0, -20px, 0)
    }
    90% {
        transform: translate3d(0, 0px, 0);
        -o-transform: translate3d(0, 0px, 0);
        -ms-transform: translate3d(0, 0px, 0);
        -moz-transform: translate3d(0, 0px, 0);
        -webkit-transform: translate3d(0, 0px, 0)
    }
    100% {
        transform: none;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none
    }
}
@-moz-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    }
    0% {
        -moz-transform: translate3d(0, -3000px, 0)
    }
    60% {
        -moz-transform: translate3d(0, 0px, 0)
    }
    75% {
        -moz-transform: translate3d(0, -20px, 0)
    }
    90% {
        -moz-transform: translate3d(0, 0px, 0)
    }
    100% {
        -moz-transform: none
    }
}
@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    }
    0% {
        -webkit-transform: translate3d(0, -3000px, 0)
    }
    60% {
        -webkit-transform: translate3d(0, 0px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, -20px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, 0px, 0)
    }
    100% {
        -webkit-transform: none
    }
}
@keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -ms-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    }
    0% {
        transform: translate3d(0, 3000px, 0);
        -o-transform: translate3d(0, 3000px, 0);
        -ms-transform: translate3d(0, 3000px, 0);
        -moz-transform: translate3d(0, 3000px, 0);
        -webkit-transform: translate3d(0, 3000px, 0)
    }
    60% {
        transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0)
    }
    75% {
        transform: translate3d(0, 20px, 0);
        -o-transform: translate3d(0, 20px, 0);
        -ms-transform: translate3d(0, 20px, 0);
        -moz-transform: translate3d(0, 20px, 0);
        -webkit-transform: translate3d(0, 20px, 0)
    }
    90% {
        transform: translate3d(0, 0px, 0);
        -o-transform: translate3d(0, 0px, 0);
        -ms-transform: translate3d(0, 0px, 0);
        -moz-transform: translate3d(0, 0px, 0);
        -webkit-transform: translate3d(0, 0px, 0)
    }
    100% {
        transform: none;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none
    }
}
@-moz-keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
        -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    }
    0% {
        -moz-transform: translate3d(0, 3000px, 0)
    }
    60% {
        -moz-transform: translate3d(0, 0, 0)
    }
    75% {
        -moz-transform: translate3d(0, 20px, 0)
    }
    90% {
        -moz-transform: translate3d(0, 0, 0)
    }
    100% {
        -moz-transform: none
    }
}
@-webkit-keyframes bounceInUp {
    0%, 60%, 75%, 90%, %100 {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    }
    0% {
        -webkit-transform: translate3d(0, 3000px, 0)
    }
    60% {
        -webkit-transform: translate3d(0, 0px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, 20px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, 0px, 0)
    }
    100% {
        -webkit-transform: none
    }
}
@keyframes bounceOutUp {
    0%, 100% {
        transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        -ms-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in
    }
    0% {
        transform: none;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none
    }
    100% {
        transform: translate3d(0, -500px, 0);
        -o-transform: translate3d(0, -500px, 0);
        -ms-transform: translate3d(0, -500px, 0);
        -moz-transform: translate3d(0, -500px, 0);
        -webkit-transform: translate3d(0, -500px, 0)
    }
}
@-moz-keyframes bounceOutUp {
    0%, 100% {
        -moz-transition-timing-function: ease-in
    }
    0% {
        -moz-transform: none
    }
    100% {
        -moz-transform: translate3d(0, -500px, 0)
    }
}
@-webkit-keyframes bounceOutUp {
    0%, 100% {
        -webkit-transition-timing-function: ease-in
    }
    0% {
        -webkit-transform: none
    }
    100% {
        -webkit-transform: translate3d(0, -500px, 0)
    }
}
@keyframes bounceOutDown {
    0%, 100% {
        transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        -ms-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in
    }
    0% {
        bottom: 0
    }
    100% {
        bottom: -500px
    }
}
@-moz-keyframes bounceOutDown {
    0%, 100% {
        -moz-transition-timing-function: ease-in
    }
    0% {
        bottom: 0
    }
    100% {
        bottom: -500px
    }
}
@-webkit-keyframes bounceOutDown {
    0%, 100% {
        -webkit-transition-timing-function: ease-in
    }
    0% {
        bottom: 0
    }
    100% {
        bottom: -500px
    }
}
@keyframes bounceInLeft {
    0%, 75%, 100% {
        transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255);
        -o-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255);
        -ms-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255);
        -moz-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255);
        -webkit-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255)
    }
    0% {
        transform: translate3d(200%, 0, 0);
        -o-transform: translate3d(200%, 0, 0);
        -ms-transform: translate3d(200%, 0, 0);
        -moz-transform: translate3d(200%, 0, 0);
        -webkit-transform: translate3d(200%, 0, 0)
    }
    75% {
        transform: translate3d(-10%, 0, 0);
        -o-transform: translate3d(-10%, 0, 0);
        -ms-transform: translate3d(-10%, 0, 0);
        -moz-transform: translate3d(-10%, 0, 0);
        -webkit-transform: translate3d(-10%, 0, 0)
    }
    100% {
        transform: none;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none
    }
}
@-moz-keyframes bounceInLeft {
    0%, 75%, 100% {
        -moz-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255)
    }
    0% {
        -moz-transform: translate3d(200%, 0, 0)
    }
    75% {
        -moz-transform: translate3d(-10%, 0, 0)
    }
    100% {
        -moz-transform: none
    }
}
@-webkit-keyframes bounceInLeft {
    0%, 75%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255)
    }
    0% {
        -webkit-transform: translate3d(200%, 0, 0)
    }
    75% {
        -webkit-transform: translate3d(-10%, 0, 0)
    }
    100% {
        -webkit-transform: none
    }
}
@keyframes bounceOutRight {
    0%, 25%, 100% {
        transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255);
        -o-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255);
        -ms-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255);
        -moz-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255);
        -webkit-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255)
    }
    0% {
        transform: none;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none
    }
    25% {
        transform: translate3d(-10%, 0, 0);
        -o-transform: translate3d(-10%, 0, 0);
        -ms-transform: translate3d(-10%, 0, 0);
        -moz-transform: translate3d(-10%, 0, 0);
        -webkit-transform: translate3d(-10%, 0, 0)
    }
    100% {
        transform: translate3d(200%, 0, 0);
        -o-transform: translate3d(200%, 0, 0);
        -ms-transform: translate3d(200%, 0, 0);
        -moz-transform: translate3d(200%, 0, 0);
        -webkit-transform: translate3d(200%, 0, 0)
    }
}
@-moz-keyframes bounceOutRight {
    0%, 25%, 100% {
        -moz-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255)
    }
    0% {
        -moz-transform: none
    }
    25% {
        -moz-transform: translate3d(-10%, 0, 0)
    }
    100% {
        -moz-transform: translate3d(200%, 0, 0)
    }
}
@-webkit-keyframes bounceOutRight {
    0%, 25%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255)
    }
    0% {
        -webkit-transform: none
    }
    25% {
        -webkit-transform: translate3d(-10%, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(200%, 0, 0)
    }
}
@keyframes bounceInRight {
    0%, 75%, 100% {
        transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255);
        -o-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255);
        -ms-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255);
        -moz-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255);
        -webkit-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255)
    }
    0% {
        transform: translate3d(-200%, 0, 0);
        -o-transform: translate3d(-200%, 0, 0);
        -ms-transform: translate3d(-200%, 0, 0);
        -moz-transform: translate3d(-200%, 0, 0);
        -webkit-transform: translate3d(-200%, 0, 0)
    }
    75% {
        transform: translate3d(10%, 0, 0);
        -o-transform: translate3d(10%, 0, 0);
        -ms-transform: translate3d(10%, 0, 0);
        -moz-transform: translate3d(10%, 0, 0);
        -webkit-transform: translate3d(10%, 0, 0)
    }
    100% {
        transform: none;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none
    }
}
@-moz-keyframes bounceInRight {
    0%, 75%, 100% {
        -moz-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255)
    }
    0% {
        -moz-transform: translate3d(-200%, 0, 0)
    }
    75% {
        -moz-transform: translate3d(10%, 0, 0)
    }
    100% {
        -moz-transform: none
    }
}
@-webkit-keyframes bounceInRight {
    0%, 75%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255)
    }
    0% {
        -webkit-transform: translate3d(-200%, 0, 0)
    }
    75% {
        -webkit-transform: translate3d(10%, 0, 0)
    }
    100% {
        -webkit-transform: none
    }
}
@keyframes bounceOutLeft {
    0%, 25%, 100% {
        transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255);
        -o-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255);
        -ms-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255);
        -moz-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255);
        -webkit-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255)
    }
    0% {
        transform: none;
        -o-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none
    }
    25% {
        transform: translate3d(10%, 0, 0);
        -o-transform: translate3d(10%, 0, 0);
        -ms-transform: translate3d(10%, 0, 0);
        -moz-transform: translate3d(10%, 0, 0);
        -webkit-transform: translate3d(10%, 0, 0)
    }
    100% {
        transform: translate3d(-200%, 0, 0);
        -o-transform: translate3d(-200%, 0, 0);
        -ms-transform: translate3d(-200%, 0, 0);
        -moz-transform: translate3d(-200%, 0, 0);
        -webkit-transform: translate3d(-200%, 0, 0)
    }
}
@-moz-keyframes bounceOutLeft {
    0%, 25%, 100% {
        -moz-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255)
    }
    0% {
        -moz-transform: none
    }
    25% {
        -moz-transform: translate3d(10%, 0, 0)
    }
    100% {
        -moz-transform: translate3d(-200%, 0, 0)
    }
}
@-webkit-keyframes bounceOutLeft {
    0%, 25%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.65, -0.25, 0.325, 1.255)
    }
    0% {
        -webkit-transform: none
    }
    25% {
        -webkit-transform: translate3d(10%, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(-200%, 0, 0)
    }
}
@keyframes fadeIn {
    0%, 100% {
        transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        -ms-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in
    }
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes fadeIn {
    0%, 100% {
        -moz-transition-timing-function: ease-in
    }
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes fadeIn {
    0%, 100% {
        -webkit-transition-timing-function: ease-in
    }
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fadeOut {
    0%, 100% {
        transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        -ms-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in
    }
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-moz-keyframes fadeOut {
    0%, 100% {
        -moz-transition-timing-function: ease-in
    }
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-webkit-keyframes fadeOut {
    0%, 100% {
        -webkit-transition-timing-function: ease-in
    }
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes fadeInDown {
    0%, 100% {
        transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        -ms-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in
    }
    0% {
        opacity: 0;
        height: 110%;
        margin-top: -5%
    }
    100% {
        opacity: 1;
        height: 100%;
        margin-top: 0
    }
}
@-moz-keyframes fadeInDown {
    0%, 100% {
        -moz-transition-timing-function: ease-in
    }
    0% {
        opacity: 0;
        height: 110%;
        margin-top: -5%
    }
    100% {
        opacity: 1;
        height: 100%;
        margin-top: 0
    }
}
@-webkit-keyframes fadeInDown {
    0%, 100% {
        -webkit-transition-timing-function: ease-in
    }
    0% {
        opacity: 0;
        height: 110%;
        margin-top: -5%
    }
    100% {
        opacity: 1;
        height: 100%;
        margin-top: 0
    }
}
@keyframes fadeOutUp {
    0%, 100% {
        transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        -ms-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in
    }
    0% {
        opacity: 1;
        height: 100%;
        margin-top: 0
    }
    100% {
        opacity: 0;
        height: 110%;
        margin-top: -5%
    }
}
@-moz-keyframes fadeOutUp {
    0%, 100% {
        -moz-transition-timing-function: ease-in
    }
    0% {
        opacity: 1;
        height: 100%;
        margin-top: 0
    }
    100% {
        opacity: 0;
        height: 110%;
        margin-top: -5%
    }
}
@-webkit-keyframes fadeOutUp {
    0%, 100% {
        -webkit-transition-timing-function: ease-in
    }
    0% {
        opacity: 1;
        height: 100%;
        margin-top: 0
    }
    100% {
        opacity: 0;
        height: 110%;
        margin-top: -5%
    }
}
#companyLookupResults .entry{
    border: 2px solid silver;
    padding: 4px 4px 4px 8px;
    margin: 2px 30px 2px 00px;
    cursor: pointer;
}
#companyLookupResults .entry:hover{
  background-color: #ECEEF5;
}
/* Metier BAR */