<main id="main" role="main" class="container"
    *ngIf="Activity && Activity.CustomerArticle && Activity.CustomerArticle.ArticleCopy && !Activity.CustomerArticle.ArticleCopy.IsNewExamPlayer">
    <activity-details [Activity]="Activity"></activity-details>
    <section class="container lessons-block">
        <div class="row">
            <div class="col-xs-12">
                <h2 [translate]="'MOCKEXAM.LESSONS'"></h2>
                <div *ngIf="ValidationError" class="alert alert-danger" role="alert">
                    <a class="close" (click)="ValidationError=null">×</a>
                    <p *ngFor="let message of (''+ValidationError).split('\n')">{{message}}</p>
                </div>
                <ul class="lessons-list list-unstyled">
                    <li [ngClass]="{'done': GetPerformance(lesson.Id).Status == 'C', 'playable': IsPlayable(lesson) }"
                        *ngFor="let lesson of MockExams" (click)="PlayLesson(lesson)">
                        <span class="icon"><i class="material-icons">done</i></span>
                        <span class="lessons-title">{{lesson.Name}}</span>

                        <time class="time">{{GetPerformance(lesson.Id).CompletedDate | localizedDate:'shortDate'
                            }}</time>
                        <span class="text">
                            <span *ngIf="GetPerformance(lesson.Id).Status=='C'"
                                [translate]="'ELEARNING.STATUS_COMPLETED'">Completed</span>
                            <span *ngIf="GetPerformance(lesson.Id).Status=='I'"
                                [translate]="'ELEARNING.STATUS_IN_PROGRESS'">In Progress</span>
                            <span *ngIf="GetPerformance(lesson.Id).Status=='' || GetPerformance(lesson.Id).Status=='N'"
                                [translate]="'ELEARNING.NOT_ATTEMPTED'">Not Attempted</span>
                        </span>
                        <span class="status"
                            *ngIf="GetPerformance(lesson.Id).Status!='' && GetPerformance(lesson.Id).Status!='N'">{{GetPerformance(lesson.Id).Score}}%</span>

                    </li>
                </ul>
            </div>
        </div>
    </section>

    <attachment [Attachments]="Activity.Attachments" [Activity]="Activity"></attachment>


    <ecoach [Ecoaches]="GetResourceByType(3)" [Activity]="Activity" [Distributor]="Distributor"></ecoach>

    <instructor [Instructors]="GetResourceByType(1)" [Activity]="Activity" [Distributor]="Distributor"></instructor>

</main>



<div id="exam2"
    *ngIf="Activity && Activity.CustomerArticle && Activity.CustomerArticle.ArticleCopy && Activity.CustomerArticle.ArticleCopy.IsNewExamPlayer">
    <div class="body exam">
        <div id="page-container">
            <div class="content clearfix">
                <div class="header">
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="pull-right disabled" href="#">
                                Finished (0)
                            </a>
                            <div>
                                <a (click)="Router.navigateByUrl('/portal/home')">
                                    <i class="far fa-arrow-left" style="font-size:22px"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="row banner">
                        <div class="col-sm-12 banner-image">

                        </div>
                    </div>
                </div>
                <div class="main">
                    <div class="course-heading">
                        <div class="progress-circle pull-right">0%</div>
                        <h2 [innerHTML]="Activity.CustomerArticle.Title"></h2>
                        <div class="sub-heading">Certification</div>
                    </div>
                    <div class="divider"></div>

                    <div class="course-details">

                        <h6 [translate]="'EXAM2.DESCRIPTION'" style="text-transform: uppercase">DESCRIPTION</h6>
                        <div class="course-description" [innerHTML]="Activity.CustomerArticle.ArticleCopy.IntroMessage">

                        </div>

                        <div class="info-row" *ngIf="Exam != null">
                            <div class="">
                                <span [innerHTML]="ExamDurationExpression"></span>
                                <label [translate]="'EXAM2.DURATION'">Duration</label>
                            </div>
                            <div class="">
                                <span [innerHTML]="Exam.NumberOfQuestions"></span>
                                <label [translate]="'EXAM2.QUESTIONS'">Questions</label>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <footer class="footer button-line">
                <div class="buttons">
                    <button class="btn btn-secondary mr-1" type="button" (click)="Router.navigateByUrl('/portal/home')"
                        [translate]="'EXAM2.GO_BACK'">Go Back</button>
                    <button class="btn btn-primary" type="button" *ngIf="Exam && Exam.Exam == null"
                        (click)="StartNewAttempt()" [translate]="'EXAM2.START_TEST'">Start Test</button>
                    <button class="btn btn-primary" type="button" *ngIf="Exam && Exam.Exam != null"
                        (click)="ShowPastAttempts()" [translate]="'EXAM2.CONTINUE'">Continue</button>
                </div>
                <div class="bottom"></div>
            </footer>
        </div>
    </div>
</div>