a {
  cursor: pointer;
}

.clearfix:after,
#main:after {
  content: "";
  display: block;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

.btn-success {
  background-color: #70a095;
  border-radius: 100px !important;
  font-size: 14px !important;
  border: 0 !important;
}

.btn-success:hover {
  background-color: #5e8e83;
}

.btn-success:active {
  background-color: #5e8e83;
}

.btn-success:focus {
  background-color: #5e8e83;
}



/* custom select styles */

.jcf-select {
  display: block;
  position: relative;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  margin: 0;
  min-width: 150px;
  width: 100%;
  height: 43px;
  border-radius: 4px;
}

.jcf-select.jcf-drop-active {
  border-radius: 4px 4px 0 0;
}

.jcf-select.jcf-drop-active.jcf-drop-flipped {
  border-radius: 0 0 4px 4px;
}

.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  padding: 10px 35px 10px 12px;
  letter-spacing: 1px;
  color: #000;
}

.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 30px;
  bottom: 0;
  right: 0;
  top: 0;
}

.jcf-select .jcf-select-opener:before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  bottom: auto;
  left: 2px;
  right: auto;
}

.jcf-select .jcf-select-opener:before {
  height: 0;
  width: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-top: 8px solid #70a095;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
}

.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

body > .jcf-select-drop {
  position: absolute;
  margin: -1px 0 0;
  z-index: 9999;
}

body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

.jcf-select-drop.jcf-drop-flipped .jcf-select-drop-content {
  border-radius: 4px 4px 0 0;
}

.jcf-select-drop .jcf-select-drop-content {
  border: 1px solid #cfccd2;
  border-radius: 0 0 4px 4px;
}

/* multiple select styles */

.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */

.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 16px;
  font-size: 14px;
  width: 100%;
  letter-spacing: 1px;
  border-radius: 0 0 4px 4px;
}

.jcf-drop-flipped .jcf-list {
  border-radius: 4px 4px 0 0;
}

.jcf-drop-flipped .jcf-list ul li:first-child .jcf-option {
  border-radius: 4px 4px 0 0;
}

.jcf-drop-flipped .jcf-list ul li:last-child .jcf-option {
  border-radius: 0;
}

.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.jcf-list ul li {
  overflow: hidden;
  display: block;
}

.jcf-list ul li:last-child .jcf-option {
  border-radius: 0 0 4px 4px;
}

.jcf-list .jcf-overflow {
  overflow: auto;
}

.jcf-list .jcf-option {
  white-space: normal;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 6px 12px;
  color: #656565;
  height: 1%;
}

.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  font-weight: bold;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

#header {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.27);
  background: #1a4c53;
  padding-top: 11px;
  padding-bottom: 14px;
  z-index: 10;
  position: relative;
}

#header nav {
  max-width: 1440px;
}

@media (min-width: 768px) { 
  #header nav {
    justify-content: center;
  }
 }

#header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: calc(100% + 28px);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#header .row:before,
#header .row:after {
  display: block;
}

#header .dropdown {
  display: inline-block;
  vertical-align: top;
}

#header .dropdown .dropdown-menu {
  left: 0;
  right: 0;
  min-width: 1px;
  background: #f2f2f2;
  font-size: 16px;
  border-radius: 0 0 4px 4px;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

#header .dropdown .dropdown-menu li {
  border-top: 1px solid #cfccd2;
}

#header .dropdown .dropdown-menu li:first-child {
  border: none;
}

#header .dropdown .dropdown-menu li:last-child > a {
  border-radius: 0 0 4px 4px;
}

#header .dropdown .dropdown-menu li > a {
  color: #425563;
  padding: 9px 15px;
}

#header .dropdown .dropdown-menu li > a:hover,
#header .dropdown .dropdown-menu li > a:focus {
  background: #cfccd2;
  color: #e35205;
}

.logo {
  display: block;
  height: 17px;
  width: auto;
  width: 113px;
  background-image: url(../images/logo.png);
}

.resize-active *,
.resize-active *:before,
.resize-active *:after {
  -webkit-transition: none !important;
  transition: none !important;
  -webkit-animation: none !important;
  animation: none !important;
}

body {
  -ms-overflow-style: scrollbar;
  min-width: 320px;
}

.visual img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  width: auto;
}

iframe {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover,
a:focus,
a:active {
  outline: none;
  text-decoration: none;
}

.form-control {
  -webkit-appearance: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  display: block;
  text-overflow: ellipsis;
  outline: none;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding: 10px 12px;
  letter-spacing: 1px;
}

.form-control:focus {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-color: rgba(242, 242, 242, 0.2);
}

portal-page .btn {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  border-radius: 6px;
  padding: 10px 12px;
}

.btn.drop-link {
  background: rgba(255, 255, 255, 0.11);
  color: #fff;
  border-color: transparent;
  position: relative;
  padding: 10px 35px 10px 40px;
  min-width: 145px;
  letter-spacing: 1px;
  text-align: left;
  outline: none;
}

.btn.drop-link:after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  bottom: auto;
  left: auto;
  right: 12px;
}

.btn.drop-link:after {
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn.drop-link .material-icons {
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 9px;
  display: block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 1;
  color: #425563;
  z-index: 1;
  margin: 0;
}

.btn.drop-link .material-icons.error {
  color: red;
}

.btn.drop-link .material-icons:before {
  position: absolute;
  display: block;
  content: "";
  top: 0.1em;
  bottom: 0.1em;
  left: 0.1em;
  right: 0.13em;
}

.btn.drop-link .material-icons:before {
  overflow: hidden;
  background: #f2f2f2;
  border-radius: 100%;
  z-index: -1;
}

.btn.drop-link:hover {
  background: rgba(255, 255, 255, 0.22);
}

.btn.drop-link:active {
  color: #fff;
}

.btn:hover,
.btn:active,
.btn:active:focus,
.btn:focus,
.btn:focus:active {
  outline: none;
  box-shadow: none;
}

portal-page .btn .material-icons {
  display: inline-block;
  vertical-align: middle;
  margin: 1px 2px 0 0;
}

.bg-stretch {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#wrapper {
  position: relative;
  overflow: hidden;
}

#main {
  position: relative;
  max-width: 1440px;
  justify-content: center;
}

portal-page h1 {
  color: #425563;
  margin: 0 0 15px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
}

.nav-profile {
  border-radius: 75px;
  display: inline-block;
  position: relative;
}

.nav-profile i{
  padding-right: 5px;
}

.nav-profile li{
  min-width: 150px !important;
}

portal-page .logo {
  padding: 17px 0 0 13px;
  margin-right: 10px;
  margin-left: 15px;
}

.banner {
  background-repeat: no-repeat;
  background-size: auto 100%;
  box-shadow: 2px 3.464px 10px rgba(0, 0, 0, 0.36);
  background-color: #f2f2f2;
  position: relative;
  min-height: 180px;
}

.home .banner {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.home .banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: static;
  padding: 59px 14px 30px;
  min-height: inherit;
}

.login-block .banner {
  position: absolute;
  left: 0;
  top: 0;
}

.login-block .banner a {
  min-width: 300px;

}

.home .banner h1 {
  color: #747474;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
}

.banner .btn-back {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.39);
  background: #fff;
  border-color: transparent;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #333;
  padding: 10px;
  letter-spacing: 1px;
  position: absolute;
  top: 10px;
  left: 14px;
}

.banner .btn-back span {
  display: inline-block;
  vertical-align: top;
  color: #70a095;
}

.banner .btn-back:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #70a095;
}

.banner .container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.banner .container.color-black .icon {
  color: #333;
}

.banner .container.color-black .title {
  color: #333;
  text-transform: uppercase;
}

.banner .container.color-green .icon {
  color: #70a095;
}

.banner .container.color-green .title {
  color: #70a095;
  text-transform: uppercase;
}

.banner .icon {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 100%;
  display: block;
  font-size: 38px;
  line-height: 1;
  margin: 0 0 10px;
  color: #e35205;
  position: relative;
}

.banner .icon .material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: inherit;
  line-height: 1;
}

.banner h1 {
  margin: 0;
}

.banner .title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  display: block;
  margin: 0;
  color: #e35205;
  text-transform: uppercase;
}

.banner .title a {
  color: inherit;
}

.banner .title a:hover {
  color: #425563;
}

.info-block {
  position: relative;
  position: relative;
  padding-top: 28px;
  padding-bottom: 28px;
}

.info-block:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: -9999px;
  right: -9999px;
  background: #d06b43;
  z-index: -1;
}

.info-block dl {
  background: #fff;
  border-radius: 6px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
  padding: 20px 15px;
}

.info-block dl dt {
  display: block;
  color: #e35205;
  font-size: 20px;
  position: relative;
  padding: 0 0 0 32px;
  margin: 0 0 5px;
}

.info-block dl dt .material-icons {
  position: absolute;
  display: block;
  width: 24px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.info-block dl dd {
  display: block;
  margin: 0 0 15px;
}

.info-block dl dd:last-child {
  margin: 0;
}

.info-block dl address {
  margin: 0;
  line-height: inherit;
}

.info-block time {
  display: block;
}

.info-block time:first-letter {
  text-transform: uppercase;
}

.map-holder {
  height: 300px;
  position: relative;
  overflow: hidden;
}

.map-holder .map-wrap,
.map-holder .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #425563;
}

.map-holder .overlay {
  background: #fff url(../images/loader.gif) no-repeat 50% 50%;
  display: none;
}

.map {
  position: relative;
  min-height: 200px;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  box-shadow: inset -2px -2px 20px rgba(0, 0, 0, 0.26);
}

.map img {
  display: block;
  width: 100%;
}

.map .location {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0 0 51px;
  color: #333;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.map .location .material-icons {
  position: absolute;
  color: #e35205;
  font-size: 46px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0 0 0 7px;
}

.team-blcok {
  position: relative;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  min-height: 200px;
}

.team-blcok:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: -9999px;
  right: -9999px;
  background: #f8f8f8;
  z-index: -1;
}

.team-blcok .flex-row {
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: calc(100% + 28px);
}

.team-blcok .flex-row:after,
.team-blcok .flex-row:before {
  display: block;
}

.team-blcok .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 20px;
}

.teacher-box {
  width: 100%;
  position: relative;
  color: #333;
}

.teacher-box .visual {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto 10px;
}

.teacher-box .visual img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.teacher-box .text-details .head {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #acacac;
}

.teacher-box .text-details p {
  margin: 0;
}

.teacher-box h3 {
  color: #70a095;
  margin: 0 0 5px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
}

.teacher-box h3 a {
  color: inherit;
}

.teacher-box h3 a:hover {
  color: #425563;
}

.teacher-box .meta-list {
  margin: 0;
}

.teacher-box .meta-list li {
  margin: 0 0 7px;
}

.teacher-box .meta-list a {
  display: inline-block;
  vertical-align: top;
  color: #333;
}

.teacher-box .meta-list a .material-icons {
  color: #70a095;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 0 0;
}

.teacher-box .meta-list a:hover {
  color: #70a095;
}

.Rounded_Rectangle_2_copy {
  border-width: 3px;
  border-color: #71004b;
  border-style: solid;
  border-radius: 8px;
  position: absolute;
  left: 537px;
  top: 325px;
  width: 174px;
  height: 52px;
  z-index: 456;
}

.center-block {
  padding-left: 14px;
  padding-right: 14px;
}

.btn-list {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.btn-list:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: -9999px;
  right: -9999px;
  background: #f4f5f6;
  z-index: -1;
}

.btn-list li {
  margin: 5px 10px 5px 0;
}

portal-page .btn-list li.active .btn {
  color: #fff;
}

portal-page .btn-list .btn {
  background: none;
  border: 3px solid #70a095;
  color: #1a4c53;
  letter-spacing: 1px;
  padding: 8px;
  min-width: 120px;
}

.btn-list .btn:hover {
  background: #70a095;
  color: #fff;
} 

.accordion-block {
  position: relative;
}

.accordion-block .panel-group {
  position: relative;
  margin-bottom: 0;
}

.load-more {
  display: block;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  background: #5f6369;
  font-weight: 700;
  padding: 30px 14px;
  font-size: 18px;
  line-height: 24px;
}

.load-more .material-icons {
  display: inline-block;
  vertical-align: top;
}

.load-more:hover {
  color: #fff;
  background: #5e8e83;
}

.accordion-block .panel {
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: none;
}

.accordion-block .panel + .panel {
  margin-top: -1px;
}

.accordion-block .panel .panel-heading {
  padding: 0;
  border: none;
  background: none;
  position: relative;
}

.accordion-block .panel .panel-heading > a {
  display: block;
  z-index: 2;
  position: relative;
  padding: 20px 50px 20px 14px;
  letter-spacing: 1px;
  color: #333;
}

.accordion-block .panel .panel-heading > a:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: -9999px;
  right: -9999px;
}

.accordion-block .panel .panel-heading > a:before {
  background: #fff;
  z-index: -1;
  border: solid #cfccd2;
  border-width: 1px 0;
}

.accordion-block .panel .panel-heading > a[aria-expanded="true"]:before {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.39);
}

.accordion-block .panel .panel-heading > a[aria-expanded="true"] + .ico-arrow {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.accordion-block .panel .panel-heading > a:hover:before {
  background: #dbe7e5;
}

.accordion-block .panel .panel-heading .step-holder {
  color: #747474;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  width: 30%;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.accordion-block .panel .panel-heading .ico-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 3;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #5e8e83;
  font-size: 40px;
}

.accordion-block .panel .panel-collapse {
  position: relative;
  background: none;
}

.accordion-block .panel .panel-body {
  border: none !important;
  position: relative;
  background: none;
  padding: 27px 15px;
}

.accordion-block .panel .panel-body .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: calc(100% + 28px);
}

.accordion-block .panel .panel-body .flex-row:before,
.accordion-block .panel .panel-body .flex-row:after {
  display: block;
}

.accordion-block .panel h2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.accordion-block .panel h2:only-child {
  width: 100%;
}

.accordion-block .panel h2 .material-icons {
  display: inline-block;
  vertical-align: top;
  margin: -2px 0 0 -3px;
  font-size: 24px;
}

.course-widget {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 17px;
}

.course-widget > a {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.39);
  background: #fff;
  color: #333;
  padding: 0 0 50px;
}

.course-widget > a:hover .visual .bg {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.course-widget > a:hover .ico-more {
  color: #70a095;
}

.course-widget > a:hover .ico-more-elearning {
  color: #70a095;
}

.course-widget > a:hover .ico-more-classroom {
  color: #cdac5a;
}

.course-widget > a:hover .ico-more-exam  {
  color: #d06b43 !important;
}

.course-widget .visual {
  position: relative;
  overflow: hidden;
  border-radius: 6px 6px 0 0;
}

.course-widget .visual .bg {
  display: block;
  padding-top: 58.7%;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.course-widget .visual .ico-progress {
  position: absolute;
  top: 15px;
  left: 14px;
  z-index: 1;
  /*width: 40px;*/
  width: 56px;
}

.ico-progress .percentage {
  position: absolute;
  text-align: center;
  width: 90%;
  line-height: 53px;
  height: 90%;
  font-weight: bold;
  font-size: 16px;
  border-radius: 50px;
  background-color: white;
  top: 5%;
  left: 5%;
}

.course-widget .visual .ico-progress img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  width: auto;
}

.course-widget .title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 9px;
  border-bottom: 1px solid rgba(129, 142, 151, 0.21);
}

.course-widget .title-bar.color-green h3,
.color-green {
  color: #70a095 !important;
}

.course-widget .title-bar.color-orange h3,
.color-orange {
  color: #cdac5a !important;
}

.course-widget .title-bar.color-purpel h3,
.color-purple {
  color: #d06b43 !important;
}

.course-widget .title-bar.color-blue h3 {
  color: #425563;
}

.course-widget .title-bar .language-tag {
  display: inline-block;
  vertical-align: top;
  background: #999;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  width: 32px;
  height: 22px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  padding: 2px;
  text-transform: uppercase;
}

.course-widget h3 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: #333;
}

.course-widget h3 .material-icons {
  display: inline-block;
  vertical-align: top;
}

.course-widget .text-detail {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 9px;
}

.course-widget .text-detail p {
  margin: 0 0 7px;
}

.course-widget .text-detail time {
  display: block;
  color: #333;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.course-widget .ico-more {
  position: absolute;
  right: 10px;
  bottom: 13px;
  color: #cfccd2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.course-widget .ico-more-elearning {
  position: absolute;
  right: 10px;
  bottom: 13px;
  color: #cfccd2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.course-widget .ico-more-classroom {
  position: absolute;
  right: 10px;
  bottom: 13px;
  color: #cfccd2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.course-widget .ico-more-exam {
  position: absolute;
  right: 10px;
  bottom: 13px;
  color: #cfccd2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.course-block {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: inset 0 8px 9px rgba(0, 0, 0, 0.35);
  padding-top: 30px;
  padding-bottom: 30px;
}

.course-block .content-holder {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.39);
  padding: 20px 20px 0;
  overflow: hidden;
}

.course-block h2 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  margin: 0 0 20px;
  text-align: center;
  letter-spacing: 1.2px;
}

.course-block h2 .heighlite {
  display: inline-block;
  vertical-align: top;
  color: #71004b;
  font-weight: 700;
}

.course-block .courses-holder {
  margin: 0 0 20px;
}

.course-block .footer {
  letter-spacing: 0.9px;
  text-align: center;
  border-radius: 0 0 4px 4px;
  margin: 0 -20px;
  padding: 14px;
  color: #71004b;
  background: #f3f3f3;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.course-block .footer p {
  margin: 0;
}

.course-block .footer a {
  color: inherit;
}

.course-block .footer a:hover {
  color: #70a095;
}

.course-block .footer .material-icons {
  display: inline-block;
  vertical-align: top;
}

.related-course {
  margin: 0 0 10px;
}

.related-course > a {
  display: block;
  border-radius: 6px;
  border: 2px solid #f2f2f2;
  color: #333;
  position: relative;
}

.related-course > a:hover {
  border-color: #cfccd2;
}

.related-course .visual {
  position: relative;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.related-course .visual .bg {
  padding-top: 55%;
  background-size: cover;
  background-position: 50% 50%;
}

.related-course .ico-holder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  z-index: 1;
  background: #509e2f;
  color: #fff;
  border-radius: 0 0 0 4px;
}

.related-course .ico-holder .material-icons {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.related-course .text-holder {
  position: relative;
  padding: 10px 35px 10px 60px;
}

.related-course .text-holder p {
  margin: 0;
}

.related-course h3 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #333;
  margin: 0 0 2px;
}

.related-course .ico-more {
  display: inline-block;
  vertical-align: top;
  color: #cfccd2;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.gallery-block {
  position: relative;
}

.gallery-block .header {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  z-index: 2;
}

.gallery-block .header:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: -9999px;
  right: -9999px;
}

.gallery-block .header:before {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.39);
  z-index: -1;
}

.gallery-block h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  color: #333;
}

.gallery-block h2 .heighlite {
  font-weight: 700;
  display: inline-block;
  vertical-align: top;
  color: #71004b;
}

.cycle-gallery {
  position: relative;
  padding: 15px 20px;
  position: relative;
}

.cycle-gallery:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: -9999px;
  right: -9999px;
  background: #f6f7f8;
  z-index: -1;
}

.cycle-gallery .mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 732px;
  margin: 0 auto 10px;
}

.cycle-gallery .slideset {
  width: 99999px;
  float: left;
}

.cycle-gallery .slide {
  width: 100%;
  float: left;
  padding: 10px;
}

.cycle-gallery .slide.active {
  z-index: 1;
}

.cycle-gallery .btn-prev,
.cycle-gallery .btn-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #71004b;
  font-size: 48px;
  display: block;
  margin: -17px 0 0 0;
}

.cycle-gallery .btn-prev .material-icons,
.cycle-gallery .btn-next .material-icons {
  font-size: inherit;
  display: block;
}

.cycle-gallery .btn-prev:hover,
.cycle-gallery .btn-next:hover {
  color: #509e2f;
}

.cycle-gallery .btn-prev {
  left: -18px;
}

.cycle-gallery .btn-next {
  right: -18px;
}

.cycle-gallery .content-holder {
  position: relative;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.39);
  border-radius: 4px;
}

.cycle-gallery .content-holder .visual {
  overflow: hidden;
  position: relative;
  border-radius: 4px 4px 0 0;
}

.cycle-gallery .content-holder .visual .bg {
  padding-top: 55%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.cycle-gallery .content-holder .text-holder {
  letter-spacing: 0.8px;
  padding: 15px 10px;
}

.cycle-gallery .content-holder p {
  margin: 0 0 10px;
}

.cycle-gallery .content-holder .more {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #71004b;
}

.cycle-gallery .content-holder .more:hover {
  color: #e35205;
}

.cycle-gallery h3 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  margin: 0 0 6px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.cycle-gallery .indicators {
  position: relative;
}

.cycle-gallery .indicators ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cycle-gallery .indicators ul li {
  padding: 0 8px;
}

.cycle-gallery .indicators ul li.active a {
  background: #71004b;
}

.cycle-gallery .indicators ul a {
  display: block;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 3px solid #71004b;
  border-radius: 100%;
}

.cycle-gallery .indicators ul a:hover {
  background: #71004b;
}

.login-block {
  min-height: calc(100vh - 142px);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.login-block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  min-height: inherit;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-form {
  width: 100%;
  max-width: 463px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.39);
  padding: 20px 15px;
}

.login-form label {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  color: #70a095;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin: 0 0 9px;
  letter-spacing: 1px;
}

.login-form .form-group {
  margin-bottom: 21px;
}

.login-form .btn {
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 115px;
  min-width: 100px;
}

.login-form .btn.btn-success {
  text-transform: uppercase;
}

.login-form .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0 0;
}

.login-form .footer-row a {
  color: #333;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.9px;
}

.login-form .footer-row a:hover {
  color: #70a095;
  text-decoration: none;
}

.success-block {
  position: relative;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #333;
}

.success-block:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: -9999px;
  right: -9999px;
  background: #f2f2f2;
  z-index: -1;
}

.success-block .text-block {
  position: relative;
  min-height: 40px;
  padding: 0 0 0 56px;
  margin: 0 0 25px;
}

.success-block .text-block p {
  margin: 0;
}

.success-block .ico-holder {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 3px solid #509e2f;
  background: #fff;
  color: #509e2f;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 28px;
  overflow: hidden;
}

.success-block .ico-holder .material-icons {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: inherit;
}

.success-block .title {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin: 0 0 10px;
}

.lessons-block {
  position: relative;
  padding-top: 15px;
  padding-bottom: 20px;
}

.lessons-block.description {
  padding-bottom: 0;
  font-size: 18px;
}

.classroom .lessons-block.description {
  padding-bottom: 46px;
}

.lessons-block h2 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 14px;
  color: #425563;
}

.lessons-list {
  position: relative;
  margin: 0;
  counter-reset: item;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #333;
}

.lessons-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 0 12px 20px;
  border: solid #dadfe2;
  border-width: 0 0 1px;
  position: relative;
}

.lessons-list li:first-child {
  border-width: 1px 0;
}

.lessons-list li.done .icon {
  opacity: 1;
  visibility: visible;
}

.lessons-list li.done .text,
.lessons-list li.done .status {
  color: #70a095;
}

.lessons-list li.test.done .icon {
  color: #70a095;
  opacity: 1;
  visibility: visible;
}

.lessons-list li.playable .lessons-title {
  cursor: pointer;
}

.lessons-list li.test .lessons-title {
  text-transform: uppercase;
  width: 100%;
  color: #70a095;
}

.lessons-list li.test .lessons-title:before {
  display: none;
}

.lessons-list li span {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.lessons-list .icon {
  position: absolute;
  top: 50%;
  left: -5px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
  color: #509e2f;
  opacity: 0;
  visibility: hidden;
}

.lessons-list .icon .material-icons {
  display: inline-block;
  vertical-align: top;
  font-size: inherit;
}

.lessons-list .lessons-title {
  padding: 0 1% 0 0;
  width: 55%;
}

.lessons-list .time {
  display: inline-block;
  vertical-align: top;
  font-weight: 400;
  color: #747474;
  width: 30%;
}

.lessons-list .text {
  display: none;
}

.lessons-list .status {
  width: 15%;
}

.download-block {
  position: relative;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.download-block:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: -9999px;
  right: -9999px;
  background: #70a095;
  z-index: -1;
}

.download-block .holder {
  background: #fff;
  padding: 12px;
  border-radius: 4px;
}

.download-block h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #425563;
  margin: 0 0 15px;
  padding: 0 0 15px;
  border-bottom: 1px solid #dadfe2;
}

.download-list {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.download-list li {
  margin: 0 0 15px;
}

.download-list a {
  display: inline-block;
  vertical-align: top;
  color: #333;
}

.download-list a:hover {
  color: #509e2f;
}

.download-list a .material-icons {
  display: inline-block;
  vertical-align: top;
  color: #509e2f;
  margin: 2px 4px -2px -4px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 18px;
  background: #1a4c53;
  padding-top: 24px;
}


#footer:before {
  background: #1a4c53;
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: -9999px;
  right: -9999px;
  z-index: -1;
}

#footer:before {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.27);
}

.footer-nav {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

.footer-nav ul li {
  padding: 0 20px;
  position: relative;
  padding: 0 8px;
}

.footer-nav ul li:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
}

.footer-nav ul li:before {
  width: 1px;
  height: 18px;
  background: rgba(255, 255, 255, 0.5);
}

.footer-nav ul li:first-child:before {
  display: none;
}

.footer-nav ul a {
  color: #fff;
}

.footer-nav ul a:hover {
  color: #70a095;
}

.footer-nav ul small {
  color: #fff;
  font-size: 80%;
  font-weight: lighter;
}

@media (min-width: 480px) {
  portal-page h1 {
    font-size: 38px;
    line-height: 42px;
  }
  .home .banner h1 {
    font-size: 60px;
    line-height: 60px;
  }
  portal-page .banner .title {
    font-size: 20px;
  }
  .teacher-box {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 18px;
  }
  .teacher-box .visual {
    margin: 0;
  }
  .teacher-box .text-details {
    width: calc(100% - 100px);
    padding: 5px 0 0 30px;
  }
  .teacher-box .text-details .head {
    padding: 0 0 15px;
    margin: 0 0 11px;
  }
  .accordion-block .panel .panel-heading > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .accordion-block .panel h2 {
    font-size: 20px;
    line-height: 26px;
    width: 70%;
  }
  .accordion-block .panel h2 .material-icons {
    margin: -2px 5px 0 -3px;
    font-size: 30px;
  }
  .course-block h2 {
    font-size: 22px;
    line-height: 24px;
  }
  .related-course .visual .bg {
    padding-top: 45%;
  }
  .gallery-block h2 {
    letter-spacing: 1px;
    font-size: 28px;
    line-height: 30px;
  }
  .cycle-gallery {
    padding: 34px 40px;
  }
  .cycle-gallery .mask {
    margin: 0 auto 18px;
  }
  .cycle-gallery .btn-prev,
  .cycle-gallery .btn-next {
    font-size: 66px;
  }
  .cycle-gallery .btn-prev {
    left: -22px;
  }
  .cycle-gallery .btn-next {
    right: -24px;
  }
  .cycle-gallery .content-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    border-radius: 0 6px 0 0;
  }
  .cycle-gallery .content-holder .visual {
    width: 40%;
    border-radius: 0;
  }
  .cycle-gallery .content-holder .visual .bg {
    padding-top: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .cycle-gallery .content-holder .text-holder {
    padding: 15px 10px;
    width: calc(100% - 40%);
  }
  .cycle-gallery .content-holder p {
    margin: 0 0 10px;
  }
  .cycle-gallery h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .lessons-block h2 {
    font-size: 32px;
    line-height: 34px;
    margin: 0 0 18px;
  }
  .lessons-list {
    font-size: 16px;
    line-height: 18px;
  }
  .lessons-list li {
    padding: 15px 10px 15px 30px;
  }
  .lessons-list .icon {
    left: 5px;
  }
  .lessons-list .lessons-title {
    width: 50%;
  }
  .lessons-list .time {
    width: 23%;
  }
  .lessons-list .text {
    width: 18%;
    display: block;
  }
  .lessons-list .status {
    width: 9%;
  }
  .download-block {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .download-block .holder {
    border-radius: 6px;
    padding: 20px 15px;
  }
  .download-block h3 {
    font-size: 22px;
    line-height: 24px;
  }
  .footer-nav {
    font-size: 16px;
    line-height: 20px;
  }
  .footer-nav ul li {
    padding: 0 18px;
  }
  .footer-nav ul li:before {
    height: 22px;
  }
}

@media (min-width: 640px) {
  .course-block .courses-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 0 28px;
  }
  .related-course {
    width: 50%;
    margin: 0;
    padding: 5px;
  }
  .related-course .visual .bg {
    padding-top: 55%;
  }
}

@media (min-width: 768px) {
  #header .dropdown .dropdown-menu li > a {
    padding: 9px 26px;
  }
  portal-page .logo {
    margin-right: 80px;
  }
  portal-page body {
    font-size: 16px;
    line-height: 1.1875;
  }
  portal-page .btn {
    font-size: 18px;
  }
  portal-page .btn.drop-link {
    padding: 12px 44px;
    min-width: 162px;
  }
  portal-page h1 {
    font-size: 58px;
    line-height: 58px;
  }
  portal-page .banner {
    min-height: 222px;
  }
  .home .banner .container {
    padding: 39px 14px;
  }
  .home .banner h1 {
    margin: 0 0 3px;
    font-size: 80px;
    line-height: 80px;
  }
  .banner .btn-back {
    top: 15px;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 16px;
  }
  .banner .container {
    padding: 45px 90px;
  }
  .banner .icon {
    width: 74px;
    height: 74px;
    position: absolute;
    top: 28px;
    left: 2px;
    font-size: 46px;
  }
  .banner .title {
    font-size: 24px;
  }
  .info-block {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .info-block dl {
    font-size: 18px;
    line-height: 20px;
    padding: 36px 39px;
  }
  .info-block dl dt {
    font-size: 24px;
    padding: 0 0 0 36px;
    margin: 0 0 13px;
  }
  .info-block dl dd {
    margin: 0 0 28px;
  }
  .map {
    min-height: 250px;
  }
  .map .location {
    margin: -26px 0 0 7px;
  }
  .team-blcok {
    min-height: 308px;
  }
  .teacher-box {
    font-size: 18px;
    line-height: 20px;
  }
  .teacher-box .visual {
    width: 140px;
    height: 140px;
  }
  .teacher-box .text-details {
    width: calc(100% - 140px);
  }
  .teacher-box h3 {
    font-size: 24px;
    line-height: 26px;
  }
  .btn-list {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .btn-list li {
    margin: 0 22px 0 0;
  }
  portal-page .btn-list .btn {
    padding: 13px 15px;
    border-radius: 8px;
    min-width: 180px;
  }

  .accordion-block .panel .panel-heading > a {
    padding: 28px 82px 28px 0;
  }
  .accordion-block .panel .panel-heading .step-holder {
    font-size: 18px;
    line-height: 20px;
  }
  .accordion-block .panel .panel-heading .ico-arrow {
    font-size: 62px;
  }
  .accordion-block .panel h2 {
    font-size: 24px;
    line-height: 30px;
    padding: 0 0 0 13px;
    letter-spacing: 1.2px;
  }
  .accordion-block .panel h2 .material-icons {
    font-size: 34px;
  }
  .course-widget {
    min-height: 300px;
  }
  .course-widget .visual .bg {
    padding-top: 60%;
  }
  .course-widget h3 {
    font-size: 18px;
    line-height: 23px;
  }
  .course-widget .text-detail {
    font-size: 18px;
    line-height: 20px;
  }
  .course-widget .text-detail time {
    font-size: 16px;
    line-height: 18px;
  }
  .course-block {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .course-block .content-holder {
    padding: 30px 20px 0;
  }
  .course-block h2 {
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 24px;
  }
  .course-block .footer {
    font-size: 16px;
    padding: 16px 38px 16px 14px;
  }
  .related-course {
    padding: 7px;
  }
  .related-course > a {
    padding: 20px 10px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-width: 3px;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .related-course .visual {
    border-radius: 100%;
    width: 85px;
    height: 85px;
  }
  .related-course .visual .bg {
    position: absolute;
    padding-top: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 100%;
  }
  .related-course .ico-holder {
    top: 18px;
    bottom: auto;
    width: 36px;
    height: 36px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.39);
    left: 10px;
    border-radius: 100%;
    background: #fff;
    color: #509e2f;
  }
  .related-course .ico-holder .material-icons {
    font-size: 20px;
  }
  .related-course .text-holder {
    width: calc(100% - 85px);
    padding: 0 0 0 15px;
    letter-spacing: 0.7px;
    position: static;
  }
  .related-course .text-holder p {
    margin: 0 0 4px;
  }
  .related-course h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0 0 7px;
  }
  .related-course .ico-more {
    right: 8px;
    bottom: 8px;
    top: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .gallery-block .header {
    padding-top: 49px;
    padding-bottom: 29px;
  }
  .gallery-block h2 {
    font-size: 34px;
    line-height: 36px;
    letter-spacing: 1.8px;
    padding: 0 0 0 30px;
  }
  .cycle-gallery .mask {
    margin: 0 auto 23px;
  }
  .cycle-gallery .content-holder .visual {
    width: 37.6%;
  }
  .cycle-gallery .content-holder .text-holder {
    padding: 15px 30px;
    width: calc(100% - 37.6%);
  }
  .cycle-gallery .content-holder p {
    margin: 0 0 25px;
  }
  .cycle-gallery .content-holder .more {
    font-size: 16px;
  }
  .cycle-gallery h3 {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 14px;
  }
  .cycle-gallery .indicators ul li {
    padding: 0 12px;
  }
  .login-block .container {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .login-form {
    padding: 25px 40px;
  }
  .login-form label {
    font-size: 20px;
    line-height: 24px;
  }
  .login-form .btn {
    max-width: 200px;
    line-height: 22px;
    padding: 16px 10px;
    border-radius: 8px;
    min-width: 140px;
  }
  .login-form .footer-row {
    padding: 7px 0 0 4px;
  }
  .login-form .footer-row a {
    font-size: 18px;
    line-height: 20px;
    max-width: 150px;
  }
  
  .success-block {
    padding-top: 49px;
    padding-bottom: 52px;
    font-size: 18px;
  }
  .success-block .text-block {
    min-height: 56px;
    padding: 0 0 0 83px;
    margin: 0 0 40px;
  }
  .success-block .btn {
    line-height: 22px;
    padding: 16px 10px;
    border-radius: 8px;
    min-width: 157px;
  }
  .success-block .ico-holder {
    width: 56px;
    height: 56px;
    border-width: 5px;
    font-size: 36px;
  }
  .success-block .title {
    font-size: 18px;
    margin: 0 0 12px;
  }
  .lessons-block {
    padding-top: 46px;
    padding-bottom: 46px;
  }
  .lessons-block h2 {
    font-size: 44px;
    line-height: 46px;
    margin: 0 0 24px;
  }
  .lessons-list {
    font-size: 18px;
    line-height: 20px;
  }
  .lessons-list li {
    padding: 17px 20px 17px 46px;
  }
  .lessons-list .icon {
    left: 10px;
    font-size: 24px;
  }
  .lessons-list .lessons-title {
    width: 44%;
  }
  .lessons-list .lessons-title:before {
    margin: 0 4px 0 0;
  }
  .lessons-list .time {
    width: 34.7%;
    font-size: 16px;
  }
  .lessons-list .text {
    width: 13.7%;
  }
  .lessons-list .status {
    width: 7.6%;
  }
  .download-block {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .download-block .holder {
    padding: 35px 41px;
  }
  .download-block h3 {
    font-size: 24px;
    line-height: 26px;
    padding: 0 0 22px;
    margin: 0 0 20px;
  }
  .download-list {
    font-size: 18px;
  }
  .download-list li {
    margin: 0 0 21px;
  }
  .download-list a .material-icons {
    margin: 4px 5px -4px -5px;
  }

  .footer-nav {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .footer-nav ul {
    padding: 0 0 0 7px;
  }
  .footer-nav ul li {
    padding: 0 26px;
  }
  .footer-nav ul li:before {
    height: 25px;
  }
}

@media (min-width: 940px) {
  .map {
    min-height: 325px;
  }
  .course-widget {
    min-height: 343px;
  }
  .course-widget .visual .bg {
    padding-top: 58.7%;
  }
  .course-widget .visual .ico-progress {
    width: 56px;
  }
  .course-widget .title-bar {
    padding: 9px 12px;
  }
  .course-widget .text-detail {
    padding: 11px 13px;
  }
  .course-block {
    padding-top: 87px;
    padding-bottom: 84px;
  }
  .course-block .content-holder {
    padding: 39px 42px 0;
  }
  .course-block .footer {
    margin: 0 -42px;
  }
  .related-course {
    padding: 14px;
  }
  .related-course > a {
    padding: 20px 26px;
  }
  .related-course .ico-holder {
    top: 26px;
    left: 25px;
  }
  .related-course .text-holder {
    padding: 0 0 0 28px;
  }
  .gallery-block h2 {
    font-size: 36px;
    line-height: 38px;
  }
  .cycle-gallery .content-holder .text-holder {
    padding: 23px 56px 18px;
  }
  .login-form {
    padding: 36px 57px 42px;
  }

  .lessons-block {
    padding-bottom: 85px;
  }
}

@media (min-width: 1200px) {
  portal-page .banner .btn-back {
    top: 28px;
    left: 28px;
  }
  portal-page .banner .container {
    padding: 55px 14px 39px 14px;
  }
  portal-page .banner .icon {
    left: -99px;
    width: 84px;
    height: 84px;
    font-size: 56px;
  }
}

@media (max-width: 767px) {
  .home .banner .container {
    width: 100%;
  }
  .banner .btn-back .material-icons {
    line-height: 1;
    font-size: 18px;
  }
  .login-block .container {
    width: 100%;
  }
}

[hidden] {
  display: none !important;
}

#outdated {
  position: absolute;
  background-color: #f25648;
  color: white;
  overflow: hidden;
  left: 0;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 1500;
  padding: 24px;
}

#outdated h6 {
  font-size: 25px;
  line-height: 25px;
  margin: 12px 0;
}

#outdated p {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
}

#outdated #buttonUpdateBrowser {
  border: 2px solid white;
  color: white;
  cursor: pointer;
  display: block;
  margin: 30px auto 0;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  width: 230px;
}

#outdated #buttonUpdateBrowser:hover {
  background-color: white;
  color: #f25648;
}

#outdated .last {
  height: 20px;
  position: absolute;
  right: 25px;
  top: 10px;
  width: 0px;
}

#outdated .last a {
  color: white !important;
}

#outdated .last[dir="rtl"] {
  left: 25px !important;
  right: auto !important;
}

#outdated #buttonCloseUpdateBrowser {
  color: white;
  display: block;
  font-size: 36px;
  height: 100%;
  line-height: 36px;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.catalog .course-widget {
  min-height: 0px;
}

.panel.step-module {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.39);
  padding: 8px;
  border-radius: 0;
  margin-bottom: 9px;
  cursor: pointer;
}

.panel.step-module.active {
  border: 2px solid #70a095;
}

.form-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 10px;
  margin-top: 10px;
}

/* START: metier plus specific */
.theme-selectors {
  display: none;
}
.metierplus #header {
  background: #1a4c53;
}

.metierplus .banner {
  display: none !important;
  visibility: hidden !important;
}

.metierplus .btn {
  border-radius: 100px !important;
  font-size: 14px !important;
  min-width: unset !important;
  border: 0 !important;
}

.metierplus ul.btn-list {
  padding-left: 25px;
}

.metierplus .btn-list .btn {
  padding: 8px 20px !important;
  background: #dbe7e5 !important;
}

.metierplus .btn-list li.active .btn,
.metierplus .btn-list .btn:hover {
  background: #70a095 !important;
}

.metierplus .btn.drop-link {
  padding: 8px 44px;
}

.metierplus .footer-nav {
  font-size: 14px !important;
}

.metierplus .gallery-block {
  display: none;
}
.metierplus .theme-selectors {
  float: right;
  position: absolute;
  right: -25px;
  display: unset;
}
.metierplus .theme-selectors .selector {
  display: inline;
  padding-right: 20px;
}
.metierplus .theme-selectors .dropdown {
  display: inline;
  padding-left: 10px;
}
.metierplus .theme-selectors .dropdown #dLabel {
  color: white;
  background: rgb(146 146 150) !important;
  font-weight: normal;
  padding-right: 40px !important;
}
.metierplus .btn-list .theme-selectors .dropdown .btn {
  padding: 4px 20px !important;
}
/* END: metier plus specific */
