<div class="holder box-container shadow-sm mx-3 p-3 rounded" *ngIf="Attachments && Attachments.length > 0">
  <h3 [translate]="'ELEARNING.COURSE_MATERIAL'"></h3>
  <div *ngFor="let attachment of Activity.Attachments">
    <a (click)="openDownloadUrl(attachment)"><i class="align-middle material-icons">file_download</i>
      <span>{{attachment.Title}}</span></a>
  </div>
</div>