<div class="pitfalls" attr.data-id="{{Content.ObjectID }}" [attr.id]="'content-' + Content.ObjectID">
	<h1 class="container" [innerHTML]="GetTitle()"></h1>
	<div class="pitfall-list">

		<div *ngFor="let pitfall of pitfalls; let i = index" class="row">
	        <div class="pitfall-outer left">
				
		        <div class="pitfall" *ngIf="i % 2 == 0">
					<div class="number">{{i+1}}</div>
					<div class="text" [innerHTML]="pitfalls[i]"></div>
				</div>
			</div>	
			
			<div class="divider"></div>
			<div class="pitfall-outer right">
				<div class="pitfall" *ngIf="i % 2 == 1">
					<div class="number">{{i+1}}</div>
					<div class="text" [innerHTML]="pitfalls[i]"></div>
				</div>
			</div>
			
	    </div>
	</div>

</div>