h1 {
    padding: 30px 0;
}

.pitfall-list {
    background-color: #dce0e1;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 18px 18px -18px #696868, inset 0 -18px 18px -18px #696868;
    padding: 30px 0;
}

.pitfall-list .pitfall-outer {
    width:423px;
}

.pitfall-list .pitfall {
    background-color: white;
    margin:20px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    min-height: 60px;
    position: relative;
}

.pitfall-list .text {
    margin: 10px;
}

.pitfall-list .number {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color:white;
    background-color: #425563;
    font-size: 32px;
    font-weight: bold;
    min-width:56px;
    align-items: center;
    display: flex;
    transform: position(50%);
    justify-content: center;
}

.pitfall-list .row {
    display: flex;
    width: 914px;
    margin: 0 auto;
}

.pitfall-list .divider {
    position: relative;
    padding-right: 25px;
    border-right: 5px solid white;
}

.pitfall-list .divider:after {
    content: '';
    position: absolute;
    top: 20px;
    right: -21px;
    display: block;
    width: 38px;
    height: 38px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #cfccd2;
    background-image: url(../../../assets/player/img/google_material_icons/pitfalls.png);
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16); 
}

.pitfall-list .pitfall-outer.right {
    flex: 1; 
    padding-left: 25px;
}

.pitfall-list .left .pitfall:after,
.pitfall-list .right .pitfall:after {
    position: absolute;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    content: '';
    top: 14px;
}

.pitfall-list .left .pitfall:after {
    right: -10px;
    border-left: 10px solid white;
}

.pitfall-list .right .pitfall:after {
    left: -10px;
    border-right: 10px solid #425563;
}

.pitfall-list .row:first-child .divider {
    margin-top: 30px;
}

.pitfall-list .row:first-child .divider:after{
    top:-10px;
}

.pitfall-list .row:last-child .divider {
    height: 20px;
}
