<html>

<head>
    <link href="./media/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./media/scss/main.css" rel="stylesheet">
    <link href="./media/fontawesome-pro-5.8.2-web/css/all.min.css" rel="stylesheet">

    <script src="./media/jquery-3.4.0/jquery-3.4.0.min.js"></script>
    <script src="./media/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="./media/lodash-4.17.11/lodash.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!--
<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
-->
    <link href="./media/fonts/circular-std/css/circular-std.css" rel="stylesheet">


</head>

<body class="welcome">
    <div id="page-container">
        <div class="content clearfix">
            <div class="header">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="profile float-right">
                            <div class="dropdown show">
                                <a href="#" role="button" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,15" class="active">CB</a>

                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                                    <a class="dropdown-item" href="#"><i class="far fa-user"></i> Profile</a>
                                    <div class="divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <i class="far fa-sign-out"></i> Sign out</a>
                                </div>

                            </div>
                        </div>
                        <div class="date">MARCH 12th</div>
                        <h2 class="greeting">Hi, Christoffer</h2>
                    </div>
                </div>
                <div class="banner clearfix">
                    <div class="banner-image">

                    </div>
                    <div class="banner-text">
                        <h4>Welcome to Metier Rehersal</h4>
                        Williamsburg fam letterpress keytar pinterest offal lyft photo booth listicle.
                        <button id="showIntro" class="btn btn-primary" type="button">See our introduction</button>
                    </div>
                </div>
            </div>
            <div class="main">
                <h2>Tests</h2>
                <div class="row course-container">
                    <div class="col-xs-4 course" (click)="Router.navigateByUrl('/portal/mockexam/' + ActivityId)">>
                        <div class="progress-circle float-right">0%</div>
                        <h4>Special Test</h4>
                        <div class="sub-heading">Certification</div>
                        Shabby chic austin church-key beard lo roof party swag affogato.
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="bottom"></div>
        </footer>
    </div>
</body>

</html>