<main id="main" role="main" class="container">
  <section class="map-block">
    <div class="map-area" rel="assets/portal/inc/map-style.json" [ngClass]="{'hasmap':GetResourceByType(2).length > 0}">
      <div class="info-block container">
        <div class="row">
          <div class="col-xs-12">
            <dl>
              <dt *ngIf="!Activity.HideActivityDates && Activity.ActivityPeriods && Activity.ActivityPeriods.length>0">
                <i class="material-icons">insert_invitation</i> {{"CLASSROOM.WHEN" | translate}}</dt>
              <dd [hidden]="Activity.HideActivityDates" *ngFor="let period of Activity.ActivityPeriods">
                <time>{{period.Start | localizedDate:'EEEE d MMM'}} {{"GLOBAL.CLOCK_SHORT" | translate}} {{period.Start
                  | localizedDate:'shortTime'}} - <span
                    *ngIf="period.End.split('T')[0] != period.Start.split('T')[0]">{{period.End | localizedDate:'EEEE d
                    MMM'}} </span>{{"GLOBAL.CLOCK_SHORT" | translate}} {{period.End | localizedDate:'shortTime'}}</time>
              </dd>
              <dt *ngIf="GetResourceByType(2).length > 0"><i class="material-icons">place</i> {{"CLASSROOM.LOCATION" |
                translate}}</dt>
              <dd *ngIf="GetResourceByType(2).length > 0">
                <address class="address">
                  {{GetResourceByType(2)[0].Name}}
                  <div *ngIf="GetResourceByType(2)[0].Addresses.length>0">
                    <div>{{GetResourceByType(2)[0].Addresses[0].StreetAddress}}</div>
                    <div>{{GetResourceByType(2)[0].Addresses[0].StreetAddress2}}</div>
                    <div>{{GetResourceByType(2)[0].Addresses[0].ZipCode}} {{GetResourceByType(2)[0].Addresses[0].City}}
                    </div>
                  </div>
                </address>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="map-holder container-fluid" *ngIf="GetResourceByType(2).length > 0">
        <div class="map-wrap"></div>
        <span class="overlay"></span>
      </div>
    </div>
  </section>

  <activity-details [Activity]="Activity"></activity-details>


  <instructor [Instructors]="GetResourceByType(1)" [Activity]="Activity" [Distributor]="Distributor"></instructor>

  <attachment [Attachments]="Activity.Attachments" [Activity]="Activity"></attachment>

  <ecoach [Ecoaches]="GetResourceByType(3)" [Activity]="Activity" [Distributor]="Distributor"></ecoach>


</main>