<div class="container goals" [attr.id]="'content-' + Content.ObjectID">
<h1 [innerHTML]="GetTitle()"></h1>
<p [innerHTML]="intro"></p>
<ul *ngFor="let goal of goals">
<li [innerHTML]="goal"></li>
</ul>
</div>