<div id="pedagogical-tools">
	<div class="colors" *ngIf="highlight.active">
		<div class="blue" (click)="SetColor('blue')" [ngClass]="{'active':highlight.color=='blue'}"></div>
		<div class="purple" (click)="SetColor('purple')" [ngClass]="{'active':highlight.color=='purple'}"></div>
		<div class="yellow" (click)="SetColor('yellow')" [ngClass]="{'active':highlight.color=='yellow'}"></div>
		<div class="green" (click)="SetColor('green')" [ngClass]="{'active':highlight.color=='green'}"></div>
		<div class="white" (click)="SetColor('white')" [ngClass]="{'active':highlight.color=='white'}"></div>
	</div>
	<div id="highlight" [ngClass]="{'active':highlight.active}" (click)="HighlightClick();" title="{{ 'GLOBAL.HIGHLIGHT_INSTRUCTIONS' | translate }}">		
		<div class="status" *ngIf="highlight.active" [translate]="'GLOBAL.ON'"></div>
		<div class="status" *ngIf="!highlight.active" [translate]="'GLOBAL.OFF'"></div>
	</div>
	<div id="note" [ngClass]="{'active':note.active}" (click)="NoteClick();" title="{{ 'GLOBAL.NOTE_INSTRUCTIONS' | translate }}">
		<div class="status" *ngIf="note.active" [translate]="'GLOBAL.ON'"></div>
		<div class="status" *ngIf="!note.active" [translate]="'GLOBAL.OFF'"></div>
	</div>
</div>