.profile-form {
    position: relative;
    padding-top: 50px;
    padding-bottom: 40px;
}

h1 {
    margin: 0 0 45px;
    letter-spacing: 2.6px;
}

h2 {
    font-size: 20px;
    line-height: 23px;
    padding: 0 0 10px;
    margin: 0 0 36px;
    font-weight: 700;
    letter-spacing: 0.9px;
    color: #70a095;
    border-bottom: 1px solid #70a095;
    text-transform: uppercase;

    .material-icons {
        display: inline-block;
        vertical-align: top;
    }

    .warn {
        color: red;
    }

    a {
        color: inherit;
    }

    a:hover {
        color: #509e2f;
    }
}

.category-box {
    padding: 25px 0;
    position: relative;
}

label {
    display: inline-block;
    vertical-align: top;
    color: #333;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.9px;
    margin: 0 0 11px;
    font-size: 18px;
}

.form-group {
    max-width: 480px;
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }
}

.btn {
    max-width: 100%;
    padding: 16px 10px;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    border-radius: 8px;
}