<main id="main" role="main" class="container">
  <div class="profile-form container d-flex justify-content-center">
    <div class="row">
      <div class="col-xs-12">
        <h1 [translate]="'PROFILE.TITLE'"></h1>

        <portal-profile-inner (SaveUser)="content"></portal-profile-inner>

        <div class="btn-wrap">
          <button type="submit" class="btn btn-success" [translate]="'PROFILE.SAVE'" (click)="SaveUser()"></button>
        </div>
      </div>
    </div>
  </div>
</main>