<main role="main">
  <div class="login-block" style="background-image: url(assets/portal/images/img13.png)">
    <div class="container">

      <div *ngIf="GetCustomerPortalUrl()" class="banner">
        <a class="btn btn-secondary btn-back" href="{{GetCustomerPortalUrl()}}">
            <span class="material-icons">keyboard_backspace</span> 
            {{ 'HOME.BACK'| translate }} {{ 'HOME.TO'| translate }} {{GetCustomerPortalName()}}
        </a>
      </div>

      <div class="login-form">
        <div *ngIf="ValidationError" class="alert"  [ngClass]="{ 'alert': true, 'alert-info': isValidationInformation , 'alert-danger' : !isValidationInformation }">
          <a class="close" (click)="ValidationError=null">×</a>
          <p *ngFor="let message of (''+ValidationError).split('\n')">{{message}}</p>
        </div>
        <div *ngIf="Mode==''">
          <div class="form-group">
            <label for="name">{{ 'LOGIN.USERNAME' | translate }}</label>
            <input id="name" class="form-control" type="text" placeholder="" [(ngModel)]="Username"
              (keyup.enter)="Login()">
          </div>
          <div class="form-group">
            <label for="password">{{ 'LOGIN.PASSWORD' | translate }}</label>
            <input id="password" class="form-control" type="password" placeholder="" [(ngModel)]="Password"
              (keyup.enter)="Login()">
          </div>
          <div class="footer-row">
            <a (click)="Mode='PasswordReminder';ClearValidationError()" class="forgot">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
            <button (click)="Login()" type="submit" class="btn btn-success">{{ 'LOGIN.LOGIN' | translate }}</button>
          </div>
        </div>
        <div *ngIf="Mode=='PasswordReminder'">
          <div class="form-group">
            <label for="name">{{ 'LOGIN.PASSWORDREMINDER_EMAIL' | translate }}</label>
            <input id="name" class="form-control" type="text" [(ngModel)]="PasswordReminderEmail"
              (keyup.enter)="RequestPasswordReminder()">
          </div>
          <div class="footer-row">
            <a (click)="Mode=''" class="forgot">{{ 'LOGIN.PASSWORDREMINDER_CANCEL' | translate }}</a>
            <button type="submit" (click)="RequestPasswordReminder()" class="btn btn-success">{{
              'LOGIN.PASSWORDREMINDER_SUBMIT' | translate }}</button>
          </div>
        </div>

        <div *ngIf="Mode=='PasswordReset'">
          <div class="form-group">
            <label for="PASSWORDREMINDER_EMAIL">{{ 'LOGIN.PASSWORDREMINDER_EMAIL' | translate }}</label>
            <input id="PASSWORDREMINDER_EMAIL" required minlength="4" class="form-control" type="text"
              [(ngModel)]="PasswordResetEmail" (keyup.enter)="PerformPasswordReset()">
          </div>
          <div class="form-group">
            <label for="PASSWORDRESET_TOKEN">{{ 'LOGIN.PASSWORDRESET_TOKEN' | translate }}</label>
            <input id="PASSWORDRESET_TOKEN" required minlength="4" class="form-control" type="text"
              [(ngModel)]="PasswordResetToken" (keyup.enter)="PerformPasswordReset()">
          </div>
          <div class="form-group">
            <label for="NEW_PASSWORD">{{ 'PROFILE.NEW_PASSWORD' | translate }}</label>
            <input id="NEW_PASSWORD" required minlength="4" class="form-control" type="password"
              [(ngModel)]="PasswordResetPassword1" (keyup.enter)="PerformPasswordReset()">
          </div>
          <div class="form-group">
            <label for="RETYPE_PASSWORD">{{ 'PROFILE.RETYPE_PASSWORD' | translate }}</label>
            <input id="RETYPE_PASSWORD" required minlength="4" class="form-control" type="password"
              [(ngModel)]="PasswordResetPassword2" (keyup.enter)="PerformPasswordReset()">
          </div>
          <div class="footer-row">
            <a (click)="Mode=''" class="forgot">{{ 'LOGIN.PASSWORDREMINDER_CANCEL' | translate }}</a>
            <button type="submit" (click)="PerformPasswordReset()" class="btn btn-success">{{
              'LOGIN.PASSWORDREMINDER_SUBMIT' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>