﻿@using System.Linq;
@using jlib.functions;
@{
    string toEmail = Model.Request["email"];
}
From-email: no-reply@metier.no
To-email: @toEmail
BCC-email: jorgen@bids.no
Subject: Påmeldingsbekreftelse Sertifisert Prosjektleder Nivå 2 i Forsvarsmateriell


<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">    
    <style>
<!--

 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
h2
	{mso-style-link:"Heading 2 Char";
	margin-right:0in;
	margin-left:0in;
	font-size:10.0pt;
	font-family:"Arial",sans-serif;
	color:#F17C32;
	font-weight:bold;
	font-style:italic;}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:#954F72;
	text-decoration:underline;}
p
	{margin-right:0in;
	margin-left:0in;
	margin:0in;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Balloon Text Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Segoe UI",sans-serif;}
span.Heading2Char
	{mso-style-name:"Heading 2 Char";
	mso-style-link:"Heading 2";
	font-family:"Arial",sans-serif;
	color:#F17C32;
	font-weight:bold;
	font-style:italic;}
span.BalloonTextChar
	{mso-style-name:"Balloon Text Char";
	mso-style-link:"Balloon Text";
	font-family:"Segoe UI",sans-serif;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
    </style>

</head>

<body lang=EN-US link=blue vlink="#954F72">

    <div class=WordSection1>

        <p class=MsoNormal align=center style='text-align:center'>

            <table cellpadding=0 cellspacing=0 align=left>
                <tr>
                    <td width=5 height=0></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <img width=200 height=39 src="https://mymetier.net/learningportal/mymetier/gfx/metier-logo.png" alt="Metier logo">
                    </td>
                </tr>
            </table>

            <br clear=ALL>
        </p>

        <div class=MsoNormal align=center style='text-align:center'>
            <span
                  style='font-size:11.0pt;font-family:"Calibri",sans-serif'>

                <hr size=2 width="100%" noshade style='color:#A0A0A0' align=center>

            </span>
        </div>

        <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                Hei @Model.Request["extension-firstName"],
            </span>
        </p>
        <br />
        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                Du er nå påmeldt Nivå 2 – Sertifisert Prosjektleder i Forsvarsmateriell.
            </span>
        </p>
        <br />
        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                Du får tilgang til selvstudie-delen av utdanningen ved påmelding. Dette omfatter e-læringskurs og oppgaver knyttet til Innlevering 2 og 3. Det er krav om at samtlige e-læringskurs er gjennomført før deltakelse på klasseromsamling. Nivå 1 – Sertifisert Prosjektmedarbeider må være fullført før du kan starte opp med Nivå 2 – Sertifisert Prosjektleder. 
                <br /><br />
                I oversikten din i myMetier under «Filbibliotek» finner du obligatorisk materiell for alle PRINSIX kurs.
            </span>
        </p>
        <br />
        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>Pålogging skjer via nettsidene <a href="https://forsvaret.metierportal.no"><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>PRINSIX</span></a>. På startsiden finner du innloggingsboksen.</span>
        </p>

        <h2>
            <span style='font-size:12.0pt;font-family:"Calibri",sans-serif;
font-style:normal'>Ditt kursprogram</span>
        </h2>
        
        <p class=MsoNormal><span>&nbsp;</span></p>

        <table class=MsoTable15Plain1 border=1 cellspacing=0 cellpadding=0 width=595
               style='width:446.55pt;margin-left:-.25pt;border-collapse:collapse;border:none'>
            <tr style='height:13.55pt'>
                <td width=236 valign=top style='border:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-style:normal'>Innhold nivå 2</span>
                        </strong>
                    </h2>
                </td>
                <td width=104 valign=top style='border:solid #BFBFBF 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-style:normal'>&nbsp;</span>
                        </strong>
                    </h2>
                </td>
                <td width=255 valign=top style='width:191.4pt;border:solid #BFBFBF 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-style:normal'>&nbsp;</span>
                        </strong>
                    </h2>
                </td>
            </tr>

            <tr style='height:13.55pt'>
                <td width=236 valign=top style='border:solid #BFBFBF 1.0pt;
  background:#F2F2F2;padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>Oppstartsmøte med metodekurs</span>
                        </strong>
                    </h2>
                </td>
                <td width=104 valign=top style='border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;
  background:#F2F2F2;padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>Grev Wedelsplass nr.1</span>
                        </strong>
                    </h2>
                </td>
                <td width=255 valign=top style='width:191.4pt;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;
  background:#F2F2F2;padding:0in 5.4pt 0in 5.4pt'>

                </td>
            </tr>

            <tr style='height:13.55pt'>
                <td width=236 valign=top style='border:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>M05 ILS-SE</span>
                        </strong>
                    </h2>
                </td>
                <td width=104 valign=top style='border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>Grev Wedelsplass nr.1</span>
                        </strong>
                    </h2>
                </td>
                <td width=255 valign=top style='width:191.4pt;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>
                                Kjøres i sammenheng
                                med M06
                            </span>
                        </strong>
                    </h2>
                </td>
            </tr>
            <tr style='height:13.55pt'>
                <td width=236 valign=top style='border:solid #BFBFBF 1.0pt;background:#F2F2F2;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>M06 Skriv gode krav</span>
                        </strong>
                    </h2>
                </td>
                <td width=104 valign=top style='border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;background:#F2F2F2;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>Grev Wedelsplass nr.1</span>
                        </strong>
                    </h2>
                </td>
                <td width=255 valign=top style='width:191.4pt;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;background:#F2F2F2;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>&nbsp;</span>
                        </strong>
                    </h2>
                </td>
            </tr>

            <tr style='height:13.55pt'>
                <td width=236 valign=top style='border:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>Innlevering nr.2</span>
                        </strong>
                    </h2>
                </td>
                <td width=104 valign=top style='border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>Online</span>
                        </strong>
                    </h2>
                </td>
                <td width=255 valign=top style='width:191.4pt;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>
                                Oppgavebesvarelse
                                lastes opp via læringsportalen<br>
                                Tilbakemelding gis den enkelte pr <br>
                                e-post 14 dager etter innlevert oppgave
                            </span>
                        </strong>
                    </h2>
                </td>
            </tr>

            <tr style='height:13.55pt'>
                <td width=236 valign=top style='border:solid #BFBFBF 1.0pt;
  background:#F2F2F2;padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>
                                M07 Kvantitativ
                                Kostnadsanalyse + LCC
                            </span>
                        </strong>
                    </h2>
                </td>
                <td width=104 valign=top style='border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;
  background:#F2F2F2;padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>Kolsås</span>
                        </strong>
                    </h2>
                </td>
                <td width=255 valign=top style='width:191.4pt;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;
  background:#F2F2F2;padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>
                                Kjøres i sammenheng
                                med M08
                            </span>
                        </strong>
                    </h2>
                </td>
            </tr>
            <tr style='height:20.35pt'>
                <td width=236 valign=top style='border:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:20.35pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>
                                M08 Innkjøp og
                                Kontrakt
                            </span>
                        </strong>
                    </h2>
                </td>
                <td width=104 valign=top style='border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:20.35pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>
                                Online<br>
                                Grev Wedelsplass nr.1
                            </span>
                        </strong>
                    </h2>
                </td>
                <td width=255 valign=top style='width:191.4pt;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:20.35pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>
                                E-læring i forkant av
                                samling
                            </span>
                        </strong>
                    </h2>
                </td>
            </tr>
            
            <tr style='height:13.55pt'>
                <td width=236 valign=top style='border:solid #BFBFBF 1.0pt;background:#F2F2F2;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>
                                M09 Tidsplanlegging, MS
                                Project
                            </span>
                        </strong>
                    </h2>
                </td>
                <td width=104 valign=top style='border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;background:#F2F2F2;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>Kolsås</span>
                        </strong>
                    </h2>
                </td>
                <td width=255 valign=top style='width:191.4pt;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;background:#F2F2F2;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>
                                Kjøres i sammenheng
                                med M10 og M11
                            </span>
                        </strong>
                    </h2>
                </td>
            </tr>
            <tr style='height:13.55pt'>
                <td width=236 valign=top style='border:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>
                                M10 Praktisk Artemis
                                og Kostnadsstyring
                            </span>
                        </strong>
                    </h2>
                </td>
                <td width=104 valign=top style='border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>Kolsås</span>
                        </strong>
                    </h2>
                </td>
                <td width=255 valign=top style='width:191.4pt;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>
                                E-læring i forkant av
                                samling<br>
                                NB: denne ligger tilgjengelig på Forsvarets intranett og ikke i
                                læringsportalen.<br>
                                <br>
                            </span>
                        </strong>
                    </h2>
                </td>
            </tr>
            <tr style='height:13.55pt'>
                <td width=236 valign=top style='border:solid #BFBFBF 1.0pt;background:#F2F2F2;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>M11 Profesjonell prosjektledelse</span>
                        </strong>
                    </h2>
                </td>
                <td width=104 valign=top style='border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;background:#F2F2F2;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>
                                Online<br>
                                Grev Wedelsplass nr.1
                            </span>
                        </strong>
                    </h2>
                </td>
                <td width=255 valign=top style='width:191.4pt;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;background:#F2F2F2;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>
                                E-læring i forkant av
                                samling
                            </span>
                        </strong>
                    </h2>
                </td>
            </tr>
            <tr style='height:13.55pt'>
                <td width=236 valign=top style='border:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>Innlevering nr.3</span>
                        </strong>
                    </h2>
                </td>
                <td width=104 valign=top style='border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>Online</span>
                        </strong>
                    </h2>
                </td>
                <td width=255 valign=top style='width:191.4pt;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>
                                Oppgavebesvarelse
                                lastes opp via læringsportalen<br>
                                Tilbakemelding gis den enkelte pr <br>
                                e-post 14 dager etter innlevert oppgave<br>
                                <br>
                            </span>
                        </strong>
                    </h2>
                </td>
            </tr>
            <tr style='height:13.55pt'>
                <td width=236 valign=top style='border:solid #BFBFBF 1.0pt;background:#F2F2F2;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>10.stp eksamen, Nivå 2</span>
                        </strong>
                    </h2>
                </td>
                <td width=104 valign=top style='border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;background:#F2F2F2;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>Online</span>
                        </strong>
                    </h2>
                </td>
                <td width=255 valign=top style='width:191.4pt;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;background:#F2F2F2;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>
                                Frivillig/ikke
                                obligatorisk<br>
                                Multiple Choice eksamen
                            </span>
                        </strong>
                    </h2>
                </td>
            </tr>
            <tr style='height:13.55pt'>
                <td width=236 valign=top style='border:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>Prosjektoppgave</span>
                        </strong>
                    </h2>
                </td>
                <td width=104 valign=top style='border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>&nbsp;</span>
                        </strong>
                    </h2>
                </td>
                <td width=255 valign=top style='width:191.4pt;border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>
                                Obligatorisk, se eget
                                infoskriv i læringsportalen
                            </span>
                        </strong>
                    </h2>
                </td>
            </tr>
            <tr style='height:13.55pt'>
                <td width=236 valign=top style='border:solid #BFBFBF 1.0pt;background:#F2F2F2;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>Sertifiseringsseremoni</span>
                        </strong>
                    </h2>
                </td>
                <td width=104 valign=top style='border-left:
  none;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;background:#F2F2F2;
  padding:0in 5.4pt 0in 5.4pt'>
                    <h2>
                        <strong>
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>Mer info blir tilsendt</span>
                        </strong>
                    </h2>
                </td>
                <td width=255 valign=top style='width:191.4pt;border-bottom:solid #BFBFBF 1.0pt;border-right:solid #BFBFBF 1.0pt;background:#F2F2F2;
  padding:0in 5.4pt 0in 5.4pt'>
        
                            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
  color:windowtext;font-weight:normal;font-style:normal'>Kl.10:00-13:00</span>
        
                </td>
            </tr>
        </table>

        <p style='line-height:150%'>
            <b>
                <span style='font-size:11.0pt;
line-height:150%;font-family:"Calibri",sans-serif'>
                    Dato for alle klasseromsamlingene
                    står oppført inne i læringsportalen.
                </span>
            </b><span
                      style='font-size:11.0pt;line-height:150%;font-family:"Calibri",sans-serif'>
                Her
                vil du til enhver tid finne oppdatert informasjon om oppmøtetidspunkt, datoer
                og frister. 14 dager før hver klasseromsamling vil du i tillegg motta en
                påminnelse fra Metier.
            </span>
        </p>

        <h2>
            <span style='font-size:12.0pt;font-family:"Calibri",sans-serif;
font-style:normal'>Innkvartering og Transport</span>
        </h2>

        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                Alle klasseromsamlinger avholdes i Oslo, Grev Wedelsplass nr. 1, Forsvarsmateriell. <b>Bortsett fra M07, M09 og M10 som avholdes på Kolsås.</b>                
                <br /><br />Parkering med Forsvarets ID inne på festningen hvis man er tidlig ute, ellers anbefaler vi at deltakere benytter kollektiv transport.
                <br /><br />Ved deltakelse på 2 og 3 dagers samlinger forventes det at deltakerne innkvarteres i leiren på Kolsås, alternativt på et av hotellene i Oslo sentrum som Forsvaret har avtale med.
                <br /><br /><b>Den enkelte deltaker må selv foreta bestilling av innkvartering</b> hos Forsvarsbygg på deres nettsted BASEN: <a href="https://basen.forsvarsbygg.no/basen/Index" target="_blank">https://basen.forsvarsbygg.no/basen/Index</a>.
            </span>
        </p>


        <h2>
            <span style='font-size:12.0pt;font-family:"Calibri",sans-serif;
font-style:normal'>Kjøreplan</span>
        </h2>

        
        <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                               Alle klasseromssamlinger avholdes fra kl 08:30 til 15:45, lunsj avvikles mellom 11:30-12:15.
            </span></p>
        <br />
        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;
background:yellow'>
                Vi minner om at påmeldingen er bindende. <br>
                Kursavgiften vil bli fakturert i sin helhet ved påmelding. De deltakere som
                ikke møter opp til klasseromsamling (NO SHOW) vil bli belastet på nytt for
                neste tilsvarende samling – unntaket er ved dokumentert sykefravær.
            </span>
        </p>

        <div class=MsoNormal align=center style='text-align:center'>
            <span
                  style='font-size:11.0pt;font-family:"Calibri",sans-serif'>

                <hr size=2 width="100%" noshade style='color:#A0A0A0' align=center>

            </span>
        </div>

        <h2>
            <span style='font-size:12.0pt;font-family:"Calibri",sans-serif;
font-style:normal'>Support</span>
        </h2>

        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                Ta
                gjerne kontakt dersom du har spørsmål.
            </span>
        </p>

        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                Vennlig
                hilsen
            </span>
        </p>

        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                Ilse
                Johansen<br>
                Programkoordinator Prinsix utdanningsprogram<span style='display:none'>
                    <br>
                    Metier Academy
                </span><br>
                E-post:
            </span><span>
                <a href="mailto:kurssporsmal@metier.no">
                    <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>kurssporsmal@metier.no</span>
                </a>
            </span>
        </p>

        <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></p>

    </div>

</body>

</html>
