@using System.Xml;
@using System.Data;
@using System.Linq;
@using jlib.functions;
From-email: no-reply@metier.no
To-email: jorgen@vontangen.com;tove.bertelsen@metier.no
Subject: Warning! Duplicate username detected
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style>
   
</style>

</head>
<body>    
   @for (int x = 0; x < Model.Tables.Count; x++) { 
       if(Model.Tables[x].Rows.Count>0){
           <h1>@Model.Titles[x]</h1>
        <table border="1" cellspacing="0" cellpadding="2" style="border-collapse: collapse" bordercolor="#000000">
            <tr>
                @foreach (DataColumn col in Model.Tables[x].Columns) {
                    if (col.ColumnName.IndexOf("Rowid", StringComparison.CurrentCultureIgnoreCase) == -1) { 
                        <th bgcolor="#5c6a76" style="border-collapse: collapse" bordercolor="#000000" align="left">
                            <b>
                                <font face="Arial" size="2" color="#ffffff">@convert.cCapitalizedStr(parse.replaceAll(col.ColumnName,"_"," "))</font>
                            </b>
                        </th>
                    }
                }
            </tr>
            @foreach (DataRow row in Model.Tables[x].Rows) {
            <tr>
                @foreach (DataColumn col in Model.Tables[x].Columns) {
                    if (col.ColumnName.IndexOf("Rowid", StringComparison.CurrentCultureIgnoreCase) == -1) { 
                        <td style="border-collapse: collapse" bordercolor="#000000" bgcolor="#f2f2f2">
                            <font face="Arial" size="2">
                                @row[col.ColumnName]
                            </font>
                        </td>
                        }
                    }
                </tr>
            }
        </table>
        }
    }

</body>
</html>
