@using System.Xml;
@using System.Linq;
@using jlib.functions;
@{
    
}
From-email: no-reply@metier.no
To-email: @convert.cStr((Model.ECoach == null ? "" : Model.ECoach.ContactEmail), "ma.eksamen@metier.no")
Subject: User indicates he/she does not meet requirements for accredited practical competence - @Model.User.User.MembershipUserId
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style>
   
</style>

</head>
    <body>
        <h1>User indicates he/she does not meet requirements for accredited practical competence</h1>        
        <br /><br />
        <table style="width:800px">
            <tr>
                <td style="text-align: right" valign="top">
                    <table style="width:100%">
                        <tr>
                            <td><b>Username:</b></td>
                            <td>@Model.User.User.MembershipUserId</td>
                        </tr>
                        <tr>
                            <td><b>Email</b></td>
                            <td>@Model.User.Email</td>
                        </tr>
                        					
                    </table>

                </td>
            </tr>
           
        </table>
        <br />
        
        
    </body>
</html>
