@using System.Linq;
@using jlib.functions;
@{
	string bcc = "jorgen@bids.no;onlineacademywebordre@metieroec.no";
	string fromEmail = "no-reply@metier.no";
	if (Model.Order.OrderCurrency == "DKK")
	{
		bcc = "dgs@metier.dk;jorgen@bids.no;metieracademy@metier.dk;caa@metier.dk;jon.arve.walberg@metier.no";
		fromEmail = "metieracademy@metier.dk";
	}

	if (Model.Order.OrderCurrency == "SEK")
	{
		bcc += ";carina.hoyheim@metieroec.no";
	}

	string currency = (Model.Order.OrderCurrency == "USD" ? "$" : (Model.Order.OrderCurrency=="EUR" ? "&#8364;" : ""));
	string toEmail = Model.Order.UserEmail;
	if (Model.RequestJSON != null) {
		foreach (var line in Model.RequestJSON.Lines) {
			if (convert.HasProperty(line, "Recipients")) {
				bcc += ";" + convert.SafeGetProperty(line, "Recipients");
			}
		}
		if (convert.HasProperty(Model.RequestJSON, "Attendees")) {
			toEmail = "";
			foreach (var attendee in Model.RequestJSON.Attendees) {
				toEmail += ";" + attendee.Email;
			}
		}
	}
	double totalExVat = 0;
	double totalVat = 0;
	//double vatRate = (Model.Order.OrderCurrency == "SEK" ? 1.25 : 1);
    }
    From-email: @fromEmail
    To-email: @toEmail
    BCC-email: @bcc
    Subject: <translate key="subject">Metier Order Confirmation</translate> #@Model.Order.ID - @Raw(parse.stripHTML(parse.split(parse.replaceAll(Model.Order.OrderDescription, char.ToString((char)174), "(R)", "\n", "<br />") + "<br />", "<br />")[0]))
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <style>
        .coupon td {
            font-weight: bold;
            font-style: italic;
        }

        .spacer {
            height: 3px;
        }
    </style>

</head>
<body>
    <h1><translate key="heading">Order Confirmation</translate></h1>
    <!--
    <translate key="shortly-receive-credentials">You will shortly receive an email with your username and password for starting the course.</translate>
    -->
    <br /><br />
    <table style="width:800px">
        <tr>
            <td style="width:500px;" valign="top">
                @if (jlib.functions.extensions.IsNullOrEmpty(@Model.Order.Company)) {
                    <b>@(@Model.Order.UserFirstName + " " + @Model.Order.UserLastName)</b><br />
                } else {
                    <b>@Model.Order.Company</b><br />
                    @(@Model.Order.UserFirstName + " " + @Model.Order.UserLastName)<br />
                }
                @Model.Order.AddressStreet<br />
                @Model.Order.AddressZip @Model.Order.AddressCity<br />
                @Model.Order.AddressCountry
                @if (convert.cStr(convert.SafeGetProperty(Model.RequestJSON, "Extra", "MailAddress", "City")) != "") {
                    if (Model.RequestJSON.Extra.MailAddress.Name != Model.Order.Company
                        || Model.RequestJSON.Extra.MailAddress.City != Model.Order.AddressCity
                        || Model.RequestJSON.Extra.MailAddress.City != Model.Order.AddressCity) {
                        <text>
                            <br />
                            <br />
                            <br />
                            <b><translate key="mailing-address">Mailing address:</translate><br /></b>
                            @Model.RequestJSON.Extra.MailAddress.Name<br />
                            @Model.RequestJSON.Extra.MailAddress.Street<br />
                            @Model.RequestJSON.Extra.MailAddress.Zip @Model.RequestJSON.Extra.MailAddress.City
                        </text>
                    }
                }
            </td>
            <td style="text-align: right" valign="top">
                <table style="width:100%">
                    <tr>
                        <td><b><translate key="order-number">Order Number:</translate></b></td>
                        <td>@Model.Order.ID</td>
                    </tr>
                    <tr>
                        <td><b><translate key="order-date">Order Date:</translate></b></td>
                        <td>@Model.Order.CreateDate.ToString("dd.MM.yyyy")</td>
                    </tr>
                    <tr>
                        <td><b><translate key="payment-method">Payment Method:</translate></b></td>
                        <td><translate key="payment-method-@(Model.Order.PaymentMethodID ==2 ? "cc" : "invoice")">Invoice</translate>
                        @(convert.cBool(convert.SafeGetProperty(Model.RequestJSON, "EHF"))?" EHF":"")
                        </td>
                    </tr>
                    <tr>
                        <td><b><translate key="your-reference">Your Reference:</translate></b></td>
                        <td>@Model.Order.InvoiceReference</td>
                    </tr>
                    <tr>
                        <td><b><translate key="your-email">Your Email:</translate></b>&nbsp;&nbsp;&nbsp;</td>
                        <td>@Model.Order.UserEmail</td>
                    </tr>
                    @if (convert.cStr(convert.SafeGetProperty(Model.RequestJSON, "Extra", "Comment")) != "") {
                        <tr>
                            <td><b><translate key="comment">Comment:</translate></b>&nbsp;&nbsp;&nbsp;</td>
                            <td>@Raw(convert.SafeGetProperty(Model.RequestJSON, "Extra", "Comment"))</td>
                        </tr>
                    }
                    @if (convert.cStr(convert.SafeGetProperty(Model.RequestJSON, "Extra", "Language")) != "") {
                        <tr>
                            <td><b><translate key="language">Language:</translate></b>&nbsp;&nbsp;&nbsp;</td>
                            <td>@convert.SafeGetProperty(Model.RequestJSON, "Extra", "Language")</td>
                        </tr>
                    }
                    <tr>
                        <td><b><translate key="your-phone">Phone Number:</translate></b>&nbsp;&nbsp;&nbsp;</td>
                        <td>@Model.Order.UserPhone</td>
                    </tr>
                    @if (convert.cStr(convert.SafeGetProperty(Model.RequestJSON, "Company", "RegNumber")) != "")
                    {
                        <tr>
                            <td><b><translate key="RegNumber">Org. Number:</translate></b>&nbsp;&nbsp;&nbsp;</td>
                            <td>@convert.SafeGetProperty(Model.RequestJSON, "Company", "RegNumber")</td>
                        </tr>
                    }
                    @if (convert.cStr(convert.SafeGetProperty(Model.RequestJSON, "Company", "InvoiceAuxField1")) != "")
                    {
                        <tr>
                            <td><b><translate key="InvoiceAuxField1"></translate></b>&nbsp;&nbsp;&nbsp;</td>
                            <td>@convert.SafeGetProperty(Model.RequestJSON, "Company", "InvoiceAuxField1")</td>
                        </tr>
                    }
                    @if (convert.cStr(convert.SafeGetProperty(Model.RequestJSON, "Company", "InvoiceAuxField2")) != "")
                    {
                        <tr>
                            <td><b><translate key="InvoiceAuxField2"></translate></b>&nbsp;&nbsp;&nbsp;</td>
                            <td>@convert.SafeGetProperty(Model.RequestJSON, "Company", "InvoiceAuxField2")</td>
                        </tr>
                    }
                    @if (convert.cStr(convert.SafeGetProperty(Model.RequestJSON, "Company", "InvoiceAuxField3")) != "")
                    {
                        <tr>
                            <td><b><translate key="InvoiceAuxField3"></translate></b>&nbsp;&nbsp;&nbsp;</td>
                            <td>@convert.SafeGetProperty(Model.RequestJSON, "Company", "InvoiceAuxField3")</td>
                        </tr>
                    }
                </table>

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br /><br />
                <table style="width:100%">
                    <tr>
                        <td><b><translate key="description">Description</translate></b></td>
                        <td style="text-align: right"><b><translate key="quantity">Quantity</translate></b></td>
                        <td style="text-align: right"><b><translate key="price-ex-vat">Price, ex. VAT</translate></b></td>
                        <td style="text-align: right"><b><translate key="price-inc-vat">Price, inc. VAT</translate></b></td>
                        <td style="text-align: right"><b><translate key="sub-total">Total price, inc. VAT</translate></b></td>
                    </tr>
                    @if (Model.RequestJSON == null) {
                        totalExVat += convert.cDbl(Model.Order.OrderAmount);
                        totalVat += 0;
                        <tr>
                            <td>@Model.Order.OrderDescription</td>
                            <td style="text-align: right">1.00</td>
                            <td style="text-align: right">@Raw(convert.cDecimalNumber(totalExVat, 2, ".", false, false, " ", currency))</td>
                            <td style="text-align: right">@Raw(convert.cDecimalNumber(totalExVat, 2, ".", false, false, " ", currency))</td>
                            <td style="text-align: right">@Raw(convert.cDecimalNumber(totalExVat, 2, ".", false, false, " ", currency))</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                    } else {
                        int prevAttendee = -1;
                        foreach (var line in Model.RequestJSON.Lines) {
                            if (convert.HasProperty(line, "Price") || convert.HasProperty(line, "Description")) {
                                if (Model.RequestJSON.Attendees.Count() > 1 && prevAttendee != convert.cInt(line.Attendee)) {
                                    prevAttendee = convert.cInt(line.Attendee);
                                    <tr><td colspan="5"><b>@(Model.RequestJSON.Attendees[prevAttendee].FName + " " + Model.RequestJSON.Attendees[prevAttendee].LName)</b></td></tr>
                                }
                                double priceExVat = convert.cDbl(convert.SafeGetProperty(line, "Price"));
                                double vat = Math.Round((convert.cDbl(convert.SafeGetProperty(line, "VATRate")) / 100) * priceExVat);
                                totalExVat += priceExVat;
                                totalVat += vat;
                                <tr class="@(convert.cDbl(convert.SafeGetProperty(line,"Price"))<0?"coupon":"")">
                                    <td>@Raw(convert.SafeGetProperty(line, "Description"))</td>
                                    @if (convert.HasProperty(line, "Price")) {
                                        <td style="text-align: center">1</td>
                                        <td style="text-align: right">@Raw(convert.cDecimalNumber(priceExVat, 2, ".", false, false, " ", currency))</td>
                                        <td style="text-align: right">@Raw(convert.cDecimalNumber(priceExVat + vat, 2, ".", false, false, " ", currency))</td>
                                        <td style="text-align: right">@Raw(convert.cDecimalNumber(priceExVat + vat, 2, ".", false, false, " ", currency))</td>
                                    } else {
                                        <td colspan="4"></td>
                                    }
                                </tr>
                                <tr>
                                    <td class="spacer"></td>
                                </tr>
                            }
                        }
                    }
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td style="text-align: right"><b><translate key="total-ex-vat">Total, ex. VAT</translate></b></td>
                        <td style="text-align: right">@Raw(convert.cDecimalNumber(totalExVat, 2, ".", false, false, " ", currency))</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td style="text-align: right"><b><translate key="total-inc-vat">Total, inc. VAT</translate></b></td>
                        <td style="text-align: right">@Raw(convert.cDecimalNumber(totalExVat + totalVat, 2, ".", false, false, " ", currency))</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <translate key="footer-address">
    Metier AS<br />
    Pb. 118 Smestad<br />
    0309 Oslo<br />
        Norway<br />
        Tlf: +47 24 12 45 00<br />
        Fax: +47 24 12 45 01<br />
    Org. #: 932 151 286 MVA
    <br /><br /><br />
    </translate>
    @if (jlib.functions.json.DynamicJson.Serialize(Model).IndexOf("PRINCE2", StringComparison.CurrentCultureIgnoreCase) > -1)
    {
        <table style="width:800px"><tr><td><i><center>PRINCE2&reg; is a registered trade mark of AXELOS Limited, used under permission of AXELOS Limited.</center></i></td></tr></table>
    }
</body>
</html>
