﻿@using System.Linq;
@using jlib.functions;
@{
    string toEmail = Model.Request["email"];
}
From-email: no-reply@metier.no
To-email: @toEmail
BCC-email: jorgen@bids.no
Subject: Påmeldingsbekreftelse Merkantilt Grunnleggende


<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">    
    <style>
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
h2
	{mso-style-link:"Heading 2 Char";
	margin-right:0in;
	margin-left:0in;
	font-size:10.0pt;
	font-family:"Arial",sans-serif;
	color:#F17C32;
	font-weight:bold;
	font-style:italic;}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:#954F72;
	text-decoration:underline;}
p
	{margin-right:0in;
	margin-left:0in;	
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Balloon Text Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Segoe UI",sans-serif;}
span.Heading2Char
	{mso-style-name:"Heading 2 Char";
	mso-style-link:"Heading 2";
	font-family:"Arial",sans-serif;
	color:#F17C32;
	font-weight:bold;
	font-style:italic;}
span.BalloonTextChar
	{mso-style-name:"Balloon Text Char";
	mso-style-link:"Balloon Text";
	font-family:"Segoe UI",sans-serif;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
div.WordSection1
	{page:WordSection1;} 
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
    </style>

</head>

<body lang=EN-US link=blue vlink="#954F72">

    <div class=WordSection1>

        <p class=MsoNormal align=center style='text-align:center'>

            <table cellpadding=0 cellspacing=0 align=left>
                <tr>
                    <td width=5 height=0></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <img width=200 height=39 src="https://mymetier.net/learningportal/mymetier/gfx/metier-logo.png" alt="Metier logo">
                    </td>
                </tr>
            </table>

            <br clear=ALL>
        </p>

        <div class=MsoNormal align=center style='text-align:center'>
            <span
                  style='font-size:11.0pt;font-family:"Calibri",sans-serif'>

                <hr size=2 width="100%" noshade style='color:#A0A0A0' align=center>

            </span>
        </div>

        <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></p>

        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                Hei
                @Model.Request["extension-firstName"],
            </span>
        </p>

        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                Du har nå meldt deg på Prinsix M01 Grunnleggende prosjektstyring som et obligatorisk kurs i sertifisering som "Merkantil saksbehandler" og "Senior merkantil saksbehandler" i FLO. Kurset er identisk med M01 i Prinsix utdanningsløpet forøvrig, men avsluttes med en kort oppgaveinnlevering med fokus på merkantil rolle som må bestås.
            </span>
        </p>

        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                Tilgang til e-læringen og innleveringsoppgave blir gitt direkte etter påmelding.                
            </span>
        </p>

        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                Pålogging
                skjer via nettsidene
            </span><span>
                <a href="http://www.prinsix.no">
                    <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>www.prinsix.no</span>
                </a>
            </span><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                . Velg UTDANNING i menyen på toppen. På STARTSIDEN finner du INNLOGGINGSBOKSEN.
            </span>
        </p>
        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                Dersom du ikke tidligere har deltatt på kurs i Prinsix levert av Metier vil du få tilsendt brukernavn og et unikt passord som benyttes ved pålogging til e-læring.
            </span>
        </p>
        

        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                Vi minner om at påmeldingen er bindende. Kursavgiften vil bli fakturert i sin helhet ved påmelding.
            </span>
        </p>

        <div class=MsoNormal align=center style='text-align:center'>
            <span
                  style='font-size:11.0pt;font-family:"Calibri",sans-serif'>

                <hr size=2 width="100%" noshade style='color:#A0A0A0' align=center>

            </span>
        </div>

        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                Ta
                gjerne kontakt dersom du har spørsmål.
            </span>
        </p>

        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                Vennlig
                hilsen
            </span>
        </p>

        <p>
            <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>
                Ilse
                Johansen<br>
                Programkoordinator Prinsix utdanningsprogram<span style='display:none'>
                    <br>
                    Metier Academy
                </span><br>
                E-post:
            </span><span>
                <a href="mailto:kurssporsmal@metier.no">
                    <span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>kurssporsmal@metier.no</span>
                </a>
            </span>
        </p>
        <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>&nbsp;</span></p>
    </div>
</body>
</html>
