﻿@using System.Linq;
@using jlib.functions;
@{

}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <style>        
        .spacer {
            height: 3px;
        }
        .two-cols{
            width:50%;
            float:left;            
            font-size:19px;
        }
        .two-cols.right{
            margin-left:20px;
            width:45%;
        }
        .content{}
        h4, h5{
            text-align:center;
        }
        .intro{
            text-align:center;
            font-size:20px;
        }
        p{
            font-size:22px;
            padding-bottom:20px;
        }
        h4{
            font-size:26px;
            padding-top:40px;
        }
        h5{
            font-size:24px;
        }
    </style>

</head>
<body>
    <div style="page-break-after:always" class="content">
        <div class="intro">
            <img src="https://mymetier.net/learningportal/inc/xsl/images/barne-likestillings-inkluderingsdepartementet-logo.jpg" style="width:300px" />

            <h5>Skjema A (bokmål) side 1 av 2.</h5>
            Dette skjemaet er obligatorisk ifølge forskrift om angreskjema av 27. februar 2001 fastsatt av Barne-,
            likestillings- og inkluderingsdepartementet med hjemmel i lov 21.12.2000 nr. 105 om opplysningsplikt og
            angrerett mv. ved fjernsalg og salg utenfor fast utsalgssted (angrerettloven) § 10. Skal brukes ved fjernsalg og
            salg utenfor fast utsalgssted av varer.
        </div>
                
        <h4>DU HAR 14 DAGERS UBETINGET ANGRERETT</h4>
        <p>
            Etter angrerettloven kan forbrukeren gå fra avtalen uten å oppgi noen grunn innen 14 dager etter
            at hele varen og de opplysninger som kreves med hjemmel i angrerettloven kapittel 3 er mottatt på
            foreskreven måte (se side 2 av dette skjemaet). Fristen løper ved fjernsalg uansett ut senest 3
            måneder etter at varen er mottatt, eller 1 år dersom opplysninger om angrerett ikke er gitt. Det er
            ingen tilsvarende frist ved salg utenfor fast utsalgssted.
        </p>
        <p>
            Melding om bruk av angreretten må gis til selgeren innen fristen, og kan gis på hvilken som helst
            måte. Du kan bruke dette skjemaet som skal være utfylt av selgeren som spesifisert nedenfor.
            Fristen anses overholdt dersom meldingen er avsendt innen fristens utløp, og du bør sørge for at
            dette kan dokumenteres.
        </p>
        <div style="border:1px solid black;padding:5px 10px;">
            <p style="font-weight:bold;text-align:center">Skal være utfylt av selgeren:</p>

            <p>
                Selgerens<br />
                navn <b>Metier AS</b>
                <br /><br />
                Selgerens<br />
                adresse <b>Pb. 118 Smestad, 0309 Oslo</b>
                <br /><br /><br />

                Telefonnr. <b>+47 24 12 45 00</b> &nbsp;&nbsp; E-postadresse <a href="mailto:kurs@metier.no">kurs@metier.no</a>
                <br /><br />
                Kontrakt/ordre/bestilling nr. <b>#@Model.Order.ID</b>
                <br /><br />
                om vare(r) <b>Ordrebekreftelse er vedlagt dette skjemaet.</b><br />
                Avtalen ble inngått <b>@Model.Order.CreateDate.ToString("dd.MM.yyyy HH:mm")</b>. Skjemaet er levert/sendt <b>@Model.Order.CreateDate.ToString("dd.MM.yyyy")</b>.<br /><br />
            </p>
            <hr />
            <p style="font-weight:bold;text-align:center">
                Fylles ut av forbrukeren:<br />
                OBS! Skjemaet skal <u>ikke</u> sendes til Barne-, likestillings- og inkluderingsdepartementet
            </p>
            <p>
                Skjemaet er mottatt ____________________ (dato). Jeg benytter meg av angreretten.<br /><br />
                Navn ________________________________________________________________________________<br /><br />
                Adresse ________________________________________________________________________________<br /><br />
                Telefonnr. ______________________________ E-postadresse __________________________________<br /><br />
                Dato ____________________ Underskrift __________________________________________________<br />
            </p>
        </div>
    </div>
    <div class="content">
        <h5>Skjema A (bokmål) side 2 av 2.</h5>
        <h4>ANGREFRISTENS UTGANGSPUNKT</h4>
        <p>
            Opplysningene i henhold til angrerettloven kapittel 3 er mottatt på foreskreven måte når
            kravene i § 9 jf. § 7 er oppfylt og dette skjemaet er mottatt ferdig utfylt med de opplysningene
            selgeren skal fylle ut. Se utdrag fra §§ 9 og 7 nedenfor.
        </p>
        <div class="two-cols">
            § 9. Opplysningsplikt ved avtaleinngåelse ved
            avtaler om varer og andre tjenester enn finansielle
            tjenester
            I forbindelse med inngåelse av en avtale skal
            forbrukeren motta følgende opplysninger skriftlig
            på et varig medium som forbrukeren råder over:
            <ol type="a">
                <li>
                    opplysningene som nevnt i § 7 første ledd
                    bokstav a-f
                </li>
                <li>
                    vilkårene og framgangsmåten for, samt
                    virkningene av å benytte angreretten
                </li>
                <li>
                    opplysninger om eventuell ettersalgsservice og
                    gjeldende garantivilkår
                </li>
                <li>
                    vilkår for oppsigelse av avtalen dersom den er
                    tidsubegrenset eller av mer enn ett års varighet
                </li>
                <li>
                    bekreftelse av bestillingen.
                    Ved kjøp av varer skal forbrukeren motta
                    opplysningene senest ved levering. Ved avtaler om
                    varer som skal leveres til en annen enn kjøperen,
                    kan det avtales at opplysningene skal gis først etter
                    levering av varen. Opplysningene etter bokstav b-e
                    skal uansett gis etter avtaleinngåelsen, selv om de er
                    gitt på denne måten tidligere.
                </li>
            </ol>
        </div>
        <div class="two-cols right">
            § 7. Opplysningsplikt ved avtaler om varer og andre
            tjenester enn finansielle tjenester
            Før det blir inngått en avtale skal forbrukeren
            motta opplysninger som forbrukeren har grunn til å
            regne med å få, herunder opplysninger som
            forbrukeren har krav på etter annen lovgivning.
            Forbrukeren skal i alle fall ha opplysninger om:
            <ol type="a">
                <li>
                    varens eller tjenestens viktigste egenskaper
                </li>
                <li>
                    de totale kostnadene forbrukeren skal betale,
                    inklusive alle avgifter og leveringskostnader,
                    og spesifikasjon av de enkelte elementene i
                    totalprisen
                </li>
                <li>
                    om forbrukeren har rett til å gå fra avtalen
                    (angrerett) eller ikke
                </li>
                <li>
                    alle vesentlige avtalevilkår, herunder om
                    betaling, levering eller annen oppfyllelse av
                    avtalen samt om avtalens varighet når avtalen
                    gjelder løpende ytelser
                </li>
                <li>
                    selgerens eller tjenesteyterens navn og adresse
                </li>
                <li>tidsrommet tilbudet eller prisen er gyldig i</li>
            </ol>
        </div>
        <br style="clear:both" />
        <h4>OPPGJØR OG RETURKOSTNADER VED BRUK AV ANGRERETTEN</h4>
        <p>            
            Hvis du benytter deg av angreretten skal du ha tilbake det du har betalt (alle kostnader som
            faktisk er belastet kunden, herunder porto, ekspedisjonsgebyr og postoppkravsgebyr), og
            selgeren skal ha tilbake varen.
            Eventuelle kostnader ved retur av varer skal bæres av selgeren dersom avtalen er inngått ved
            telefonsalg eller salg utenfor fast utsalgssted (f.eks. dørsalg, gatesalg, messesalg og
            "homeparties"). <b>
                Dersom avtalen er inngått ved annet fjernsalg enn telefonsalg (f.eks.
                postordresalg, internettsalg og tv-shopping) må du bære returkostnadene selv, med
                mindre selgeren har misligholdt avtalen eller selgeren i henhold til avtalen har levert en
                erstatningsvare, fordi den bestilte varen ikke var tilgjengelig.
            </b>
        </p>        
        <h4>ANDRE OPPLYSNINGER</h4>
        <p>            
            Du mister ikke angreretten ved å åpne en vareforsendelse, så lenge varen kan leveres tilbake i
            vesentlig samme stand og mengde. Angrerettloven griper ikke inn i rettigheter du har etter
            bl.a. forbrukerkjøpsloven hvis det skulle oppstå mangler eller forsinkelser. Dersom du
            beholder varen, kan du på visse vilkår kreve prisavslag, omlevering (ny vare), erstatning eller
            heve kjøpet (få pengene tilbake). Du må da reklamere innen rimelig tid etter at du oppdaget
            feilen/mangelen. Har du spørsmål om angrerettloven, forbrukerkjøpsloven eller andre regler
            som angår deg som forbruker, kan du kontakte Forbrukerrådet på tlf. 03737. Internettadresse:
            <a href="http://forbrukerportalen.no" target="_blank">http://forbrukerportalen.no</a>
        </p>
        <h5>Skjemaet kan kopieres.</h5>
    </div>
        
</body>
</html>
