h1 {
    padding-top: 25px;
}
  
.question {
    padding-bottom: 15px;
}
  
.answer{
    background-color: #425563;
    padding: 20px 0;
}

textarea{
    width: 100%;
    font-style: italic;
    border-radius: 4px;
    padding: 15px;
    min-height: 100px;
  }

.recommended-answer-toggle{
  padding: 15px 0;
  cursor: pointer;  
}

.up {
    background-image: url(../../../assets/player/img/google_material_icons/ic_arrow_drop_down_up_green_24px.png);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    padding: 20px;
}
  
.down {
    padding: 15px 0;
    cursor: pointer;
    content: '';
    width: 15px;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    height: 8px;
    background-image: url(../../../assets/player/img/google_material_icons/ic_arrow_drop_down_green_24px.png);
}
  
.divider {
    background-color: #eceff0;
    box-shadow: inset 0 10px 10px -10px #696868;
    height: 10px;
}
  
.section ~ .section {
    margin-top: 30px;
}
  
.recommended-answer {
    background-color: #eceff0;
    padding: 20px 0;
}
