<div class="case" [attr.id]="'content-' + Content.ObjectID">
<h1 class="container">{{GetTitle()}}</h1>
<div class="container" [innerHTML]="intro | safe"></div>
<p></p>
<div *ngFor="let case of cases" class="section">
	<div class="question container" [innerHTML]="case.question | safe"></div>
	<div class="answer">
		<div class="container">
			<textarea attr.data-target="{{case.id}}" [(ngModel)]="ScormData.Cases[case.id]" autosize placeholder="{{ 'TYPE_HERE' | translate }}"></textarea>
		</div>
	</div>
		<div class="container recommended-answer-toggle" (click)="goToSection('recommended-answer-container', case)">{{ 'CASE.SHOW_ANSWER' | translate }}<span class="{{case._showAnswer ? 'up' : 'down'}}"></span></div>
	<div class="divider"></div>
	<div class="recommended-answer" *ngIf="case._showAnswer">
		<div class="container" id="recommended-answer-container" [innerHTML]="case.answer | safe"></div>
	</div>
</div>