table.tab_container table.tab_page
{
	border:1px solid silver;
	width:100%;
	padding:0px;
	margin:0px;
}


table.tab_container
{
	width:100%;
}

table.tab_container TD.tab_empty
{
	border-left:0px;
}

table.tab_container TD.tab_notactive TD, table.tab_container TD.tab_active TD
{			
	text-align: center;
	font-weight: bold;	
	cursor: hand;
	height:24px;
	padding:0px;
	margin:0px;
}

table.tab_container TD.tab_active TD
{	
	color:White;
}

table.tab_container TD 
{
	padding:0px;
	margin:0px;
}

table.tab_container TD.tab_notactive TD.tab_left
{
	background-image:url('/inc/library/controls/cooltabs/media/tab_button_left.gif');
	width:6px;
}

table.tab_container TD.tab_notactive TD.tab_fill
{
	background-repeat:repeat;
	background-image:url('/inc/library/controls/cooltabs/media/tab_button_fill.gif');	
	height:24px;
}

table.tab_container TD.tab_notactive TD.tab_right
{
	background-image:url('/inc/library/controls/cooltabs/media/tab_button_right.gif');
	width:6px;	
}


table.tab_container TD.tab_active TD.tab_left
{
	background-image:url('/inc/library/controls/cooltabs/media/tab_button_left_a.gif');
	width:6px;
}

table.tab_container TD.tab_active TD.tab_fill
{
	background-repeat:repeat;
	background-image:url('/inc/library/controls/cooltabs/media/tab_button_fill_a.gif');	
	height:24px;
}

table.tab_container TD.tab_active TD.tab_right
{
	background-image:url('/inc/library/controls/cooltabs/media/tab_button_right_a.gif');
	width:6px;	
}
