
table.pri_nav table.tab_page
{
	border:1px solid silver;
	width:100%;
	padding:0px;
	margin:0px;
}


table.pri_nav
{
	width:100%;
}

table.pri_nav a
{
	text-decoration:none;
}

table.pri_nav TD.tab_empty
{
	border-left:0px;
}

table.pri_nav TD.tab_notactive TD, table.pri_nav TD.tab_active TD
{			
	text-align: center;
	font-weight: bold;
	/*font-family:Arial;*/
	font-size:12px;	
	color:Black;
	cursor: hand;
	height:30px;
	padding:0px;
	margin:0px;
}

table.pri_nav TD.tab_active TD
{	
	color:White;
}

table.pri_nav TD 
{
	padding:0px;
	margin:0px;
}

table.pri_nav TD.tab_notactive TD.tab_left
{
	background-image:url('/inc/library/controls/cooltabs/media/tab_pri_left_i.gif');
	width:10px;
}

table.pri_nav TD.tab_notactive TD.tab_fill
{	
	background-color:#cedbef;
	height:30px;
	padding:0px 10px 0px 10px;
}

table.pri_nav TD.tab_notactive TD.tab_right
{
	background-image:url('/inc/library/controls/cooltabs/media/tab_pri_right_i.gif');
	width:10px;	
}


table.pri_nav TD.tab_active TD.tab_left
{
	background-image:url('/inc/library/controls/cooltabs/media/tab_pri_left_a.gif');
	width:10px;
}

table.pri_nav TD.tab_active TD.tab_fill
{	
	background-color:#ffa826;
	height:30px;
	padding:0px 10px 0px 10px;
}

table.pri_nav TD.tab_active TD.tab_right
{
	background-image:url('/inc/library/controls/cooltabs/media/tab_pri_right_a.gif');
	width:10px;	
}
