
table.sub_nav table.tab_page
{
	border:1px solid silver;
	
	padding:0px;
	margin:0px;
}


table.sub_nav
{
	/*border:1px solid black;	*/
}

table.sub_nav a
{
	text-decoration:none;
}

table.sub_nav TD.tab_empty
{
	border-left:0px;
}

table.sub_nav TD.tab_notactive TD, table.sub_nav TD.tab_active TD
{			
	text-align: center;
	font-weight: bold;
	/*font-family:Arial;*/
	font-size:12px;	
	color:Black;
	cursor: hand;
	height:20px;
	padding:0px;
	margin:0px;
}

table.sub_nav TD.tab_active TD
{	
	/*color:White;*/
}

table.sub_nav TD 
{
	padding:0px;
	margin:0px;
}

table.sub_nav TD.tab_notactive TD.tab_left
{
	/*background-image:url('/inc/library/controls/cooltabs/media/tab_pri_left_i.gif');*/
	width:6px;
	
}

table.sub_nav TD.tab_notactive TD.tab_fill
{	
	padding:0px 5px 0px 5px;
	/*background-color:#cedbef;
	height:20px;
	padding:0px 10px 0px 10px;
	border-top:1px solid #059a05;
	border-right:1px solid #059a05;
	border-left:1px solid #059a05;*/
}

table.sub_nav TD.tab_notactive TD.tab_right
{
	/*background-image:url('/inc/library/controls/cooltabs/media/tab_pri_right_i.gif');*/
	width:0px;
}


table.sub_nav TD.tab_active TD.tab_left
{
	background-image:url('/inc/library/controls/cooltabs/media/tab_sub_left_a.gif');
	width:4px;		
}

table.sub_nav TD.tab_active TD.tab_fill
{	
	background-color:white;
	height:22px;
	padding:0px 8px 0px 8px;	
}

table.sub_nav TD.tab_active TD.tab_right
{
	background-image:url('/inc/library/controls/cooltabs/media/tab_sub_right_a.gif');
	width:4px;		
}
