﻿#metamenu .logo {
    background: url(logo1.png?a1) no-repeat;
    background-size:contain;
    width: 150px;
    height: 80px;
    margin: 5px 0 0 10px;
}
#metamenu ul {
    padding: 60px 10px 0 0;
}
/*
#pri-nav .achievements, #pri-nav .catalog, #pri-nav .reports{
    display:none;
}
#container-merits{
    display:none;
}
#hDiplomaLink{
    display:none;
}
#progress-container {
    margin: 25px 0 30px 30px;
    width: 910px; 
}
.programpoints{
    display:none;
}
*/