﻿* {
padding: 0;
margin: 0;
}
ol li, ul li
{    
    margin-left:30px;
}
ol li, ol li a
{
    color:Black;
}
img{border:0;}
td{ vertical-align:top; }
h1 {font-family:Arial, "Trebuchet MS", Verdana, sans-serif; color:#e76205; font-size:22px; font-weight:normal;}
h2{font-size:18px}
h3{font-size:14px}
body
{
    font-family:Tahoma;
    font-size:12px;
    line-height:1.4;
    color:#565759;            
}

table.player{
    min-width:1010px;    
    border-collapse:collapse;    
}
#exam-content table{    
    border-collapse:separate;
}
table.player .top .left, table.player .top .right, table.player .bottom .left, table.player .bottom .right
{
    width:10px;
    height:10px;
    background-image:url('../images/frame-corners.png');    
}

.player .player-section
{
    overflow:hidden;
    background-color:White;
}
.player .player-section-header
{
    float:left;
}
.player .player-section-resize div{
width:14px;height:14px; background-image:url('../../inc/images/ui-icons_585858_256x240.png');
float:left;
}
.player .player-section-resize div:hover
{
    background-color:#ddd;
}
.player .player-section-resize div.min{
background-position:-66px 0;
}

.player #question-nav
{    
    font-size:10px;
    margin-left:10px;
    color:Black;
}
.player #question-nav .box
{
    float:left;    
    margin:0 10px 5px 0;
}
.player #question-nav div div
{
    border:1px solid black;    
    padding:4px 0px;
}
.player #question-nav a
{
    padding:2px 4px;
    margin:2px;    
    color:Black;
    border:1px solid #5b5b5b;
}
.player #question-nav a.completed
{
    background-color:#bbe8c4;
}
.player #question-nav a.in-progress
{
    background-color:#ffd8a1;
}
.player #question-nav a.current
{
    background-color:#fffe85;
}
.player #assessment-nav .container
{
    padding-bottom:20px;
}
.player #assessment-nav .box
{
    background-color:#efefef;border:1px solid #444;padding:5px 0px;            
}
.player #assessment-nav .box li
{    
    list-style-type:disc;
    margin-left:3px;    
    list-style-position:inside;
    color:#fff;
}
.player #assessment-nav .box li.current
{
    color:red;
}
.player #assessment-nav a
{
    color:black;text-decoration:none;   
    left:-8px;
    position:relative; 
}
.player #assessment-nav li.current a
{
    border-bottom:1px solid #05439b;        
}

table.player .top .right{background-position:40px 0;  }
table.player .bottom .left{background-position:30px 0;  }
table.player .bottom .right{background-position:20px 0;  }
table.player .top .middle, table.player .bottom .middle, table.player .middle .left, table.player .middle .right{background-repeat:repeat;}
table.player .top .middle{background-image:url('../images/frame-top.png');}
table.player .bottom .middle{background-image:url('../images/frame-bottom.png');}
table.player .middle .left{background-image:url('../images/frame-left.png');}
table.player .middle .right{background-image:url('../images/frame-right.png');}
table.player .middle .middle{min-height:649px; bottom:0}


div.player-frame{background-color:#5f6d7a;padding:7px}
.player .header{height:62px;padding-left:20px;}
.player .header h1{float:left; padding-top:14px;}
.player .header .timer{float:right;padding-right:50px; font-family:Verdana;padding-top:5px;}
#logo{float:right;padding:20px 10px 0 0; margin-right:10px;background-image:url('../images/mymetier_logo_small.png');width:83px;height:35px; background-repeat:no-repeat; background-position:bottom right;}
.player .player-content{background-color:White;}
.player input[type='text'], .player textarea, .player .textarea{ background-color:#efefef; color:Black; border:1px solid #5c6a76; padding:2px}

ul.select-menu  
{
	background: transparent url(../../inc/images/bg-searchinputbox.gif) repeat-x; 
	padding: 0;
	margin: 0;	
}

ul.select-menu li { margin: 0 !important; padding: 0; list-style-type:none }

ul.select-menu li a { 
	margin: 0; 
	padding: 0 30px 0 8px; 	
	background: transparent url(../../inc/images/icons/down-arrow.gif) no-repeat 95% 50%;
	border: 1px solid #777; 
	text-align: left; 
	text-decoration: none; 
	display: block;
	height: 20px; 
	line-height: 20px;
	cursor: default; 
	-moz-user-select:none; 
	color:#000;
}
ul.select-menu li a:hover { color: #000; }
ul.select-menu li ul { 
	position: absolute;
	padding: 0;
	margin: 0;	
	display:block;
	z-index: 1;	
	height:0;
} 

ul.select-menu li:hover ul {
	display:block;
	z-index: 1;	
	height:auto;
	border: 1px solid #777;
}
ul.select-menu li li { margin: 0; }
ul.select-menu li li.separator { background-color: #ccc; height: 1px;}
ul.select-menu li li a{
	color:#000;
	padding: 0 8px 0 30px; 
	border: none; 
	display: block;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 5px 50%;		
}
ul.select-menu.no-icons li li a {
	padding: 0 8px;
	background-image: none;		
}
ul.select-menu li li a:hover { background-color: #666; color: #fff; }
ul.select-menu ul { width: 200px;overflow: auto; }						
ul.select-menu li li a { background-image: none; }

/* annotation and highlight */
.highlighted{
       background-color:yellow;
}
.bookmarked{
       background-color:#d4e5f0;
}
td.correct-checked, td.wrong-checked, td.correct-blank, td.wrong-blank{
    background-position:3px 0px;
    background-repeat:no-repeat; 
    width:20px;   
}

td.correct-checked{ background-image:url('../images/correct-checked.png');  }
td.correct-blank{ background-image:url('../images/correct-blank.png'); background-position:3px 3px; }
td.wrong-checked{ background-image:url('../images/wrong-checked.png'); background-position:3px 4px; }
td.wrong-blank{ background-image:url('../images/wrong-blank.png'); background-position:3px 4px; }

.question.p2 td.correct-checked{ background-position:6px 0px;  }
.question.p2 td.correct-blank{ background-position:6px 3px; }
.question.p2 td.wrong-checked{ background-position:6px 4px; }
.question.p2 td.wrong-blank{ background-position:6px 4px; }
.question.p2 td.option{text-align:center;}

div.question table
{
    border-top:1px solid silver;
    width:100%;
    padding-top:5px;
}
div.question table label
{
    width:100%;    
    display:block;
}
tr.question-row .option
{
     width:15px;
     vertical-align:middle;     
}
tr.question-row{
    cursor:pointer;
}
tr.question-row:hover
{
    background-color:#ecf1f4;
}
tr.question-row .question, tr.answer-row .question
{
     padding:3px 0;
}
tr.question-row td, tr.answer-row td
{
    padding:3px;
}
div.question-sub-text
{
   padding:5px 2px;
}
div.question-numbering
{
    float:left;margin-left:4px; color:#9A0000; font-size:14px; font-weight:bold;
}
#exam-content #prince2p-question-head{
width:100%;
margin-bottom:15px;
border-collapse:collapse;
}
#prince2p-question-head td, #prince2p-question-head th{
border:1px solid #444;
text-align:center;
}
#exam-content #assessment-answers,#assessment-answers
{
    border:2px solid black;
    border-collapse:collapse;
}
#assessment-answers th
{/*
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
     -moz-transform: rotate(270deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%;
  height:80px;*/
}
#assessment-answers th,#assessment-answers td
{
    border:1px solid silver;
    padding:0;
}
#assessment-answers .section
{
    font-size:18px;
    font-weight:bold;
    background-color:#ddd;
}
#assessment-answers .section.end
{
    border-top:2px solid black;font-weight:bold;
}

#assessment-answers .sub-section
{
    font-size:14px;
    font-weight:bold;
    background-color:#eee;
}
#assessment-answers .question
{
    line-height:1.7;
}
#assessment-answers .answer, #assessment-answers .target, #assessment-answers .delta
{
    text-align:center;
}
#assessment-answers .delta{
    font-weight:bold;
}
.form_error{
border:3px solid red;
background-color:White;

display:block;
/*margin:10px;*/
padding:15px 30px;
color:red;
}
.exam-text h1,.exam-text h2,.exam-text h3,.exam-text h4,.exam-text h5
{
    padding-top:10px;
}
.hint-container{
    padding-bottom:5px;      
}    
.hint-container div{
    margin-left:2px;
}
.hint-container img{
    padding-right:5px;position:relative;top:4px
}
h3.question-text{
    float:left;
    width:95%;
}
#pmpScoreBreakdownContainer{
    padding:10px;position:relative;
}
#pmpScoreBreakdownContainer h2{
    float:left; padding-right:0px;
}
#pmpScoreBreakdown {
    width: 100%;
    border-collapse:collapse;
    border:1px solid black;
}
#pmpScoreBreakdown td{
    border:1px solid black;
    padding:2px 4px;        
}
#pmpScoreBreakdown .good td{
    background-color:#e1fae1;
}
#pmpScoreBreakdown .bad td{
    background-color:#fcf3f4;
}