// custom variables and override bootstrap variables

$white: #fff;
$gray-light: #747474;
$brand-success: #509e2f;

$clr1: #425563;
$clr2: #5c267b;
$clr3: #e35205;
$clr4: #cfccd2;
$clr5: #f4f5f6;
$clr6: #f6f7f8;
$clr7: #dadfe2;
$clr8: #f3f3f3;
$clr9: #f2f2f2;
$clr10: #f8f8f8;
$clr11: #acacac;
$clr12: #999;
$clr13: #818e97;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
$line-height-base: (19/14);

//== Container sizes
$container-desktop: 908px;
$container-large-desktop: 908px;
$grid-gutter-width: 28px;

//== Media queries breakpoints
$screen-md: 940px;
$screen-lg: 940px;

//== Forms
//
//##

//** `<input>` background color
$input-bg: $clr9;
$input-color: #000;
$input-border: transparent;
$input-border-radius: 4px;
$input-border-focus: transparent;
$input-color-placeholder: #000;

$input-height-base: 43px;

//== Buttons

$btn-success-border: transparent;

$btn-primary-bg: $clr2;
$btn-primary-border: transparent;