body{
  font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0;
}
*{
  background-repeat:no-repeat; 
}
body player-component, player-component input, player-component  textarea{
  font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;      
}
player-component a{
  color:#425563;
  text-decoration: underline;
  cursor: pointer;
}
body.highlight .container.theory{
  cursor:url('https://mymetier.net/learningportal/player2/assets/player/img/google_material_icons/pencil.cur'), auto;
}
body.note{      
}
player-component  p{    
  min-height: 10px;
}
#pedagogical-tools{
  position: fixed;
  right: 73px;
  bottom: 60px;
  width: 50px;
}
#pedagogical-tools #highlight, #pedagogical-tools #note{
  height: 50px;
  width: 50px;      
  cursor: pointer;
  border-radius: 25px;
  background-color: #687782;
  background-image: url('../img/google_material_icons/underline.png');
  background-position: center 10px;
  margin-top: 12px;      
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}
#pedagogical-tools #highlight.active, #pedagogical-tools #note.active{    
  background-color: #425563;
}
#pedagogical-tools .status{
  color:white;
  padding-bottom: 5px;
  font-size: 11px;
}
#pedagogical-tools #note{      
  background-image: url('../img/google_material_icons/note.png');
}
#pedagogical-tools .colors{
  position: relative;
}
#pedagogical-tools .colors>div{
border-radius: 28px;
height: 36px;
width: 36px;
position: absolute;
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}
#pedagogical-tools .colors>div.active:after{
  content: "check";
  font-family: 'Material Icons';
  font-feature-settings: "liga" 1;
  font-weight:bold;
  position:relative;
  top:11px;
  font-size:13px;
  left:12px;      
}
#pedagogical-tools .blue{
  background-color: #c5d3dc;
  left: -48px;
  top: 18px;
}
#pedagogical-tools .purple{
  background-color: #ded4e5;    
  left: -33px;
  top: -19px;
}
#pedagogical-tools .yellow{
  background-color: #fffbc5;
  top: -35px;
  left: 5px;
}
#pedagogical-tools .green{
  background-color: #cae2c0;      
  top: -19px;
  left: 41px;
}
#pedagogical-tools .white{      
  background-color: #fff;      
  left: 57px;
  top: 18px;
}
.highlight-blue {
  background-color: #c5d3dc;
  }
  .highlight-purple {
  background-color: #ded4e5;
  }
  
  .highlight-yellow {
  background-color: #fffbc5;
  }
  .highlight-green {
  background-color: #cae2c0;
  }
 
.metierblock{
  margin:20px 0;
}
.metierblock-content{
  padding:10px 0;
}
.metierblock-content>h2:first-child{
  margin-top:5px;
}
.page-theory, .page-examples, .page-intro{
  padding-bottom: 40px;
}
   player-component  .btn, player-component .btn:hover, player-component .btn:active, player-component .btn:active:hover{
      background: #70a095 ;
      border: 2px solid #70a095 ;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
      font-weight: bold;
      text-decoration: none;
      font-size: 18px;
      padding: 8px 15px;
    }
    player-component .btn-primary.disabled,
    player-component .btn-primary[disabled],
    player-component .btn-primary[disabled]:active,
    player-component .btn-primary[disabled]:hover,
    player-component .btn-primary[disabled]:focus,
    player-component .btn-primary:hover,
    player-component .btn-primary:active,
    player-component .btn-primary:active:hover,
    player-component .btn.btn-primary{
      background: #70a095;
      padding: 8px 25px;
      border: 2px solid #70a095;
    }
    player-component .btn.btn-secondary{
      background-color: transparent;
      color:#70a095;
    }

    .player-header{
      position: fixed;
      width: 100%;
      background-color: white;
      z-index: 100;
    }
    .lesson-finaltest .global .dialogs.list,    
    .lesson-finaltest .global #download-link{
      display: none;
    }
    .lesson-finaltest .content{
      padding-top: 60px;
    }
    .finaltest-content{
      width: 520px;
      margin: 100px auto 20px auto;
    }
    .finaltest-content .buttons{
      padding-top:30px;
    }
    finaltest-content ul{
      padding-top:20px;
    }
    finaltest-content .bottom button{
      margin:20px 0;
    }
    player-component .content{
      padding-top: 128px;
    }

    .player-header .global{
      height: 65px;
      background-color: #1a4c53;
      color:#dadfe2;
      display:flex;      
      align-items: center;
      padding:0 20px 0 36px;
      font-size:18px;
      
    }
    .player-header .global>.link.right{
        margin-left: auto;
    }
    .player-header .global .logo{
      height:15px;
      width: 112px;      
      background-image: url(../img/logo.png);      
    }
    .player-header .global .slash{
      margin:0 20px;
      font-weight: 100;
    }
    .player-header .global .title{
      text-transform:uppercase;
      min-width: 250px;     
    }
    .player-header .global .title .material-icons{
      position: relative;
      top: 10px;      
      line-height: 0;
      font-size: 32px;
    }
    .player-header .global .drop-link, .player-header .global .drop-link:hover{
      color:#fefefe;
      text-decoration: none;
    }
    .player-header .global .title .material-icons.dropdown-menu-up{
      display: none;      
      position: absolute;
      right: 0;
      top: 44px;
      color: white;
      z-index: 2001;
    }
    .player-header .global .title.open .material-icons.dropdown-menu-up{
      display: inline-block;      
    }

    .player-header .title .dropdown-menu{
      color:#425563;      
      margin-top:19px;
      max-height: 338px;  
      overflow-y: scroll;
      right: 0;
      padding-right: 5px;
    }
    .player-header .title .dropdown-menu ul{
      padding-left: 0;
      margin-bottom: 0;
      padding-right: 18px;
    }
    .player-header .title .dropdown-menu li{
      border-bottom: 1px solid #dadfe2;
      padding:6px 10px;
      text-transform: none;
      font-size: 16px;
      cursor:pointer;
    }
    .player-header .title .dropdown-menu ul li:last-child {
      border-bottom: 0;
    }
    .player-header .title .dropdown-menu li:before{
      content: 'check';
      font-family: 'Material Icons';
      font-weight: normal;    
      line-height: 0;    
      font-weight: bold;
      padding-right: 10px;
      position: relative;
      top: 3px;
      color:white;
      font-feature-settings: 'liga';
    }
    .player-header .title .dropdown-menu li.current:before{
      color: #425563;      
      content: 'chevron_right';       
      font-size: 20px;
      padding-right: 6px;     
      left: -3px;
    }
    .player-header .title .dropdown-menu li.status-C:before{      
      color: #70a095;      
    }
    .player-header .global .list{
      align-items: center;
      display: flex;
    }
    .player-header .global .link, .player-header .global .end{
      font-size:16px;
      color:#fefefe;
      cursor:pointer;
    }
    .player-header .global .pipe{
      color:#687883;
      padding:0 20px;
      font-size:24px;
      font-weight: 100;
    }
    .player-header .global .end{
      background-color:#23656e;
      height:34px;
      border-radius:4px;
      padding:5px 15px;
      cursor:pointer;
      margin-left:70px;
    }
    .player-header .global .end:after{
      content:"close";
      font-family: 'Material Icons';
      font-feature-settings: "liga" 1;
      font-size:22px;
      line-height:0;
      position:relative;
      top:5px;
      left:7px;

    }
    .lesson-finaltest .player-header .nav{
      display: none;
    }
    .player-header .nav{
      display: flex;
      
    }
    .player-header .nav player-navigation{
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;    
    border-right: 1px solid #acacac;
    border-bottom: 1px solid #acacac;
    text-transform: uppercase;
    color:#425563;
    font-size: 16px;
    }
    .player-header .nav player-navigation:last-child{
    border-right:0;
    }
    .player-header .nav player-navigation.visited{
    border-bottom: 4px solid #70a095;  
    }

    .player-header .nav player-navigation .item{
      cursor: pointer;
      height:50px;
      margin-top: 10px;
    }
    
    .player-header .nav player-navigation .item.active{
      color:#70a095 ;     
    }
    
    .player-header .nav player-navigation .icon{
      display: block;
      height: 22px;
      width:22px;
      margin: 0 auto;      
      background-size: contain;      
    }
    #arrow-left{
      left: 64px;
    }
    #arrow-left, #arrow-right{
      transition: opacity 0.5s ease-in-out;
      position: fixed;
      top:50%;      
      width:70px;
      height:70px;
      border-radius: 35px;
      background-color: #1a4c53;
      color:white;      
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
      cursor: pointer;            
    }
    #arrow-left.dimmed, #arrow-right.dimmed{
      opacity: 0.1;
    }
    #arrow-right{
     right: 64px;    
    }
    #arrow-left .material-icons{
      padding: 8px 4px;
    }
    #arrow-right .material-icons{
      padding: 8px 9px;
    }
    #arrow-left .material-icons, #arrow-right .material-icons{
      font-size: 56px;
      
    }
    #arrow-left.disabled, #arrow-right.disabled{
display: none;
cursor: default;
    }
    player-component .container{
      width:880px;
      margin: 0 auto;
    }
    player-component h1{
      color:#70a095;
      font-size: 48px;      
    }
    player-component h2{
      font-size: 34px;
    }
    player-component h1, player-component h2, player-component h3, player-component h4, player-component h5, player-component h6,
    player-component h2 strong, player-component h2 b{
      font-weight: 100;
    }
    player-component h2.l0, player-component h2.l0 strong player-component h2.l0 b{
      font-weight: bold;
    }
    .intro-banner, .theory-banner, .examples-banner, .checklist-banner, .reflection-banner, .pitfalls-banner, .case-banner, .quiz-banner, .complete-banner{
      background-image:url('../img/backgrounds/theory.jpg'); 
      background-size:cover;      
      height:231px;
      width: 100%;
    }
    .intro-banner{
      background-image:url('../img/backgrounds/intro.jpg'); 
    }    
    .examples-banner{
      background-image:url('../img/backgrounds/examples.jpg'); 
    }
    .checklist-banner{
      background-image:url('../img/backgrounds/checklist.jpg'); 
    }
    .reflection-banner{
      background-image:url('../img/backgrounds/reflection.jpg'); 
      height:200px;
    }
    .quiz-banner{
      background-image:url('../img/backgrounds/quiz.jpg'); 
    }
    .lesson-finaltest .quiz-banner{
      display: none;
    }
    .complete-banner{
      background-image:url('../img/backgrounds/complete.jpg'); 
    }
    .case-banner{
      background-image:url('../img/backgrounds/case.jpg'); 
    }
    .pitfalls-banner{
      background-image:url('../img/backgrounds/pitfalls.jpg'); 
      background-position: center;
    }
    .cms-question{
      width:440px;
      background-color: #eceff0;

      float: right;
      padding: 10px 14px 17px 14px;
      border-radius: 4px;
      margin: 10px 0 10px 40px;
    }
    .cms-question .title{
      color:#71004b;
      font-size: 14px;
    }
    .cms-question .text{
      color:#71004b;      
    }
    .cms-question .answer{
      background-color: white;
      padding: 10px;
      border-radius: 4px;
      word-wrap: break-word;
    }
    
    player-component .outer.dark {
      background-color: #eceff0;
  }
  
  .modal-header{
    background-color:#425563;    
    color:white;
  }
.modal-title{
  font-size:28px;
  width:100%;
}

.modal-header .close{
  font-family: 'Material Icons';
  font-feature-settings: "liga" 1;
  color:white;
  font-weight:100;
  opacity:1;
  font-size:32px;
  text-shadow: none;
}
.modal-header .close:hover{
text-shadow: 0 1px 1px #fff; 
}
.modal-body{
  padding:15px 30px;
}
.modal-body .container {
    width: auto;
}
.modal-content.download .item{
  cursor:pointer;

}
.modal-content.download .download{
  border-top:1px solid #dadfe2;
  padding:25px 0 10px 0;
}
.modal-content.download .download a{
  color:#70a095;
  display:block;
}
player-component .radiolist .radio{
  cursor:pointer;
}
player-component .radiolist .material-icons {
    position: relative;
    top: 6px;
}

/* AutoExpand Image */
.image-caption.auto-expand {
    cursor: pointer;
}
.page.print .image-caption .title .material-icons{
  opacity: 0 !important;
}
.image-caption {
    margin: 20px 0;
    position: relative;
    clear: both;
}

.image-caption .title.caption {
    border-top: 1px dotted black;
}
.image-caption .title {
    margin-top: 20px;
    padding-top: 3px;
    font-size: 18px;
    text-align: left;
}
.image-caption .img {
    position: relative;
    text-align: center;
}
.image-caption .material-icons {
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
    opacity: 0.8;
    font-size: 20px;
    margin-top: -1px;
}
table .image-caption .title{
    margin-right: 5px;
    margin-left: 5px;
}
table.standard thead td, table.standard th
{
    background-color:#ccc;
    font-weight:bold;
    text-align:left;
}
table.standard td, table.standard th
{
    padding:4px;    
}
#add-new-note{
  float: right;
  color:red;
  width:24px;
  height:24px;
}
.user-note{
  float:right;
  width:330px;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.16);
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0 10px 20px;
  background-color: white;
}
.user-note textarea{
  border: 0;
  width: 100%;
  padding: 0 15px;
}
.user-note textarea:focus{
  outline:0;
}
.user-note .mover{
  cursor: move;
}
.user-note .note{
  color: #dadfe2;  
}
#contact-us textarea, #contact-us input{
    width: 100%;
    border-radius: 4px;
    border-color: #dadfe2;
    padding: 5px 10px;
    margin: 10px 0;
    border-style: solid;
}
#contact-us textarea{
    height: 180px;
}
.loading-overlay{
  z-index: 99999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
}
.spinner {
   position: fixed;
   left: 50%;
   top: 50%;
   height:60px;
   width:60px;
   margin:0px auto;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border-left:6px solid rgba(0,174,239,.15);
   border-right:6px solid rgba(0,174,239,.15);
   border-bottom:6px solid rgba(0,174,239,.15);
   border-top:6px solid rgba(0,174,239,.8);
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}
.gu-mirror{position:fixed!important;margin:0!important;z-index:9999!important;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}
.gu-hide{display:none!important}
.gu-unselectable{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}
.gu-transit{opacity:.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20)}
.dnd-drag-start {
    /*-moz-transform:scale(0.8);
    -webkit-transform:scale(0.8);
    transform:scale(0.8);*/
    opacity:0.5;
    /*border: 2px dashed #000;*/
}

.dnd-drag-enter {
    opacity:0.5;
    border: 1px dashed #000;
}

.dnd-drag-over {
  opacity:0.5;
    /*border: 1px dashed #000;*/
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}

/* SMALL SCREEN */
 @media only screen and (max-width: 1024px) {
  .player-header .global .logo{
   position: relative;
    top: -15px;
  }
  .player-header .global .slash{
    display: none;
  }
  .player-header .global .title{
   position: relative;
    left: -112px;
    top: 10px;
  }
  
  #arrow-left{
    left: 14px;
  }    
  #arrow-right{
   right: 14px;    
  }
  #pedagogical-tools{
    right: 43px;   
  }
}

/* PRINT styles */
#print-header{
  border: 3px solid #425563;
  padding: 30px 30px 50px 30px;
  margin-bottom: 50px;
  text-align: center;
}
#print-header h1{
  font-size: 48px;
  font-weight: bold;
  color: #425563;
}
#print-header h2{
  font-size: 38px;  
  color: #425563;
}
.hide{
height: 0!important;
overflow:hidden!important;  
}
.page.print .player-header,
.page.print .player-banner,
.page.print #arrow-left,
.page.print #arrow-right,
.page.print .checklist .lock,
.page.print .checklist .delete{
height: 0;
overflow:hidden;
}
.page.print .content{
  padding-top: 0;
}

p#quote {
  background-color: #eceff0;
    border-left: 8px solid #70a095;
    color: #425563;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    padding: 40px 80px;
    position: relative;
}
span#writer {
    font-style: normal;
    font-size: 18px;
    bottom: 20px;
    left: 0;
    position: absolute;
    padding-right: 60px;
    text-align: right;
    width: 100%;
}

p#quote:first-child:before {
    position: relative;
    content: '';
    background-image: url(../img/google_material_icons/quotes-green.png);
    left: -35px;
    width: 23px;
    height: 23px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}

/* START STYLES COPIED FROM OLD PLAYER */

.metierbox-title.empty {
    margin: 0;
}
.metierbox-title {
    font-size: 12px;
    margin: 0px 0 5px 15px;
    padding-top: 5px;
}

.metierbox-content {
  padding: 15px;
  margin-bottom: 10px;
}

.definition .metierbox-content {
  background-color: #70a095;
  color: #ffff;
}

.example .metierbox-content {
  background-color: #87c7cd;
  color: #ffff;
}

.other .metierbox-content {
  background-color: #d7d8d6;
}

.metierbox-answer {
    font-family: Arial;
    font-size: 14px;
    padding: 13px 13px 15px 13px;
    background-color: #e9feba;
    border-radius: 7px;
    border: 1px solid #707070;
    box-shadow: inset 0px 0px 10px rgba(125,125,125,0.7);
    margin-bottom: 10px;
}

.metierheading {
    margin: 10px 0;
}

.metierheading-icon {
    float: right;
    width: 200px;
}
.metierheading-title {
    float: left;
    width: 475px;    
 
}
.metierheading-title h2 {
   margin-top:5px;
   margin-bottom:5px;
}
.pmp .metierheading-title {
    margin: 0px 20px;
}


.pmp .metierheading-icon {
    text-align: right;
    width: 100px;
}
.pmp .metierheading-icon .icon {
    padding: 3px 10px 3px 0;
}
.border {
    border: 2px solid silver;
}

.dict-entry
{
    color:#1b4848; 
    cursor:pointer;
    border-bottom:1px dotted;
}
div.dict-popup
{
    position:absolute;
    z-index:1000;
    max-width: 300px;
}

.dict-popup:before {
  /*box-shadow: 0 5px 15px rgba(0, 0, 0, .5);*/
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #e4e7e8;
    border-top: 20px solid #e4e7e8;
    border-bottom: 20px solid transparent;
    right: 150px;
    bottom: -25px;
}
.dict-popup .modal-body{
  font-size:16px;
}
/* END STYLES COPIED FROM OLD PLAYER */