<div [hidden]="!ValidationError" class="alert alert-danger" role="alert" id="validationError">
    <a class="close" (click)="ValidationError=null">×</a>
    <p *ngFor="let message of (''+ValidationError).split('\n')">{{message}}</p>            
</div>
<div [hidden]="!InformationAlert" class="alert alert-success" role="success" id="informationAlert">
    <a class="close" (click)="InformationAlert=null">×</a>
    <p *ngFor="let message of (''+InformationAlert).split('\n')">{{message}}</p>            
</div>
<section class="category-box">
  <h2><i class="material-icons">person</i> {{"PROFILE.USER_INFO" | translate}}</h2>
  <div class="form-group">
    <label for="first-name" [translate]="'PROFILE.FIRST_NAME'"></label>
    <input class="form-control" type="text" id="first-name" name="first-name" [(ngModel)]="UserData.User.FirstName">
  </div>
  <div class="form-group">
    <label for="last-name" [translate]="'PROFILE.LAST_NAME'"></label>
    <input class="form-control" type="text" id="last-name" name="last-name" [(ngModel)]="UserData.User.LastName">
  </div>
  <div class="form-group">
    <label for="email" [translate]="'PROFILE.EMAIL'"></label>
    <input class="form-control" type="email" id="email" name="email" [(ngModel)]="UserData.Email">
  </div>
  <div class="form-group">
    <label for="tel" [translate]="'PROFILE.PHONE'"></label>
    <input class="form-control" type="tel" id="tel" name="phone" [(ngModel)]="UserData.User.PhoneNumber">
  </div>
</section>
<section class="category-box" *ngIf="GetVisibleUserInfoElements().length>0">
  <h2><i class="material-icons">business</i> {{"PROFILE.COMPANY_INFO" | translate}}</h2>
            
  <div class="form-group" *ngFor="let field of GetVisibleUserInfoElements()">
    <label for="field_{{field.Id}}">{{field.LeadingText.Text}} <span class="required" *ngIf="field.LeadingText.IsMandatory">*</span></label>
    <input class="form-control" type="text" id="field_{{field.Id}}" [(ngModel)]="field.InfoText">            
  </div>

</section>
<section class="category-box">
  <h2><i class="material-icons">location_on</i> {{"PROFILE.ADDRESS" | translate}}</h2>
  <p>{{"PROFILE.ADDRESS_DESCRIPTION" | translate}}</p>
  <div class="form-group">
    <label for="street1" [translate]="'PROFILE.STREET_1'"></label>
    <input class="form-control" type="text" id="street1" name="street1" [(ngModel)]="UserData.User.StreetAddress">
  </div>
  <div class="form-group">
    <label for="street2" [translate]="'PROFILE.STREET_2'"></label>
    <input class="form-control" type="text" id="street2" name="street2" [(ngModel)]="UserData.User.StreetAddress2">
  </div>
  <div class="form-group">
    <label for="postcode" [translate]="'PROFILE.ZIP'"></label>
    <input class="form-control" type="text" id="postcode" name="zipcode" [(ngModel)]="UserData.User.ZipCode">
  </div>
  <div class="form-group">
    <label for="place" [translate]="'PROFILE.CITY'"></label>
    <input class="form-control" type="text" id="place" name="city" [(ngModel)]="UserData.User.City">
  </div>
  <div class="form-group">
    <label for="country" [translate]="'PROFILE.COUNTRY'"></label>            
    <select name="country" class="form-control" id="country" [(ngModel)]="UserData.User.Country">
      <option *ngFor="let c of PortalService.CodeData.CountryCodes" [value]="c.Value">{{c.Display}}</option>              
    </select>
  </div>
</section>
<section class="category-box" *ngIf="!HideLanguageSection">
  <h2><i class="material-icons">language</i> {{"PROFILE.LANGUAGE" | translate}}</h2>
  <div class="form-group">
    <label for="language" [translate]="'PROFILE.PREFERRED_LANGUAGE'"></label>
    <select id="language" [(ngModel)]="UserData.User.PreferredLanguageId" name="language">
      <option *ngFor="let c of PortalService.CodeData.Languages" [value]="c.Id">{{c.Name}}</option>              
    </select>
  </div>
</section>

<div [hidden]="!PortalService.IsUserExamCompetencyVisible()" id="competencyForm">
  <section class="category-box">
    <h2 [ngClass]="{'warn':PortalService.NagUserForExamCompetence()}"><i class="material-icons">school</i> {{"PROFILE.COMPETENCY" | translate}}</h2>
    <div *ngIf="CompetenceValidationError" class="alert alert-danger" role="alert">
      <a class="close" (click)="CompetenceValidationError=null">×</a>
      <p *ngFor="let message of (''+CompetenceValidationError).split('\n')">{{message}}</p>            
    </div>
  
    <div class="form-group">
      <label for="title" [translate]="'PROFILE.COMPETENCY_SALUTATION'"></label>              
      <select id="title" [(ngModel)]="CompetenceForm.Title" name="title">                
        <option *ngFor="let c of ['Mr','Mrs','Ms']" [value]="c">{{c}}</option>                              
      </select>
    </div>
    
    <div class="form-group">
      <label for="ssn" [translate]="'PROFILE.COMPETENCY_DOB'"></label>
      <input class="form-control" type="date" id="dob" name="dob" placeholder="YYYY-MM-DD" [(ngModel)]="CompetenceForm.DateOfBirth" (change)="DOBChanged()">
    </div>
    <div class="form-group">
      <label for="nationality" [translate]="'PROFILE.COMPETENCY_NATIONALITY'"></label>
      <input class="form-control" type="text" id="nationality" name="nationality" [(ngModel)]="CompetenceForm.Nationality">
    </div>

    <div class="form-group">
      <label for="countryOfBirth" [translate]="'PROFILE.COMPETENCY_COUNTRY_OF_BIRTH'"></label>
      <select id="countryOfBirth" [(ngModel)]="CompetenceForm.CountryOfBirth" name="countryOfBirth">
        <option *ngFor="let c of PortalService.CodeData.CountryCodes" [value]="c.Value">{{c.Display}}</option>              
      </select>
    </div>

    <div class="form-group">
      <label for="degree" [translate]="'PROFILE.COMPETENCY_HIGHEST_DEGREE'"></label>
      <select id="degree" [(ngModel)]="CompetenceForm.EducationType" name="degree">                                
        <option *ngFor="let c of EducationTypes" [value]="c.Id">{{c.Value}}</option>                              
      </select>
      <div>
        <i [translate]="'PROFILE.COMPETENCY_ED_LEVEL_DISCLAIMER'">* General study competence: Completion of a 3-year secondary study program</i>
      </div>
    </div>

    <div class="form-group" *ngIf="CompetenceForm.EducationType!=0">
      <label for="highestEd" [translate]="'PROFILE.COMPETENCY_HIGHEST_ED'"></label>
      <input class="form-control" type="text" id="highestEd" name="highestEd" [(ngModel)]="CompetenceForm.EducationLevel">
    </div>

    <div class="form-group" *ngIf="CompetenceForm.EducationType!=0">
      <label for="graduationYear" [translate]="'PROFILE.COMPETENCY_GRADUATION_YEAR'"></label>
      <input class="form-control" type="number" id="graduationYear" name="graduationYear" [(ngModel)]="CompetenceForm.GraduationYear">
    </div>

    <div class="form-group" *ngIf="CompetenceForm.EducationType!=0">
      <label for="institution" [translate]="'PROFILE.COMPETENCY_INSTITUTION'"></label>
      <input class="form-control" type="text" id="institution" name="institution" [(ngModel)]="CompetenceForm.InstitutionName">              
    </div>

    <div class="form-group" *ngIf="CompetenceForm.EducationType==0">
      <div>
        <i [innerHTML]="'PROFILE.COMPETENCY_REQUIREMENTS_LABEL' | translate"></i>
      </div>
      <br />
      <div class="form-check">
        <input class="form-check-input" type="radio" name="accreditedPracticalCompetence" id="competenceAccreditPass" [(ngModel)]="CompetenceForm.IsAccreditedPracticalCompetenceSatisfied" [value]="true"> 
        <label class="form-check-input" for="competenceAccreditPass" [translate]="'PROFILE.COMPETENCY_ACCREDIT_PASS'" style="display:inline"></label>            
      </div>
      <br />
      <div class="form-check">
        <input class="form-check-input" type="radio" name="accreditedPracticalCompetence" id="competenceAccreditFail" [(ngModel)]="CompetenceForm.IsAccreditedPracticalCompetenceSatisfied" checked="true" [value]="false"> 
        <label class="form-check-label" for="competenceAccreditFail" [translate]="'PROFILE.COMPETENCY_ACCREDIT_FAIL'" style="display:inline"></label>            
      </div>     
    </div>
    <div class="form-group" *ngIf="CompetenceForm.EducationType==0">
      <label for="workExperience" [translate]="'PROFILE.COMPETENCY_WORK_EXPERIENCE'"></label>
      <textarea class="form-control" id="workExperience" name="workExperience" [(ngModel)]="CompetenceForm.PracticalCompetenceDescription"></textarea>
    </div>

    
    <div class="form-group">
      <label for="attachmentUpload" [translate]="'PROFILE.COMPETENCY_ATTACHMENTS'"></label>
      <div *ngIf="CompetenceForm.EducationType!=0">
        <i [translate]="'PROFILE.COMPETENCY_UNIVERSITY_UPLOAD_INSTRUCTIONS'"></i>
      </div>
      <div *ngIf="CompetenceForm.EducationType==0">
        <i [innerHTML]="'PROFILE.COMPETENCY_PRACTICAL_UPLOAD_INSTRUCTIONS' | translate"></i>
      </div>

      <br />
      <!--
      <div [translate]="'PROFILE.COMPETENCY_UPLOAD_MORE'">Last opp nye</div>
      -->
      <input type="file" name="" (change)="UploadFilesFromEvent($event)" style="display:inline">

      <div progress="" max="100" class="progress" *ngIf="FileUploadProgress>0 && FileUploadProgress < 100">                  
        <div aria-valuemin="0" class="progress-bar progress-bar-info" role="progressbar" style="min-width: 0px; width: {{FileUploadProgress}}%;" >
              <b>{{FileUploadProgress}}%</b>
        </div>
      </div>
      <div *ngIf="FileUploadProgress==100" [translate]="'GLOBAL.UPLOAD_SUCCESSFUL'"></div>



      <!--
      <button type="button" [translate]="'PROFILE.COMPETENCY_UPLOAD_BUTTON'">Upload</button>            
    -->
      <div *ngIf="CompetenceForm.Attachments.length==0">
        <b [translate]="'PROFILE.COMPETENCY_NO_UPLOADS'"></b>
      </div>
    </div>

    <div class="form-group" *ngIf="CompetenceForm.Attachments.length>0">
      <label [translate]="'PROFILE.COMPETENCY_EXISTING_FILES'"></label>
      <ul> 
        <li *ngFor="let f of CompetenceForm.Attachments"><a href='{{PortalService.GetCompetencyFileUrl(f)}}' target="_blank">{{f.Title}}</a></li>                         
      </ul>
    </div>

    <div class="form-group">
      <div class="form-check" *ngIf="!CompetenceForm.IsTermsAccepted">
        <input class="form-check-input" type="checkbox" id="competencyAgree" [(ngModel)]="IsTermsAccepted"> 
        <label class="form-check-label" for="competencyAgree" style="display: inline;" [innerHTML]="'PROFILE.COMPETENCY_AGREE' | translate"></label>                            
      </div>
      <div *ngIf="CompetenceForm.IsTermsAccepted"><span [translate]="'PROFILE.COMPETENCY_ACCEPTED_DATE'"></span> {{CompetenceForm.TermsAcceptedDate | localizedDate:'shortDate'}}.</div>
      <br />
      <div>
        <button type="button" class="btn btn-success" [translate]="'PROFILE.COMPETENCY_SUBMIT'" (click)="SaveCompetenceForm()"></button>
      </div>
    </div>
  </section>
</div>        
<section class="category-box" *ngIf="!HidePasswordSection">
  <h2><i class="material-icons">security</i> {{"PROFILE.PASSWORD" | translate}}</h2>
  <div class="form-group">
    <label for="new-password" [translate]="'PROFILE.NEW_PASSWORD'"></label>
    <input type="password" class="form-control" id="new-password" placeholder="&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;" [(ngModel)]="UserPassword1">
  </div>
  <div class="form-group">
    <label for="repeat-password" [translate]="'PROFILE.RETYPE_PASSWORD'"></label>
    <input type="password" class="form-control" id="repeat-password" placeholder="&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;" [(ngModel)]="UserPassword2">
  </div>
</section>