<section class="team-blcok container" *ngIf="Ecoaches.length > 0">
  <div class="row flex-row" *ngFor="let ecoach of Ecoaches">
    <div class="col-xs-12 col">
      <div class="teacher-box">
        <div class="visual">
          <img *ngIf="ecoach.Attachments.length == 0" src="assets/portal/images/img15.png" alt="E-coach">
          <img *ngIf="ecoach.Attachments.length > 0" src="{{PortalService.GetFileUrl(ecoach.Attachments[0])}}"
            alt="{{ecoach.Attachments[0].Title}}">
        </div>
        <div class="text-details">
          <div class="head">
            <h3>{{ecoach.Name}}</h3>
            <p><strong [translate]="'ELEARNING.ECOACH'"></strong></p>
          </div>
          <ul class="meta-list list-unstyled">
            <li *ngIf="ecoach.ContactEmail || Distributor.ContactEmail"><a
                href="mailto:{{ecoach.ContactEmail?ecoach.ContactEmail:Distributor.ContactEmail}}"><i
                  class="material-icons">mail_outline</i> {{"ELEARNING.SEND_REQUEST" | translate}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>