﻿/* general styles */
* {
  background-repeat: no-repeat;
}
body {
  background: url(../gfx/bg-main.jpg) top repeat-x #fff;
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  /*color: #435a6d;*/
  color: #243543;
  line-height: 1.3;
  font-size: 16px;
}
body, img, h1, h2, h3, h4 /*table, td,  */ {
  border: 0;
  margin: 0;
  padding: 0;
}
p {
  margin: 5px 0 10px 0;
  font-family: Arial;
}
h2 {
  padding-top: 10px;
  color: Black;
  font-size: 20px;
}
h1 {
  color: Black;
  font-size: 28px;
}
h2,
h3,
h4 {
  color: #2e3c48;
}
td {
  vertical-align: top;
}
.hide {
  display: none;
}
.cke_editable .hide {
  display: block;
}
#wrapper-submenu ul,
#pop-temaer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#wrapper-submenu ul.tools {
  padding: 4px 5px;
  /*margin-bottom:10px;*/
}
#wrapper-submenu ul > li,
#pop-temaer ul > li {
  padding: 0;
  list-style-image: none;
}
ul#in-page-nav > li a {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
#wrapper-submenu .container {
  font-size: 11px;
  color: #435a6d;
  line-height: 20px;
}
#wrapper-submenu .container.hide {
  position: absolute;
  top: -10000px;
}
ul > li {
  padding: 3px 0 4px 0;
}
ol > li {
  list-style-image: none;
}

._content ul,
.cke_editable ul {
  list-style: none;
}

._content ul > li,
.cke_editable ul > li {
  position: relative;
  list-style-type: none;
}

._content ul:not(.lightslider) > li:before,
.cke_editable ul > li:before {
  content: "•";
  color: #00aeef;
  font-size: 35px;
  line-height: 15px;
  position: absolute;
  top: 5px;
  left: -18px;
}

._content ul > li > ul {
  padding-top: 3px;
  padding-left: 10px;
}
._content :not(.lightslider) ul > li ul > li:before,
.cke_editable ul > li ul > li:before {
  font-size: 25px;
  left: 10px;
  line-height: 10px;
}
._content ul:not(.lightslider) > li > ul > li,
.cke_editable ul > li ul > li {
  margin: 0;
  padding: 0px 0px 1px 24px;
  vertical-align: middle;
  list-style-image: none;
  list-style-type: none;
}
hr {
  border: none;
  border-top: 1px dotted #788896;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 920px;
}
a,
#references-dialog a {
  color: #1d73cc;
  text-decoration: none;
}
a:hover {
  text-decoration: none; /*text-decoration: underline;*/
}
.emptyline {
  line-height: 50%;
}
.clear {
  clear: both;
}
object,
embed {
  outline: 0;
}
input::-moz-focus-inner {
  border: 0;
}
textarea {
  font-family: arial;
}
/* End */

/* The pitfalls */
.pitfalls h1 {
  color: White;
}
.pitfall-wide-top {
  width: 370px;
  background: url(../gfx/fallgruve1-top.png) top no-repeat;
  padding: 120px 180px 0 150px;
  color: #fff;
}
.pitfall-wide-bottom {
  width: 700px;
  height: 140px;
  background: url(../gfx/fallgruve1-bottom.png) bottom no-repeat;
}
.pitfall-wide-number {
  float: left;
  font-size: 4em;
  font-weight: bold;
  color: #91a4b5;
  width: 50px;
  margin-top: -15px;
}
.pitfall-wide-text {
  float: left;
  width: 320px;
}

.pitfall-narrow-top {
  width: 266px;
  background: url(../gfx/fallgruve2-top.png) top no-repeat;
  padding: 120px 90px 0 100px;
  color: #fff;
}
.pitfall-narrow-bottom {
  width: 456px;
  height: 134px;
  background: url(../gfx/fallgruve2-bottom.png) bottom no-repeat;
}
.pitfall-narrow-number {
  float: left;
  font-size: 4em;
  font-weight: bold;
  color: #91a4b5;
  width: 50px;
  margin-top: -15px;
}
.pitfall-narrow-text {
  float: left;
  width: 216px;
}
.pitfall-item ul,
.pitfall-item p {
  margin-top: 0;
  margin-bottom: 0;
}

.lean-left {
  margin-left: -50px;
}
.lean-right {
  margin-left: 50px;
}
.lean-even-more-right {
  margin-left: 250px;
}

/* Navigation */
#quicknav-left,
#quicknav-right {
  position: fixed;
  top: 300px;
  width: 20px;
  height: 80px;
  display: block;
  z-index: 9;
  border-radius: 12px;
  border: 1px solid #a1bed2;
  cursor: pointer;
}
#quicknav-left {
  left: 20px;
  background: url(../gfx/arrow-quicknav-left.png) 2px 31px no-repeat #e2e8ed;
}
#quicknav-right {
  right: 10px;
  background: url(../gfx/arrow-quicknav-right.png) 3px 31px no-repeat #e2e8ed;
}
#quicknav-left.ie,
#quicknav-right.ie {
  background: url(../gfx/nav-left.png) no-repeat transparent;
  border: 0;
  width: 22px;
  height: 82px;
}
#quicknav-right.ie {
  background: url(../gfx/nav-right.png) no-repeat transparent;
}
#quicknav-left.ie:hover {
  background: url(../gfx/nav-left-active.png) no-repeat transparent;
}
#quicknav-right.ie:hover {
  background: url(../gfx/nav-right-active.png) no-repeat transparent;
}
#quicknav-left:hover,
#quicknav-right:hover,
#quicknav-left.hover,
#quicknav-right.hover {
  background-color: #f1f5f8;
  color: #3d6d95;
}

.mainmenu-maximized {
  margin: 0 auto;
}

.mainmenu-maximized td {
  white-space: nowrap;
  font-family: Arial;
  font-size: 11px;
  cursor: pointer;
  height: 67px;
  width: 54px;
}

.mainmenu-maximized td.disabled,
#nav-primary tr.disabled,
li.popmenu-listing.disabled span,
#quicknav-left.disabled,
#quicknav-right.disabled,
.quiz-container.disabled .big-button,
.quiz-container.disabled .reset {
  cursor: not-allowed;
  opacity: 0.5;
}
.mainmenu-maximized td a:hover {
  text-decoration: none;
}
.mainmenu-maximized .img {
  width: 52px;
  height: 48px;
  background-size: contain;
  -ms-behavior: url(css/backgroundsize.min.htc);
  margin: 0px auto;
  background-image: url(../gfx/nav-theory-active.png);
}
.nav-splash .img {
  background-image: url(../gfx/nav-splash-active.png);
}
.nav-intro .img {
  background-image: url(../gfx/nav-intro-active.png);
}
.nav-goals .img {
  background-image: url(../gfx/nav-goals-active.png);
}
.nav-reflection .img {
  background-image: url(../gfx/nav-reflection-active.png);
}
.nav-theory .img {
  background-image: url(../gfx/nav-theory-active.png);
}
.nav-examples .img {
  background-image: url(../gfx/nav-examples-active.png);
}
.nav-pitfalls .img {
  background-image: url(../gfx/nav-pitfalls-active.png);
}
.nav-checklist .img {
  background-image: url(../gfx/nav-checklist-active.png);
}
.nav-case .img {
  background-image: url(../gfx/nav-case-active.png);
}
.nav-quiz .img {
  background-image: url(../gfx/nav-quiz-active.png);
}
.nav-complete .img {
  background-image: url(../gfx/nav-complete-active.png);
}
.mainmenu-maximized td.active .img {
  width: 63px;
  height: 58px;
  top: 4px;
}
.mainmenu-maximized div {
  position: relative;
  top: 10px;
}
.mainmenu-maximized td.manual-hover .title,
.mainmenu-maximized td.active .title {
  background-color: #435a6d;
  color: White;
  border-radius: 8px;
  padding: 0px 7px 1px 7px;
}
.mainmenu-maximized td.active .title {
  top: 8px;
}
.mainmenu-maximized td.manual-hover .title {
  background-color: #72c028;
}

.courselogo {
  float: left;
  background: url(../gfx/kurslogo.png) 0 0 no-repeat;
  width: 120px;
  height: 40px;
  margin: 23px 0 0 15px;
}

.globalmenu-topline-left {
  float: left;
  padding: 5px 0 0 10px;
  color: #fff;
  font-size: 11px;
}
.globalmenu-topline-left li {
  float: left;
  display: block;
}
.globalmenu-topline-left .home {
  padding: 3px 0 0 25px;
  background: url(../gfx/icon-home.png) left no-repeat;
  cursor: pointer;
}
.globalmenu-topline-right {
  float: right;
  padding: 5px 10px 3px 10px;
  color: #fff;
  font-size: 11px;
}
.globalmenu-topline-right li {
  float: right;
  display: block;
  padding: 2px 0 4px 2px;
}
li.settings {
  float: right;
  padding-right: 25px;
  background: url(../gfx/icon-settings.png) right no-repeat;
}
#wrapper-submenu {
  position: absolute;
  top: 120px;
  right: 70px;
  width: 150px;
}
#wrapper-submenu h4 {
  padding: 1px 5px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
  color: #52606c;
  background: #d3dce1;
  margin: 3px 0 5px 0;
  border-radius: 12px;
}
.tools {
  padding: 5px 5px 2px 5px;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #a1bed2;
  margin-bottom: 10px;
}
li.markeroptions a {
  float: right;
  display: block;
  background: url(../gfx/b-pulldownmenu-idle.png) 0px 0px no-repeat #fff;
  height: 22px;
  width: 22px;
}
li.markeroptions a:hover {
  background: url(../gfx/b-pulldownmenu-hover.png) 0px 0px no-repeat #fff;
}
.markerswitch a {
  display: block;
  background-image: url(../gfx/b-markerswitch-off-idle.png);
  color: #435a6d;
  padding: 4px 5px 4px 55px;
  font-size: 11px;
  margin-bottom: 3px;
  min-height: 14px;
  text-decoration: none;
}
.markerswitch.active a {
  background-image: url(../gfx/b-markerswitch-on-idle.png);
}
.markerswitch.active a.yellow {
  background-image: url(../gfx/b-markerswitch-yellow-idle.png);
}
.markerswitch.active a.blue {
  background-image: url(../gfx/b-markerswitch-blue-idle.png);
}
.markerswitch.active a.green {
  background-image: url(../gfx/b-markerswitch-green-idle.png);
}
.markerswitch.active a.pink {
  background-image: url(../gfx/b-markerswitch-pink-idle.png);
}
.markerswitch.active a.erase {
  background-image: url(../gfx/b-markerswitch-erase-idle.png);
}

a.addnote {
  display: block;
  background: url(../gfx/b-addnote-idle.png) 1px 1px no-repeat #fff;
  color: #435a6d;
  padding: 4px 5px 4px 55px;
  font-size: 11px;
  margin-bottom: 6px;
  min-height: 15px;
  text-decoration: none;
}
body.cursor-add-note a.addnote {
  background: url(../gfx/b-addnote-active.png) 1px 1px no-repeat #fff;
}
a:hover.addnote {
  background: url(../gfx/b-addnote-hover.png) 0px 0px no-repeat #fff;
  color: #435a6d;
}
a.addcheckpoint {
  display: block;
  background: url(../gfx/b-addcheckpoint-idle.png) 1px 1px no-repeat #fff;
  color: #435a6d;
  padding: 4px 5px 4px 55px;
  font-size: 11px;
  margin-bottom: 4px;
  min-height: 15px;
  text-decoration: none;
}
a:hover.addcheckpoint {
  background: url(../gfx/b-addcheckpoint-hover.png) 0px 0px no-repeat #fff;
  color: #435a6d;
}

a.roundbutton {
  display: block;
  border-radius: 12px;
  border: 1px solid #a1bed2;
  background-color: #e2e8ed;
  color: #435a6d;
  padding: 4px 5px 4px 6px;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 0px;
  text-decoration: none;
}
a.roundbutton:hover {
  background-color: #f1f5f8;
  color: #3d6d95;
}
a.roundbutton.progress {
  padding: 0;
}
a.roundbutton.progress .text {
  z-index: 1;
  position: relative;
  padding: 4px 5px 4px 6px;
}
a.roundbutton .bar {
  position: absolute;
  height: 24px;
  background-color: #ccc;
  border-radius: 12px;
  border: 0;
}
a.checkpointbutton {
  display: block;
  border-radius: 12px;
  border: 1px solid #7f6b60;
  background: url(../gfx/icon-checkpoint.png) 8px 5px no-repeat #fff;
  color: #435a6d;
  padding: 4px 5px 4px 25px;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 0px;
  text-decoration: none;
}
a:hover.checkpointbutton {
  background-color: #e3f7ff;
}
a.notebutton {
  display: block;
  border-radius: 12px;
  border: 1px solid #666;
  background: url(../gfx/icon-note.png) 0px 0px no-repeat #feefbc;
  color: #79716c;
  padding: 4px 5px 4px 25px;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 0px;
  text-decoration: none;
}
a:hover.notebutton {
  color: #755f53;
  background-color: #fff8e0;
}

#wrapper-submenu .status {
  display: block;
  border-radius: 12px;
  border: 1px solid #a1bed2;
  background-color: #aab8c5;
  color: #435a6d;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  height: 20px;
  margin: 2px 0;
  position: relative;
}
.status .bar {
  position: absolute;
  height: 20px;
  border-radius: 12px;
  background: url(../../gfx/bg-progressbar-taken.png) #60a5df repeat-x center
    center;
  border: 0;
  z-index: 0;
}
.status .text {
  z-index: 100;
  position: relative;
  padding: 2px 5px 2px 6px;
}

a.session {
  padding: 0 0 0 12px;
  background: url(../gfx/arrow-pulldown-idle.png) 0 2px no-repeat;
  text-decoration: none;
  font-size: 12px;
  color: #435a6d;
}
a:hover.session {
  padding: 0 0 0 12px;
  background: url(../gfx/arrow-pulldown-hover.png) 0 2px no-repeat;
  text-decoration: none;
  color: #1d73cc;
}
.remove-checkpoint {
  width: 25px;
  height: 25px;
  float: right;
  margin-right: 210px;
  margin-top: -10px;
  background: url(../gfx/b-remove.png) 0 0 no-repeat;
}
.checkpoint-part05 {
  width: 615px;
  height: 99px;
  background: url(../gfx/view-sjekkliste-part05.png) 0 0 no-repeat;
}
.checkpoint-active {
  width: 615px;
  height: 120px;
  background: url(../gfx/view-sjekkliste-part06.png) 0 0 no-repeat;
}
/* End */

/* The pop menus */
#pop-leksjoner {
  position: absolute;
  left: 0px; /*-4px;*/
  background-color: White;
  top: 16px;
  width: 323px;

  z-index: 99;
  /*background: url(../gfx/popmenu-leksjoner2.png) 0 0 no-repeat;*/
  display: none;
  border-radius: 0 0 6px 6px;
}
.manual-hover #pop-leksjoner {
  display: block;
}
#pop-kompendium {
  position: absolute;
  left: -200px;
  width: 250px;
  top: 20px;
  text-align: left;
}
#pop-kompendium .caption {
  padding-bottom: 5px;
}
#pop-kompendium .links {
  border-top: 1px solid #9fbdd3;
}
#pop-kompendium .text {
  padding: 15px 20px 15px 10px;
  line-height: 15px;
}
#pop-kompendium input {
  margin-right: 10px;
}
#pop-kompendium input[type="radio"] {
  margin-right: 5px;
}
/*#pop-kompendium input, #pop-kompendium label{padding-top:10px; float:left}*/

.pop-menu {
  background-color: White;
  border: 1px solid #9fbdd3;
  z-index: 99;
  font-size: 12px;
  display: none;
  color: #243543;
}

.pop-menu .head {
  border-bottom: 1px solid #a0bed3;
  background-color: #e6ebee;
  padding: 7px 10px;
}
.pop-menu .close {
  float: right;
  font-weight: bold;
  cursor: pointer;
}
.pop-menu .box {
  border: 1px solid #425a6e;
  width: 27px;
  height: 27px;
  float: left;
}
.pop-menu .label {
  float: left;
  margin: 7px 0 0 15px;
}
.pop-menu br {
  clear: both;
}
.pop-menu .text {
  padding: 10px;
}
#pop-farger {
  position: fixed;
  right: 100px;
  top: 151px;
  width: 115px;
}
#pop-farger .color {
  padding: 10px;
  cursor: pointer;
}
#pop-farger .color.hover {
  background-color: #e8f8ff;
}
#pop-farger .color .box.yellow {
  background-color: #fff100;
}
#pop-farger .color .box.pink {
  background-color: #f49ac1;
}
#pop-farger .color .box.green {
  background-color: #aeed75;
}
#pop-farger .color .box.blue {
  background-color: #9bdfff;
}
#pop-farger .color .box.erase {
  background-color: white;
}

.drop-shadow {
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

/*
.drop-shadow-menu
{
    box-shadow: 0px 2px 2px 2px #ccc;	
    -webkit-box-shadow: 0px 2px 2px 2px #ccc;	
    -moz-box-shadow: 0px 2px 2px 2px #ccc;	
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=270, Color='#cccccc')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=137, Color='#cccccc');
    
}
*/
.drop-menu {
  border: 0px solid blue;
  position: relative;
  background-color: White;
}
.drop-menu .left {
  position: absolute;
  left: -4px;
  top: 0;
  bottom: 4px;
  background-image: url(../gfx/dropmenu-vertical.png);
  background-repeat: repeat-y;
  width: 5px;
}
.drop-menu .right {
  position: absolute;
  right: -4px;
  top: 0;
  bottom: 4px;
  background-image: url(../gfx/dropmenu-vertical.png);
  background-position: right;
  background-repeat: repeat-y;
  width: 5px;
}
.drop-menu .bottom-left {
  position: absolute;
  left: -4px;
  bottom: -5px;
  background-image: url(../gfx/dropmenu-bottom.png);
  width: 9px;
  height: 9px;
}
.drop-menu .bottom {
  position: absolute;
  right: 5px;
  left: 5px;
  bottom: -5px;
  background-image: url(../gfx/dropmenu-bottom.png);
  background-position: 0px -9px;
  background-repeat: repeat-x;
  height: 5px;
}
.drop-menu .bottom-right {
  position: absolute;
  right: -4px;
  bottom: -5px;
  background-image: url(../gfx/dropmenu-bottom.png);
  background-position: -9px 0;
  width: 9px;
  height: 9px;
}

#pop-temaer {
  position: absolute;
  left: 0px;
  top: 16px;
  width: 180px;
  padding: 5px 0px 5px 0px;
  z-index: 99;
  display: none;
}
.manual-hover #pop-temaer {
  display: block;
}
#pop-temaer .popmenu-body ul {
  padding: 5px 0;
}
.popmenu-top {
  width: 200px;
  height: 45px;
  background: url(../gfx/popmenu-part01.png) no-repeat;
}

li.popmenu-listing span {
  display: block;
  padding: 2px 6px 1px 10px;
  margin: 4px 20px 0px 20px;
  font-size: 11px;
  color: #435a6d;
  border-radius: 99px;
  text-decoration: none;
  cursor: pointer;
}
li.popmenu-listing span:hover {
  background-color: #72c028;
  color: #fff;
}
/* End */

._content.intro ol {
  margin-left: 20px;
}
._content.intro ol > li {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
  position: relative;
  color: #243543;
}
._content.intro ol > li div.bullet {
  position: absolute;
  color: White;
  font-size: 14px;
  font-weight: bold;
  background-color: #00afed;
  -moz-border-radius: 12px;
  border-radius: 12px;
  left: -45px;
  text-align: center;
  padding: 4px 8px;
}

/* Backgrounds */
._content.checklist {
  background-image: url(../gfx/bg-sjekkliste.jpg);
}

._content.pitfalls {
  background-image: url(../gfx/bg-fallgruver.jpg);
}
body.print ._content.pitfalls,
body.print ._content.checklist {
  background: none;
  padding-left: 130px;
  width: 680px;
}
._content {
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
}
._content.goals {
  background-color: #333;
  background-image: url(../gfx/bg-maal.jpg);
  margin: 0;
  padding: 0;
}
.print ._content.goals {
  background-image: none;
  background-color: white;
  background-size: auto;
}
.title-minimized {
  display: none;
}

._mode-popup {
  display: none;
}

body.print {
  background: white;
  background-image: none;
}

body.print h1 {
  color: Black;
}
body.print #global-menu-filler {
  display: none;
}

.print-details {
  display: none;
}
body.print .print-details {
  display: block;
}
/* End */

/* wrappers and containers */
#add-new-note {
  float: right;
  position: relative;
  background-image: url(../gfx/b-addnote-idle.png);
  width: 50px;
  height: 22px;
}
.delete-highlight {
  position: absolute;
  background-image: url(../gfx/note-delete.png);
  width: 23px;
  height: 23px;
}
.cursor-hl-yellow,
.cursor-hl-yellow .word {
  cursor: url(https://mymetier.net/learningportal/player/gfx/highlighter-yellow.png),
    url(https://mymetier.net/learningportal/player/gfx/highlighter-yellow.cur),
    auto;
}
.cursor-hl-red,
.cursor-hl-red .word {
  cursor: url(https://mymetier.net/learningportal/player/gfx/highlighter-red.png),
    url(https://mymetier.net/learningportal/player/gfx/highlighter-red.cur),
    auto;
}
.cursor-hl-green,
.cursor-hl-green .word {
  cursor: url(https://mymetier.net/learningportal/player/gfx/highlighter-green.png),
    url(https://mymetier.net/learningportal/player/gfx/highlighter-green.cur),
    auto;
}
.cursor-hl-blue,
.cursor-hl-blue .word {
  cursor: url(https://mymetier.net/learningportal/player/gfx/highlighter-blue.png),
    url(https://mymetier.net/learningportal/player/gfx/highlighter-blue.cur),
    auto;
}
.cursor-hl-pink,
.cursor-hl-pink .word {
  cursor: url(https://mymetier.net/learningportal/player/gfx/highlighter-pink.png),
    url(https://mymetier.net/learningportal/player/gfx/highlighter-pink.cur),
    auto;
}
body.cursor-erase,
body.cursor-erase .word {
  cursor: url(https://mymetier.net/learningportal/player/gfx/highlighter-erase.png),
    url(https://mymetier.net/learningportal/player/gfx/highlighter-erase.cur),
    auto;
}

.dict-entry {
  color: #1b4848;
  cursor: pointer;
  border-bottom: 1px dotted;
}
div.dict-popup {
  position: absolute;
  z-index: 1000;
}
div.dict-popup .frame {
  background-color: #fbf7aa;
  color: #444648;
  font-size: 13px;
  font-family: Arial;
  position: relative;
  padding: 5px;
  width: 230px;
}
div.dict-popup .frame .lt,
div.dict-popup .frame .lb,
div.dict-popup .frame .rt,
div.dict-popup .frame .rb {
  position: absolute;
  width: 9px;
  height: 9px;
}
div.dict-popup .frame .lt {
  top: -9px;
  left: -9px;
  background: url("../gfx/dictionary-lt.png") 0px 0px;
}
div.dict-popup .frame .lb {
  bottom: -9px;
  left: -9px;
  background: url("../gfx/dictionary-lb.png");
}
div.dict-popup .frame .rt {
  top: -9px;
  right: -9px;
  background: url("../gfx/dictionary-rt.png");
}
div.dict-popup .frame .rb {
  bottom: -9px;
  right: -9px;
  background: url("../gfx/dictionary-rb.png");
}
div.dict-popup .frame .close {
  top: 0px;
  right: 0px;
  background: url("../gfx/dictionary-close.png");
  width: 16px;
  height: 16px;
  position: absolute;
}

div.dict-popup .frame .top {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 9px;
  background: url("../gfx/dictionary-tb.png") 0px 0px repeat-x;
}
div.dict-popup .frame .bottom {
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 100%;
  height: 9px;
  background: url("../gfx/dictionary-tb.png") 0px -9px repeat-x;
}
div.dict-popup .frame .left {
  position: absolute;
  left: -9px;
  top: 0;
  height: 100%;
  width: 9px;
  background: url("../gfx/dictionary-lr.png") 0px 0px repeat-y;
}
div.dict-popup .frame .right {
  position: absolute;
  right: -9px;
  top: 0;
  height: 100%;
  width: 9px;
  background: url("../gfx/dictionary-lr.png") -9px 0px repeat-y;
}
div.dict-popup .frame .trunk {
  position: absolute;
  left: 140px;
  bottom: -40px;
  height: 33px;
  width: 29px;
  background: url("../gfx/dictionary-trunk.png") no-repeat;
}
div.dict-popup .frame .trunk {
  position: absolute;
  left: 140px;
  bottom: -26px;
  height: 19px;
  width: 17px;
  background: url("../gfx/dictionary-trunk3.png") no-repeat;
}

span.word.yellow {
  background-color: #fff79a;
} /*FEFE22*/
span.word.red {
  background-color: #ff6868;
}
span.word.green {
  background-color: #d8f3a9;
} /*76FF7A*/
span.word.blue {
  background-color: #ace5ee;
}
span.word.pink {
  background-color: #fbb4d3;
} /*f8b8f4*/

.print span.word.yellow,
.print span.word.red,
.print span.word.green,
.print span.word.blue,
.print span.word.pink {
  text-decoration: underline;
}

#wrapper-globalmenu {
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid #87a2b4;
  background: url(../gfx/bg-globalmenu-maximized.jpg) bottom repeat-x #999;
  z-index: 100;
}
.wrapper.main-text,
.wrapper.main,
.wrapper.main-wide {
  /*margin: 0 auto;
	min-height: 67px;*/
  width: 680px;
  /*padding: 40px 0;	*/
  /*text-align: center;*/
}
body.print .wrapper.main-text,
body.print .wrapper.main {
  width: 780px;
  padding-left: 100px;
}
.wrapper.empty {
  width: 680px;
}
.nohead .wrapper.main {
  padding: 0;
}
#references-dialog .wrapper.main-text {
  padding-top: 0;
}
.wrapper.main {
  width: 800px;
}
.wrapper.main-wide {
  width: 1200px;
}
._content.pitfalls .wrapper.intro-fallgruver {
  height: 200px;
  padding-top: 60px;
  background: url(../gfx/bg-fallgruver-intro.png) repeat-x;
  background-position: left bottom;
}
.wrapper.intro-fallgruver h1,
.wrapper.intro-fallgruver .intro {
  width: 750px;
  margin: 0 auto;
  color: white;
}

.anchoradjustment {
  float: left;
  width: 1px;
  height: 80px;
  margin-top: -100px;
}

div.checklist {
}
div.checklist .top {
  background-image: url(../gfx/checklist-notebook-top.png);
  width: 495px;
  padding: 180px 0 0 100px;
}
div.checklist .bottom {
  background-image: url(../gfx/checklist-notebook-bottom.png);
  width: 595px;
  height: 72px;
}
div.checklist .top h1 {
  color: #95aec3;
  font-size: 28px;
}
div.checklist .top .intro {
  font-family: Georgia;
  padding: 10px 40px 20px 0;
}
div.checklist .item {
  position: relative;
  background-image: url(../gfx/checklist-notebook-bg-locked.png);
  background-repeat: repeat-y;
  width: 595px;
}
div.checklist .item .lock {
  position: absolute;
  background-image: url(../../inc/images/icons/lock.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  left: 530px;
  top: 20px;
}
div.checklist .item.custom {
  position: relative;
  background-image: url(../gfx/checklist-notebook-bg.png);
  background-repeat: repeat-y;
  width: 595px;
}
div.checklist .item.custom .lock,
.print div.checklist .item .lock {
  display: none;
}

div.checklist .item.hover {
  background-image: url(../gfx/checklist-notebook-bg-hover.png);
}
div.checklist .content .delete {
  display: none;
  position: absolute;
  right: 15px;
  top: -12px;
  cursor: pointer;
}
div.checklist .content .custom.hover .delete {
  display: block;
}
div.checklist .inner-item {
  padding: 20px 20px 20px 100px;
}
div.checklist .separator {
  border-top: 1px solid #c5cbce;
  width: 470px;
  margin-left: 70px;
}
div.checklist .separator.last {
  display: none;
}
div.checklist .item.last .separator.last {
  display: block;
}
div.checklist .checkbox {
  background-image: url(../gfx/checklist-checkmark-unchecked.png);
  width: 41px;
  height: 55px;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  top: -16px;
  cursor: pointer;
}
div.checklist .checkbox.checked {
  background-image: url(../gfx/checklist-checkmark-checked.png);
}
div.checklist .hover .checkbox {
  background-image: url(../gfx/checklist-checkmark-unchecked-hover.png);
}
div.checklist .new .checkbox {
  background-image: url(../gfx/checklist-checkmark-unchecked-hover.png);
}
div.checklist .new .text {
  color: #73acda;
}
div.checklist .hover .checkbox.checked {
  background-image: url(../gfx/checklist-checkmark-checked-hover.png);
}
div.checklist .text {
  float: left;
  padding: 0 0 10px 40px;
  color: #435a6d;
  width: 330px;
  font-family: Georgia;
  border: 0;
  background-color: transparent;
  font-size: 16px;
}
div.checklist .content .delete {
  background-image: url(../gfx/note-delete.png);
  width: 23px;
  height: 23px;
}

.intro-quote {
  background-image: url(../gfx/intro-quote-background.png);
  background-repeat: repeat-y;
  min-height: 225px;
  position: relative;
  margin: 0 0 20px 0;
}
.intro-quote .image {
  position: absolute;
  width: 680px;
  top: 0;
  height: 100%;
  background-image: url(../gfx/intro-quote.png);
  background-position: left bottom;
}
.intro-quote > .top {
  position: absolute;
  width: 680px;
  top: 0;
  height: 8px;
  background: url(../gfx/intro-quote-top.png);
}
.intro-quote .container {
  position: relative;
  left: 280px;
  top: 35px;
  width: 370px;
  padding-bottom: 130px;
}
.intro-quote .text {
  padding: 15px 20px 0 35px;
}
.intro-quote .author {
  float: right;
  color: #698599;
  font-style: italic;
  font-size: 12px;
  padding: 10px 10px;
}

.chat-dialog {
}
.chat-dialog img {
  display: block;
}
.chat-dialog .legend {
  font-size: 12px;
  margin: 0 0 8px 15px;
  width: 340px;
}
.chat-dialog .left .top,
.intro-quote .container .top {
  background-image: url(../gfx/case-bubble-q-top.png);
  height: 7px;
  width: 363px;
}
.chat-dialog .left .bottom,
.intro-quote .container .bottom {
  background-image: url(../gfx/case-bubble-q-bottom.png);
  height: 23px;
  width: 363px;
}

.chat-dialog .left .fill,
.intro-quote .container .fill {
  background-image: url(../gfx/case-bubble-q-bg.png);
  background-repeat: repeat-y;
}
.chat-dialog .left .text {
  width: 320px;
  padding: 10px 25px 1px 25px;
  font-size: 14px;
  position: relative;
}
.chat-dialog.reflection .left .text {
  top: 3px;
}
.chat-dialog .left .expand {
  cursor: hand;
  position: relative;
  top: 5px;
  background-image: url("../gfx/case-bubble-q-expand.png");
  width: 319px;
  height: 23px;
}
.chat-dialog .left .expand span {
  background-color: #f3f9ff;
  padding-right: 10px;
}
.chat-dialog .left .expand.contract {
  background-image: url("../gfx/case-bubble-q-contract.png");
}

.chat-dialog .left .answer {
  display: none;
  position: relative;
  top: 10px;
}
.chat-dialog .mid {
  width: 27px;
}

.chat-dialog.wide .question,
.chat-dialog.wide .response {
  padding-bottom: 10px;
}
.chat-dialog.wide .suggestion {
  padding-bottom: 60px;
}
.chat-dialog.wide .left .top,
.intro-quote.wide .container .top {
  background-image: url(../gfx/case-bubble-q-top-wide.png);
  width: 739px;
}
.chat-dialog.wide .left .bottom,
.intro-quote.wide .container .bottom {
  background-image: url(../gfx/case-bubble-q-bottom-wide.png);
  width: 739px;
}
.chat-dialog.wide .left .fill,
.intro-quote.wide .container .fill {
  background-image: url(../gfx/case-bubble-q-bg-wide.png);
}
.chat-dialog.wide .left .text {
  width: 660px;
  padding-left: 40px;
}
.chat-dialog.wide .left .text input {
  position: absolute;
  left: 15px;
}
.chat-dialog.wide .left .expand {
  background-image: url("../gfx/case-bubble-q-expand-wide.png");
  background-position: right top;
  width: 685px;
}
.chat-dialog .left .expand.contract {
  background-image: url("../gfx/case-bubble-q-contract-wide.png");
}

.chat-dialog .right .top {
  background-image: url(../gfx/case-bubble-a-top.png);
  height: 7px;
  width: 363px;
}
.chat-dialog .right .bottom {
  background-image: url(../gfx/case-bubble-a-bottom.png);
  height: 21px;
  width: 363px;
}
.chat-dialog .right .fill {
  background-image: url(../gfx/case-bubble-a-bg.png);
  background-repeat: repeat-y;
}
.chat-dialog .right .text {
  padding: 10px 15px 1px 15px;
}
.chat-dialog .right textarea {
  background-color: transparent;
  border: 0;
  width: 323px;
  height: 100%;
  overflow: auto;
}
.chat-dialog .right .textarea {
  font-size: 14px;
  width: 320px;
  overflow: auto;
}
.chat-dialog .separator {
  text-align: center;
}
.chat-dialog .more-questions {
  margin: 0 auto;
  width: 102px;
  height: 39px;
  background-image: url(../gfx/reflection-more-questions.png);
}
.chat-dialog.wide .right {
  padding-left: 7px;
}
.chat-dialog.wide .right .top {
  background-image: url(../gfx/case-bubble-a-top-wide.png);
  width: 739px;
}
.chat-dialog.wide .right .bottom {
  background-image: url(../gfx/case-bubble-a-bottom-wide.png);
  width: 739px;
}
.chat-dialog.wide .right .fill {
  background-image: url(../gfx/case-bubble-a-bg-wide.png);
}
.chat-dialog.wide .right .text {
  padding-left: 33px;
}
.chat-dialog.wide .right textarea {
  width: 669px;
}

.chat-dialog.small .right .top {
  background-image: url(../gfx/case-bubble-a-small-top.png);
  height: 7px;
  width: 268px;
}
.chat-dialog.small .right .bottom {
  background-image: url(../gfx/case-bubble-a-small-bottom.png);
  height: 21px;
  width: 268px;
}
.chat-dialog.small .right .fill {
  background-image: url(../gfx/case-bubble-a-small-bg.png);
}
.chat-dialog.small .right textarea {
  background-color: transparent;
  border: 0;
  width: 223px;
  height: 100%;
  overflow: auto;
}

.user-answer .legend,
.user-answer .container,
.user-answer .text,
.user-answer .textarea {
  display: block;
}

.user-note {
  float: right;
  background-color: #feefbc;
  border: 1px solid #7f6b60;
  width: 240px;
  min-height: 59px;
  position: relative;
  padding: 15px 15px 10px 15px;
  margin: 10px;
}
.user-note div {
  position: absolute;
  left: -1px;
  top: -1px;
}
.user-note .corner {
  width: 14px;
  height: 14px;
  background-image: url(../gfx/note-corner.png);
}
.user-note .dragger {
  width: 35px;
  top: 3px;
  height: 11px;
  background: url(../gfx/note-drag.png) 0 0 no-repeat;
  position: absolute;
  left: 120px;
  cursor: move;
}
.user-note .remove {
  left: 260px;
  top: -16px;
  cursor: hand;
  width: 23px;
  height: 23px;
  background-image: url(../gfx/note-delete.png);
}
.user-note textarea {
  border: 0;
  background-color: transparent;
  width: 240px;
  font-size: 12px;
}
.goals-sign {
  width: 470px;
  margin: 0 auto;
  color: #435a6d;
  font-size: 18px;
  position: relative;
}
.goals-sign .top-l,
.goals-sign .top-r {
  background-image: url(../gfx/goals-sign-top-l.png);
  width: 129px;
  height: 106px;
  float: left;
}
.goals-sign .top-r {
  background-image: url(../gfx/goals-sign-top-r.png);
  float: right;
}
.goals-sign .top-m {
  height: 15px;
  top: 86px;
  position: absolute;
  background-color: white;
  border-top: 5px solid #c6d3df;
  left: 129px;
  right: 129px;
}
.goals-sign .bottom-l,
.goals-sign .bottom-r {
  background-image: url(../gfx/goals-sign-bottom-l.png);
  width: 9px;
  height: 9px;
  float: left;
}
.goals-sign .bottom-r {
  background-image: url(../gfx/goals-sign-bottom-r.png);
  float: right;
}
.goals-sign .bottom-m {
  position: absolute;
  bottom: 0;
  height: 4px;
  border-bottom: 5px solid #c6d3df;
  left: 9px;
  right: 9px;
  background-color: white;
}
.goals-sign h1,
.print .goals-sign h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #95aec3;
}
.goals-sign .goals-list {
  background-color: white;
  border-width: 0 5px;
  border-color: #c6d3df;
  border-style: solid;
}
.goals-heading {
  padding: 5px 0 10px 30px;
}
.goals-content {
  padding-right: 15px;
}
.goals-sign .goal {
  border-top: 1px solid #c6d3de;
  padding: 20px 20px 20px 30px;
}
.goals-sign .arrow {
  display: none;
  float: right;
  position: relative;
  top: -5px;
  background-image: url(../gfx/goals-sign-arrow.png);
  width: 50px;
  height: 63px;
}
.goals-sign .text {
  float: left;
  /*width:350px;*/
  width: 420px;
}

/* START additional.css */

#headerDiv,
#contentDiv {
  display: block;
  margin: 0 auto;
}
#primary-nav-container {
  position: relative;
  float: left;
}
#addressline-right {
  float: right;
}
#addressline-right .close-lesson {
  padding-top: 4px;
}
#addressline-right .close-lesson a {
  color: #435a6d;
}
#toggler {
  display: block;
  height: 15px;
  /*background: url(../gfx/dragarea-minimized.png) 0 0 no-repeat;
width: 45px;
margin:0 auto;	
*/
  background: url(../gfx/toggler-arrows.png) no-repeat center bottom;
  width: 24px;
  margin: 0 auto 5px auto;
}
#headerDiv {
  width: 100%;
  font-size: 11px;
}
#myContent {
  margin: 0 auto;
  text-align: center;
  display: block;
  height: 110px;
}
#myContent ul {
  margin: 0;
  padding: 0;
}
.adressline {
  float: left;
  padding: 5px 0 0 5px;
}
.adressline .pri-nav-item {
  padding: 2px 20px 3px 10px;
  text-decoration: none;
  color: #435a6d;
  border-radius: 6px 6px 0 0;
  background: url(../gfx/arrow-bright-pulldown-idle.png) right 5px no-repeat;
  border: 1px solid transparent;
  border-bottom: none;
}
.adressline .manual-hover .pri-nav-item {
  color: #394d5d;
  background: url(../gfx/arrow-pulldown-idle.png) right 5px no-repeat #e6ebee;
  border: 1px solid #a1bed2;
  border-bottom: none;
}
a.drop-arrow {
  padding: 2px 20px 3px 7px;
  text-decoration: none;
  color: #fff;
  border-radius: 99px;
  background: url(../gfx/arrow-bright-pulldown-idle.png) right 5px no-repeat;
}
a.drop-arrow:hover {
  color: #fff;
  background: url(../gfx/arrow-bright-pulldown-hover.png) right 5px no-repeat
    #afbdc5;
}

.topmenu-item a {
  padding: 2px 7px 3px 7px;
  text-decoration: none;
  color: #fff;
  border-radius: 99px;
}
li.topmenu-item a:hover {
  color: #fff;
  background: #afbdc5;
}
.topmenu-item.close-lesson a {
  background-image: url(../gfx/icon-close.png);
  background-position: right 3px;
  padding-right: 28px;
}
.topmenu-item.close-lesson a:hover {
  background: #afbdc5 url(../gfx/icon-close-hover.png) no-repeat right 3px;
}
table.definition {
  border: 2px solid silver;
  padding: 10px;
}
table.standard thead td,
table.standard th {
  background-color: #ccc;
  font-weight: bold;
  text-align: left;
}
table.standard td,
table.standard th {
  padding: 4px;
}
.quiz-outer {
  position: relative;
  page-break-inside: avoid;
}
.quiz-container a {
  font-size: 14px;
}
.quiz-container {
  border: #d0d6dc 1px solid;
  border-radius: 9px;
  width: 717px;
  font-family: Lato, Arial;
  color: #435a6d;
  overflow: hidden;
  background-color: white;
}
.quiz-container.disabled {
  opacity: 1;
}
.quiz-container.disabled .quiz-area,
.quiz-container.disabled .progressbar {
  opacity: 0.5;
}
.quiz-container .head {
  color: #fff;
  background-color: #aab8c4;
}
.quiz-container .clock {
  display: none;
}
.quiz-container .counter {
  font-size: 48px;
  font-weight: bold;
  border-right: 1px solid #d0d6dc;
  width: 90px;
  text-align: center;
  float: left;
  background-color: #aab8c4;
}
.quiz-container .problem-container {
  padding: 0 15px;
  float: left;
  width: 590px;
  font-size: 17px;
  display: table;
  height: 60px;
  background-color: #aab8c4;
}
.quiz .problem-container .clock {
  float: right;
  width: 40px;
  border-left: 1px solid #d0d6dc;
  padding-top: 20px;
  text-align: right;
  min-height: 42px;
}
.quiz-buttons td {
  height: 30px;
}
.quiz-buttons .clickable {
  cursor: pointer;
  font-family: Lato, Arial;
  font-size: 14px;
  color: #aab8c4;
}
.quiz-container .problem {
  display: table-cell;
  vertical-align: middle;
}

.quiz-container .reset,
.quiz-container .display-key {
  padding: 0 5px;
  white-space: nowrap;
}
.quiz-container .display-key-container i {
  padding-right: 10px;
  color: #34495e;
  font-size: 1.6em;
}
.quiz-container .display-key-container div {
  padding: 2px 0;
}
.quiz-container .display-key-container .display-reason i {
  font-size: 1.33em;
}

.quiz-container .reset i {
  padding-right: 10px;
  font-size: 1.7em;
  position: relative;
  top: 4px;
  color: #34495e;
  font-weight: bold;
}
.quiz-container .reset-container {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #d0d6dc;
}
.quiz-container .display-key-container {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #d0d6dc;
}
.quiz-container a {
  color: #aab8c4;
}
.quiz .quiz-container .big-button {
  font-size: 17px;
  width: auto;
}
.quiz .timed-quiz {
  padding: 50px;
  border: 2px dashed silver;
  border-radius: 8px;
  position: absolute;
  top: 0;
}

.quiz .big-button {
  width: 100px;
  color: white;
  border-radius: 7px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  margin: 10px;
  cursor: pointer;
  background-color: #3498db;
  float: left;
}
.quiz .big-button i {
  padding-right: 10px;
  float: left;
  font-size: 1.6em;
}
.quiz-container .big-button i {
  padding-top: 10px;
}
.quiz .big-button .text {
  padding-right: 10px;
  font-size: 22px;
}
.quiz .quiz-container .big-button .text {
  font-size: 17px;
}
.quiz-container .progressbar.large {
  float: right;
  margin: 28px 20px 0 0;
}
/*
.hover
{
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#7da3c1');
    -box-shadow: 3px 3px 4px #ccc;
    -webkit-box-shadow: 3px 3px 2px #ccc;
    box-shadow: 3px 3px 2px #ccc;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#7da3c1')";
    position:relative;
    top:1px;
    left:1px;
}*/
.quiz-container {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;
  user-select: none;
}
.quiz-area {
  /*font-family: Arial;*/
  font-size: 14px;
  border-top: 1px solid #d0d6dc;
  border-bottom: 1px solid #d0d6dc;
}
.quiz-area .intro {
  padding: 10px;
  border-bottom: #d0d6dc 1px solid;
  width: 698px;
}

.quiz-MC,
.quiz-DD,
.quiz-CL,
.quiz-FB {
  position: relative;
}
.v1 .quiz-MC,
.v1 .quiz-DD,
.v1 .quiz-CL,
.v1 .quiz-FB {
  position: static;
}
.quiz-MC {
  padding: 25px 0 30px 80px;
}
.quiz-MC .image .checkbox {
  display: none;
}
.quiz-MC .checkbox {
  width: 18px;
  height: 18px;
  background-image: url(../gfx/quiz-bullet.png);
  padding-right: 10px;
}
.quiz-MC .selected .checkbox {
  background-image: url(../gfx/quiz-bullet-checked.png);
}
.quiz-MC .title {
  font-weight: bold;
  padding: 0 0 5px 35px;
  width: 460px;
}
.quiz-MC .question div {
  float: left;
}
.quiz-MC .question br {
  clear: both;
}
.quiz-MC .question.question {
  cursor: pointer;
}
.disabled .quiz-MC .question.question {
  cursor: default;
}
.quiz-MC .question.auto.question {
  background-color: #e2e8ed;
  border: 1px solid #a0bdd3;
  padding: 3px 10px 3px 4px;
  color: #445a6d;
  border-radius: 12px;
  width: 520px;
  margin-bottom: 8px;
}
.quiz-MC .background .question {
  border: 1px solid white;
}
.quiz-MC questions.background {
  position: relative;
  top: 16px;
  left: -40px;
}
.quiz-MC .auto.image .text {
  width: auto;
}
.quiz-MC .auto .text {
  padding-top: 1px;
  width: 480px;
}
.quiz-MC .hover.auto.question {
  background-color: #b4d9f9;
  border: 1px solid #408cc2;
}
.quiz-MC .selected.auto.question {
  background-color: #00abf1;
  border: 1px solid #4a94dd;
  color: White;
}
.quiz-MC .question.auto.image {
  float: left;
  width: auto;
  margin-right: 10px;
  padding: 5px;
}
.quiz-MC .key.auto.question {
  background-color: #72c028;
  border: 1px solid #4f96db;
  color: White;
}

.quiz-MC .key.background.question {
  border: 1px solid #72c028;
}

.quiz-DD,
.quiz-CL {
  min-height: 200px;
}
.quiz-CL {
  position: relative;
}
.quiz-DD .question,
.quiz-CL .question {
  background-color: #f0f3f6;
  border: 1px solid #d0d6dc;
  padding: 3px 6px 3px 5px;
  margin: 0 0;
}
.quiz-CL .questions {
  max-width: 45%;
}
.quiz-CL .question {
  padding: 15px;
}
.quiz-CL.invisible .question,
.quiz-CL .question.empty {
  background-color: transparent;
  border: 0;
}
.quiz-DD .question {
  cursor: move;
}

.quiz-DD.visible .answers .question {
  background-color: #00afed;
  border: 1px solid #435a6d;
  color: White;
  z-index: 100;
}
.quiz-DD.invisible .answers .question table {
  background-color: rgba(255, 255, 255, 0.7);
}
.quiz-DD .image .rubber {
  display: none;
}
.quiz-DD .question.image,
.quiz-DD .answers .question.image {
  border: 0;
  background-color: transparent;
  margin: 1px;
}
.quiz-DD .answers .question.image.shrink {
  transform: scale(0.5);
  float: left;
  transform-origin: top left;
}
.quiz-DD .answers .question .rubber {
  background-position: 0 0px;
  float: left;
}
.quiz-DD .question.dragging:not(.image) {
  background-color: #d8e0e8;
  border: 1px solid #dae2e9;
  box-shadow: 5px 5px 5px 0 #eee;
  font-weight: bold;
}
.quiz-DD .question.dragging .rubber {
  background-position: 0 -12px;
}
.quiz-DD .question.key {
  cursor: default;
  /*background-color: #72c028;
    border: 1px solid #4f96db;*/
}
.quiz-DD .question.key.incorrect {
  /*background-color:#f56932;
    border:1px solid #f53232;  */
}

.quiz-DD .question.key .rubber {
  height: 16px;
  position: relative;
  left: -4px;
  background-image: url(../../inc/images/icons/accept.png);
}
.quiz-DD .question.key.incorrect .rubber {
  background-image: url(../../inc/images/icons/delete-16.png);
}
.quiz-DD .question div {
  float: left;
}
.quiz-DD .questions,
.quiz-CL .questions,
.quiz-FB .questions.left {
  float: left;
  height: 100%;
  min-width: 230px;
}
.quiz-FB .questions.left {
  width: 190px;
  min-width: 190px;
  padding: 10px;
}
.quiz-DD .question table {
  height: 100%;
  width: 100%;
}
.quiz-DD .questions,
.quiz-FB .questions.left {
  border-right: 2px dotted #ccc;
}
.quiz-DD .questions.top {
  height: auto;
  width: 100%;
  min-height: 44px;
  border-bottom: 2px dotted #ccc;
}
.quiz-DD .questions.top .question {
  float: left;
}
.quiz-DD .questions.absolute {
  height: 0;
  min-height: 0;
}
.quiz-DD .questions.absolute .question {
  position: absolute;
}
.quiz-DD .answers,
.quiz-CL .answers {
  float: right;
  max-width: 350px;
}
.quiz-DD .answers.vertical {
  float: none;
}
.quiz-DD .answers.vertical .answer {
  float: left;
  border: 2px solid green;
  min-height: 200px;
  margin: 20px 5px;
  border: 1px dotted #ccc;
}
.quiz-DD .answers.vertical .answer.active {
  background-color: #f8f8f8;
}
.quiz-DD .answers.vertical span.text {
  font-size: 17px;
  display: block;
  text-align: center;
  padding-bottom: 10px;
}
.quiz-DD .answers.vertical .drop-area {
  display: none;
}
.quiz-FB .question {
  font-size: 16px;
  font-weight: bold;
  color: #34495e;
  cursor: move;
  padding-bottom: 8px;
  /*    white-space:nowrap;*/
}
.quiz-FB .questions.top {
  padding: 10px 0 0 15px;
  width: 670px;
}
.quiz-FB .questions.top .question {
  float: left;
  padding-right: 20px;
}
.quiz-FB .answers {
  padding: 10px;
  line-height: 1.6;
}
.quiz-FB .answers.left {
  float: left;
  width: 480px;
}
.quiz-FB .text {
  color: #aab8c4;
  font-size: 17px;
}
.quiz-FB .answer {
  margin: 0 5px;
  padding-left: 100px;
  padding-right: 3px;
  font-size: 18px;
  border-bottom: 2px solid #34495e;
}
.quiz-FB.small .answer {
  padding-left: 40px;
}
.quiz-FB .answer.correct {
  border-bottom: 2px solid #72c028;
}
.quiz-FB .answer.incorrect {
  border-bottom: 2px solid #f56932;
}
.quiz-FB .answer.full {
  padding-left: 0;
}
.quiz-FB .answer .question,
.keymode .quiz-FB .answer .question.key {
  display: inline;
}
.quiz-FB .answer.active {
  background-color: #ccc;
}
.keymode .quiz-FB .answer .question {
  display: none;
}

.quiz-DD .text,
.quiz-CL .text {
  font-size: 14px;
  text-align: left;
}
quiz-DD .answer .question .text {
  padding: 0 5px 0 40px;
}
.quiz-DD .rubber {
  display: inline-block;
  width: 16px;
  height: 10px;
  background: url(../gfx/quiz-rubber.png) no-repeat;
}
.quiz-DD.invisible .answer {
  border: 2px dotted #ccc;
}
.quiz-DD.invisible .has-items span.text {
  display: none;
}
.quiz-DD .answers.compact .has-items .drop-area {
  display: none;
}

.quiz-DD.invisible .answer .text {
  /*position:absolute;        
    width:80px;*/
}
.quiz-DD.visible .answer {
  background-color: #f0f3f6;
  border: 1px solid #abc5da;
  border-radius: 14px;
  padding: 4px;
  width: 240px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 8px;
}
.quiz-DD.visible .drop-area {
  background-color: #e2e8ee;
  border: 1px solid #abc5da;
  height: 6px;
  margin: 10px 7px;
  border-radius: 4px;
}
.quiz-DD.visible .answer .active,
.quiz-DD .active .drop-area,
.quiz-CL .answer .active,
.quiz-CL .answer.active {
  background-color: white;
}
.quiz-CL .active {
  background-color: #d8e0e8;
  color: black;
}
.quiz-CL .delete-line {
  cursor: default;
  background: url(../../inc/images/icons/delete-16.png) no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  border: 0;
}
.quiz-DD.invisible .answer.active {
  background-color: #ccc;
}
.quiz-DD.invisible .drop-area {
  display: none;
}
.quiz-DD.invisible .answer .rubber {
  display: none;
}
.quiz-DD.invisible .answer .text {
  font-size: 12px;
}
.quiz-DD.invisible .answer .question {
  border: none;
  background-color: transparent;
}

.display-key-container div.disabled {
  color: silver;
  cursor: default;
}
.display-key-container div.disabled i {
  color: silver;
}
.quiz .new-attempt {
  display: none;
}

/* END QUIZ STYLES */

.image-caption.auto-expand {
  cursor: pointer;
}

.mymetier-image-resizer {
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
  background-image: url(../gfx/image-expand.png);
  width: 41px;
  height: 34px;
}
.image-caption {
  margin: 20px 0;
  position: relative;
  clear: both;
}
.image-caption.left {
  float: left;
  padding-right: 20px;
  clear: none;
}
.image-caption.right {
  float: right;
  padding-left: 20px;
  clear: none;
}
.image-caption .img {
  position: relative;
  text-align: center;
}

.image-caption .title.caption {
  border-top: 1px dotted black;
}
.image-caption .title {
  margin-top: 20px;
  padding-top: 3px;
  font-size: 12px;
  text-align: left;
}
.image-caption .fa {
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;
  opacity: 0.8;
  font-size: 14px;
  margin-top: -1px;
}
.image-caption:hover .fa {
  opacity: 1;
}
table .image-caption .title {
  margin-right: 5px;
  margin-left: 5px;
}
.lightslider .image-caption {
  margin-bottom: 0;
}
#lesson-completed {
}
#lesson-completed .checkmark {
  background-image: url(../gfx/checkmark-large.png);
  width: 112px;
  height: 140px;
}

#completion-button {
  background-image: url(../gfx/complete-button.png);
  background-repeat: no-repeat;
  width: 170px;
  height: 170px;
  color: #e5eef4;
  font-size: 21px;
  font-weight: bold;
  display: table;
  cursor: pointer;
  margin: 0 auto;
}
#completion-button .inner {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}
#completion-button .text {
  width: 128px;
}

#lesson-rating {
  background-image: url(../gfx/rating-empty.png);
  background-repeat: no-repeat;
  width: 410px;
  height: 25px;
  position: relative;
  cursor: pointer;
}
#lesson-rating .knob {
  position: absolute;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  left: 193px;
  z-index: 2;
  background-image: url(../gfx/rating-knob.png);
}
#lesson-rating .bar {
  position: absolute;
  background-repeat: no-repeat;
  width: 0;
  height: 25px;
  left: 0px;
  z-index: 1;
  background-image: url(../gfx/rating-full.png);
}
.page-complete-lesson .nine-rounded {
  border: #d0d6dc 1px solid;
  border-radius: 9px;
}
.page-complete-lesson table {
  width: 100%;
}
.page-complete-lesson .chat-dialog {
}
#lesson-rating-container .label {
  float: left;
  color: #95aec3;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  padding-top: 5px;
  text-transform: uppercase;
}
#lesson-rating-container .loader,
#pop-kompendium .loader {
  background-image: url(../../inc/images/icons/ajax-loader2_white.gif);
  width: 16px;
  height: 16px;
  display: none;
}
#pop-kompendium .loader {
  display: block;
  float: right;
}
.close-lesson .image {
  background-image: url(../gfx/home.png);
  width: 54px;
  height: 52px;
  margin: 0 auto;
}

.next-lesson .frame {
  border: 1px solid #c5cbce;
  padding: 7px;
  background-color: White;
}
.next-lesson .image {
  background-image: url(../gfx/temp-next-lesson.png);
  width: 108px;
  height: 58px;
  border: 1px solid #c5cbce;
  margin: 0 auto;
}

.splash h1 {
  font-size: 35px;
  float: left;
  max-width: 750px;
}
.splash h2 {
  float: left;
  position: relative;
  top: -8px;
}
.splash .start {
  font-size: 1.05em;
  padding-left: 25px;
  padding-right: 20px;
}
.splash .image {
  width: 1002px;
}
.splash object {
  position: relative;
  top: -15px;
}
.print #button-open-video {
  display: none;
}
#button-open-video {
  width: 310px;
  height: 183px;
  background-image: url(../gfx/splash-video-frame.png);
  position: absolute;
  cursor: pointer;
  right: 50px;
  bottom: 50px;
  display: none;
}

#button-open-video .image {
  position: absolute;
  width: 290px;
  height: 162px;
  margin: 11px 11px;
  background-color: White;
}
#button-open-video .play {
  background: url(../gfx/icon-play.png) no-repeat center center;
  position: absolute;
  width: 310px;
  height: 163px;
}
.embedded-video {
  position: relative;
  width: 310px;
  height: 163px;
  float: right;
  clear: both;
  top: 50px;
  left: 50px;
}
/* content formatting */
p.intro {
  padding-top: 5px;
  font-size: 21px;
  font-family: Georgia;
}

/* PRINT mode */
body.print #wrapper-globalmenu,
body.print #wrapper-submenu {
  display: none;
}

/* CMS Styles */
.metierbox {
  clear: both;
}
.metierbox-title {
  font-size: 12px;
  margin: 0px 0 5px 15px;
  padding-top: 5px;
}
.metierbox-title.empty {
  margin: 0;
}
.metierbox-content,
.metierbox-answer {
  font-family: Arial;
  font-size: 14px;
  padding: 13px 13px 15px 13px;
  background-color: #e9feba;
  border-radius: 7px;
  border: 1px solid #707070;
  box-shadow: inset 0px 0px 10px rgba(125, 125, 125, 0.7);
  margin-bottom: 10px;
}
.metierbox-content .img:not(.image-caption .img),
.metierbox-answer .img {
  margin-top: 1px;
  width: 16px;
  height: 16px;
  background-image: url("../../inc/images/icons/help.png");
  position: absolute;
}

.definition .metierbox-content {
  background-color: #70a095;
  color: #ffff;
}

.example .metierbox-content {
  background-color: #87c7cd;
  color: #ffff;
}

.other .metierbox-content {
  background-color: #d7d8d6;
}
.metierbox-answer .img {
  margin-top: 3px;
  background-image: url("../../inc/images/icons/pencil1.png");
}
.metierbox-answer {
  margin-top: 15px;
}
.metierbox-content .text,
.metierbox-answer textarea {
  padding-left: 24px;
}
.metierbox-answer textarea {
  background-color: transparent;
  width: 96%;
  border: 0;
  height: 16px;
  font-size: 14px;
  padding-top: 2px;
}
.metierbox-answer br {
  clear: both;
}

.cms-question {
  float: right;
  cursor: move;
  margin: 5px 10px 5px 20px;
  position: relative;
  z-index: 1000;
}
.cms-question .title {
  font-size: 12px;
  color: #4c5c6a;
}
.cms-question .text {
  background-color: #e5ffba;
  border: 1px solid #6d7f5f;
  border-radius: 12px;
  padding: 15px;
  width: 323px;
  box-shadow: 10px 10px 5px #888888;
  font-size: 14px;
  cursor: text;
}

.cke_editable .case-question {
  margin: 10px;
  padding: 10px;
  background-color: #e8feb9;
  color: #569020;
  border: 1px solid #569020;
}
.cke_editable .case-intro,
.cke_editable .case-answer {
  margin: 10px;
  padding: 10px;
  background-color: #f2f7ff;
  border: 1px solid silver;
}
.cke_editable .case-intro {
  background-color: #f3f3f3;
}

span.cms-comment {
  background-color: Orange;
}
span.cms-comment.tag {
  background-color: Lime;
}
span.cms-comment.tag.comment {
  background-color: Yellow;
}
.cms-split {
  border-top: 4px dashed silver;
  width: 100%;
  margin: 3px 0 0 0;
  height: 10px;
}
/* END CMS Styles */

.qtip .qtip-content {
  font-size: 10px;
}
.slidedown .toggler {
  background-image: url(/learningportal/player/gfx/arrow-blue-left.png);
  padding-left: 20px;
}
.slidedown.active .toggler {
  background-image: url(/learningportal/player/gfx/arrow-blue-down.png);
}
.slidedown .slide-content {
  display: none;
  padding-top: 10px;
}
.slidedown.active .slide-content {
  display: block;
}
.wrapper.main-text._mode-slidedown {
  width: auto;
}

.page-block {
  position: absolute;
  left: -10000px;
  top: -10000px;
  height: 0;
}
.page-block.show {
  position: inherit;
  left: 0;
  height: auto;
}
#page-block-nav {
  padding: 40px 0 20px 0;
}
#page-block-nav a {
  background: url(../gfx/arrow-quicknav-right.png) right 4px center no-repeat
    #e2e8ed;
  color: #3d6d95;
  padding: 10px 20px 10px 10px;
  border-radius: 12px;
  border: 1px solid #a1bed2;
  float: right;
  cursor: pointer;
}
#page-block-nav a.left {
  background: url(../gfx/arrow-quicknav-left.png) 4px center no-repeat #e2e8ed;
  padding: 10px 10px 10px 20px;
  float: left;
}
#page-block-nav a:hover {
  background-color: #f1f5f8;
}
#page-block-nav br {
  clear: both;
}
.group:after,
.quiz-FB .questions.top:after {
  content: "";
  display: table;
  clear: both;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.border {
  border: 2px solid silver;
}
.red {
  color: red;
}

.green {
  color: rgb(105, 230, 105);
}

.blue {
  color: rgb(40, 40, 255);
}

.yellow {
  color: rgb(253, 253, 90);
}
.bottomtext {
  border-top: 1px dashed silver;
  padding: 10px 80px;
  font-size: 120%;
}
.bottomtext td {
  vertical-align: middle;
}

.bottomtext input.auto {
  width: 350px;
  border: 2px solid silver;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 120%;
}
.metierheading {
  margin: 10px 0;
}
.metierheading.standard {
  border: 1px solid black;
}
.metierheading-title {
  float: left;
  width: 475px;
}
.standard .metierheading-title {
  text-align: center;
}
.pmp .metierheading-title {
  margin: 0px 20px;
}
.metierheading-title h2 {
  color: white;
}
.standard .metierheading-title h2 {
  font-size: 40px;
}
.pmp .metierheading-title h2 {
  font-size: 35px;
  font-weight: normal;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  padding-top: 0px;
}
.metierheading-icon {
  float: right;
  width: 200px;
}
.standard .metierheading-icon {
  border-left: 1px solid black;
  background-color: white;
  text-align: center;
}
.pmp .metierheading-icon {
  text-align: right;
  width: 100px;
}

.standard .metierheading-icon .icon {
  padding: 5px 0;
  height: 62px;
}
.pmp .metierheading-icon .icon {
  padding: 3px 10px 3px 0;
}
.clearfix {
  clear: both;
}
/* Image animation -- for WOW */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-1em);
  }
  100% {
    opacity: 1;
    transform: translateX(0em);
  }
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.bounceIn,
.animated.bounceOut,
.animated.flipOutX,
.animated.flipOutY {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}
.metierblock .metierblock-tags {
  display: none;
}
.cke_editable .metierblock .metierblock-tags:not(:empty) {
  font-size: 10px;
  padding: 0 5px;
  margin: 0;
  display: block;
  border: 1px dashed silver;
  border-radius: 2px;
}
.disclaimer {
  text-align: center;
  padding-top: 20px;
  font-style: italic;
}
.disclaimer hr {
  width: auto;
}
