<div class="finaltest-content" *ngIf="GetStep()!='Testing' && GetStep()!='Reviewing' && GetStep()!='Printing'">
	<div *ngIf="GetStep()=='Welcome'">
		<h1>{{ 'FINALTEST.TITLE' | translate }}</h1>
		<span [translate]="'FINALTEST.INFO'"
			[translateParams]="{questions: GetNumberOfQuestions(), maxattempts: GetNumberOfFinalTestAttempts()}"></span>
		<div [innerHTML]="'FINALTEST.EXAM_INFO' | translate"></div>
		<br />
		<ul>
			<li *ngFor="let attempt of GetAttempts()"><a (click)="ShowAttempt(attempt.Index)"
					[translate]="'FINALTEST.ATTEMPT_DETAILS'"
					[translateParams]="{index: attempt.Index+1, score: attempt.Score}"></a></li>
		</ul>
	</div>


	<div *ngIf="GetStep()=='Welcome-done'">
		<h1>{{ 'FINALTEST.ALL_ATTEMPTS_USED' | translate }}</h1>
		<span>{{ 'FINALTEST.CLICK_TO_VIEW_ANSWERS' | translate }}</span>
		<ul>
			<li *ngFor="let attempt of GetAttempts()"><a (click)="ShowAttempt(attempt.Index)"
					[translate]="'FINALTEST.ATTEMPT_DETAILS'"
					[translateParams]="{index: attempt.Index+1, score: attempt.Score}"></a></li>
		</ul>
	</div>

	<div *ngIf="GetStep()=='Submitted'">
		<h1>{{ 'FINALTEST.CONGRATULATIONS' | translate }}</h1>
		<span [translate]="'FINALTEST.CURRENT_ATTEMPT_DETAILS'"
			[translateParams]="{score: GetAttemptScore(AttemptIndex), maxattempts: GetNumberOfFinalTestAttempts()}"></span>
		<br />
		<ul>
			<li *ngFor="let attempt of GetAttempts()"><a (click)="ShowAttempt(attempt.Index)"
					[translate]="'FINALTEST.ATTEMPT_DETAILS'"
					[translateParams]="{index: attempt.Index+1, score: attempt.Score}"></a></li>
		</ul>
	</div>
	<div *ngIf="GetStep()!='Testing' && GetStep()!='Reviewing' && GetStep()!='Printing'" class="buttons">
		<button *ngIf="GetRemainingAttempts()>0" type="button" class="btn btn-primary" (click)="StartNewAttempt()">{{
			'FINALTEST.START_NEW_ATTEMPT' | translate }}</button>
		<button type="button" class="btn btn-secondary" (click)="PlayerService.SaveAndClose()">{{ 'FINALTEST.CLOSE' |
			translate }}</button>
	</div>


</div>

<quiz-content [content]="Content" [IsFinalTest]="true" [IsSubmitted]="IsSubmitted" [CurrentQuestion]="CurrentQuestion"
	*ngIf="GetStep()=='Reviewing' || GetStep()=='Testing'|| GetStep()=='Printing'"></quiz-content>
<div class="container">
	<div *ngIf="GetStep()=='Testing' || GetStep()=='Reviewing'" class="bottom">

		<button *ngIf="CurrentQuestion>0" class="btn btn-secondary" type="button"
			(click)="CurrentQuestion=CurrentQuestion-1">{{ 'FINALTEST.PREVIOUS' | translate }}</button>
		<button *ngIf="Questions.length > CurrentQuestion + 1" class="btn btn-primary" type="button"
			(click)="CurrentQuestion=CurrentQuestion+1">{{ 'FINALTEST.NEXT' | translate }}</button>
			<button *ngIf="GetStep()=='Testing' && Questions.length == CurrentQuestion + 1" type="button"
			class="btn btn-primary pull-right" data-toggle="modal" data-target="#submitConfirmationModal">{{ 'FINALTEST.SUBMIT' | translate
			}}</button>
		<button *ngIf="GetStep()=='Reviewing'" type="button" class="btn btn-primary pull-right" (click)="GotoStart()">{{
			'FINALTEST.BACK' | translate }}</button>
	</div>
</div>

<div class="modal fade" id="submitConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="submitConfirmationModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{ 'FINALTEST.SUBMIT_CONFIRMATION_TITLE' | translate }}</h5>
			</div>
			<div class="modal-body">
				<p>{{ 'FINALTEST.SUBMIT_CONFIRMATION' | translate }}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="SubmitTest()" data-dismiss="modal">{{ 'FINALTEST.SUBMIT_CONFIRM' | translate
					}}</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">{{'FINALTEST.SUBMIT_ABORT' | translate
				}}</button>
			</div>
		</div>
	</div>
</div>
