<section class="container download-block" *ngIf="Attachments && Attachments.length > 0">
  <div class="row">
    <div class="col-xs-12">
      <div class="holder">
        <h3 [translate]="'ELEARNING.COURSE_MATERIAL'"></h3>
        <ul class="download-list list-unstyled">
          <li *ngFor="let attachment of Activity.Attachments">
            <a href="{{PortalService.GetFileUrl(attachment)}}" target="_blank">
              <i class="material-icons">file_download</i> {{attachment.Title}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>