﻿#jc_table
{
    border-collapse:separate;
    
}
#jc_table tr td
{
    padding:0;
    margin:0;
    border:0;    
}
#jc_table .jc_btn
{
    background-repeat: no-repeat;
    background-image: url('button.gif');    
    height:22px;
    width:17px;
}
#jc_table .jc_btn.disabled
{
    background-image: url('button_disabled.gif');    
}
#jc_table .ajax
{
    background-repeat: no-repeat;
    background-image:url('ajax.gif');
    position:absolute;right:0;z-index:9999;
    width:16px;
    height:16px;
}
#jc_table .jc_btn.highlight
{
    background-image: url('button_hl.gif');    
}
#jc_table .jc_btn.highlight.pressed
{
    background-image: url('button_pressed.gif');    
}
#jc_table #jc_button
{
    font:0px Arial;        
}
#jc_table #jc_content{
    border-left: 1px solid #8396c3;
    border-top: 1px solid #8396c3;
    border-bottom: 1px solid #8396c3;
    border-right:1px solid green;
    vertical-align:top;
    cursor:text;
    font-size: 11px;
    width:100%;	    
    background-color:White;	    
    /*position:relative;
    border-collapse:collapse;*/
}
#jc_table #jc_content.jc_disable
{
    border:1px solid #333;
    border-right:1px solid #999;
    background-color:#ddd;
}
    #jc_table #jc_content.active{
        border-left: 1px solid orange;
	    border-top: 1px solid orange;
	    border-bottom: 1px solid orange;
	    border-right:1px solid orange;	    
    }
    #jc_table .jc_input
    {
        border:0;
        margin:3px 2px 0 4px;	
        padding:0;        
        float:left;        
        overflow: hidden;
        font-family:Arial;
        font-size:11px;
        background:none;        
    }
    #jc_input.watermark
    {
        color:#999;
    }
    .jc_odd {
	background-color: #eee;
    }
    .jc_over {
	background-color: #0A246A;
	color: white;
    }    
    
#jc_results {
	padding: 0px;	
    border: 1px solid #8396c3;
    background-color: white;
	overflow: auto;	
	z-index: 99999;
	position:absolute;
	color:#000;
}

#jc_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}
#jc_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	font-size: 11px;
	line-height: 16px;
	overflow: hidden;	
}
#jc_bit .bit
{
    border:0;margin:0;padding:0;
}
#jc_bit, #jc_bit:hover{
 float:left;
  border:0;  
  text-decoration:none;
}
#jc_bit .bit
{
    background-repeat: no-repeat;
    background-image: url('item.gif');    
}
#jc_bit > div > div
{ background-position: top right;   
}
#jc_bit > div > div > div
{     
  background-position: bottom right;
}
#jc_bit > div > div > div > table
{     
  background-position: bottom left;
  padding: 2px 3px 3px 5px; 
}
#jc_bit td{
    background-color:Transparent;    
}
#jc_bit:hover .bit{
  background-image: url('item_hover.gif');  
}

.jc_bit_selected,
.jc_bit_selected:hover{
  background-image: url('item_selected.gif');
  color: white;
  text-decoration: none;
}

#jc_bit_del {
  background-image: url('item_x.gif');  
  cursor: pointer;  
  width:12px; 
  background-position:center center;
  background-repeat:no-repeat
}