<div id="exam2">
    <div class="body exam">
        <div id="page-container">
            <div class="content clearfix">
                <div class="header">
                    <div class="row">
                        <div class="col-xs-12">
                            <div>
                                <a onclick="window.history.back()"><i class="fal fa-times fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main">
                    <div class="course-heading">
                        <h1 [translate]="'EXAM2.EXAM_SCENARIO'">Scenario</h1>
                    </div>
                    <div class="list">
                        <div class="divider"></div>
                        <div *ngIf="Activity.CustomerArticle && Activity.CustomerArticle.ArticleCopy && Activity.CustomerArticle.ArticleCopy.ExamScenario"
                            [innerHTML]="Activity.CustomerArticle.ArticleCopy.ExamScenario"></div>
                    </div>

                </div>
            </div>
            <footer class="footer">
                <div class="bottom"></div>
            </footer>
        </div>
    </div>
</div>