<div class="container mt-5">
    <section>
        <header>
            <h1>{{ 'GLOBAL.USERDIPLOMAS' | translate}}</h1>
        </header>
    </section>
    <section>
        <ul *ngIf="!userDiplomas.length"  class="list-group list-group-flush align-middle">
            <li class="list-group-item">
                <div class="row mb-1 align-items-center">
                    <div class="col-sm-6">
                        <h4>{{ 'USER_DIPLOMAS.NONE' | translate}}</h4>
                    </div>                
                    <div class="col-sm-6">
                        <button class="btn btn-secondary" (click)="navigateHome()" title="To my current courses">{{ 'COMPLETED_COURSES.REDIRECT_CURRENT_COURSES' | translate}}</button>
                    </div>
                </div>
            </li>
        </ul>

        <ul *ngIf="userDiplomas.length" class="list-group list-group-flush align-middle">
            <li class="list-group-item" *ngFor="let diploma of userDiplomas; let diplomaIndex = index;">
                <div class="row mb-1 align-items-center">
                    <div class="col-sm-9">
                        <h4>{{diploma.Title}}</h4>
                    </div>                
                    <div class="col text-center">
                        <button class="btn btn-secondary" (click)="generateDiplomaUrl(diploma)" title="Download letter of course attendance" target="_blank">{{ downloadButtonLabel | translate}}</button>
                    </div>
                </div>
            </li>
            
        </ul>
    </section>
</div>