﻿<%@ Page Title="myMetier Cookie Policy" Language="C#" AutoEventWireup="True" Inherits="Phoenix.LearningPortal.Cookies" MasterPageFile="~/inc/master/mymetier.master" Codebehind="cookies.aspx.cs" %>
<asp:Content ID="Content1" ContentPlaceHolderID="c1" Runat="Server">
    
        <div class="nine-rounded achievementspanel"> 
            <div style="padding:30px 40px 30px 40px; text-align:justify;text-justify:inter-word;">
    <common:label runat="server" TranslationKey="content" />
                </div>
            </div>
    
</asp:Content>